[2019-12-18 11:59] ThunderSon opened #322 "Update: XXE Cheat Sheet"
Following some research on XXE, I came on the following [SO question](https://stackoverflow.com/questions/50386159/resolving-xxe-for-oracle-domparser), and I can see that the XXE CS doesn't cater for Oracle DOM Parser

## How should this be resolved?
We need to validate the need for this to be added or not to the CS.

[2019-12-18 13:20] amelie-renard-sonarsource commented on #321
Hi ThunderSon!

Reading the doc, the line "The replacement text of the entity is included in either case, either as a child of the Entity Reference node or in place at the location of the reference." bothers me a bit, I'm not sure to understand it with the results I have...
It is more simple if I give you my code example as you suggest :)

If my xml looks like this:
[code]
With `xxe.xsd` something

[2019-12-18 13:51] ThunderSon commented on #321
Thank you for sharing these code snippets with us. We'll investigate this matter and get back to you the soonest! As I have noted, this code is shared almost everywhere, so it's very critical to fix this if the issue is coming from it. This will take our highest priority.

[2019-12-18 16:26] FlameOfIgnis commented on #321
I have tried following the installation guides from their official [website](http://xerces.apache.org/xerces-c/), it actually doesn't work. Might you have any guidance on this subject? The documentation was really outdated and not very helpful. I can see as well that this project is last reviewed in 2012.  Would love it if you can assist on this matter!

[2019-12-18 16:41] amelie-renard-sonarsource commented on #321
Mmm I'm not sure how I can help you as I've also followed the installation guide of their website without any problem (even though I must say their documentation could indeed be freshen up ;)): I downloaded the source code, run cmake to create a visual studio project (I'm on windows, VS2019). From there, I just built the solution to get xerces-c_3.lib and xerces-c_3.dll.
Then I chose to create a n

[2019-12-21 22:54] aiacobelli2 opened #324 "Update: Cryptographic_Storage_Cheat_Sheet"
Hi guys, how are you :D. I would like to add some opinions on this cheat-sheet that are confusing to read and can confuse non-expert developers.

## What is missing or needs to be updated?
**"Architectural Decision" section**  (I think that this section could confuse non-experienced developers)

- Mentioning RSA (and why not ECC) as the only asymmetric scheme (NOT only used for encryption, as ment

[2019-12-21 23:18] rbsec commented on #324
There's certainly a lot that could be updated in this CS - you're right that it's one of the more confusing ones (patly because crypto is hard). The "Rule" format is a bit weird as well compared to the others.

There are some sections that probably aren't really appropriate for a cheat sheet, for example:

While this isn't incorrect, it's not useful advice for 99% of developers out there. They sho

[2019-12-23 08:52] ThunderSon commented on #320
As I am looking into this, Castor already have those values as default. What is the exact recommendation in here? In 1.3.3 XXE was resolved by the package itself.
@davewichers kindly advise.
The following [reference](https://castor-data-binding.github.io/castor/reference-guide/reference/xml/xml-properties.html) can be looked at to validate this.

[2019-12-24 10:41] #320 closed

[2019-12-24 17:16] experdot opened #328 "Question: What's meaning of "Life is too short · AppSec is tough · Cheat!""
Life is too short, and app security is tough 🤷. But I want to know how to understand "**Cheat!**".

[2019-12-26 08:51] ThunderSon commented on #328
When you're facing a harsh exam, you bring on you a cheat sheet. Something that you can reference for formulas, for ways to do things, etc.
You're cheating your way through, instead of memorizing everything.

[2019-12-26 10:38] rbsec commented on #328
You could also view it as rather than learning a full area (such all the details behind TLS configuration, vulnerabilities, the advantages and disadvantages of various ciphers, etc), you can "cheat" by just learning a much smaller set of good practices that contain most of what you need.

Developers are not security experts, and most of them never will be - the cheat sheets are intended to provide

[2019-12-26 14:12] experdot commented on #328
@ThunderSon  @rbsec
Thanks for your clear answer!

[2019-12-26 14:12] #328 closed

[2019-12-26 14:17] rbsec commented on #321
Hi @amelie-renard-sonarsource,

I just tried the sample code above and it's segfaulting for me on on this line:

[code]

Could you post your full project/files?

Thanks.

[2019-12-27 05:40] shehackspurple opened #329 "Update: [https://cheatsheetseries.owasp.org/cheatsheets/Password_Storage_Cheat_Sheet.html#peppering]"
## What is missing or needs to be updated?

The link to Peppering on Wikipedia is broken because the ")" character is in the link and it breaks the markdown.

## How should this be resolved?

Figure out a markdown workaround so that it will accept the ")" character in a link, or find another way to link it.

Great cheat sheet!

[2019-12-27 07:49] amelie-renard-sonarsource commented on #321
Hello @rbsec ,

Did you initialize with `XMLPlatformUtils`?

Here is my whole project (simple .cpp file which tests different parsers including XercesDOMParser):

[code]

[2019-12-27 08:52] ThunderSon commented on #329
Hi 😄 That's weird, in the markdown it works. We'll have to see what's going on with gh-pages and get back to you on this issue. Pretty sure the engine is breaking when it sees 2 parentheses and doesn't follow properly how they're being used.
Thanks for pointing us to the issue!

[2019-12-27 10:01] #284 closed

[2019-12-27 10:02] #329 closed

[2019-12-27 10:36] rbsec commented on #321
@amelie-renard-sonarsource thanks for the full code - that's working properly. Saves me a load of faffing around with C++

@ThunderSon to confirm,   `DOMparser->setCreateEntityReferenceNodes(false);` **allows** XXE, it needs to be `true` to prevent it.

[2019-12-27 10:52] rbsec commented on #321
As an update, setting the value to `true` blocks local file inclusion, but doesn't stop you making outbound HTTP requests from the following XML:

[code]

So it isn't a complete fix.

[2019-12-27 10:59] rbsec commented on #321
Setting the following seems to work:

[code]

[2019-12-28 12:20] ThunderSon commented on #293
closed by #306

[2019-12-28 12:20] #293 closed

[2019-12-28 19:13] mackowski commented on #319
I will close the issue for now but feel free to re-open it if you still think that something is wrong there.

[2019-12-28 19:13] #319 closed

[2020-01-02 07:54] amelie-renard-sonarsource commented on #321
Thanks @rbsec for the information!

[2020-01-02 08:27] ThunderSon commented on #321
@amelie-renard-sonarsource Can you go over robin's code and then get back to us? If we are to update it, let's cover the whole range of the XXE vector 😄 Any way to reach to you as well? Email, slack, etc.

[2020-01-03 14:26] amelie-renard-sonarsource commented on #321
So I had some time to try @rbsec methods and here are my findings:

First, `setCreateEntityReferenceNodes `has to be set to true (which is, by the way, its default value) to prevent xxe (like what we said before 🙃). This works for dtds, local file inclusion and I was under the impression that it also worked for outbound http requests (?!?).

Second, `setLoadExternalDTD `is for dtd only
- `setCreat

[2020-01-04 00:51] jmanico commented on #321
Would you care to submit a full on PR with these edits? This is really
great research and we'd love help editing the document if you have the time.

Thank you Amélie!!!

Regards, Jim Manico

On 1/3/20 9:26 AM, Amélie Renard wrote:

[2020-01-06 08:42] amelie-renard-sonarsource commented on #321
Sure, I'll try to submit a PR with the changes by the end of this week while it's still fresh 🙂.
Regards,
Amélie

[2020-01-11 13:36] ThunderSon opened #340 "Update the CI/CD Flow"
**What is wrong?**
We are dependent on 3 CI/CD flows. Travis, Circle, and GH actions.

**What should be done?**
Merge the required tasks and set them in GH actions.

- [x] Old issues + PRs migration to GH-actions.
- [x] Website publishing migration to GH-actions.
- [x] TravisCI clean up. GH-actions markdown lint already set-up.
- [ ] markdown link check GH-actions
- [ ] markdown lint GH-actions
-

[2020-01-13 06:43] rejahrehim commented on #340
Let me work on this Issue

[2020-01-20 10:42] kephas opened #350 "Update: CSRF CS - Capabilities"
## What is missing or needs to be updated?
In the Defense in Depth techniques, the use of capabilities is not mentioned.

If resources have unguessable URLs, CSRF is made impossible.

## How should this be resolved?
Explain how making resources reachable through unguessable URLs renders CSRF impossible and provide links to documentation on capabilities.

[2020-01-22 10:34] ThunderSon commented on #350
Jim's [comment](https://github.com/OWASP/CheatSheetSeries/pull/332#issuecomment-576363027):

I follow on the same concept. This is just rephrasing the idea of creating security through obscurity. The amount of bots on the internet is growing by the day. Nothing is unguessable (simply wasn't guessed yet), with all due respect to the w3c project 😄

[2020-01-22 10:34] #350 closed

[2020-01-22 16:51] kephas commented on #350
Given a big enough space (like 128 bits), numbers are indeed unguessable and this is not security by obscurity.

Also, there isn't any change of state with GET requests in this paradigm…

[2020-01-22 17:42] ThunderSon commented on #350
After reading a bit about this, I can see this being implemented under a different scope. Allow us to analyze properly the proposed technology and then give back our outlook on it.

[2020-01-22 17:49] rbsec commented on #350
Is the idea that the pages would have a fixed random path/token, or one that changes for every session?

If it's fixed then it doesn't really matter how strong the token is - it can still end up in proxy logs, browser history, leaked by referers, etc. If it's tied to the session, isn't that basically just a CSRF token but passed as a GET parameter?

[2020-01-23 09:46] #271 closed

[2020-01-24 11:04] kephas commented on #350
The idea is for a fixed random path mostly.

[2020-01-25 09:57] ThunderSon commented on #350
We understand that. What about MiTM attacks, log discovery, Referer header leak, unencrypted communication channel, etc.
Once that happens, the URL is exposed. CSRF is not related to this.
We are trying to visualize this. If you believe that there is a certain case that we are missing on, please, share with us. We are open to changing how we're looking at it for a use case. This is similar to sett

[2020-01-28 20:23] pointhi commented on #324
I noticed the removal of scrypt in the Password Storage cheatsheet. On the other hand, scrypt is still mentioned in other cheat-sheets.

Was the removal an accident, or is there no reason to use scrypt in case Argon2 or PBKDF2 is not available? Either case, I would  suggest to add at least a mention of scrypt in Legacy Algorithms. Compared to the listed legacy algorithms, scrypt is designed for pa

[2020-01-28 20:54] rbsec commented on #324
Regarding the inconsistency - this is because the cryptographic storage CS hasn't been updated yet (there's a PR to do so attached to this issue, but as you can see, it's not complete yet). Once it is, the entire password hashing section will be removed (as we have a dedicated CS for that), so there won't be any references to scrypt in this cheat sheet.

In terms of scrypt itself, there's nothing

[2020-01-29 07:49] jmanico commented on #324
I agree. I would suggest we keep bcrypt, scrypt and Argon2. I’m a little unhappy with several of the changes to this cheatsheet and plan to revamp it as soon as I can.

--
Jim Manico
@Manicode

[2020-02-01 19:17] nicoduj commented on #200
Hi, concerning gitbook, what about switching to Mkdocs ? I used it on this repo to have an internal website with an extraction of those cheat sheets focused on our work, and it does not involve too much work I think. I can try to do it and make a pull request if you are interested.

And by the way ,thank you for this repo, it is very valuable !

[2020-02-04 10:08] kephas commented on #350
It is a given that such an URL needs to be transmitted securely, so with HTTPS. That is supposed to take care of MitM and some Referer leaks.

One prevalent use case is for APIs, where there isn't an issue with bookmarks or Referer.

On a theoretical level, though, capabilities are not a WIP, they are a long known security framework. (but their use on the Web is)

[2020-02-04 14:30] jmanico commented on #350
URL parameters leak all over the place (even over HTTPS) including bookmarks, browser history, web crawlers, referrer headers and logs.

If you want to secure an API from CSRF the recommended pattern is the double-cookie-submit pattern.

I’m 👎🏼 on any CSRF or other defense that puts tokens in URL’s.

Capability URL’s for high risk data is also a bad practice.

--
Jim Manico
@Manicode
Secure Coding

[2020-02-13 15:21] kephas commented on #350
Isn't the double-cookie-submit incompatible with REST?

[2020-02-13 20:06] jmanico commented on #350
It’s quite compatible with REST apps that use cookies. Think of stateless apps with no sessions but use cookies for transporting JWT’s or similar.

It’s only necessary for stateless apps that use cookies. If you’re not using cookies strict CSRF is not an issue.

--
Jim Manico
@Manicode
Secure Coding Education
+1 (808) 652-3805

[2020-02-16 03:43] kephas commented on #350
REST apps that use cookies?

Let's say I have a REST API to create accounts. There's a public endpoint to start account creation, if I do a POST on it, I get this exchange:

<pre>
POST /api/new HTTP/1.1
Host: accounts.example.org
Content-Type: application/json

{
  "login":"alice",
  "type":"premium"
}

201 Created
Content-Type: application/json

{
  "login":"alice",
  "type":"premium",
  "status"

[2020-02-16 15:23] #321 closed

[2020-02-17 04:40] ThunderSon commented on #285
@ankane guess this is something that could assist. Let's discuss this on Slack and then write down our findings on this to see this forward 😄

[2020-02-17 21:06] javierbds opened #355 "Broken navigation-refresh"
To navigate the downloaded bundle I have to either open each click in a new tab or refresh the page (depending on browser). Otherwise, the browser will not change the displayed page.

[2020-02-18 05:24] ThunderSon commented on #355
Hello @javierbds, might you be able to provide more information on the issue? We don't have a `bundle`, so what exactly are you using?

[2020-02-18 17:14] deepakv81 opened #357 "New CS proposal: [Webhook Security Guidelines]"
## What is the proposed Cheat Sheet about?
Webhook Security Guidelines, Guidelines proposed for Security Webhooks addressing different kind of abuses and approaches that should be considered for Securing Webhooks from specific abuses

## What security issues are commonly encountered related to this area?
Issues starting Securing Webhook URL in Vault, Authorization, signing of requests, mTLS, CSRF,

[2020-02-19 06:02] ThunderSon commented on #357
Hi @deepakv81! Thank you for this well fleshed out proposal. The team will be reviewing this and getting back to you most probably next week, as we'll need to review and have some recurrent discussions on this 😄

[2020-02-19 06:43] deepakv81 commented on #357
Hi Elie,

Thank you for acknowledgement, please let me know if more information or if
any specific questions. We wanted to give back to community :)

Thanks & Regards,
*Deepak V *
*Information and CyberSecurity*
*c: +91 9900591848 | e: deepak.v@netskope.com <deepak.v@netskope.com>*
https://www.netskope.com/

On Wed, Feb 19, 2020 at 11:32 AM Elie Saad <notifications@github.com> wrote:

[2020-02-20 20:21] rbsec commented on #237
This has been merged.

[2020-02-20 20:21] #237 closed

[2020-02-21 12:26] #304 closed

[2020-02-24 01:53] jmanico commented on #350
*Oh absolutely yes. *The whole point of the double and triple cookie
submit pattern is to provide CSRF browser protection when your session
TRANSPORT mechanism are cookies but the server side session still does
not exist: ie: stateless. Like transporting a JWT via a cookie. A little
googling should point you in the right direction if you have not heard
of this before; it's an older pattern.

While

[2020-02-24 11:19] kephas commented on #350
@jmanico do you have a REST example where I can grant to the client of my API authority to use another service, in a REST response?

That's something you can do trivially through capability URIs, I don't see how you can do that when cookies are used.

[2020-02-24 18:06] jmanico commented on #350
Mutual TLS? I don’t understand your question well enough but a single string that is added to URL’s for access to data (ie: capability URL’s) is ultra weak security.

--
Jim Manico
@Manicode

[2020-02-25 07:44] mackowski commented on #287
It was implemented in CSRF re-write #332

[2020-02-25 07:44] #287 closed

[2020-02-25 11:36] kephas commented on #350
Let's say I have access to a printing service WebPrint and they have a REST API to create print batches. If it's a typical capability-based system, I can create capabilities for reduced authority, like a once-only usage capability that lets you print a preset number of pages.

If I provide a REST API to archive physical copies of documents in several places, when my customer uses the API to create

[2020-02-25 15:54] jmanico commented on #350
I’m simply stating two things:

1) double-submit cookie is a standard pattern for CSRF protection for stateless API’s that use cookies for transport; it’s built into AngularJS for example

2) A URL that provides AuthN and AuthZ in and of itself is very weak security no matter how you slice it.

--
Jim Manico
@Manicode
Secure Coding Education
+1 (808) 652-3805

[2020-02-25 18:40] rbsec commented on #350
Hi both,

This seems to have gone a little off topic onto the more general pros and cons of capability URLs, rather than their usage to protect against CSRF.

While their may be cases when they are the best (or if you prefer, least bad) solution to the problem they should not really be used to as CSRF protection - so this is not something that we'll be including into the cheat sheet (which is mean

[2020-02-26 03:56] jmanico commented on #350
Agree 👍🏼👍🏼

--
Jim Manico
@Manicode

[2020-02-26 09:04] kephas commented on #350
1) none of this answer my question about REST, if I'm not mistaken

2) you say it's weak, so what's the attack scenario? if the capability URL is unguessable in practice (cryptographically good randomness, large enough random number), how would an attacker use a capability not explicitly given to them?

[2020-02-26 09:08] kephas commented on #350
@rbsec , if capability URLs are not in the address bar but only in forms destinations, for example, wouldn't that be an efficient anti-CSRF measure, without most of the drawbacks mentioned here?

[2020-02-26 18:11] jmanico commented on #350
URL’s leak, even over HTTPS:

Shoulder surfing, browser history, bookmarks, proxy web logs, referrer headers, and similar.

I say we move the REST discussion to a different thread. :)

--
Jim Manico
@Manicode
Secure Coding Education
+1 (808) 652-3805

[2020-02-27 19:57] gromovadarya90 opened #360 "WANT TO SEE HOT PICS WITH ME? 💋 💋 💋"
WANT TO SEE HOT PICS WITH ME? 💋 💋 💋
👇 👇 👇

https://is.gd/ms4xm3

[2020-02-27 20:01] #360 closed

[2020-02-27 22:06] renata2216 opened #361 "WANT TO SEE HOT PICS WITH ME? 💋 💋 💋"
WANT TO SEE HOT PICS WITH ME? 💋 💋 💋
👇 👇 👇

https://clck.ru/MJjwV

[2020-02-27 22:08] #361 closed

[2020-02-27 22:27] renata7738 opened #362 "WANT TO SEE HOT PICS WITH ME? 💋 💋 💋"
WANT TO SEE HOT PICS WITH ME? 💋 💋 💋
👇 👇 👇

https://clck.ru/MJjwV

[2020-02-27 22:28] #362 closed

[2020-02-28 14:22] fabienleite opened #364 "Update: Password Storage Cheat Sheet"
## What is missing or needs to be updated?

In the password storage CheatSheet, there is a pragraph about peppers.
I think a disadvantage of peppers is not mentionned on the section.

Peppers create a strong depency beetween two layers of the application : the configuration and the storage. Your database is not usable by itself, which might not be a great idea.
This also does not seem verry compat

[2020-02-29 13:14] rbsec commented on #364
Hi @fabienleite - thanks for raising this issue.

Making it so that the password hashes in the database aren't usable by themselves is basically the entire point of a pepper - it protects against cases where the database is compromised, but the attacker doesn't have access to the filesystem/configuration files. It does mean that the application is dependent on the value of the pepper (or encryptio

[2020-02-29 14:20] ThunderSon commented on #364
It is known in microservices architecture that each microservice takes care of its information, and anyone requesting access to that information goes through the business layer (APIs).
Authentication and credentials are part of a system that should be independent from other services. Password hashes should not be flying around anywhere, and tokens should be issued instead. That's a whole new attac

[2020-02-29 20:50] rbsec commented on #265
I've created a draft PR for this (#366) with a skeleton of a proposed rewrite. Any comments or feedback on it is very welcome.

[2020-03-01 20:58] rbsec commented on #357
Hi @deepakv81

From my perspective, I'm not entirely sure what would be in this cheat sheet. Quite a few of the areas that are mentioned in the proposal (authorisation, CSRF, TLS, etc) are already covered in other cheat sheets - so I'm wondering if there's enough here to justify a separate new cheat sheet?

Would you be able to provide an example table of contents/skeleton/idea of what sections yo

[2020-03-02 09:30] fabienleite commented on #364
Hi,

I agree with what both of you said.
- You should should use a service oriented authentication (ie Oauth2, OIDC, etc.) if you use service oriented architecture.
- The dependency to the configuration already exists with credentials.

The problems I highlighted are just not relevant.

I close the issue, just drop it. Thanks for your time !

[2020-03-02 09:30] #364 closed

[2020-03-02 11:52] mackowski commented on #357
Hi @deepakv81 you accidentally answered in #366 instead of here :)
I will copy your responses here and delete them from @366.

[2020-03-02 11:52] mackowski commented on #357
@deepakv81 wrote

@rbsec  FYI

[2020-03-02 13:53] deepakv81 commented on #357
Thank you @mackowski ! :) sorry, thought was in thread. much appreciated

[2020-03-02 14:14] ThunderSon commented on #357
@deepakv81 Yes, you can use that CS as a template 😄

[2020-03-02 17:42] rbsec commented on #364
@fabienleite we're always happy to get some feedback for discussion on this kind of cheat sheets (it shows that someone is actually reading and thinking about them, which is nice) - so please do feel free to raise any other issues/queries.

Thanks

[2020-03-04 19:14] jmanico commented on #364
OAuth 2 is not service oriented authentication. Oauth 2 should never
never be used for Authentication.

Here are proper short definitions for each protocol cited.

  * OAuth2 - Delegated Authorization
  * OIDC - Federated Authentication

Pedantically yours,

- Jim Manico

On 3/2/20 4:30 AM, Fabien Leite wrote:

--
Jim Manico
Manicode Security
https://www.manicode.com

[2020-03-04 20:09] rbsec opened #367 "Archiving off legacy cheat sheets"
There are a number of old cheat sheets that are not very well written, are outdated and unmaintained, or don't really fit with the project. Most of these haven't been touched since the move to GitHub. For example:

* Bean validation
* C based toolchain hardening (both)
* Injection prevention in Java
* JAAS
* Query parametrisation (we already have one on SQLi)
* REST assessment (belongs in the WSTG

[2020-03-04 20:13] ThunderSon commented on #367
It's certain that we can have a legacy section, and have a Java section? CSs that are focused on Java, we can keep them there, and keep the general guidance in the cheatsheets folder. We can maybe follow that structure if other people come up and create language focused CSs.
I'll see with the WSTG team for transferring the REST CS. A review for the other ones should definitely be made. I think I c

[2020-03-04 20:25] rbsec commented on #367
To be honest, I'm not sure I see much value to a language specific folder. We have a few cheat sheets that cover a language, but if we try and then do a subfolder for each language with its own versions of each CS, then that's going to become a huge base of different code examples to try and maintain, and as we've discussed previously it takes a lot of time to be looking after code. You also need

[2020-03-04 20:38] ThunderSon commented on #367
I don't mind putting them into a legacy folder (as we already have agreed on this). Just considering later growth. When that happens, we'll see what to do. For now though yeah, we can move them to a legacy file and keep them in there, and then make sure that a general guidance CS exist in their spot if it is required.

[2020-03-05 10:10] MarcinHoppe commented on #265
I think it would be good to mention safe habor provisions (https://disclose.io/).

[2020-03-06 09:42] mackowski commented on #367
IMO we can put them into a legacy folder but I think that we should slowly move the good content from them into existing/new cheatsheets.

[2020-03-06 17:11] rbsec commented on #367
Yeah, there's some stuff that would have an obvious home (such as from the paramterisation CS into the SQL Injection one).

[2020-03-06 17:39] ThunderSon commented on #324
Closed by #325

[2020-03-06 17:39] #324 closed

[2020-03-06 17:50] rbsec commented on #265
@MarcinHoppe that's a good shout. The whole area of bug bounties is quite a complicated one - it's a big thing for a company to decide to take on. I've added some bullets in 2060f0e - any other thoughts or comments are welcome there.

This CS is going to turn into a bit of a monster, I'm wondering if splitting it between the researchers and defenders (into two separate ones). Will see how it goes.

[2020-03-06 19:22] ThunderSon commented on #282
Looking at the CS, I didn't identify the issue. Waiting on Jeroen's update on this to tackle the issue.

[2020-03-06 19:29] commjoen commented on #282
The problem is in https://www.owasp.org/index.php/Certificate_and_Public_Key_Pinning which is referenced by the cheatsheet best would be to just remove the reference as a quick fix

[2020-03-06 19:38] ThunderSon commented on #282
Got the issue. I will try and updating it in the [www-community link](https://owasp.org/www-community/controls/Certificate_and_Public_Key_Pinning) instead of removing it. Shouldn't take me long to do it.

[2020-03-07 21:36] mackowski commented on #195
Done in #332

[2020-03-07 21:36] #195 closed

[2020-03-07 21:41] mackowski commented on #118
This was deleted from CS in #258

[2020-03-07 21:41] #118 closed

[2020-03-08 17:11] ThunderSon commented on #6
The team deems this issue and the proposed CS to be out of scope for "developers". It can assist IT folks, and it requires some knowledge, yet not specifically for developers. This can be taken in at some later stages if the project is capable of handling IT issues. Since this was not picked up as well, the issue will be closed.

[2020-03-08 17:11] #6 closed

[2020-03-08 17:14] ThunderSon commented on #5
This CS will not be picked up by the team in the coming time period, and as such, this issue will be closed.

[2020-03-08 17:14] #5 closed

[2020-03-08 19:02] rbsec opened #369 "Rename and Archive Cheat Sheets"
We've spoken a few times about renaming cheat sheets - it's painful to do (as it'll break links) - but I think we do need to sort some of them out, and the later we leave it the harder it's going to be. I've made a table below with some ideas of what I think would be good to rename - @mackowski and @ThunderSon  please add any comments for additional changes you think would be good.

If we're going

[2020-03-08 19:30] mackowski commented on #369
Merge `DOM based XSS Prevention Cheat Sheet` with `Cross Site Scripting Prevention Cheat Sheet `

[2020-03-08 21:28] rbsec commented on #369
@mackowski good call.

[2020-03-10 08:35] ThunderSon commented on #369
In general, how I see the naming could be followed is as such:
- <Technology> Security Cheat Sheet
- <Mechanism> Cheat Sheet
- <Threat> Prevention Cheat Sheet

Technology is for example languages, objects, libraries, etc.
Mechanism is for example CSP, Modeling, etc. Higher level security focused processes.
Threat is what could put a technology or mechanism in a pinch.

As for the table above, I'll

[2020-03-13 16:19] nickform opened #373 "Why does the password storage cheat sheet recommend a CSPRNG for salts?"
Is there a place where I can view discussions behind the wording in specific cheat sheets? I'm specifically interested in knowing the motivation behind this statement from the password storage cheat sheet:

Someone challenged me on why this was necessary and I couldn't answer. On further research, I found [this](https://crypto.stackexchange.com/a/35582) accepted and upvoted answer on crypto.stacke

[2020-03-13 17:36] jmanico commented on #373
A salt can be a counter; it just needs to be unique. It’s does not need to be random; good point.

--
Jim Manico
@Manicode
Secure Coding Education
+1 (808) 652-3805

[2020-03-13 17:38] jmanico commented on #373
Even better; don’t do salting at all.

Use an algorithm that does salting for you like bcrypt scrypt argon2 and done, discussion over. Developers do not need to implement salting.

--
Jim Manico
@Manicode
Secure Coding Education
+1 (808) 652-3805

[2020-03-13 17:52] rbsec commented on #373
Hi @nickform.

Glad that you've found the cheat sheets useful - and it's good that you're having these discussions. Always great to see people critically evaluating the recommendations they read rather than just blindly following them.

It's a good question, and as with most crypto related questions, the proper answer can get a bit complicated, but I'll have a stab at one.

**Short answer**

We gi

[2020-03-14 14:56] nickform commented on #373
@jmanico @rbsec thanks for getting back to me so quickly with thoughtful responses. I agree that there are a lot more considerations here than a cheat sheet can or should really deal with. I particularly like @rbsec's points about the risk of introducing a non-secure PRNG in the middle of authentication code. It would be ideal if there was some way to review this kind of discussion around the word

[2020-03-14 14:56] #373 closed

[2020-03-14 17:17] rbsec commented on #373
@nickform we do try and give references where there are good ones to point to (although I'm sure there's scope to be better at this), but some of this topics are a quite hard to find anything authoritative for, and just pointing at random blog posts isn't ideal. On the plus side, if we do have someone else wondering about this then they mind find this issue.

Thanks

[2020-03-15 19:18] mackowski commented on #357
@deepakv81 hey do you need our help?

[2020-03-15 19:39] mackowski commented on #236
Done in #359

[2020-03-15 19:39] #236 closed

[2020-03-18 12:09] deepakv81 commented on #357
@mackowski sorry for delay, had some personal emergency. will submit for review before this weekend. Thank you for supporting :)

[2020-03-18 19:29] ThunderSon commented on #357
Don't worry about any emergency. Stay safe 😄

[2020-03-19 08:04] Martyx00 opened #375 "Update: Session Management"
## What is missing or needs to be updated?

In section section [Security Risks](https://github.com/OWASP/CheatSheetSeries/blob/master/cheatsheets/Session_Management_Cheat_Sheet.md#security-risks) under the `HTML5 Web Storage API` chapter it is mentioned that:

This however is also true for cookies as those are stored in the `cookies.sqlite` database and the HTML storage is stored in `webappsstore.

[2020-03-19 09:01] ThunderSon commented on #375
Interesting. We will delve deeply into this and get back to you on this matter. Great reasoning and explanation, thanks for the detailed issue!

[2020-03-19 18:18] rbsec commented on #375
@Martyx00 thanks for bringing it up, it's an interesting area. Like so many areas the cheat sheets don't really go into enough depth to fully explore the area, and there's quite a lot of conflicting information about it out there.

As @ThunderSon says, there needs to be some proper discussion around this. I don't think there's a simple definitive answer, but the text that's there could certainly d

[2020-03-19 18:30] jmanico commented on #375
-> boo this is very bad advice. It depends on the threat model. A Netflix login can last months and therefore needs persistent session cookies. Careful on global advice like this; it borders on harmful.

--
Jim Manico
@Manicode
Secure Coding Education
+1 (808) 652-3805

[2020-03-19 18:34] jmanico commented on #375
Secure, httpsOnly, sameSite and more. Cookies are the only way to store data that cannot be stolen via XSS (httpOnly). Cookies are a very compelling choice for any browses based app that uses a API.

Blanket advice to store tokens in localStorage or similar is bad advice. It depends. There is a big trade off on csrf vs XSS and localStorage vs cookies. Careful here folks.

In general stop forcing f

[2020-03-19 18:35] jmanico commented on #375
Sadly there is no protection. Which HTTPOnly is compelling forcing a malicious request with XSS is easy.

--
Jim Manico
@Manicode
Secure Coding Education
+1 (808) 652-3805

[2020-03-19 18:37] jmanico commented on #375
Now that I see where you were going with this, I think your suggestions here are excellent.
Briefly raise the key issues of cookies vs browser storage
Make it clear which attacks can be protected by using HttpOnly/Secure/SameSite cookies, and which can't.
Make it clear that if an attacker has XSS, you're screwed either way
Recommend that nothing sensitive (names, passwords, etc) is stored in brows

[2020-03-19 18:43] rbsec commented on #375
@jmanico I'm not giving any advice here or saying that developers shouldn't persistently store anything in cookies. I'm saying that if a cookie is a session cookie (i.e, has no defined expiry date), then the browser _should_ just be keeping it in memory rather than writing it to the disk (although obviously this will depend on the specific implementation of the browser, hibernation, etc).

[2020-03-19 18:48] ThunderSon commented on #375
Following on the above discussions:
- Browsers by default don't store anything that is non-persistent (without the `expires` attribute) to disk, which is as mentioned, based on implementations. Thankfully the most used ones do honor that.
- As usual, there should be a defense in depth mentality while approaching such a wide topic. Injecting the CSP header and starting to use trusted types would li

[2020-03-19 18:58] rbsec commented on #375
There's potentially a difference in persistent between the two different attacks. While XSS would let you make requests in the victim's session even if the cookies are HttpOnly - but only for as long as you can keep the victim's browser hooked (which with RXSS is likely to be a fairly brief time). On the other hand, if you've stolen a session cookie you have access for as long as the session is va

[2020-03-19 19:18] jmanico commented on #375
This is a fairly minor distinction. The point I think we both mentioned was that XSS is game over when it comes to any session management mechanism.

--
Jim Manico
@Manicode
Secure Coding Education
+1 (808) 652-3805

[2020-03-19 19:18] Martyx00 commented on #375
The XSS payload could directly perform the desired actions automatically in couple seconds so its doable with RXSS too (`fetch` makes these payloads relatively compact compared to older `XHR`).

[2020-03-19 19:18] jmanico commented on #375
And PS: I often admittedly debate that HTTPOnly is important or useless based on the conversation. :) I admit it’s a complex issue.

--
Jim Manico
@Manicode
Secure Coding Education
+1 (808) 652-3805

[2020-03-20 08:44] Martyx00 commented on #375
On the note of `SameSite` and `Secure`. If you are using browser storage to save the session identifier, your code is responsible for using it. The `SameSite` and `Secure` exist to limit the overly pro-active behavior of browser to send the cookie for the site whenever it sees that the hostname matches what is in the database. Since with browser storage it is responsibility of the application deve

[2020-03-20 15:01] calabacito opened #376 "Update: Cross_Site_Scripting_Prevention_Cheat_Sheet"
## What is missing or needs to be updated?
We should update **Bonus Rule #4: Use the X-XSS-Protection Response Header**

## How should this be resolved?
Browsers don't give proper support anymore:
Chrome has XSS Auditor Removed:  https://www.chromestatus.com/feature/5021976655560704
Firefox have not, and will not implement X-XSS-Protection: https://bugzilla.mozilla.org/show_bug.cgi?id=528661
Edge

[2020-03-20 15:02] jmanico commented on #376
Oh I agree so much. We should suggest that this is TURNED OFF since it
actually adds vulnerability!

Well done +1

- Jim

On 3/20/20 11:01 AM, calabacito wrote:

--
Jim Manico
Manicode Security
https://www.manicode.com

[2020-03-21 09:23] ThunderSon commented on #376
I don't believe this should be disabled. If the browser doesn't support, that header won't hinder performance nor affect the user in any way, unless an attack vector exists, which is discussed in one of the points below.
Important points to note:
- By default, if the web-server doesn't set it, it's `X-XSS-Protection: 1` set on filter or block, based on the browser version.
- Some websites shouldn'

[2020-03-21 10:21] rbsec commented on #376
As with many things, I'm not sure there's a simple recommendation to make here. My understanding is:

**X-XSS-Protection: 0**
- More vulnerable to XSS in some browsers (IE, older Chrome, maybe others?)

**X-XSS-Protection: 1**
- More vulnerable to XSS in some browsers (as XSS auditor can break protection)
- More vulnerable to clickjacking (can break framebusters)

**X-XSS-Protection: 1; mode=block

[2020-03-21 14:09] calabacito commented on #376
You guys gave great examples on why it needs and update.
Also there is no mention on XS-Leaks for example.

[2020-03-21 15:18] jmanico commented on #376
Hey,

I do think a simple recommendation is prudent. Disable it. The advice
most security architects I know give is to turn x-xss-protection OFF
since it's dangerous. Yes, dangerous. XSS defense should focus on
escaping, HTML Santitization, CSP and Trusted Types. X-XSS-Protection is
dead.

Here is a reference to the dangers of X-XSS-Protection:
https://medium.com/bugbountywriteup/xss-auditor-the-p

[2020-03-21 15:20] jmanico commented on #376
It needs to be disabled. This header has a LONG history of doing harm.
This is why all the browsers are removing it. It causes HARM and WEAKENS
security.

https://medium.com/bugbountywriteup/xss-auditor-the-protector-of-unprotected-f900a5e15b7b

Aloha,

--
Jim Manico
Manicode Security
https://www.manicode.com

On 3/21/20 5:23 AM, Elie Saad wrote:

[2020-03-22 11:17] deepakv81 commented on #357
Thank you @ThunderSon and @mackowski for all the support. Please find the doc attached and suggest if any changes required.

[2020-03-22 11:20] deepakv81 commented on #357
[Webhook Security Guidelines.docx](https://github.com/OWASP/CheatSheetSeries/files/4365093/Webhook.Security.Guidelines.docx)

[2020-03-22 11:22] deepakv81 commented on #357
# Webhook Security Guidelines Cheat Sheet

## Introduction

Webhooks provide a mechanism where a Server-side application can notify a client-side application when a new even (that the client-side application might be interested in) has occurred on the server. Webhooks are incredibly useful and a resource-light way to implement event reactions. However, webhooks can also be abused and the following

[2020-03-22 13:10] mackowski commented on #357
@deepakv81 thank you for this update!

[2020-03-22 13:14] mackowski commented on #357
@rbsec @ThunderSon in my opinion this looks good for a CS. I recommend to create a PR from this content, that way we will be able to add comments to lines that we think should be changed.

[2020-03-22 13:14] mackowski commented on #357
For sure before we merge it I would like to add a lot of cross-references to other cheat sheets that discuss these topics detailed (e.g. CSRF, Authentication, Transport Security, SSRF etc.)

[2020-03-22 13:16] mackowski commented on #376
Yeah we should either recommend to disable or describe a full threat model

[2020-03-22 13:24] mackowski commented on #375
The answer here is not binary and this section require refactoring. I am for the option where the two approaches are described with pros and cons. That way the reader will be able to choose what suits their needs and threat model.
Who want to create a PR for that?

[2020-03-23 11:13] psiinon commented on #376
FYI we no longer report this as an issue in ZAP: https://github.com/zaproxy/zaproxy/issues/5849

[2020-03-23 13:25] ThunderSon commented on #376
Awesome to hear that, Simon.
[Netsparker's take](https://www.netsparker.com/blog/web-security/goodbye-xss-auditor/)
[Acunetix's take](https://www.acunetix.com/blog/web-security-zone/chrome-removes-xss-protection/)
I contacted Scott (Owner of [Security Headers](https://securityheaders.com/)) to look this through. Once agreed, we can update the sheet.

I'll be in contact with the Security Headers Pr

[2020-03-23 14:08] jmanico commented on #376
So do you agree we should advise on disabling (Value 0) or just not set the header!?

--
Jim Manico
@Manicode

[2020-03-23 15:07] calabacito commented on #376
Thanks, since we are working here for industry standards would be nice to keep track of this "things" and since ZAP is already part of OWASP, have some pipeline towards following or create an issue for  this situations, right?

If anything I can help with, just mention.
Best regards,

Ariel.

[2020-03-23 15:12] jmanico commented on #376
Ariel,

My name is Jim I'm the project lead and chief editor for the cheatsheet
project. I'd like to make the call. I've been studying this issue for a
while and it's *dangerous* to set this header. It makes sites that are
not vulnerable to XSS, vulnerable.

Scott Helme's site does not evaluate header values, it just checks if
they are present. The grades it gives are highly inaccurate.

So let's

[2020-03-23 15:16] jmanico commented on #376
... the debate to keep this header ON is for older browser support. But
I politely reject that side of the debate. X-XSS-Projection actually
makes applications MORE DANGEROUS in older browsers when it is turned
on, is my conjecture and is also the point made in several of the
articles we've been passing around.

Remove it! :)

Aloha, Jim

On 3/23/20 11:12 AM, Jim Manico wrote:

--
Jim Manico
Manic

[2020-03-23 15:18] jmanico commented on #376
.... last pitch. We agreed to keep browser specific defenses out of the
cheatsheet series as much as we can. Since this is fully removed from
several browsers, it fits that criteria as well.

- Jim

On 3/23/20 11:16 AM, Jim Manico wrote:

--
Jim Manico
Manicode Security
https://www.manicode.com

[2020-03-23 22:19] calabacito commented on #376
Thank you Jim !
Can you update the ticket later with the final changes around the different OWASP projects please?

[2020-03-24 17:00] ScottHelme commented on #376
I agree that the only universally applicable advice is to disable the Filter/Auditor with a value of `0` in the header. There are some edge cases where you could argue against this but they are too complicated and burdensome. It's worth noting that some very large sites, like Facebook, have been disabling the Filter/Auditor for quite some time and at the time of writing are still doing so.

It's a

[2020-03-24 17:51] jmanico commented on #376
Scott,

First of all forgive me acerbic comment.

I stand corrected, a ran a few tests and dang things improved a lot since I last checked it carefully.

My mistake and thank you for jumping in.

I use secure headers likely a dozen times a week. Thank you for your work there.

If I see something that looks off I’ll drop you a polite note.

Regards, Scott.
--
Jim Manico
@Manicode

[2020-03-24 20:13] ThunderSon commented on #376
Thank you @ScottHelme for your feedback, and apologies for any misunderstanding that occurred 😄
The document will be updated to remove the header and set a note to inform the users that this header has been deprecated. A small study on the sheet will be conducted in order to update it.

Thank you all for your help and support!

[2020-03-24 20:24] ScottHelme commented on #376
No problem at all Jim, we're constantly working on improving. Let me know if you ever see something we can work on!

[2020-03-26 19:13] rbsec commented on #357
@mackowski I've only skimmed through, but I think you're right that a PR is the best option here.

[2020-03-30 19:04] mackowski commented on #375
@Martyx00 @ThunderSon @rbsec @jmanico What do you think about my suggestion? Who wants to create PR?

[2020-03-30 19:05] mackowski commented on #357
@deepakv81 Can you please create a PR with this content?

[2020-04-02 08:12] jgadsden opened #380 "Update: Threat_Modeling_Cheat_Sheet"
## What is missing or needs to be updated?
It would be good to reference the OWASP Threat Dragon, a threat modeling tool , in section [Use tools to draw your diagram](https://cheatsheetseries.owasp.org/cheatsheets/Threat_Modeling_Cheat_Sheet.html#use-tools-to-draw-your-diagram).

## How should this be resolved?
In the section on [Use tools to draw your diagram](https://cheatsheetseries.owasp.org/c

[2020-04-02 14:39] jgadsden commented on #380
I can provide a PR if you like?

[2020-04-02 16:17] ThunderSon commented on #380
Thank you @jgadsden for adding the tool!

[2020-04-02 19:15] #380 closed

[2020-04-05 16:50] Martyx00 commented on #375
@mackowski I guess this could work. Might be worth to have opinion of some developers as I am more from Pentesting field.

[2020-04-10 09:38] ThunderSon commented on #369
| Current name | Proposed New Name |
|--------------|-------------------|
| AJAX Security Cheat Sheet | _Same-Technology_  |
| Abuse Case Cheat Sheet | Abuse Cases Cheat Sheet  |
| Access Control Cheat Sheet | _Archive_ |
| Attack Surface Analysis Cheat Sheet | _Archive_ |
| Authentication Cheat Sheet | _Same-Mechanism_  |
| Authorization Testing Automation | _Archive_  |
| Bean Validation Cheat S

[2020-04-10 09:42] ThunderSon commented on #369
Let's leave the first table for the final decision

[2020-04-10 12:49] jmanico commented on #369
Wow a lot of good thought went into this name change. I like it! :)

--
Jim Manico
@Manicode
Secure Coding Education
+1 (808) 652-3805

[2020-04-12 13:25] deepakv81 commented on #357
@mackowski  just created PR with this content, extremely sorry for delay from my side due to some personal issues.

[2020-04-12 18:07] ThunderSon commented on #357
@deepakv81 Don't be sorry. These are rough times for everyone. Thank you for opening the PR, we'll have a look at it and get back to you with our reviews 😊

[2020-04-12 19:23] deepakv81 commented on #357
@ThunderSon Thank you! :)

[2020-04-15 18:45] rbsec commented on #375
@mackowski I think it'll have to be some kind of discussion - there isn't really a simple answer to it (especially with how browsers handle sessionStorage).

[2020-04-19 10:29] hazanasec commented on #369
Agreed, XSS is either reflected or stored, it's just in some conditions it happens within the DOM

[2020-04-19 13:01] jmanico commented on #369
If we merge I suggest getting some of the BS out of these, these should really be lean and actionable cheatsheets not books. :)

--
Jim Manico
@Manicode

[2020-04-20 17:56] hazanasec opened #385 "New CS proposal: Security Culture"
## What is the proposed Cheat Sheet about?

Fostering a security supportive culture is not only a essential aspect for driving security into any organisations environment, but it is also one of the most difficult to get right.

## What security issues are commonly encountered related to this area?

There is a huge difference in maturing and sustaining a security culture and the occasional ad-hoc s

[2020-04-20 18:06] hazanasec commented on #385
Action points I had in mind and have experience with:
- Security Champions
- Collective Responsbility
- Bridging Compliance and Development
- Executive Support and Engagement
- Program Design and Implementation
- Program Sustainment and Measurement
- Security Awareness and Training

[2020-04-22 08:25] mackowski commented on #385
Thank you @hazanasec for this idea.
I would like to see more details before I can approve this CS. Can you draft a ToC similar to one in this PR https://github.com/OWASP/CheatSheetSeries/pull/377/files or in other open PRs?
@rbsec @ThunderSon what do you think?

[2020-04-22 12:48] ThunderSon commented on #385
I'll be chiming in on this issue in a couple of days to get proper input from the community if there is any, before I voice in my thoughts and see this forward. I've been chatting with Joe on Slack. We're trying to assess the needs of the community in order to detail the above mentioned points.

[2020-04-25 13:46] ThunderSon commented on #367
This is being handled by #369

[2020-04-25 13:46] #367 closed

[2020-04-25 13:46] ThunderSon commented on #355
This will be closed due to inactivity.

[2020-04-25 13:46] #355 closed

[2020-04-26 08:10] ThunderSon commented on #385
Such a CS is slowly becoming a need. I see a big necessity for this sheet, and I believe that everyone should be able to implement a security culture no matter what their background is.
I envision this sheet to contain somewhat of a description of every point, how it helps a team grow, and steps for it to be accomplished with a good amount of links to support every point.
As this is a somewhat big

[2020-04-26 10:50] hazanasec commented on #385
Hi @ThunderSon Thanks for the feedback, great to see others are keen for the CS. I would love to begin putting a draft together!

[2020-04-26 12:17] jmanico commented on #385
I am not a fan of the term security culture. I like security process, security activities, techniques and similar, but culture is way to amorphous.

Most folks use “security culture” as an excuse not to do security.

And we really want these cheatsheets to be technically actionable. So I am very skeptical of this cheatsheet but am willing to give it a read.

--
Jim Manico
@Manicode

[2020-04-26 14:02] rbsec commented on #385
@hazanasec this is an interesting area, so thank you for suggesting it. There's a huge difference between the companies who do the bare minimum security for compliance reasons, and companies who have embedded security throughout everything they do and have that proper security culture. Trying to get companies to understand and implement that is a huge area, and really has to be something that'd do

[2020-04-26 14:43] hazanasec commented on #385
Hi @jmanico I can understand the concern, the need for a security culture arises from the growing trend of DevOps, and arguably the greatest challenges to embedding security in those DevOps environments is changing the organisation’s mindset, _process, security activities and techniques_ regarding software security, this is not to say these activities are not valuable by themselves, but instead th

[2020-04-26 15:00] jmanico commented on #385
I am still thumbs down on /pushing security culture/ but Joe let me
explain more why.  I like giving good organization level appsec security
advice, but do not like to loop that advice under the loaded term "culture".

/*So I'd ask you instead of pushing security culture, what process steps
do companies need to take so security can be embedded into their culture
instead of forcing security culture

[2020-04-26 19:59] ThunderSon commented on #385
@hazanasec I believe having a small ToC to delve into and discuss would making things clearer. Let's move towards that, and then take the decision of where this could be implemented. 😄

[2020-05-04 07:36] ThunderSon opened #386 "OWASP Google Analytics"
As per OWASP's request, we are going to add the google analytics to the cheatsheets website.
The following script needs to be appended on every page:
[code]
@rejahrehim would you want me to assign this to you?

[2020-05-04 10:11] rejahrehim commented on #386
Yes, Assign me

[2020-05-04 16:38] rbsec commented on #386
@ThunderSon I presume you'll have access to the analytics data?

[2020-05-04 16:39] ThunderSon commented on #386
@hblankenship I usually reach out to Harold and grab information when need be. Harold is there any dashboard we could access once it is set?

[2020-05-07 20:02] #376 closed

[2020-05-07 20:20] #265 closed

[2020-05-07 21:04] ThunderSon commented on #200
@nicoduj Hi! Forgive me, this somewhat slipped me? If you still have it, would you provide with a screenshot of what you have? :smile:

[2020-05-07 21:06] ThunderSon commented on #369
@rbsec @mackowski Would love your input on this issue this weekend.

[2020-05-07 21:13] ThunderSon commented on #257
@SPoint42 Hi Sebastian! Hope you're safe and good.
Are you still interested in tackling this issue?

[2020-05-07 21:14] ThunderSon commented on #282
First step for this issue was to update the community link.
I'll be tackling soon the CS document in order to make it more concise and actually focused, without repeating verbosely what the other document contains. I doubt though that the CS copied the content.

[2020-05-07 21:15] ThunderSon commented on #143
I will be focusing on more urgent matters, especially as we are no longer using the project/milestones functionality for now (will be later on used when everything is in place properly).

[2020-05-07 21:15] #143 closed

[2020-05-08 16:57] nicoduj commented on #200
Hi @ThunderSon , I have forked the repo and made the changes to it.

Here are some screenshots with [Material](https://squidfunk.github.io/mkdocs-material/) theme:

**Desktop**
<img width="1317" alt="Capture d’écran 2020-05-08 à 15 48 19" src="https://user-images.githubusercontent.com/19813688/81426110-07f78400-9159-11ea-8940-fdd3cf9b83de.png">
<img width="1264" alt="Capture d’écran 2020-05-08 à 1

[2020-05-08 17:05] ThunderSon commented on #200
That looks fantastic!
The `material` design provides that ToC on the right side, and it fills the whole page which improves the readability.
I think `readthedocs` looks better on mobile? Not sure, but that's what I felt. Content is definitely less readable than the `material` design.
@rbsec @mackowski @rejahrehim @kingthorin your feedback would be lovely on this matter!

[2020-05-08 17:09] nicoduj commented on #200
let me know if you want me to publish the material version (it also supports emoticon, unlike readthedocs theme).

[2020-05-08 17:10] ThunderSon commented on #200
Having a live look at it would definitely help us! That would be great. Do you need our help with that?

[2020-05-08 17:11] nicoduj commented on #200
I can't publish both I think on the same repo (first time with github actions and github pages hosting, but don't see how to do that). If you prefer to check material first, ,I can switch to it however

[2020-05-08 17:14] nicoduj commented on #200
(oh, and btw, I think IndexASVS.md needs some old link removals ) :

WARNING -  Documentation file 'IndexASVS.md' contains a link to 'cheatsheets/Protect_FileUpload_Against_Malicious_File.md' which is not found in the documentation files.
WARNING -  Documentation file 'IndexASVS.md' contains a link to 'cheatsheets/Protect_FileUpload_Against_Malicious_File.md' which is not found in the documentatio

[2020-05-08 17:17] kingthorin commented on #200
I think it looks good. The challenge will be making code blocks and images work well on mobile, but that's a challenge for basically any web content.

How manual/automatic is the generation of the toc/menu?

[2020-05-08 17:19] nicoduj commented on #200
@kingthorin everything is automatic through the build process

[2020-05-08 17:20] kingthorin commented on #200
Okay but it has to be "built" it isn't just reading directory contents or something?

[2020-05-08 17:22] nicoduj commented on #200
The process is very similar to what was done with gitbook : you have a yaml file that describes the project, and a bash script that prepares the folder structure from the sources (and the index). then mkdocs built the static website.

[2020-05-08 17:24] nicoduj commented on #200
[bash script](https://github.com/nicoduj/CheatSheetSeries/blob/master/scripts/Generate_Site_mkDocs.sh)
[yml conf for mkdocs](https://github.com/nicoduj/CheatSheetSeries/blob/master/mkdocs.yml)

[2020-05-08 17:36] nicoduj commented on #200
Code and image sample with readthedoc theme :
![IMG_F5D26C33292C-1](https://user-images.githubusercontent.com/19813688/81432039-7b51c380-9162-11ea-865f-3dbc5932d946.jpeg)

I have published with [material](https://nicoduj.github.io/CheatSheetSeries/) now for you to have a look also (emoji on preface 😄  )

the same page :
![IMG_62FACE5BFD95-1](https://user-images.githubusercontent.com/19813688/81432

[2020-05-08 17:37] ThunderSon commented on #200
@nicoduj I was just about to publish the material one (still need to create the gh-pages branch). Which one would you want to host so I host the other one?

[2020-05-08 17:39] nicoduj commented on #200
I have material right now, so you can host readthedocs !

[2020-05-08 17:42] nicoduj commented on #200
Please note that some cheat needs modification for material, since they have more than one <h1> (equivalent to markdown # ) in them, like this [one](https://nicoduj.github.io/CheatSheetSeries/cheatsheets/Abuse_Case_Cheat_Sheet/)

[2020-05-08 17:47] nicoduj commented on #200
you should just have to modify the yaml and push, let me know if you have any problem

[2020-05-08 18:06] ThunderSon commented on #200
It's up to test.
So for the `readthedocs` theme: https://thunderson.github.io/CheatSheetSeries/
For the `material` theme: https://nicoduj.github.io/CheatSheetSeries/

Readthedocs is better in its search mechanism.

We can definitely work the `<h1>` headers. An example of our latest sheet is the [crypto CS](https://cheatsheetseries.owasp.org/cheatsheets/Cryptographic_Storage_Cheat_Sheet.html)

[2020-05-08 18:25] nicoduj commented on #200
I prefer readthedocs personally, but was embarrassed with the lack of support of emoji 😄 . I think I found a way, I have pushed to my fork the modification to mkdocs.yml, so they are on an fait fight now

[2020-05-08 19:34] nicoduj commented on #200
(I have made a pull request for you to view all changes if necessary) . thanks for considering, I love this project, and would be glad to contribute where I can :)

[2020-05-10 20:18] rbsec commented on #369
Those suggestions seem reasonable

[2020-05-10 20:29] ThunderSon commented on #369
Something to help us from having these break would be front-matter headers since we're using gh-pages and Jekyll. Once full agreement has been achieved, I'll work on this. We can set redirection on every page to keep them working properly.

[2020-05-11 07:44] mackowski commented on #369
I also like this changes

[2020-05-11 07:48] mackowski commented on #200
@nicoduj looks awesome so far! Thank you for your contribution.
I also like more readthedocs

[2020-05-11 17:01] rbsec commented on #369
Actually, on reflection I think the `(JWT)` shouldn't be in the title. Brackets are liable to break things, and we don't do it with any of the others cheat sheets.

[2020-05-11 17:14] ThunderSon commented on #369
Glad you raised that point. Updated.
A question. How would that sound if we actually looked at Tokens in general, instead of JWTs? Or that would turn out to be big?

[2020-05-11 18:06] jmanico commented on #369
I think one cheatsheet on JWT's, one on OAuth tokens, another on OIDC -
are better written and maintained aseparately.

- Jim

On 5/11/20 1:14 PM, ThunderSon wrote:

--
Jim Manico
Manicode Security
https://www.manicode.com

[2020-05-11 18:15] rbsec commented on #369
I think that JWT has enough issues and things that get screwed up to have a cheat sheet in its own right. Trying to cover all different kinds of tokens (including just random ones) in one place sounds like it'd get very big and messy.

[2020-05-11 18:17] jmanico commented on #369
have a cheat sheet in its own right. Trying to cover all different kinds
of tokens (including just random ones) in one place sounds like it'd get
very big and messy.

I agree!

- Jim

On 5/11/20 2:16 PM, rbsec wrote:

--
Jim Manico
Manicode Security
https://www.manicode.com

[2020-05-12 07:04] mackowski commented on #369
I also agree, I prefer shorter and more focused cheatsheets - they are easier to read, write, reference and maintain for me.

[2020-05-13 03:40] calabacito commented on #369
We are not able to have expanded/collapsed groups in the view right?
That could solve some of the issues like different Tokens. Have that category and then the CSs inside them. Just for organization, instead of keep scrolling.

[2020-05-14 11:25] huornlmj opened #389 "New CS proposal: [How to access privileged host resources from within a container as a limited user]"
Can you outline the best practice when a limited user within a container needs to be able to read a privileged file or resource on the host itself?

[2020-05-14 17:41] ThunderSon commented on #389
Thank you for your proposal @huornlmj
@mackowski do you think this could fit inside the Docker CS?

I'll have a look at this in the weekend to properly analyse this.

[2020-05-14 17:48] ThunderSon commented on #369
@calabacito That's all based on the presentation part, and currently we are not stable on that, so let's not consider it till we're stable.

[2020-05-14 18:31] mackowski commented on #389
I am not sure if we should put it in the Docker CS because in my opinion this is a very bad practice and not only because of security but for containers in general.
@huornlmj what is your use-case for that?

[2020-05-14 18:33] mackowski commented on #389
I mean I acknowledge that there are some very rare use-cases for that and we can discuss it (e.g. on slack) but I am not sure if we should put it in good practices document.

[2020-05-15 08:44] SPoint42 commented on #257
Hi @ThunderSon : i don't have actually time to do it.

[2020-05-15 08:53] huornlmj commented on #389
The use case example would be a container that needs to read /var/lib/kubelet/cpu_manager_state from the host.  This resource has a mode 600 and owned by root:root.  I can't comment on how to overcome this challenge but guidance on the matter would be a strong point as I'm sure others simply rely on running as root within the containers given the same scenarios.

[2020-05-15 12:27] mackowski commented on #389
I still does not see the reason why you want to read it directly from the pod but maybe this is because I am missing the full context of problem :)

To do this I would recommend to run as root but limit capabilities (I think that you can drop all of them) and set up a security profile for that pod (AppArmor or seccomp) that will allow read-only access to this one file. In general all rules from CS

[2020-05-15 12:32] mackowski commented on #389
We can try update CS to add note that if someone really, really, really have to run as root they should at least pay special attention to dropping capabilities and in perfect world set up a restrictive security profile.

We should also add scenarios when it may be necessary - like some administrative tasks.

What do you think?

[2020-05-15 17:49] ma-soares opened #390 "Update: Authentication_Cheat_Sheet"
## What is missing or needs to be updated?

In the Password Managers section, it is recommended that web applications "Allow long passwords (at least 64 characters)" while in the Implement Proper Password Strength Controls section is written, "typical maximum length is 128 characters".

## How should this be resolved?

The text should read something like  "Allow long passwords up to 128 characters

[2020-05-15 18:10] webasylum commented on #390
Depends on encryption model / cipher. Eg. Bcrypt max should be 64 chars for most uses

[2020-05-15 20:55] rbsec commented on #390
Good spot - thanks for raising this.

Although those two statements don't actually conflict (at least 64 chars and a maximum of 128 chars), they don't align with the recommendations in the password storage CS. I've made a PR (#391) to address this.

[2020-05-21 06:55] #390 closed

[2020-05-21 15:29] swsjonathan opened #393 "Missing : Cheatsheet Header Image"
In the Introduction page, the **OWASP Header** image is not being rendered. This is because the image is not in /assets
![image](https://user-images.githubusercontent.com/41731232/82574912-6a16a700-9ba5-11ea-9b27-0a1b9b62261c.png)
![image](https://user-images.githubusercontent.com/41731232/82575169-b95cd780-9ba5-11ea-90c4-cfd3460ec661.png)

To fix this, the header image must be uploaded to the rep

[2020-05-21 16:05] ThunderSon commented on #393
This will amended in the coming PRs about the styling. Thanks!

[2020-05-21 16:05] #393 closed

[2020-05-23 18:57] KellyMarchewa opened #394 "Setup the Skeleton of the Authorization Cheat Sheet"
## What is missing or needs to be updated?

- Does not adhere to the structure of the current cheatsheet template

- Lacks appropriate attribution/context for quoted remarks. Sorry, but who are Jeff Williams and Eric Sheridan and where do these quotes/remarks come from?

- Lacks concrete, actionable examples. According to my understanding of OWASP's definition of IDOR in the 2013 Top Ten, IDOR wou

[2020-05-23 20:54] ThunderSon commented on #394
IDOR is indeed part of the sheets that require an update. The above remarks are solid and on point (all of them). Would you like to handle this?
The access control sheet needs some work.
Part of this [comment](https://github.com/OWASP/CheatSheetSeries/issues/369#issuecomment-611960358), IDOR is something we're looking to merge into Authorization. IDOR shouldn't be a full CS of its own. It's too mu

[2020-05-25 16:44] KellyMarchewa commented on #394
I would be glad to assist in the update if possible. Looking over the comment linked to above, it appears you are looking to archive the existing Access Control cheatsheet and replace/merge it and IDOR with a new Authorization cheat sheet? If this is correct, what content (if any) from the current IDOR and Access Control cheatsheets should be included?

Thanks.

[2020-05-25 16:57] ThunderSon commented on #394
For the Access Control, no developer discusses controls in RBAC, DAC, MAC, or any other variation of them. Those are networking and file system concepts, and not applications-based concepts (yes they can be applied, but no developer comes forward and say "I am going to build this in an RBAC model!".
RBAC AFAIK is the most used model in applications, they use it implicitly as well. If people want t

[2020-05-25 17:11] KellyMarchewa commented on #394
Thanks for the response. Definitely answers my question and makes perfect sense. As long as there are no objections from any of the other core contributors, I will be glad to work on updating the sheet.

[2020-05-25 17:12] jmanico commented on #394
Agreed for DAC and MAC.

But RBAC or at least hard coded roles - are very common in software,
unfortunately.

IDOR is solved with a wide variety of horizontal access control designs.

But YES this entire cheetsheet needs to be "wiped out and rebuilt" -
would be glad to help. I spear headed the initial write of this and
support it getting fully re-written.

Access Control design a very difficult to

[2020-05-29 23:32] KellyMarchewa commented on #394
I would still be glad to work on this, but not sure if you want me to try and create an outline for review or if jmanico, ThunderSon, or one of the other core contributors is wanting to handle this?  Sorry for all the questions, but as a new contributor to this project (and GitHub in general), I want to make sure my efforts and ideas are well-aligned with those who are much more invested in the pr

[2020-05-30 13:02] ThunderSon commented on #394
@KellyMarchewa Sorry if the conversation gave you a wrong feeling on what are the next steps.
What Jim asked is for an **outline** before you dig deep into the re-write of the cheat sheet in order to see if you're going the right way.
I'd love to help you build that outline as well.
Don't worry about asking too many questions :blush: If you'd like to chat on this matter or any other security matte

[2020-05-30 17:44] KellyMarchewa commented on #394
Thanks for the feedback. Below is my proposed outline. The paragraphs below the headers are certainly not meant for the final cheat sheet, just brief remarks providing justification or elaboration for particular headings/recommendations. Obviously authorization is a very big topic, and I was not sure how much background would be ideal to include. For starters, I just focused on the topics that I f

[2020-05-30 17:48] jmanico commented on #394
This is just absolutely fantastic. Sincerely.

May I suggest we change this...
Ensure Lookup IDs are Not Readily Guessable or Cannot Be Tampered With

To This.....
Ensure Lookup IDs are Not Accessible even when Guessed or Cannot Be Tampered With

The point is, a big random GUID to access data is NOT enough for access control by itself. Hard to guess values are not access control. :)

Aloha,
--
Jim

[2020-05-30 20:00] b10s opened #400 "Update: [JSON_Web_Token_Cheat_Sheet_for_Java]"
## What is missing or needs to be updated?
[The phrases](https://cheatsheetseries.owasp.org/cheatsheets/JSON_Web_Token_Cheat_Sheet_for_Java.html#token-sidejacking)

and

might be confusing.

## How should this be resolved?
Perhaps,

and we can move the following part in to previous sentence (about a cookie)

[2020-05-31 12:38] ThunderSon commented on #394
@KellyMarchewa That is one big outline :)
Would you be able to open the above in a Pull Request? This can be created in the `cheatsheets_draft` folder.
We can have comments there and we'll answer the questions you have.

Thank you!

[2020-05-31 20:19] ThunderSon commented on #400
After going over it so many times. I will create a PR most probably tomorrow and request your review, alright? I'd want to reword this part a little bit differently :)

[2020-05-31 20:24] ThunderSon commented on #400
If you'd like to though, I'd love to review your contribution. The first sentence should focus on interception as well as XSS, both, and not only one.
The second sentence can be removed all in all. The first point could be improved in the way it's written to explain to the reader why a hardened cookie is needed (SameSite -> Cross origin protection, Secure -> TLS, etc.)

[2020-06-02 14:04] joubin commented on #6
I just want to add that this is not an IT only issue. With the move to cloud, more and more developers are being given control to mange underlying infrastructure. So a having proper DNS setup is part of the Application Security.

I think this should be removed from backlog and prioritized.

[2020-06-02 15:25] jmanico commented on #6
+1 a developers guide to DNS security is right in line with OWASP’s mission.

--
Jim Manico
@Manicode
Secure Coding Education

[2020-06-03 14:14] ThunderSon commented on #386
Closed in #387

[2020-06-03 14:14] #386 closed

[2020-06-04 11:25] #200 closed

[2020-06-07 05:51] sotayamashita opened #413 "Check correct terms spelling automatically."
## Background
I created a pull request to correct terms spelling (#414)

I think these mistakes will increase as more and more people join in, so it would be better to automate it as soon as possible.

## Possible solutions
Use https://github.com/sapegin/textlint-rule-terminology to define correct terms and check.

<br/>
I am looking forward to your thoughts.

[2020-06-07 11:20] rbsec opened #417 "Decide on use of markdown quote blocks in cheat sheets"
There are a couple of cases where the markdown quote syntax `> ` are used on the cheat sheets to add a note to the CS, rather than being used as actual quotes.

Personally I'm not a fan of this - I think they they should only be used when we're quoting other sources, and the notes can usually just be added in to the text directly.

Thoughts @ThunderSon @mackowski ?

[2020-06-07 13:13] ThunderSon commented on #417
https://squidfunk.github.io/mkdocs-material/extensions/admonition/
Have a look at this. This is what I have in mind moving forward.

[2020-06-08 10:15] mackowski commented on #413
I like the idea! Do we have any alternative solutions to  https://github.com/sapegin/textlint-rule-terminology ?

[2020-06-08 10:18] mackowski commented on #417
@rbsec I agree with you. I like the alternative from @ThunderSon but I it is extending markdown syntax so we have to be careful with that.

[2020-06-08 19:09] ThunderSon commented on #394
closed in #401 @KellyMarchewa you may go ahead and open an issue to tackle it :)
If you want, you can open a draft PR so things are tracked, and it would allow you to ask us things prior to a full review. Whatever feels best for you.

[2020-06-08 19:09] #394 closed

[2020-06-08 19:10] ThunderSon commented on #413
The great @kingthorin is already tackling this in the WSTG. https://github.com/OWASP/wstg/pull/495
I don't see why not :)

[2020-06-08 19:16] rbsec commented on #413
I'm fine with this as long as it only ever gives warnings and cause a CI failure - there are times when case or "incorrect" spellings matter, such as `JavaScript` vs `javascript:alert(1)`

[2020-06-08 19:34] kingthorin commented on #413
It seems to be markdown aware, so if you have that second string code fenced it doesn't try to fix it.

[2020-06-09 14:05] mackowski commented on #413
If this is already battle tested in WSTG we should go with it in my opinion.

[2020-06-09 14:10] kingthorin commented on #413
To be clear we're not automatically fixing things, we're using this to "lint" spelling/terms.

However, yes we have set it up.

[2020-06-11 07:24] sotayamashita commented on #413
Anyway, I am gonna create a PR for it.

[2020-06-11 09:14] kingthorin commented on #413
Please ensure you use the latest repo state not simply that PR. Further terms have been added and a few mistakes in `.textlintrc` have been identified/corrected.

Ref:
- https://github.com/OWASP/wstg/pull/496
- https://github.com/OWASP/wstg/pull/498/commits/858107324aefde2ba349057e8d3a5e6baed4169d

[2020-06-15 20:37] ThunderSon opened #421 "New CS: GraphQL Security Cheat Sheet"
After various discussion on Slack, it is important to create a GraphQL Cheat Sheet in order to guide developers to writing secure GraphQL endpoints.

@bigshebang to provide us with a draft on work already done from their side.

@PauloASilva FYI. This should be moving properly with the API security project's line as well.

Let's see this effort through. After Luke's draft, we can modify the templat

[2020-06-16 10:37] mackowski commented on #421
Awesome! ;-)

[2020-06-16 12:08] ThunderSon opened #423 "MFA CS - 2 Step Verification Versus 2FA"
After reading multiple posts on 2SV vs 2FA, I thought to discuss this over here to see the stance we'll be talking on this.
MFA CS proposes SMS and emails as something you have. [Okta](https://sec.okta.com/articles/2020/04/factors-dongles-tokens-oh-my-strong-auth-terminology-7-minutes) and [Security SE](https://security.stackexchange.com/questions/41939/two-step-vs-two-factor-authentication-is-the

[2020-06-16 13:37] jmanico commented on #423
Any time a number is sent over a MFA challenge it's vulnerable to
phishing to matter how it is generated.

So I see the world from weak to strong.....

  * user/password only - good for public data only (NIST 800-63 AAL-1)
  * user/password/sms - minimum for sensitive data (NIST 800-63 AAL-2,
    maybe)
  * user/password/authenticator app number generator (NIST 800-63 AAL-2)
  * user/password/keyf

[2020-06-16 19:27] #423 closed

[2020-06-16 19:30] jmanico commented on #423
I agree with @rbsec on this

--
Jim Manico
@Manicode

[2020-06-16 20:43] tghosth opened #425 "Query: CSRF cheat sheet"
Hi @mackowski

The reference to triple submit cookies was removed in this commit: https://github.com/OWASP/CheatSheetSeries/commit/50333c17f2c21ec9363427eeffb32ff384f0d9d4#diff-a60525267043449768bd6432eef357efL224

Was this a deliberate decision? ASVS [v13.2.4](https://github.com/OWASP/ASVS/blob/master/4.0/en/0x21-V13-API.md#v132-restful-web-service-verification-requirements) specifically refers t

[2020-06-17 06:47] mackowski commented on #425
Hey @tghosth we deleted it as the description of triple submit cookies was very poor and Cookie Prefixes solves the same problem but it is still good mitigation. We definitely can add it back but with good, short description with pros and cons of this solution.

[2020-06-17 06:48] mackowski commented on #425
@tghosth Do you want to create PR for that?

[2020-06-17 13:42] jmanico commented on #425
Double/Triple cookie submit is about adding sa ynchronize token to
stateless requests to stop fraudulent transactions.

From https://www.sjoerdlangkemper.nl/2017/02/09/cookie-prefixes/:
A|__Host-|-prefixed cookie is only accessible by the same domain it is
set on. This means that a subdomain can no longer overwrite the cookie
value.

So this makes the double/triple cookie submit pattern /stronger/

[2020-06-17 15:24] mackowski commented on #425
Exactly it seems that double submit is enough when used with __Host- cookie prefix. It was first noticed in this issue: https://github.com/OWASP/CheatSheetSeries/issues/195.
But if ASVS link here and mention triple submit cookie we should add since it is still good protection especially if someone use ASVS to assess older application.

[2020-06-18 14:36] elarlang commented on #425
I'm related with both issues:
- https://github.com/OWASP/CheatSheetSeries/issues/195 on the CheatSheetSeries side
- https://github.com/OWASP/ASVS/issues/809 on the ASVS side

Point for triple-submit-cookie (<https://media.blackhat.com/eu-13/briefings/Lundeen/bh-eu-13-deputies-still-confused-lundeen-wp.pdf>):

With `__Host-` prefix this condition is satisfied (like I wrote in #195), because:

- it'

[2020-06-18 20:28] tghosth commented on #425
Based on on @mackowski 's response and having had a quick search, my current feeling is that triple submit cookies are so rare/unknown that I don't think it is worth mentioning them for now. I will see if we can get them removed from ASVS.

[2020-06-18 23:30] jmanico commented on #425
👍🏼👍🏼

--
Jim Manico
@Manicode

[2020-06-22 05:30] ThunderSon commented on #425
@elarlang Thanks for the detailed answer. To answer your questions, the CS project shouldn't really go into extreme edge (no pun intended) cases. If their risk appetite goes to such lengths then they better be talking with a security team, as the issues discussed aren't common.

[2020-06-22 05:30] #425 closed

[2020-06-22 05:57] #159 closed

[2020-06-24 14:15] ErezYalon commented on #421
@bigshebang, is there an ETA for the draft? We (together with @PauloASilva) are starting to work on the subject as well.

[2020-06-24 14:41] bigshebang commented on #421
@ErezYalon the ETA is now :D https://github.com/OWASP/CheatSheetSeries/pull/434

[2020-06-24 14:56] ThunderSon commented on #421
What @bigshebang presented is an effort already made on creating a GraphQL knowledge base. Next up is growing that to cover the defenses spectrum and tidying it up to have a sheet feeling.

[2020-06-24 15:00] ErezYalon commented on #421
We are a small team working on several API Security projects.
We will start our GraphQL research soon and add our results to the sheet. Most will probably come from @PauloASilva.

[2020-07-03 12:24] cdwijayarathna opened #438 "Update: XSS Cheatsheet Confuses reader due to interchangeable use of escape/encode"
We identified this issue in a usability evaluation we conducted for OWASP ESAPI [1]. In this study, programmers used the ESAPI to fix some XSS vulnerabilities of an application and reported usability issues that they encounter.

Out of 10 participants, 1 participant mentioned that he was confused by the interchangeable use of words escape and encode. We had a discussion with Kevin Wall from ESAPI

[2020-07-03 12:47] mackowski commented on #438
@cdwijayarathna thank you for your contribution. Encoding and escaping are two similar but at the end different techniques. I like the definition from Proactive controls: https://owasp.org/www-project-proactive-controls/v3/en/c4-encode-escape-data.
I read XSS Cheatsheet and I saw a that it is not always 100% strict with definitions.
Do you want to spot the places in the cheatsheet where these term

[2020-07-03 13:16] cdwijayarathna commented on #438
While referring to the definition you shared made me feel that 'encoding' is the most suitable word to be used in most places, our results don't say they have been used 'incorrectly'. It is rather a usability related issue since the use of two words has been inconsistent. It confuses the reader, especially those who have little knowledge on XSS.

[2020-07-03 15:39] jmanico commented on #438
Encoding and Escaping are essentially synonyms in the industry of
security engineering.  For XSS defense, technically you need to use HTML
Entity /encoding/ for the HTML locations (converting < to &lt;) of and
for JavaScript and CSS contexts the technique is actually hex /escaping/
with slashes (in JS you convert a ' to a \'). But the terms are often
used interchangeably.

So for XSS defense, one

[2020-07-03 15:45] jmanico commented on #438
Careful here.

Technically you need a combo of escaping and encoding. Both do the same
thing: neutralize content to stop injection in a web page.

  * HTML entities are actually encoding. (converting < to &lt;)
  * But the proper neutralization of JavaScript embed is actually
    escaping (converting ' to \' and similar)

Output encoding is not the proper blanket term even if it is used in
popular

[2020-07-03 17:16] mackowski commented on #438
I fully agree with Jim.

W dniu pt., 3.07.2020 o 17:45 Jim Manico <notifications@github.com>
napisał(a):

--
Jakub Maćkowski

[2020-07-04 07:24] cdwijayarathna commented on #438
I think the use of "Output encoding" instead of "Output encoding or escaping" might be the reason for the confusion of the users that we observed in our experiment. I am trying to highlight the perspective of an amateur user who is new to terms such as XSS, encoding and escaping.

An example is, in most rules, it is advised to '**escape**' untrusted data. However, in an example in Rule 3.1, it say

[2020-07-04 10:33] ThunderSon commented on #438
Refrain from such thoughts. Yes the team (and all previous contributors) take the proper time to investigate and write things out, it doesn't mean they're golden words. You are presenting a very important piece. Please keep pushing it to the end without thinking that whoever wrote this is all-knowing. Everyone makes mistakes :)

Escaping is a sub-usage of encoding. You are escaping content let's s

[2020-07-04 15:00] jmanico commented on #438
I agree with Thunderson. You identified a real problem with the cheatsheet and our sloppy use of these terms.

I hope you decide to help us fix it somehow! The eyes of a new reader are especially valuable to those of us who have read it many times. So thank you for your contribution so far. :)
--
Jim Manico
@Manicode

[2020-07-07 08:45] PauloASilva commented on #421
Hi guys,
Sorry for the late reply.

My initial comments and thoughts on how to improve the GraphQL Cheat Sheet proposal were [left in the PR](https://github.com/OWASP/CheatSheetSeries/pull/434#pullrequestreview-442852077).

On an initial stage I think we can work on our general suggestion: make the CS more actionable, but only after hearing your thoughts about our comments.

Cheers,
Paulo A. Silva

[2020-07-07 20:13] ThunderSon commented on #421
Thanks @PauloASilva ! We didn't provide our full feedback as well. Thanks for tackling this!
I'll add some more comments and try to get some improvements in hopefully in the weekend.

[2020-07-09 12:50] ThunderSon commented on #438
Refrain from such thoughts. Yes the team (and all previous contributors) take the proper time to investigate and write things out, it doesn't mean they're golden words. You are presenting a very important piece. Please keep pushing it to the end without thinking that whoever wrote this is all-knowing. Everyone makes mistakes :)

Encoding is more to how you're going to represent the characters. In

[2020-07-09 15:35] cdwijayarathna commented on #438
I think now I have a better idea of the difference between encoding and escaping.
I think the first step for approaching this would be to forget the usability and confusion, and verify if there are usages of escape/encode words that are inconsistent with these definitions. I will carefully go through the cheatsheet and update you on what I come up with.

I agree with @jmanico on his concern about

[2020-07-09 16:09] elarlang commented on #438
Just pointing out, that you may use encoding for JavaScript as well.

Example: `"Some philosopher said "Something fancy here", and I agree with it"`
Encoded: `"Some philosopher said \u0022Something fancy here\u0022, and I agree with it"`

Useful, when someone decides to put userinput to some HTML on* attribute (like onlick, onmouseover etc), because there you can not handle with only converting fo

[2020-07-09 16:19] jmanico commented on #438
Please note that in this example JavaScript escaping and JavaScript
encoding can be used interchangeably for the exact same defensive
benefit. This is why the two terms are often used interchangeably.

- Jim

On 7/9/20 6:10 AM, Elar Lang wrote:

--
Jim Manico
Manicode Security
https://www.manicode.com

[2020-07-09 16:33] elarlang commented on #438
This part is not correct - they don't provide exactly the same benefit.

Example:
- Application: `<element onclick="sendsomewhere('USERINPUT');">`

Input: `demo"><svg onload=alert(1)>`

## Example 1 - JavaScript escaping

Output: `<element onclick="sendsomewhere('demo\"><svg onload=alert(1)>');">`

Result: **vulnerable**, even `"` is escaped `\"`, it finishes "onclick" attribute value for `<elemen

[2020-07-09 16:47] cdwijayarathna commented on #438
I started reviewing the cheatsheet. I need some feedback on the following phrase under Rule 1.

"Escape the following characters with HTML entity encoding"

I feel that the use of word escape here is inconsistent with the definitions presented above. At the same time, I don't feel very confident about it. What do you think?

[2020-07-09 17:54] rbsec commented on #438
@cdwijayarathna that should definitely be "encode" rather than "escape".

[2020-07-09 19:45] jmanico commented on #438
Agreed!

--
Jim Manico
@Manicode

[2020-07-09 19:47] jmanico commented on #438
This is not the correct escaping, you are missing my point.

What I’m saying is that ••when escaping is available•• it provides the same defense as encoding.

In your example escaping double quotes is not available in JS. In other contexts it is.

--
Jim Manico
@Manicode

[2020-07-09 20:05] jmanico commented on #438
Elar,

Reading this again, I think you are right when it comes to web contexts,
the point of this cheatsheet.

Here is a great read on the topic.

https://www.onwebsecurity.com/security/properly-encoding-and-escaping-for-the-web.html

So I think an easy fix for the cheatsheet is to just replace all uses of
escaping with encoding for the XSS cheatsheets.

- Jim

On 7/9/20 6:33 AM, Elar Lang wrote:

[2020-07-09 20:22] jmanico commented on #438
My suggestions on the CS:

<https://owasp.org/www-community/attacks/xss/>using output
*escaping*/encoding properly.

Drop "escaping/" from this sentence.

<https://owasp.org/www-community/attacks/xss/#stored-and-reflected-xss-attacks>can
be addressed by performing the appropriate validation and *escaping* on
the server-side.DOM Based XSS
<https://owasp.org/www-community/attacks/DOM_Based_XSS>can b

[2020-07-10 14:38] kwwall commented on #438
@jmanico - It was actually that link you referenced where I found the first definitions of Escape vs Encode. I started this whole conversation with @cdwijayarathna as I was going through the Javadoc of the ESAPI Encoder interface after reading their research paper and discussing it with them on Google Drive. Also, the two of us, plus Chamila's advisor, had a long extended conversation specifically

[2020-07-10 16:05] cdwijayarathna commented on #438
I also feel this works. So, if I understand this correctly, all rules described in the XSS cheatsheet are based on encoding rather than escaping.

[2020-07-10 16:15] mackowski commented on #421
I will try to review it over the weekend

[2020-07-10 16:37] kwwall commented on #438
@cdwijayarathna - I think that's probably true of the XSS Prevention Cheat Sheet, but it is not true of (at least) the ESAPI Encoder. It has methods like encodeForLDAP() and encodeForOS() that only rely on escaping, not encoding (in the sense of how it is described inhttps://www.onwebsecurity.com/security/properly-encoding-and-escaping-for-the-web.html).  Those are not to provide defenses for XSS

[2020-07-11 15:28] tabarra commented on #282
The `Transport Layer Protection Cheat Sheet` is also not clear that HPKP has been (mostly) deprecated.
I'm issuing a PR to fix that.

[2020-07-11 23:55] jmanico commented on #282
+1 fully drop the HPKP response header from the TLS CS

- Jim

On 7/11/20 5:29 AM, tabarra wrote:

--
Jim Manico
Manicode Security
https://www.manicode.com

[2020-07-13 22:28] jmanico commented on #225
I think merging them into one is a good idea

[2020-07-15 09:08] iambrosie opened #442 "Update: Cross-Site Request Forgery Prevention Cheat Sheet"
## What is missing or needs to be updated?
https://cheatsheetseries.owasp.org/cheatsheets/Cross-Site_Request_Forgery_Prevention_Cheat_Sheet.html#double-submit-cookie mentions:

## How should this be resolved?

Replace with:

[2020-07-15 09:20] iambrosie opened #443 "Update: Cross-Site Request Forgery Prevention Cheat Sheet"
## What is missing or needs to be updated?
https://cheatsheetseries.owasp.org/cheatsheets/Cross-Site_Request_Forgery_Prevention_Cheat_Sheet.html#cookie-with-__host-prefix mentions:

## How should this be resolved?
Replace with

[2020-07-15 09:50] rbsec commented on #443
Thanks for this - it looks like IE is the only major browser that's still not supporting them (unsurprisingly), so I've updated the text in #444

[2020-07-15 10:35] #443 closed

[2020-07-15 17:21] dotnetnate opened #445 "Update: Clarify guidance around security headers for REST APIs"
## What is missing or needs to be updated?
The referenced cheat sheet requires that REST APIs return x-frame-options and set the values to deny. This is not meaningful or useful in the context of a REST API and seems to serve nothing more than to cause extra work and contention when having to explain this to security teams blindly reading vulnerability scan reports that are based off of OWASP docu

[2020-07-15 18:37] rbsec commented on #445
This is an interesting area - thanks for raising it. I think that the [Security Headers](https://cheatsheetseries.owasp.org/cheatsheets/REST_Security_Cheat_Sheet.html#security-headers) section in that cheat sheet could do with a rewrite, because this is an question that I've run into a few times.

There are some security headers that are important and should be sent by almost every REST API (such

[2020-07-15 19:01] dotnetnate commented on #445
Thanks for taking it under consideration. I think there's a bit of a vicious cycle between the guidelines and the tools since the tools and pen test providers are kind of just saying "well, it says it in OWASP, so..." and as you said above, we have to do it to appease the tools even though it's largely, if not completely (afaik), meaningless in that context.

Others are definitely useful/valuable,

[2020-07-15 19:43] rbsec commented on #445
I don't like the reasoning of "a scanner flags it", and I'll absolutely jump on any pentester who uses that as their justification to report an issue - but especially in larger organisations it does carry some weight.

Let's say we're trying to write a policy for a organisation about X-Frame-Options. If we say "All web applications just have it as DENY, but REST API endpoints only need it if they

[2020-07-17 09:07] iambrosie commented on #442
Hey hey!

Any opinions on this?

Thanks!

[2020-07-17 14:40] ThunderSon commented on #442
I am with this change, as this is a better definition to what is being applied.
@mackowski @rbsec @jmanico what do you think?

[2020-07-18 10:07] rbsec commented on #442
This makes sense - the language here is a bit confused ("secret salt" rather than "secret key"), and there's no reason to use `hash(data . key)` rather than `hmac(data . key)`.

[2020-07-18 18:03] jmanico commented on #442
This is a good correction to an existing mistake. Make the fix! :)

--
Jim Manico
@Manicode

[2020-07-18 21:48] #442 closed

[2020-07-20 17:12] rbsec commented on #445
I've made a PR #448 with an initial draft for some updates text - any comments or feedback is very welcome.

[2020-07-20 17:13] rbsec commented on #192
@ThunderSon is this something that the new markdown linter can do?

[2020-07-20 17:14] rbsec commented on #201
This has been implemented on the new site.

[2020-07-20 17:14] #201 closed

[2020-07-20 17:15] rbsec commented on #413
The PR for this has been merged, so closing.

Thanks all.

[2020-07-20 17:15] #413 closed

[2020-07-20 17:45] ThunderSon commented on #192
Not really. It is no longer a worry as these are usually generated in MS Word, or a similar editor, and that is no longer be used.

I don't believe we should be setting time on this, nothing critical nor important, and there are much bigger priorities.

[2020-07-20 18:02] rbsec commented on #192
In which case, let's close this off.

[2020-07-20 18:02] #192 closed

[2020-07-21 16:54] cdwijayarathna commented on #438
Hello all, I created a PR #449 where I did some improvements based on this discussion.

Mostly, I changed the word 'escape'/'escaping' to 'encode'/'encoding' according to the definition at  https://owasp.org/www-project-proactive-controls/v3/en/c4-encode-escape-data . I left some 'escape/escaping' words where I felt they followed the definition.

I was not sure about wording at line number 226, 24

[2020-07-22 13:58] jmanico commented on #438
This looks good to me. Can we push this live? Well done!

Aloha, Jim

On 7/21/20 6:54 AM, Chamila Wijayarathna wrote:

--
Jim Manico
Manicode Security
https://www.manicode.com

[2020-07-22 22:56] lgommans opened #450 "Update: Password Storage Cheat Sheet"
## What is missing or needs to be updated?

The pre-hashing section contains two weird things:

### Magically obtaining an intermediate value

The context is:

Sounds good. The next paragraph contains this:

How? That's like saying you might be able to get the 949th round of a 1000-round pbkdf2 operation. Sure, if you can magically obtain an intermediate value, you've got an issue. Nobody ever pro

[2020-07-23 07:06] mackowski commented on #438
Looks good! I merged it. Thank you @cdwijayarathna

[2020-07-23 07:06] #438 closed

[2020-07-23 20:06] rbsec commented on #450
Hi @lgommans

Thanks for your (very detailed) issue - this cheat sheet is fairly new, so it's always good to get feedback on it.

---

Regarding your first point about obtaining the hashes, the main scenario here isn't that your storing the partially hashed passwords (which would be very stupid as you say), but when users are re-using passwords between multiple sites that get compromised.

For exa

[2020-07-23 22:09] rbsec commented on #450
@lgommans I've suggested some changes in #451 - would be interested to hear your thoughts on them.

[2020-07-27 08:02] mackowski commented on #445
This was solved in #448

[2020-07-27 08:02] #445 closed

[2020-07-29 01:42] jmanico commented on #322
The proper way to handle XXE in Oracle DOMParser is documented here. https://docs.oracle.com/en/database/oracle/oracle-database/18/adxdk/security-considerations-oracle-xml-developers-kit.html#GUID-45303542-41DE-4455-93B3-854A826EF8BB

DOMParser domParser = new DOMParser(); // Extend oracle.xml.parser.v2.XMLParser
domParser.setAttribute(DOMParser.EXPAND_ENTITYREF, false); // Do not  expand entity r

[2020-07-29 01:43] jmanico commented on #322
I submitted this comment to SO as well.

[2020-07-29 01:50] jmanico opened #455 "Update: Unvalidated Redirects and Forwards Cheat Sheet"
## What is missing or needs to be updated?

The section on validating url's section is very attack-centric and does not give good url validation defense advice for developers.
https://cheatsheetseries.owasp.org/cheatsheets/Unvalidated_Redirects_and_Forwards_Cheat_Sheet.html#validating-urls

## How should this be resolved?
Need to discuss URL defense strategies like using the URL parser of a langua

[2020-07-29 01:53] jmanico commented on #285
I'd like to see this entire cheatsheet rewritten. IDOR is an access control issue that should be solved with lookup maps, data ownership verification, and other mature horizontal access control designs.

[2020-07-29 01:57] jmanico commented on #133
You can extract a list of safe attributes from the DomPurify projects which is a HTML sanitizer. It's the best research out there. https://github.com/cure53/DOMPurify

[2020-07-29 01:58] jmanico commented on #133
Here is the exact list of safe attributes, it's the best list out there from one of the top XSS defense projects on the planet. https://github.com/cure53/DOMPurify/blob/main/src/attrs.js

[2020-07-29 02:10] jmanico commented on #225
I talked to the author and he is cool with anything, so I'm going to push the longer version live as a cheatsheet and discard the shorter version.

[2020-07-29 07:06] mackowski commented on #225
Longer version is live: https://cheatsheetseries.owasp.org/cheatsheets/C-Based_Toolchain_Hardening_Cheat_Sheet.html
Shorter is offline: https://cheatsheetseries.owasp.org/cheatsheets/C-Based_Toolchain_Hardening.html
I am closing this issue. Thanks Jim!

[2020-07-29 07:06] #225 closed

[2020-07-29 07:21] mackowski commented on #133
@jmanico do you want to update this CS or I should do this?

[2020-07-29 07:23] mackowski commented on #285
@righettod do you want to contribute agin :)

[2020-07-29 07:26] mackowski commented on #455
This is well described in this CS: https://cheatsheetseries.owasp.org/cheatsheets/Server_Side_Request_Forgery_Prevention_Cheat_Sheet.html#application-layer

[2020-07-29 07:27] mackowski commented on #322
@jmanico do you want to make PR with this change? If not I will take it

[2020-07-29 07:46] salecharohit opened #457 "Update: Adding Semgrep Rules"
## What is missing or needs to be updated?
Cheatsheet series contain plenty of code snippets which either highlight good practice or a sample vulnerable code. For Ex: This [XXE code snippet](https://cheatsheetseries.owasp.org/cheatsheets/XML_External_Entity_Prevention_Cheat_Sheet.html#jaxp-documentbuilderfactory-saxparserfactory-and-dom4j) very well highlights the idea of using the setFeature func

[2020-07-29 08:13] mackowski commented on #457
I like the idea (and Semgrep), we can also add Semgrep index to track and help find all Semgrep rules.
I have another questions:
1. Does Semgrep have default\good rules? I want to avoid to have rules in 2 places, if Semgrep has place with rules I would rather prefer to link to them.
2. Do you have contact to someone from Semgrep project to help us with review?

[2020-07-29 08:23] mackowski commented on #457
I see that there are some pre-written rules: https://semgrep.live/packs so I feel that it will be better to just link to this rules

[2020-07-29 08:57] salecharohit commented on #457
So my idea is to create Semgrep rules as per the OWASP cheatsheet series **

[2020-07-29 09:50] mackowski commented on #457
Hmm what about creating new pack (inside semgrep.live/packs) with rules for OWASP cheatsheet series and link to them - that way it will be easier to use and find them. I just try to avoid having 2 sets of similar content in 2 different places but I like the idea!

[2020-07-29 11:22] salecharohit commented on #457
**Yep that's exactly how i wanted to make.
Only if i can get approval for the same I can start creating packs and make PRs
Naming convention would be
owasp.<language>.<vulnerability>.<subtopic>
So for XXE
owasp.java.xxe.dom.<something>**

[2020-07-29 11:27] mackowski commented on #457
I like it and I will be happy to help with this work. @jmanico do you have more questions or any concerns around it?

[2020-07-29 14:20] jmanico commented on #457
While SemGrep is the future of static analysis, keep in mind there are many security areas like business logic and workflows where static analysis is not effective. As long as we are not selling it as a way to discover all security issues I think it’s a great idea!

--
Jim Manico
@Manicode

[2020-07-29 14:25] jmanico commented on #322
I need GIT help; can you take this on? I am teaching this week but once I’m spun up on GitHub process better I’ll start submitting PR’s. My knowledge on Git is “commit to master”. Oops.

--
Jim Manico
@Manicode
Secure Coding Education
+1 (808) 652-3805

[2020-07-29 14:27] jmanico commented on #455
So we are not duplicating I suggest we point one to the other so we have a mature conversation of url validation everywhere. :)

--
Jim Manico
@Manicode

[2020-07-29 14:28] jmanico commented on #133
Please.... I need some git learning first...

--
Jim Manico
@Manicode
Secure Coding Education
+1 (808) 652-3805

[2020-07-29 15:39] salecharohit commented on #457
**Surely. Semgrep and i guess most static analysers cannot detect Business logic issues and workflows. My idea is just to highlight some of the best ways we can write creative rules and what better context than the OWASP cheatseries.**

[2020-07-29 15:41] jmanico commented on #457
 I think this is a great idea, Rohit!

- Jim

On 7/29/20 11:40 AM, Rohit Salecha wrote:

[2020-07-29 15:41] salecharohit commented on #457
Shall I start working on creating the rules and send individual PRs then ?

[2020-07-29 15:42] jmanico commented on #457
BRING THE HEAT ROHIT BRING THE HEAT!

That is a yes.

- Jim

On 7/29/20 11:42 AM, Rohit Salecha wrote:

[2020-07-30 08:14] mackowski commented on #457
@salecharohit I assigned this issue to you and changed status. Let us know if you need any help. Cheers!

[2020-07-30 08:19] mackowski commented on #133
Sure I assigned issue to myself and I will make the changes in coming days.

[2020-07-30 11:43] mackowski commented on #322
Sure thing, I assigned this to myself and I will make PR soon.

[2020-07-30 11:49] mackowski commented on #417
I am closing this issue. We should avoid using quote syntax to add notes.

[2020-07-30 11:49] #417 closed

[2020-07-30 11:51] mackowski commented on #340
@rejahrehim is there any more work to do?

[2020-07-30 18:30] mackowski commented on #322
Done in #459

[2020-07-30 18:43] mackowski commented on #110
We did not do anything about it for over the year I will close it.

[2020-07-30 18:43] #110 closed

[2020-07-30 18:44] mackowski commented on #44
We did not do anything about it for over the year I will close it.

[2020-07-30 18:44] #44 closed

[2020-07-30 18:44] mackowski commented on #19
We did not do anything about it for over the year and a half I will close it.

[2020-07-30 18:44] #19 closed

[2020-07-30 18:46] mackowski commented on #385
@hazanasec are you still interested in creating this Cheat Sheet?

[2020-07-30 18:49] mackowski commented on #307
@jmanico what you think about it?
@aiacobelli2 do you want to create a small PR for it?

[2020-07-30 18:50] mackowski commented on #301
@aiacobelli2 I am reviewing older issues in the project. Are you interested in creating small PR for this issue?

[2020-07-30 18:51] mackowski commented on #232
this was already done in #276

[2020-07-30 18:51] #232 closed

[2020-07-30 18:53] mackowski commented on #302
This issue is no longer active, and we did not find what exactly need to be done here - I am closing this for now. Feel free to open it or create PR for review.

[2020-07-30 18:53] #302 closed

[2020-07-30 22:15] jmanico commented on #307
CATCHA is semi-decent to stop brute force, sometimes. But it depends on
the CAPTCHA. Recaptcha is not very secure and has a bad security
history. I like FunCaptcha or some of the other security-centric
CAPTCHA's that are not meant to train Google's AI engine.

CAPTCHA is cool to help stop bots, but it should not be considered a
second factor as a MFA substitute. Nor do I think users should be forc

[2020-07-31 09:08] hazanasec commented on #385
hi @mackowski apologies for the delay, yes I have a first draft almost finished, will create a PR soon

[2020-07-31 12:48] mackowski commented on #385
Good to hear that!

[2020-07-31 17:51] felickz opened #461 "New CS proposal: Application Security Architecture Cheat Sheet (migration from wiki)"
https://wiki.owasp.org/index.php?title=Application_Security_Architecture_Cheat_Sheet&oldid=204206 migration to github

## What is the proposed Cheat Sheet about?
Application's security architecture

## What security issues are commonly encountered related to this area?

1. Business Requirements
1. Infrastructure Requirements
1. Application Requirements
1. Security Program Requirements

## What is

[2020-08-03 08:00] mackowski commented on #461
It looks nice but it is unfinished draft. Do you want to finish this CS?

[2020-08-04 17:20] jmanico commented on #39
This is getting stale; anyone care to work on this?

[2020-08-04 17:23] jmanico commented on #67
The latest OAuth security best practice doc is here https://tools.ietf.org/html/draft-ietf-oauth-security-topics-15 if all we do is convert this to a cheatsheet we wim, I can even ask Fett or Lidderstat if they will review it. Anyone?

[2020-08-04 17:24] jmanico commented on #72
In general, this cheat sheet has gone through a lot of updates. Are we still out of date?

The guides sited are excellent as well.

Qualys SSL Labs - https://github.com/ssllabs/research/wiki/SSL-and-TLS-Deployment-Best-Practices (2017)
NCSC - https://www.ncsc.gov.uk/guidance/tls-external-facing-services
NIST - https://nvlpubs.nist.gov/nistpubs/SpecialPublications/NIST.SP.800-52r1.pdf
Mozilla - htt

[2020-08-04 17:27] jmanico commented on #86
I'm closing this out for now. We are going to get one of the CSP standard members to review the CS and update it.

[2020-08-04 17:27] #86 closed

[2020-08-04 17:28] jmanico commented on #95
Bumping @koto we would love your help, even one or two paragraphs explaining the basics of Trusted Types would help us a lot. To make it easier you are welcome to just add it as a comment and I'll take it from there. Whatever works to make it easy on you. :)

[2020-08-04 17:29] jmanico commented on #119
This CS is a great idea. Especially how JWT's work in microservice architectures, one of the larger security architecture changes for microservices.

[2020-08-04 17:30] jmanico commented on #124
BUMP this is a great idea.

[2020-08-04 17:32] jmanico commented on #125
Hey @LoicPoullain we are happy to add a section on absolute timeout. Can you give us a PR on the topic or add some text here as a comment?

[2020-08-04 17:33] jmanico commented on #126
Bump @cthulhu this is a great idea any progress?

[2020-08-04 17:33] jmanico commented on #132
stale, closing for now

[2020-08-04 17:33] #132 closed

[2020-08-04 17:34] jmanico commented on #133
Thank you so very much. I'll get to git soon. I appreciate your help on this one!

[2020-08-04 17:35] jmanico commented on #141
Hey @patric-eberle you are spot on. Would you care to give us a PR or shall I just use the copy on the comments?

[2020-08-04 17:36] jmanico commented on #257
bump, any progress?

[2020-08-04 17:37] jmanico commented on #282
Any time for a PR  @commjoen ?

[2020-08-04 17:38] jmanico commented on #285
Perhaps @GrosQuildu cares to work on this?

[2020-08-04 17:38] jmanico commented on #300
Hey @aiacobelli2 care to work on this one?

[2020-08-04 17:39] jmanico commented on #314
Politely closing this

[2020-08-04 17:39] #314 closed

[2020-08-04 17:39] jmanico commented on #322
approved and closing this out

[2020-08-04 17:39] #322 closed

[2020-08-04 17:40] jmanico commented on #357
Great work here. Can we close this out?

[2020-08-04 17:41] jmanico commented on #369
Can we please bring the xss filter evasion and other attack centric cheatsheet back into the project?  We can out them in a different category. All AppSec cheatsheets should be welcome here.

[2020-08-04 17:43] jmanico commented on #375
Is this ok to close out? Does not look like any activity or clear work.

Also regarding "Technically, there is no difference in how cookies and local storage entries are stored." this is true but misleading. HTTPOnly flagged cookies are not accessible via ANY XSS while localstorage is completely harvestable by any XSS attack across any page on that origin.

[2020-08-04 17:45] jmanico commented on #400
Bump, can we close this out @b10s ?

[2020-08-04 17:45] jmanico commented on #421
What is the stats? Can I help here?

[2020-08-04 17:46] jmanico commented on #461
Do we want this merged into threat modeling?

[2020-08-04 18:03] ykcab commented on #124
@mackowski [this is one](https://github.com/OWASP/CheatSheetSeries/issues/124#issuecomment-499823573) only lists tools, shouldn't this have to be more practical on how to use or implement them into [these services](https://github.com/dominikdesmit/owasp-secrets-management)

[2020-08-05 06:16] #450 closed

[2020-08-05 06:18] mackowski commented on #67
There is draft for this CS: https://github.com/OWASP/CheatSheetSeries/blob/master/cheatsheets_draft/OAuth_Cheat_Sheet.md.
@MarcinHoppe do you still want to work on this?

[2020-08-05 06:23] mackowski commented on #119
@jmanico do you know who will be good person to work on it?

[2020-08-05 06:25] mackowski commented on #300
@jmanico the work is in progress here: https://github.com/OWASP/CheatSheetSeries/pull/440/files

[2020-08-05 06:28] mackowski commented on #357
@jmanico of you can review it here: https://github.com/OWASP/CheatSheetSeries/pull/383/files it will be awesome. This is already done. I am still waiting for @deepakv81 if this is ready for final review.

[2020-08-05 06:30] mackowski commented on #369
I believe that @ThunderSon was/is working on merging attack centric content to testing guide

[2020-08-05 06:40] mackowski commented on #461
@ben-dale @aiacobelli2 @swierckx what do you think about it?

[2020-08-05 06:45] mackowski commented on #124
Yes, this needs to be combined together. In general a lot of work is needed for this but if @ykcab or @dominikdesmit you want to create PR and work on this with us it will be awesome.

[2020-08-05 07:45] AlexB1986 commented on #119
@mackowski , I am working on this CS. I assume I will make a PR on September.

PR will cover following themes:
1. Authorization patterns
1.1 Edge-level authorization
1.2 Service-level authorization (decentralized pattern; centralized pattern with a single Policy Decision Point (PDP); centralized pattern with an embedded PDP)
2. External entity identity propagation patterns
3. Service-to-service au

[2020-08-05 07:48] dominikdesmit commented on #124
Hey @mackowski, sorry for not responding anymore! I was really busy with some other things. I would like to pick this up again but I would require some help :)

I was also thinking about reaching out to other secrets management experts in the field, maybe people like Armon Dadgar would like to help out as well?

The latest status is here actually: https://github.com/dominikdesmit/CheatSheetSeries/

[2020-08-05 07:54] mackowski commented on #124
Sure we will help 👍 no worries. I suggest to make a PR here to make it easy to collaborate and share feedback.

CC: @antfie @ armon

[2020-08-05 07:57] mackowski commented on #119
@AlexB1986 awesome! Thank you. If you need any help let us know

[2020-08-05 08:07] MarcinHoppe commented on #67
I'd love to but I am afraid I can't commit to it now. I just don't have the time.

[2020-08-05 08:31] mackowski commented on #67
@MarcinHoppe No worries I will ping you if we will make some progress here for review :)
@bschach @ philippederyck do you want to contribute? We have the skeleton just need to fill the gaps :)

[2020-08-05 10:01] philippederyck commented on #67
Sounds great, but I don't have time right now to work on this.

[2020-08-05 10:25] bschach commented on #67
Very sorry, will also hardly find time for this in the next weeks :-(
But in the OAuth Security Workshop 2 weeks ago, @andifalk brought up the idea of a cheatsheet again. Maybe he and some others from the community would like to contribute.

[2020-08-05 14:44] ykcab commented on #124
Sure, @dominikdesmit. I'll be happy to contribute.

[2020-08-05 23:36] hacksingh commented on #124
I would love to help and collaborate with you folks.

[2020-08-06 06:10] ragashree-mc opened #464 "New CS proposal: [Kubernetes Security Cheatsheet]"
## What is the proposed Cheat Sheet about?
Proposed cheat sheet is about covering the various aspects of security Kubernetes clusters, the available features by Kubernetes itself and some of the common misconfigurations and security best practices to avoid them.

## What security issues are commonly encountered related to this area?
- Use of insecure images
- Using cluster with default configurati

[2020-08-06 06:11] #464 closed

[2020-08-06 06:16] ragashreeshekar opened #465 "New CS proposal: Kubernetes Security Cheatsheet"
## What is the proposed Cheat Sheet about?
Proposed cheat sheet is about covering the various aspects of security Kubernetes clusters, the available features by Kubernetes itself and some of the common misconfigurations and security best practices to avoid them.

## What security issues are commonly encountered related to this area?
* Use of insecure images
* Using cluster with default configurati

[2020-08-06 06:30] commjoen commented on #282
No time ATM unfortunately, still busy with family/work, etc. rethinking being active for OWASP in general ;-).

[2020-08-06 06:51] mackowski commented on #124
Awesome @dominikdesmit if you can create PR and @ykcab and @hacksingh will be able to add more content and comment to it.
Please when adding new content consider to review some other CheatSheets e.g. Cryptographic_Storage_Cheat_Sheet - and either link to it in relevant places OR suggest to remove some content from older CS and link from there to the new one. The point is to have (if possible) one

[2020-08-06 07:04] mackowski commented on #282
@jmanico I create #466 to just remove link to that article as @commjoen suggested

[2020-08-06 07:16] mackowski commented on #465
@ragashreeshekar thank you for this proposal. In general, I like the idea but how it will be different than already existing resources? Can you create a short table of contents so we can review what you want to cover there.

[2020-08-06 08:25] LoicPoullain commented on #125
Thank you for your message @jmanico . I actually do not know what would be a good common absolute timeout for low risk applications. I opened this issue hoping that someone would know and complete the cheat sheet.

[2020-08-06 09:03] mackowski commented on #125
I afraid that there is no simple answer for that other than: it depends on your threat model and use case... absolute timeouts lengths differ a lot from app to app. I would say that this value should be more tied to how long typically user have to use the application. E.g. if the application is intended to be used by an office worker for whole day I would try with 4-8 hours of absolute timeout, bu

[2020-08-06 12:22] nikitastupin commented on #421
Hi there! I can describe some common vulnerabilities  related to GraphQL APIs that I've found during my bug bounty journey. Also methodology of researching GraphQL APIs from bug hunter perspective.

However as far as I understand this cheatsheet intended for developers. From your perspective, is that kind of information valuable to the cheatsheet?

[2020-08-06 12:40] mackowski commented on #421
@jmanico @nikitastupin please review this work https://github.com/OWASP/CheatSheetSeries/pull/434 and share your thoughts.
@nikitastupin perspective of a bug hunter is very important - if you can enumerate common vulnerabilities related to GraphQL and see if we covered all of them with the mitigations/fixes in the https://github.com/OWASP/CheatSheetSeries/pull/434 it will be awesome, if we are mis

[2020-08-06 13:12] koto commented on #95
Hey! I guess the best canonical place would be to simply mention that DOM-based XSS can be prevented by rewriting the application to use Trusted Types and linking to https://web.dev/trusted-types/. We mean to keep this article as a canonical starting point for developers, on top of the github repo (https://github.com/w3c/webappsec-trusted-types). Would that work, or do you need something more pres

[2020-08-06 13:30] jmanico commented on #95
Perfect.... :)

--
Jim Manico
@Manicode
Secure Coding Education
+1 (808) 652-3805

[2020-08-06 22:59] jmbmxer commented on #465
Hey @ragashreeshekar 👋  I'd be happy to help out with this. I've written and taught quite a bit about the subject and help maintain securekubernetes.com

[2020-08-07 05:13] ragashreeshekar commented on #465
Hey team!
Thank you @mackowski.
Thanks @jmbmxer, that would be very helpful.
I will brainstorm and come up with the table of contents and update here.

[2020-08-07 06:35] mackowski commented on #282
Fixed in #466

[2020-08-07 06:35] #282 closed

[2020-08-07 06:43] mackowski commented on #465
Awesome :) I would like to have CS about k8s but it has to bring value and do not duplicate other work.
E.g. very short CS with points like which k8s distro and/or installers choose and simple rules like enable XYZ + why + simple commends how to check if is enabled + how to enable + link to documentation.
There are services in the cloud for k8s you can also check it.
My idea is that this CS can be

[2020-08-07 06:46] mackowski commented on #95
I agree that we should just link to https://web.dev/trusted-types/ with a very short intro. I will make changes next week and ping you for review.

[2020-08-07 07:12] c0d3xpl0it commented on #465
Hey Guys, I would like to help on in this CS of K8s but I was just wondering how different would it be from existing project [OWASP Kubernetes Security Testing Guide](https://owasp.org/www-project-kubernetes-security-testing-guide/) ?

[2020-08-07 07:19] mackowski commented on #465
In general Testing Guide is more focused on testing/attacking while CheatSheets are meant to be used by defenders, Testing Guide should also go deep in some topics while CheatSheets is aimed to be short reference.
But as I commented at the beginning please @ragashreeshekar will create ToC and based on that we will decide if this will bring value because we will not be duplicating other work.

[2020-08-07 10:52] koto commented on #95
We are working on a more prescriptive documentation (like a cookbook, or - a cheatsheet), the patterns we use for migrating to Trusted Types are still emerging. I'll keep y'all in the loop. @shhnjk is also working on it (focused on Chromium pages) - https://gist.github.com/shhnjk/a44b13dfdbd83c79bd1e2c1b08508f9d.

[2020-08-09 15:23] ragashreeshekar commented on #465
Please find below for the TOC for the K8s security cheat sheet I'm planning to cover.
The topics are spread across multiple resources and here is a consolidated list.
As @mackowski rightly suggested, we can have **simple rules like enable XYZ + why + simple commends how to check if is enabled + how to enable + link to documentation.** wherever applicable (I am working on it and will update soon).

[2020-08-11 07:18] mackowski commented on #465
Looks good for me. You can start working on it.
@jmbmxer @c0d3xpl0it - what is your opinion? Do you want to add anything?

[2020-08-11 10:01] knadt commented on #39
Yes, Sure. Give me a week please.

[2020-08-11 12:10] jakubmackowski commented on #39
@knadt awesome! Thank you!

[2020-08-11 12:28] mackowski commented on #39
@knadt awesome! Thank you :)

[2020-08-12 08:03] salecharohit commented on #457
Just an update for everyone that Semgrep folks have created a separate folder for all OWASP related rules. My first rule on java/ssrf has been published. So going forward please PR into this directory depending on the language you want.
[https://github.com/returntocorp/semgrep-rules/tree/develop/contrib/owasp ](https://github.com/returntocorp/semgrep-rules/tree/develop/contrib/owasp )

[2020-08-12 14:11] Seppl2202 opened #467 "Update: [XXE Cheat Sheet]"
## What is missing or needs to be updated?

The section describing countermeasures against XXE for Java XML parsers says that you should at least disable `http://xml.org/sax/features/external-general-entities` if you cannot completely disable XXE.
We came across this when we did a pentest for a customer and found an XXE vulnerability. The developers stated that their parsers (the `DocumentBuilderF

[2020-08-12 16:00] jmanico commented on #467
You are 100% correct. Can you submit a PR for this and we'll get it
approved very quickly.

Well done for nothing this error.

- Jim

On 8/12/20 4:12 AM, Seppl2202 wrote:

[2020-08-12 16:00] jmanico commented on #467
You are 100% correct. Can you submit a PR for this and we'll get it
approved very quickly.

Well done for noting this error.

- Jim

On 8/12/20 4:12 AM, Seppl2202 wrote:

[2020-08-12 16:13] salecharohit commented on #457
There is also a dedicated channel in Semgrep slack to discuss rules for OWASP Cheatsheet series and ASVS https://app.slack.com/client/TKABHD886/owasp

[2020-08-12 16:35] Seppl2202 commented on #467
PR is open, thank you for the quick response :)

[2020-08-12 16:37] jmanico commented on #467
Merge complete 👍

[2020-08-12 16:37] #467 closed

[2020-08-12 16:38] jmanico commented on #467
Approved, merged and closed. Thank you!

On 8/12/20 6:35 AM, Seppl2202 wrote:

--
Jim Manico
Manicode Security
https://www.manicode.com

[2020-08-12 16:43] Seppl2202 commented on #465
Hi all,
I did my bachelor thesis on security in K8s and Docker, maybe I can help out with some of the sections, just tell me :)

[2020-08-13 05:32] ragashree-mc commented on #465
Thanks @mackowski. I have started working on it, first draft version would be available probably by end of week.
Thank you @Seppl2202 @jmbmxer @c0d3xpl0it for offering your time and experience. Request you to review the TOC and provide your review comments based on which we can develop the cheatsheet accordingly.

[2020-08-13 05:38] Seppl2202 commented on #465
That sounds great!

[2020-08-13 15:23] c0d3xpl0it commented on #465
@ragashreeshekar @ragashree-mc the provided TOC is enough to start the cheatsheet preparation. We can start adding gradually to same later.

[2020-08-14 16:17] LoicPoullain commented on #125
Thank you for your response @mackowski. I find your answer well explained. Perhaps would it be worth adding it to the cheat sheet? Feel free to close the issue.

[2020-08-15 14:11] nikitastupin commented on #421
I've took a look at #434 and I agree with most comments that other reviewers left. Also from my perspective proposed cheat sheet provides too general information or information that can be found in other OWASP resources  😃

It was easier for me to make cheat sheet from scratch than integrate my thoughts in existing one. Thus I've decided to make #469 which reflects my vision on how GraphQL cheat s

[2020-08-16 02:23] bigshebang commented on #421
I've been working on incorporating everyone's feedback and will have at least one new commit up tomorrow. I'm about halfway through so we'll see if I can finish the rest tomorrow.

[2020-08-16 07:28] nikitastupin commented on #421
@bigshebang it's great news! However I think that it's easier to create some minimal cheat sheet done and then add other things to it. So if you'll feel that adding content form #469 to new version of #434 is slowing down the process you may leave this work to me 😃

[2020-08-16 16:02] ragashreeshekar commented on #465
I have created the initial draft and wanted to share the same.
Wanted to understand the next steps, would you want me to create a PR for the same linking to this issue or do I post the content here? (It's quite huge). Thanks in advance.

Regards,
Ragashree

[2020-08-17 16:33] northdpole opened #471 "New CS proposal: [Data Tokenization]"
## What is the proposed Cheat Sheet about?
tokenizing sensitive data, it can cover reversible and irreversible tokenization, storage (store tokenized data in a different location) use of specific algorithms or hardware(hsm) .
also what tokenization means (the practice of replacing sensitive data with non-sensitive equivalents).
how to implement it (hashing, encryption, lookup tables)

## What secu

[2020-08-18 06:29] mackowski commented on #125
@LoicPoullain do you want to contribute and make a small PR with this change?

[2020-08-18 06:40] mackowski commented on #421
I like the content from both @nikitastupin and @bigshebang CS is awesome, we need to merge them.
We will proceed with @bigshebang version of the CS and add content from #469 to it.

[2020-08-18 06:45] mackowski commented on #465
@Seppl2202 @jmbmxer @c0d3xpl0it @ragashree-mc Please review #470 :-)

[2020-08-18 06:51] mackowski commented on #471
Looks good for me.
@jmanico what is your opinion?
@northdpole do you want to create it?

[2020-08-18 16:35] jmbmxer commented on #465
Just submitted some feedback and additions. Can we get this into a draft format so we can begin iterating? What is the next step?

[2020-08-18 18:26] jmanico commented on #471
I like this entire plan. First, a cheatsheet that summarizes data protection schemes. And a new cheatsheet on tokenization strategies, which will be added to the data protection master cheatsheet when done. This all looks great to me.

[2020-08-19 07:27] ragashreeshekar commented on #465
Thanks @jmbmxer @Seppl2202  @c0d3xpl0it for your review and suggestions, it's been very helpful.
I have incorporated the information at hand to the cheatsheet, will continue to research on the remainder of them and update it as and when I have the information.

[2020-08-19 08:26] mackowski commented on #465
When you will be happy about draft we can add it to 'cheatsheets_draft' directory and start adding there smaller PR and iterate it and finally move it to regular CSs. After we close this initial PR and draft will be in 'cheatsheets_draft' you will be able to open PRs independently and work in parallel.

[2020-08-19 16:28] 1337shadow opened #472 "Update: Input Validation Cheat Sheet"
## What is missing or needs to be updated?

Currently, the input validation cheat sheet states the following:

- Data from all potentially untrusted sources should be subject to input validation, including not only Internet-facing web clients but also backend feeds over extranets, from suppliers, partners, vendors or regulators, each of which may be compromised on their own and start sending malfo

[2020-08-19 21:42] bigshebang commented on #421
@mackowski I have added content from @nikitastupin 's PR that I thought was relevant as well as incorporated all other existing feedback. There are a couple things I would appreciate some help with from someone who has more GraphQL experience or a testing setup handy; I left comments for these things. If nobody else gets to them I will at some set up my own test environment (just not sure when).

[2020-08-22 11:41] agitkaplan opened #473 "Update: XSS and DOM XSS CS"
[XSS](https://cheatsheetseries.owasp.org/cheatsheets/Cross_Site_Scripting_Prevention_Cheat_Sheet.html) and [DOM XSS](https://cheatsheetseries.owasp.org/cheatsheets/DOM_based_XSS_Prevention_Cheat_Sheet.html) cheatsheets Rule#5 advices to UrlEncode url query string parameters.
But i think 'Rule#5's on both cheatsheets don't explain clearly how it prevents from XSS and don't explain should we UrlEnco

[2020-08-24 23:54] KellyMarchewa opened #474 "Update: Authorization CS (Draft)"
## What is missing or needs to be updated?
Cheat sheet is in a draft state.

For background and prior discussion, see #394 and #401.

Apologies for the delay on getting any work done on this. I was not sure how to best approach reworking this CS (issue or PR, requesting feedback on partial or waiting until it is complete, etc), so I hope this is appropriate.

Below is the current version of the CS

[2020-08-26 01:35] jmanico commented on #474
Kelly,

I really like where this is going.

1) I'd love to see Policy Enforcement Points NOT being roles and being
feature names or similar be spelled out in great detail! :)

2) Established Libraries, Frameworks and Libraries RARELY do good access
control when complex rules are needed, please be careful here.

But I REALLY like where this is going! Thank you! I am eager to wipe out
what was there

[2020-08-26 08:17] northdpole commented on #471
yes, i'm a bit busy lately so it will take a while but i can work on this long-ish term

[2020-08-26 16:06] jmanico commented on #471
This looks like a very unique topic which is well presented. This is new to me but I say got for it. I’m really looking forward to reading this one!

If you need more detailed comments hit me up again, but I’m into it. :)

Aloha,
--
Jim Manico
@Manicode

[2020-08-27 11:03] vuolter commented on #143
I really don't think this was "done".

[2020-08-28 14:58] LoicPoullain commented on #125
Sure thing. I opened a PR here: #475. The change is pretty much the comment you posted in this issue @mackowski , so feel free to mark you as co-author of the commit if you wish.

[2020-08-28 15:03] LoicPoullain opened #476 "Dead links in PR template"
The [PR template file](https://github.com/OWASP/CheatSheetSeries/blob/master/.github/pull_request_template.md) seems to be outdated.

It looks like the repo README.md has been updated and the titles some links refer to do not exist anymore:
- https://github.com/OWASP/CheatSheetSeries#editor--validation-policy
- https://github.com/OWASP/CheatSheetSeries#conversion-rules

The Travis link returns a 4

[2020-08-31 09:31] mackowski commented on #125
Thanks for PR. I am closing the issue.

[2020-08-31 09:31] #125 closed

[2020-08-31 09:41] mackowski commented on #421
@bigshebang awesome thanks for update!

[2020-08-31 09:43] mackowski commented on #476
Thanks! Do you want to update the PR template? Yes we are using GH Actions for a while now.

[2020-08-31 09:46] mackowski commented on #473
Thanks @agitkaplan! Do you want to create PR for it?

[2020-08-31 09:47] mackowski commented on #474
@KellyMarchewa can you please create a PR from it? It will be much easier to review and discuss.

[2020-08-31 15:57] fgalves opened #477 "Update: typo in Password Storage Cheat Sheet"
## What is missing or needs to be updated?

I am reading the Password Storage Cheat Sheet and I think the sentence "Set a reasonable work factor for you system." could be wrong. The following image shows the right place:

![image](https://user-images.githubusercontent.com/59673283/91739660-a08e9580-eb88-11ea-8095-c2051cb74878.png)

Source: https://cheatsheetseries.owasp.org/cheatsheets/Password_St

[2020-09-01 07:07] 0x4d4e opened #479 "Update: TLS Cipher String Cheat Sheet"
## What is missing or needs to be updated?

I noticed several inconsistencies or outdated texts in the TLS cipher string cheat sheet.

---

=> TLS1.3 ?

---

ChaCha20-Poly1305 is included in all cipher strings?

---

In the bullet point list for OWASP Cipher String 'B':

Should probably be (same as for 'A'):

[2020-09-01 21:44] agitkaplan commented on #473
Sure @mackowski, I would like to contribute,
But before creating the PR I think it might be good idea we determine what we will do.
If I understand @jmanico correctly, URL encoding's main purpose is to keep the URL well formatted (to prevent an attacker from adding new parameters to the URL etc.)
And HTML attribute encoding is for ensuring that URL will stay between quotes of href attribute.
So in

[2020-09-02 00:38] jmanico commented on #473
Yes, this is exactly what I was saying. :)

Step 1

String theUrl = "/search?value=" +
Encode.forUriComponent(parameterValue) + "&order=1#top";

Step 2

<a href="<%= Encode.forHtmlAttribute(theUrl) %>">LINK</a>

On 9/1/20 11:44 AM, Agit KAPLAN wrote:

--
Jim Manico
Manicode Security
https://www.manicode.com

[2020-09-04 15:44] jmanico commented on #473
This is absolutely good advice. Do you care to submit a PR if not I will
eventually get to it! :)

Aloha, Jim

On 8/22/20 1:41 AM, Agit KAPLAN wrote:

--
Jim Manico
Manicode Security
https://www.manicode.com

[2020-09-04 19:15] agitkaplan commented on #473
@jmanico I want to submit a PR but I want it be good :) I searched a bit more about XSS and URL parameter security and I learned URL parameter changing security issue is called as "http parameter pollution" so this weekend I plan to read more about this topic too and prepare a nice PR at the end of this weekend! Thanks

[2020-09-05 19:45] agitkaplan commented on #473
@jmanico @mackowski i sent the pull request, please let me know if there is anything can be improved.

[2020-09-06 06:10] agitkaplan commented on #473
And I think it might be meaningful to mention, to support things we advice in Rule#5 I send an example to "XSS Filter Evasion Cheat Sheet" in this commit: https://github.com/OWASP/www-community/pull/271/commits/1e24378162c772dc1062b7cbf0692e7b4c24b32c?short_path=ea81a4c#diff-ea81a4c566d026a668e30d129ba4b7d6

[2020-09-07 06:07] b10s commented on #400
@ThunderSon , @jmanico sorry for long reply.
So far I see no changes but after re-reading the issue I'm not sure now should we add XSS mention or not.

Probably we can close this out without any changes

[2020-09-07 08:18] mackowski commented on #400
Ok, I will close it for now. Please open issue 2nd time if needed.

[2020-09-07 08:25] mackowski commented on #476
@LoicPoullain thank you for you help!

[2020-09-07 08:25] #476 closed

[2020-09-07 08:27] mackowski commented on #477
@fgalves can you please create PR for it?

[2020-09-07 08:29] mackowski commented on #479
@0x4d4e thanks, do you want to make a PR for it?
You can also review if this: https://github.com/OWASP/CheatSheetSeries/issues/72 issue can be closed after your changes.

[2020-09-07 08:42] mackowski commented on #472
@1337shadow frankly from what I see you mixed two things in here. Input Validation is not about storing values escaped - these are two, separate topics.
You should do input validation as soon as possible to eliminate sending malformed data. Escaping should be done as late as possible e.g. just before rendering HTML. I agree do not store escaped data in database.
Output escaping is not enough to pr

[2020-09-07 11:20] Sekku opened #483 "Update: Content Security Policy Cheat Sheet"
## What is missing or needs to be updated?

In the [Fetch Directives](https://cheatsheetseries.owasp.org/cheatsheets/Content_Security_Policy_Cheat_Sheet.html#fetch-directives) section, when talking about `child-src`, it says that according to MDN, `frame-src` and `worker-src` should be used instead "**as `child-src` will be deprecated in the coming versions**"

After checking MDN [here](https://de

[2020-09-07 12:19] mackowski commented on #483
@Sekku yes you are right because in the meantime child-src was "un-deprecated" https://github.com/w3c/webappsec-csp/commit/af505e8...
Do you want to create PR for it?

[2020-09-08 17:07] Sekku commented on #483
hey @mackowski , sure, I'll create it

[2020-09-10 13:18] 0x4d4e commented on #479
@mackowski I have opened a pull request and added my 2c to #72. The changes here do not affect #72.

[2020-09-10 14:13] mackowski commented on #479
@0x4d4e Thank you for your contribution

[2020-09-10 14:13] #479 closed

[2020-09-10 14:16] mackowski commented on #72
Mabey we should just link to the good resource? E.g. Mozilla one?

[2020-09-10 16:55] jmanico commented on #72
This is a really good point @mackowski we should either set advice that’s more long-term or point to another resource and suggest the use of their ciphers as opposed to cut and paste.

--
Jim Manico
@Manicode

[2020-09-15 10:03] seanclark84 opened #486 "Update: Password_Storage_Cheat_Sheet"
## What is missing or needs to be updated?

This page doesn't take into account unicode, particularly in it's recommendations on Bcrypt and password lengths.

Part of the OWASP ASVS states:

Verify that Unicode characters are permitted in passwords. A single Unicode code point is considered a character, so 12 emoji or 64 kanji characters should be valid and permitted.

However this cheat sheet mak

[2020-09-15 11:48] mackowski commented on #486
@seanclark84 good finding! Thank you!
The solution will be to count number of bytes instead of characters. You can see this in a lot of cases when where you paste to password field '💫' it will fill two characters (I checked it in number of pages like google, facebook, github).
Do you want to make a PR? We need to tell to count bytes and add a bolded note about unicode.

[2020-09-15 14:46] seanclark84 commented on #486
Hi @mackowski, thanks for your response however I think it's more complicated than that. What you see on the screen isn't the number bytes but the number of characters the browser is using to store this grapheme.

You see a similar thing in Java:
[code]

Unfortunately even though it looks like that solves it grapheme like `Z͑ͫ̓ͪ̂ͫ̽͏̴̙̤̞͉͚̯̞̠͍` come along that have multiple code points.
[Here's a l

[2020-09-15 18:11] mackowski commented on #486
@seanclark84 good point. Count number of bytes instead of characters is good from technical point of view but hard from UX perspective.
I will think and research it. Again, thanks for noticing this!
@rbsec do you want to express your thoughts on that?

[2020-09-15 18:33] jmanico commented on #486
You are spot on, and I would like to go back to giving pre-hashing more prominence and discuss unicode. Care to submit a PR?

--
Jim Manico
@Manicode

[2020-09-15 18:39] mackowski commented on #486
@jmanico of course :) Can I assign this issue to you?

[2020-09-15 20:12] rbsec commented on #486
@mackowski

How you choose to deal with this is of course up to you and and Jim, but to give some background, the bytes/characters issue is something that was considered when writing this CS.

Unicode introduces a lot of complicated issues around things like string lengths (unlike ASCII where characters === bytes). Part of the reason that the maximum password length of 64 is recommended (not 72) i

[2020-09-15 21:23] jmanico commented on #486
This is very helpful, thank you. I will not make any aggressive changes
without more discussion and understanding.

My concern is that the cheatsheet is getting very complex and is more
than a cheat. I am hoping we can simplify the current, rather complex,
advice - but will only do so after discussion.

Thank you Robin,

- Jim

On 9/15/20 10:12 AM, rbsec wrote:

--
Jim Manico
Manicode Security
htt

[2020-09-16 07:01] mackowski commented on #486
Thank you @rbsec for this comment, this is extremely helpful.
@seanclark84 I hope that Robin's comment will help you with your work before Jim will make some changes.
@jmanico let me know if you need any help (e.g. with git)

[2020-09-16 07:09] seanclark84 commented on #486
@rbsec - thank you, I really appreciate your input and that is some really good information. You're recommendation on the _least bad_ solution makes a lot of sense. It's good to help someone put things in perspective.

@mackowski @willc I appreciate your time and feedback as well. 😄

[2020-09-16 20:15] gilday opened #488 "Update: XML External Entity (XXE) Prevention Cheat Sheet"
The [JAXB > Java 8 and Up](https://cheatsheetseries.owasp.org/cheatsheets/XML_External_Entity_Prevention_Cheat_Sheet.html#java-8-and-up) sub-section on the XXE Cheat Sheet can be misleading. The advice in this section succinctly states

This statement is too broad. It does not account for all the nuances that can lead the `javax.xml.bind.Unmarshaller` to be vulnerable or used in a way that is vuln

[2020-09-16 23:42] jmanico commented on #488
This is fantastic; I’ll address this over the weekend.

--
Jim Manico
@Manicode

[2020-09-17 01:42] jmanico commented on #486
I’m hesitant to make any changes and upset previous authors.

--
Jim Manico
@Manicode

[2020-09-17 06:56] mackowski commented on #486
@jmanico if you see a spot to improve, make a PR, we will review it, we can ask some other people to review do not worry about creating PRs.

[2020-09-17 10:01] mackowski commented on #488
Fixed in #488

[2020-09-17 10:01] #488 closed

[2020-09-23 12:17] #472 closed

[2020-09-23 12:21] mackowski commented on #465
@ragashreeshekar @Seppl2202 @jmbmxer @c0d3xpl0it @ragashree-mc - are you still working on PRs to the draft CS? Do you need any help?

[2020-09-23 22:21] ddadon10 opened #492 "Update: Session_Management_Cheat_Sheet.md - SHA256 question."
Hello,

The session cheat sheet suggest:

And I don't understand why, Afaik a hashing function doesn't improve entropy.

Why suggest it? What this recommendation protect against?

I am sure there is a good reason but I would love to know more about it and if possible have it explained on the same document,

Thanks,

[2020-09-24 23:48] ben-elttam commented on #457
Good work. Is there a rule pack for these new OWASP rules?

[2020-09-25 06:08] salecharohit commented on #457
All OWASP Cheatseries related rules wil bel aggregated here
https://github.com/returntocorp/semgrep-rules/tree/develop/contrib/owasp/java

[2020-09-26 13:43] agitkaplan commented on #473
I have made some experiments on ASP.NET's Razor about untrusted data URL parameters, my findings are such:
**Example 1 - Only HTML/HTML attribute/JavaScript/CSS Encoding:** Safe against XSS, but vulnerable to HPP (Http Parameter Pollution)
**Example 2 - Only URL Encoding:** Very very likely safe against XSS, safe against HPP
**Example 3 - URL Encoding + (HTML/HTML attribute/JavaScript/CSS Encoding

[2020-09-29 13:06] mackowski commented on #465
Nice! Thank you for the update.

[2020-10-01 13:09] #473 closed

[2020-10-04 17:01] abhijit-hota commented on #477
Can I take it?

[2020-10-04 17:25] ragashreeshekar commented on #465
I have added content (PR 496 - https://github.com/OWASP/CheatSheetSeries/pull/496) for OPA and Service Mesh to the best of my understanding and exposure.
As far as I understand, we have already covered the "Managed Kubernetes Security Considerations" across the entirety of this CS. I request the review of the same and please let us know if we need to update with any changes. Thanks in advance.

[2020-10-09 03:17] bigshebang commented on #421
Close to being done, gonna push some commits in the next couple days. But I just wanted to leave a few items that need improvement in this CS in the future:
* The content under the "OS/Container Resource Management" section should basically be replaced by a link to the ["Availability" section](https://cheatsheetseries.owasp.org/cheatsheets/Web_Service_Security_Cheat_Sheet.html#availability) of the

[2020-10-09 17:14] sgorbaty opened #498 "Update: [XXE mitigation for SAXBuilder]"
## What is missing or needs to be updated?
Currently the recommendation is:
[code]
But what it is missing a subtle call that would prevent entities from being expanded.

## How should this be resolved?

[code]
So the full new recommendation would be:
[code]

[2020-10-12 18:33] bigshebang commented on #421
@mackowski the CS is all done! I would just like Paulo to give a quick review on one new section (I tagged him on the section I want them to review). Would be great if you or @ThunderSon could also give the whole thing a once over to make sure it's all nice and tidy and ready to go.

[2020-10-13 07:16] #477 closed

[2020-10-13 08:07] mackowski commented on #498
@sgorbaty are you sure about this? Can you please create a small PoC for this?

[2020-10-13 13:42] PauloASilva commented on #421
I've reviewed the new section and left a few suggestions based on what I have found in the wild.
I think the overall result is pretty good and it's ready to be merged.

@ErezYalon Maybe you'll be able to help reviewing the whole CS and provide some feedback.

@bigshebang Congrats for the hard and great work!

Cheers,
Paulo A. Silva

[2020-10-15 22:38] lwratten opened #501 "Citation Guidelines for OWASP Cheatsheets"
Hello,

I am writing a review on bioinformatics workflow managers and am including a brief chapter on security considerations that come with using workflow manager technology.

I would love to cite the Docker Security Cheatsheet in my paper, however am not able to find any citation guidelines for OWASP Cheatsheets.

If guidelines do not currently exist, it would be great to put a little section on

[2020-10-16 07:21] mackowski commented on #501
Hey @lwratten glad that you like the project and that you want to use it in your paper (especially that you want cite the Docker Security Cheatsheet since I am the original author).
We do not have any citation guidelines. If we can add them it would be awesome. Do you want to help us with this? Do you have any examples or requirements?

[2020-10-16 07:21] mackowski commented on #501
These are the living documents and can be changed anytime so we should include commit # for sure.

[2020-10-18 12:05] gbrindisi opened #504 "Update: Docker Security"
## What is missing or needs to be updated?
Hi,
I think [the cheatsheet](https://cheatsheetseries.owasp.org/cheatsheets/Docker_Security_Cheat_Sheet.html) would benefit from having a short chapter focused on the build phase. Specifically about best practices when writing Dockerfiles to minimize security risks.

Things like:

* use `COPY` instead of `ADD`
* how to to introduce packages to minimize su

[2020-10-19 03:09] lwratten commented on #501
hi @mackowski, you can make a Digital Object Identifier (DOI) either for each of the cheatsheets or the whole project if you like. There are sites like [Zenodo](https://help.zenodo.org/) make this process easy! If you did it on Zenodo you could link it with Github so each time you release a new version (or potentially commit), the DOI could be updated (I think this explained better in the link to

[2020-10-20 19:27] ErezYalon commented on #421
@PauloASilva I'm on it.

[2020-10-22 04:46] ragashreeshekar commented on #465
Greetings! Please let us know the next steps for the K8s security CS PR.

[2020-10-22 10:12] mackowski commented on #465
@ragashreeshekar apologies I missed that PR. I done review. I like it very much. Please review my comments in the PR.
@Seppl2202 @jmbmxer @c0d3xpl0it @ragashree-mc  - can you do review of the PR 496 - #496 before merge?

[2020-10-22 12:16] Seppl2202 commented on #465
@mackowski Sorry for beeing inactive the last weeks, I was on vacation. I will review the PR

[2020-10-23 11:00] ErezYalon commented on #421
After review, there are two comments:
- **Introspection** should have its own subsection that explains what it is and why it should be removed.
- What about **Prototype Pollution** (under Injection) for GraphQL implementations in JS that allow mutation?

[2020-10-23 14:01] bigshebang commented on #421
@ErezYalon

I have a one-liner that explains why Introspection is bad. I don't think this CS needs to go deeper than this:

I'll defer to @ThunderSon on that.

Is JS Prototype Pollution more common in GraphQL than other APIs? If so we can add a note about it. Erez and @PauloASilva would love your thoughts here as well as the actual content we can add.

[2020-10-23 16:50] ThunderSon commented on #421
1. This is a CS for best practices. The reader's outcome should be: "To improve my security stance, I need to do X because Y can happen. Why Y can happen? There is this Z reference for it to dig into it". The one liner presented mentions what the issue is.
For me, reading the bits about introspection gave me enough insight on what it is on a high level, the need for it, and that it shouldn't be av

[2020-10-24 19:00] c0r0n3r opened #508 "Update: Transport_Layer_Protection_Cheat_Sheet"
## What is missing or needs to be updated?

Existing Transport Layer Protection Cheat Sheet misses some notable online/offline SSL/TLS checkers, which would be useful information for the readers of that cheat sheet.

## How should this be resolved?

Added URLs of some notable online/offline SSL/TLS checkers.

[2020-10-26 10:27] PauloASilva commented on #421
I share the same vision than @ThunderSon: prototype pollution is more a library-thing.
In fact there are reported GraphQL issues related to prototype pollution but all I came up with were due to some vulnerable dependency (e.g. lodash).

Regarding Introspection, it is a controversial subject: some people argue that it can be used as "documentation". I don't share such vision and I am comfortable w

[2020-10-27 15:27] bigshebang commented on #421
Perfect! @ThunderSon I think we're all set here then. I'm eager to get this merged in 😄

[2020-10-27 17:10] mackowski commented on #504
Thanks for it. I reviewed the PR.

[2020-10-27 17:14] #508 closed

[2020-10-27 17:14] mackowski commented on #508
PR reviewed and merged! Thanks @c0r0n3r for your contriubtion

[2020-10-27 17:21] mackowski commented on #501
@lwratten apologies for late reply but I was remarkably busy lately. I like it.
@jmanico what do you think about it and about Zenodo? I think that this is a great idea.

[2020-10-28 14:40] mackowski commented on #498
@sgorbaty hey can you provide us a PoC for it? From what I found this change is not needed.

[2020-11-02 13:01] ThunderSon commented on #421
@mackowski this can be closed I believe

[2020-11-02 13:02] ThunderSon commented on #421
Fixed in #434

[2020-11-02 13:02] #421 closed

[2020-11-05 16:40] knadt commented on #39
@mackowski let's hope we can close it. I have created a PR https://github.com/OWASP/CheatSheetSeries/pull/513

[2020-11-06 13:36] a8nJ opened #515 "Stop encoding forward slashes"
https://cheatsheetseries.owasp.org/cheatsheets/Cross_Site_Scripting_Prevention_Cheat_Sheet.html

Some tools using OWASP recommendations, are producing unexpected results:

[code]

This isnt a valid application of HTML entity encoding. The resultant links end
up being the same as far as the browser is concerned, but it just an unneeded
usage of the encoding. The only characters that should be encod

[2020-11-06 15:34] mackowski commented on #515
Hey @a8nJ thank you for the issue. Can you tell more about these unexpected results and tools that caused that? What issue are you facing?

[2020-11-06 16:54] a8nJ commented on #515
According to OWASP, given this input:

[code]

this output should be created:

[code]

while encoding the forward slash is not harmful, its just wasteful. It would be
like encoding `March` as:

[code]

as you can see, its not wrong, its just wasteful. As mentioned above, forward
slash is not an HTML reserved character, so theres not point in encoding it. If
it were a risk to leave it unencoded, th

[2020-11-06 19:45] jmanico commented on #515
This is aggressive encoding but it’s still functionally correct. Could there be edge cases when an unencoded slash could cause harm?

--
Jim Manico
@Manicode

[2020-11-06 19:57] a8nJ commented on #515
Again no, and five major programming language vendors agree. However if I am wrong, I would be interested to know if. So if someone has an example of where an unencoded forward slash can cause an issue with HTML, let me know.

[2020-11-07 17:38] chris-morgan commented on #515
It’s funny to find this being discussed here and now, because I just now came to request this, after just now being reminded of this thing that has displeased me for many years, but I’ve never quite done anything about. (I think it was about five years ago that I last tried to figure out how to request a change, and failed; but now it’s here on GitHub.)

So, the OWASP entry says:

This text has be

[2020-11-07 20:15] mackowski commented on #515
I agree that this CS needs refactoring and refresh.
@chris-morgan do you want to make a PR for this CS and we will send it to the community for review?
Encoding forward slashes seems to be too much, but I will dig into it to check if there are some obscure edge-cases where this can be a problem - if I will find it we should document in in the text.

[2020-11-07 20:35] mackowski commented on #515
@planetlevel @oreoshake - I believe that you were the original authors of this CS? I would like to include you in the review.

[2020-11-07 21:33] jmanico commented on #515
I think these are all good fixes and reflects the "only encode the
minimum" strategy of https://owasp.org/www-project-java-encoder/

+1 and thank you all or taking on this work

- Jim

On 11/7/20 7:38 AM, Chris Morgan wrote:

--
Jim Manico
Manicode Security
https://www.manicode.com

[2020-11-08 01:42] planetlevel commented on #515
Thanks for (re)raising this. It’s been many years and we should revisit things much more often.

The basic philosophy here is that we should escape/encode all the characters that might be significant to a parser.  Generally you can look at the BNF to see which characters might be significant.  But beyond that, the specs are often misleading from a security point of view, because implementations ar

[2020-11-08 02:40] a8nJ commented on #515
According to the HTML5 specification, &sect; 8.3. Serializing HTML fragments:

https://w3.org/TR/html52/syntax.html#serializing-html-fragments

Note an identical direction is also provided in the HTML Living Standard
&sect; 13.3 Serializing HTML fragments:

https://html.spec.whatwg.org/multipage/parsing.html#serialising-html-fragments

No mention of forward slash.

[2020-11-08 02:57] planetlevel commented on #515
If I thought all the HTML parsers in the world follow the spec then I’d agree with you all.  Have you read Orange Tsai’s work on URL parser abuse?  URLs are far simpler than HTML.  Maybe you all didn’t live through the early days of web security when HTML parsers, even in major browsers, were wildly inconsistent.  If your philosophy is different here, I’d love to know why.

[2020-11-08 03:12] a8nJ commented on #515
In my original post I linked several current implementations by major programming language vendors. They unanimously dont encode the forward slash (as well as at least 5 of major languages that I can provide examples of).

In that case, I say the onus is on OWASP to provide justification why their "Cheat Sheet" needs to deviate from those implementations. From browsing the OWASP site, as well as t

[2020-11-08 06:21] mackowski commented on #515
Thank you @planetlevel for your input.
While I agree that we can have 'zillions of HTML parsers' I will check in any of the major browsers had issues with this in the last ~5 years. In general, there are many browser features, where are some bugs, that we rely on to be secure and most of the web apps does not try to defend against them (and for issues in Same-Origin Policy it would be impossible).

[2020-11-08 14:47] planetlevel commented on #515
I see no benefit to this change, and it undermines the simple “kinda elegant” (as @kkotowicz put it) approach of escaping all the characters that are part of delimiters in that language.  This philosophy is safe and works for any kind of interpreter without having to make hard and unknowable decisions.  Of course it overprotects sometimes if you only consider the list of exploits we know about.  I

[2020-11-08 15:06] a8nJ commented on #515
I agree. I think we should go further with it. We cant know if `a-z` could be exploitable in the future, so we should go ahead and recommend to encode those too. Cant be too careful.

[2020-11-08 15:17] planetlevel commented on #515
I think that’s excessive. I’m only talking about special characters used as delimiters in the spec. That’s where the parser writer is likely to screw up.  https://html.spec.whatwg.org/multipage/syntax.html#end-tags

[2020-11-08 15:51] a8nJ commented on #515
https://github.com/OWASP/CheatSheetSeries/pull/516

[2020-11-08 15:53] a8nJ commented on #515
I have done a Pull Request.

I had hoped if anyone disagreed with the issue, that they would have pointed to
hard examples of why making this change would be a bad idea. That hasnt
happened. So I am moving forward. If the maintainers want to make changes or
suggestion to the PR, please do.

[2020-11-08 21:03] ThunderSon commented on #515
My 2 cents on this, as this is a really critical point (as we know XSS is the most prevalent attack on the web surface).

This is mentioned in the rule `HTML Encode Before Inserting Untrusted Data into HTML Element Content`.
Removing it from this section is pretty dangerous, knowing that if we have a certain developer building additional elements into that page dynamically. This might actually pus

[2020-11-09 00:55] planetlevel commented on #515
Wait, what is the benefit to devs?

—Jeff

[2020-11-09 01:19] a8nJ commented on #515
I am unsubscribing to this thread, as some users continue to comment without bringing any hard examples or references to the table. If you need me, please At me, or comment in the Pull Request.

[2020-11-09 08:33] mackowski opened #517 "Refresh XSS Prevention Cheat Sheet"
It is clear that this CS needs refreshing after ~10 years. That does NOT mean that this CS is wrong or give bad advice - quite the opposite, this is very conservative and if you implement it you should be free from XSSes. But this CS in the current form does not make it simple because it does not leverage modern frameworks and browser features. Keep the spirit of the CS and I will leave current re

[2020-11-09 08:45] mackowski commented on #515
During the weekend I read all the comments here and on the twitter & slack. I also read XSS Prevention Cheat Sheet several times.

Based on that it is clear that this CS needs refreshing after ~10 years. That does NOT mean that this CS is wrong or give bad advice - quite the opposite, this is very conservative and if you implement it you should be free from XSSes. But this CS in the current form d

[2020-11-09 08:46] #515 closed

[2020-11-09 09:22] #39 closed

[2020-11-09 09:33] #504 closed

[2020-11-09 09:38] ragashreeshekar commented on #465
Thank you Team. Thanks @mackowski
@mackowski Now that the CS in merged and present in the CS drafts, request your thoughts on how we need to go about so it gets included in the CS folder. Please advise.

[2020-11-09 09:43] knadt commented on #39
Thanks, guys, I'm glad I could help! if there is anything else, just ping me.

[2020-11-09 12:11] chris-morgan commented on #515
… so, you’re just completely ignoring the fact that *not one shred of evidence* has been provided to support the idea that escaping slash has *any value whatsoever*, in the name of “playing it safe”? The very things planetlevel mentioned that *might* be *tangentially* related are completely inapplicable, quite apart from them being utterly specious!

I had had some hope at jmanico’s comment, and t

[2020-11-09 13:17] mackowski commented on #515
No one is ignoring anything. We merged the PR where we agreed that in current form encoding forward slashes is not good recommendation.
I created a new issue to refresh the whole CS - including all your suggestions as I think that they are great. I hope that refreshed CS will be also shorter and easier to use.
I proposed that a lot of current guidance can be moved into other section, with details

[2020-11-09 13:32] planetlevel commented on #515
I’m on board, btw.  I think the rationale of getting devs to use standard encoders outweighs my argument.

[2020-11-09 16:52] jmanico commented on #515
Jeff Williams is being VERY professional, is giving very solid arguments and frankly Jeff is a CEO who is taking time to give us his detailed comments. We’re lucky to have his time.

Jeff is behaving like a perfect OWASP professional and is maintaining professioniam in the face of others rudeness. So please, hear Jeff out. He was doing AppSec before all of us and we need to hear him out and end ru

[2020-11-09 17:26] planetlevel commented on #515
Thx Jim.

--Jeff

From: Jim Manico <notifications@github.com>
Date: Monday, November 9, 2020 at 11:53 AM
To: OWASP/CheatSheetSeries <CheatSheetSeries@noreply.github.com>
Cc: Jeff Williams <jeff.williams@contrastsecurity.com>, Mention <mention@noreply.github.com>
Subject: Re: [OWASP/CheatSheetSeries] Stop encoding forward slashes (#515)
Jeff Williams is being VERY professional, is giving very solid

[2020-11-09 18:31] jmanico commented on #515
I understand your frustration. I think this is a healthy debate! :)

way to be sure.

Hey now!

I think "encode every character" is a very reasonable perspective when
safety for generic-use encoders is your priority.

The OWASP Java Encoder took a different stance. We only encode the
minimum characters needed (based on Dr. Jeff Ichnowski's research) and
documented clearly the limited use cases whe

[2020-11-27 19:46] vishwaraj101 opened #520 "Update: [DOM based XSS Prevention Cheat Sheet]"
## What is missing or needs to be updated?

**Semgrep Rules**
Checkout the dom xss variant to identify/investigate for DOM XSS vulnerabilities in javascript [semgrep rule](https://semgrep.dev/s/vishwaraj101:location_hash_dom_xss)

## How should this be resolved?

[2020-12-03 15:15] nemobis opened #521 "License in footer"
https://cheatsheetseries.owasp.org/ footer states

But it's actually a cc-by-sa license:
https://github.com/OWASP/CheatSheetSeries/blob/master/LICENSE.md

I recommend to use the proper license marking in the footer as well:
https://wiki.creativecommons.org/wiki/Marking_your_work_with_a_CC_license

[2020-12-11 04:08] selimb commented on #375
:+1: for this. It looks like there's currently some sort of crusade against `localStorage`. An insane amount of tutorials/articles online (don't want to point fingers) will go on about how insecure it is (and often refer to OWASP), claim cookies are the savior, and then propose a half-baked CSRF protection mechanism and call it a day. Sure, an XSS attack can't physically retrieve the cookie, but a

[2020-12-11 14:51] selimb commented on #375
I'm relatively new to this field, but would be happy to submit a PR to get the ball rolling. In the meantime, would it make sense to simply remove some misleading bullets from the Local Storage section, specifically:

[2020-12-11 18:20] jmanico commented on #375
This is a good start. :)

On 12/11/20 4:51 AM, Selim Belhaouane wrote:

--
Jim Manico
Manicode Security
https://www.manicode.com

[2020-12-11 18:59] Martyx00 commented on #375
I am afraid that I am a bit to radical to lead on with this change as I would tend to also touch the questionable usefulness of HttpOnly flag on cookies as this countermeasure was derived from an incomplete understanding of session hijacking via XSS. Perhaps the approach suggested by @selimb is the least painful way to go :)

[2020-12-11 19:22] jmanico commented on #375
If you want a store sensitive data in a browser so JavaScript cannot access it you only have three options HTTP only cookies closures and isolating data into web workers.

And there’s been ways to abuse closures and web workers.

So certainly cookies can still be abused through XSS because of their automatic behavior but Httponly cookies are legitimate way to avoid theft of sensitive data - it has

[2020-12-11 19:39] selimb commented on #375
I think it'd also be very helpful to clarify what is meant by "sensitive data". Like @Martyx00, I don't think sessions/tokens (unless tokens themselves contain such data) should be considered "sensitive data", and assume (correct me if I'm wrong) @jmanico you weren't referring to them as such? I do believe that should be mentioned if the term "sensitive data" is to be used anywhere, as a lot of co

[2020-12-11 19:47] jmanico commented on #375
via GDPR and California privacy law, a session id can be used to
uniquely identify a user making it, legally, sensitive data.

Something as simple as a grocery bill is EXTRA sensitive data because it
can be used to extrapolate religion or health issues.

But yes, sensitive data in a complex issue. I would point to other OWASP
docs that talk about data classification.

- Jim

On 12/11/20 9:39 AM, S

[2020-12-11 19:53] Martyx00 commented on #375
@jmanico and that is the problem. We can run around in circles forever as in case of XSS you dont need the session ID to identify the user.  But more opinions we get, the better chance we reach some conćlusion.

[2020-12-11 19:54] jmanico commented on #375
I like opinions! Bring it on! I unfortunately also like circles! :) I
have had this conversation 1000X and always find new nuggets of info
along the way.

- Jim

On 12/11/20 9:53 AM, Martyx00 wrote:

--
Jim Manico
Manicode Security
https://www.manicode.com

[2020-12-11 20:08] selimb commented on #375
That is very interesting indeed. This is really outside of my expertise, but to me leaking an opaque session ID (setting aside JWTs) *with an expiry date* is so insignificant compared to:

- making arbitrary requests on behalf of the user, as if it came from their own machine (which is effectively [Face/Off](https://en.wikipedia.org/wiki/Face/Off) 🤣 ).
- most of the time (speculation?) the above w

[2020-12-14 04:31] jmanico commented on #375
expiry date/ is so insignificant compared to:

We're a touch off topic; I'm just telling you about privacy laws, which
can be quite counter-intuitive. Even after the session expires,  if a
session id can still be used to uniquely identify a user - its always
sensitive. like an IP address is sensitive because of its ability to
identify individuals. It is not at all insignificant if you want to do
I

[2020-12-14 20:56] selimb commented on #375
@jmanico This is the first time I hear what seems like a valid argument against `localStorage`, so I'm not sure it's *that* off-topic.
I'm still not really sure how a session id can be used to identify a user unless you also have access to the server -- in which case you've got much bigger problems, no? I guess I'm not sure what "identify" means in this context.

And again, how is this even compar

[2021-01-04 09:28] mackowski commented on #465
@ragashreeshekar apologies for late replay! If you think that this is ready please make a PR that moves this CS from draft to regular folder. We should release it ASAP ;-)

[2021-01-04 11:26] ragashreeshekar commented on #465
Thanks @mackowski and the entire community for all your guidance and reviews.
I have moved it to cheatsheets folder pls find the same in PR #525 https://github.com/OWASP/CheatSheetSeries/pull/525.
Please take it forward.
Regards, Raga

[2021-01-07 14:25] mackowski commented on #465
The CS should be live now :) Thank you all!

[2021-01-07 14:25] #465 closed

[2021-01-15 23:18] paras-malhotra opened #527 "New CS proposal: [Laravel Cheatsheet]"
## What is the proposed Cheat Sheet about?
The Cheat Sheet would be about security of Laravel applications. Ruby on Rails has its own cheatsheet as well, and given that Laravel is as popular as Rails, I think it makes sense for Laravel to have its own cheat sheet as well.

## What security issues are commonly encountered related to this area?
1. SQL Injection
2. Mass Assignment
3. Cross-site Scrip

[2021-01-15 23:19] jmanico commented on #527
Absolutely yes

On 1/15/21 1:19 PM, Paras Malhotra wrote:

--
Jim Manico
Manicode Security
https://www.manicode.com

[2021-01-19 18:07] paras-malhotra commented on #527
Thanks @jmanico, I've started working on this. I'll send across a PR sometime next week! 🚀

[2021-01-25 09:41] mackowski commented on #521
@nemobis can you make a small PR to address this issue?

[2021-01-25 09:43] mackowski commented on #520
@vishwaraj101 please make a PR with this rule and short description :)

[2021-01-30 07:28] vishwaraj101 commented on #520
Thank you for the response please find the pull request [here](https://github.com/vishwaraj101/CheatSheetSeries/pull/1 ) let me know if you need any further info.

[2021-02-03 17:47] #527 closed

[2021-02-03 18:49] lordlabuckdas opened #534 "Update: CSRF Prevention"
## What is missing or needs to be updated?

In the *steps for the proper implementation of the HMAC based CSRF protection* under the **HMAC Based Token Pattern** section of the CSRF Prevention Cheat Sheet, the [website](https://cheatsheetseries.owasp.org/cheatsheets/Cross-Site_Request_Forgery_Prevention_Cheat_Sheet.html#hmac-based-token-pattern) is not rendering the markdown numbering properly (th

[2021-02-03 23:56] jmanico commented on #520
This looks good but can you submit the PR to our project? This is your
private branch.

- Jim

On 1/29/21 9:28 PM, Vishwaraj Bhattrai wrote:

--
Jim Manico
Manicode Security
https://www.manicode.com

[2021-02-04 08:01] vishwaraj101 commented on #520
Thanks Jim , I have updated here https://github.com/OWASP/CheatSheetSeries/pull/535

[2021-02-04 09:41] mackowski commented on #534
@lordlabuckdas thanks for this issue. I will tro to fix it in #536

[2021-02-04 18:33] ronperris opened #537 "Update: Node.js Security Cheat Sheet"
## What is missing or needs to be updated?
The [Set request size limits](https://cheatsheetseries.owasp.org/cheatsheets/Nodejs_Security_Cheat_Sheet.html#set-request-size-limits) code example is out of date. Things have changed in express since it was written, the current example generates warnings and throws errors with the current version of express (4.17.1).

[code]

1. The `multipart` method no

[2021-02-04 18:55] jmanico commented on #537
Can you provide both solutions and explain the tradeoffs in a PR? I think these both look reasonable and may help others.

[2021-02-05 17:59] mackowski commented on #537
Implemented in https://github.com/OWASP/CheatSheetSeries/pull/538

[2021-02-05 17:59] #537 closed

[2021-02-05 18:17] mackowski commented on #534
Fixed in https://github.com/OWASP/CheatSheetSeries/pull/536

[2021-02-05 18:17] #534 closed

[2021-02-11 08:30] #521 closed

[2021-02-11 08:31] mackowski commented on #520
PR merged

[2021-02-11 08:31] #520 closed

[2021-02-17 07:56] kinggezzy311 opened #541 "New CS proposal: [PUT_TARGET_CS_NAME_HERE]"
## What is the proposed Cheat Sheet about?

## What security issues are commonly encountered related to this area?

## What is the objective of the Cheat Sheet?

## What other resources exist in this area?

[2021-02-17 09:14] #541 closed

[2021-02-18 22:02] nemobis commented on #521
mackowski, 25/01/21 11:42:

Yes I can, a bit swamped right now but will try during the weekend.

[2021-02-19 13:21] mackowski commented on #521
@nemobis this issue is already fixed and closed

[2021-02-20 16:10] ronperris opened #543 "New CS proposal: React Security CheatSheet"
## What is the proposed Cheat Sheet about?
Building secure react applications by avoiding common vulnerabilities.

## What security issues are commonly encountered related to this area?
CWE-79: Improper Neutralization of Input During Web Page Generation ('Cross-site Scripting')
CWE-602: Client-Side Enforcement of Server-Side Security
CWE-603: Use of Client-Side Authentication
CWE-22: Improper Limi

[2021-02-20 16:42] mackowski commented on #543
@ronperris awesome idea! I am looking forward to see your PR on this.
Please review XSS and DOM XSS cheatsheets and cross-reference this new CS from them.

[2021-02-20 22:22] jmanico commented on #543
+10000

--
Jim Manico
@Manicode
Secure Coding Education
+1 (808) 652-3805

[2021-02-22 13:32] mattt opened #546 "Update: Input Validation"
## What is missing or needs to be updated?

The section "Validating free-form Unicode text" describes the following as one of the primary means of validating free-form text input:

## How should this be resolved?

It would be helpful to include links to the following [Unicode technical reports](https://www.unicode.org/reports/) as external references:

- [UAX 31: Unicode Identifier and Pattern Syn

[2021-02-22 14:40] mackowski commented on #546
@mattt good idea. Do you want to make a PR with these changes?

[2021-02-22 17:53] mattt commented on #546
@mackowski Sure thing! I'll have that ready for y'all to review soon.

[2021-02-23 09:37] mackowski opened #549 "Bump both node and GitHub Actions dependencies to latest versions."
I needed to revert https://github.com/OWASP/CheatSheetSeries/pull/545 because publishing webpage failed https://github.com/OWASP/CheatSheetSeries/actions/runs/589189035

[2021-02-23 14:36] Fdawgs commented on #549
Hi @mackowski, I think it was the bump of `actions/checkout` from v1 to v2 that caused this, sorry!

I'll take a second pass at it and test the build on own fork. 😄

[2021-03-02 10:00] mackowski commented on #300
Do we feel that this CS and this PR https://github.com/OWASP/CheatSheetSeries/pull/440 are still needed when we have
https://www.threatmodelingmanifesto.org/? From what I see the spirit of the changes in this cheat sheet are VERY similar to what is already documented in threat modeling manifesto.
We can refactor this cheat sheet to be a list of a good resources about threat modeling and to show di

[2021-03-02 10:01] mackowski commented on #549
No worries :) I will merge the new PR and we will see :) Thank you for your help!

[2021-03-02 10:01] #549 closed

[2021-03-15 18:36] glb opened #556 "Update: replace whitelist / blacklist with allowlist / denylist"
## What is missing or needs to be updated?

Many Cheat Sheets use the terms `whitelist` (30) and `blacklist` (13), which equate `white` with `good` and `black` with `bad`.

## How should this be resolved?

Replace occurrences of `whitelist` with `allow list` and `blacklist` with `deny list` or `block list`. These terms are clearer and do not equate colour with value.

I'm happy to contribute one P

[2021-03-15 18:54] jmanico commented on #556
Please, please do this. I will commit your PR's immediately if you do
this work.

I am grateful and am totally with you on this and am ready to merge!

Aloha, Jim

On 3/15/21 2:37 PM, Geoff Baskwill wrote:

--
Jim Manico
Manicode Security
https://www.manicode.com

[2021-03-15 19:09] glb commented on #556
Thanks @jmanico ! Would you prefer one PR for all or one PR for each? I'm going through these manually to make sure that the sense is maintained, but hope to have a first pass complete before too long.

[2021-03-15 19:11] jmanico commented on #556
Let's PR as you so since YUGE Pr's can conflict. I'm around all data
today so I'll merge as you go.

So one per CS ok with you?

- Jim

On 3/15/21 3:09 PM, Geoff Baskwill wrote:

--
Jim Manico
Manicode Security
https://www.manicode.com

[2021-03-15 20:26] glb commented on #556
@jmanico One thing has just occurred to me: taking this one cheat sheet at a time will result in 38 relatively-tiny "chore(cheatsheets): update language" commits / PRs.

I've got all the changes split up, pushed to separate branches, and have 38 tabs open ready to open the PRs. Do you still want me to do them separately?

[2021-03-15 20:28] jmanico commented on #556
We can do it any way that suits you, just go with it as you wish and
I'll merge immediately if it happens today.

- Jim

On 3/15/21 4:26 PM, Geoff Baskwill wrote:

[2021-03-15 21:27] glb commented on #556
Looks like there were some lint / build errors, which is surprising and yet also not. I may have time to review them tomorrow.

[2021-03-15 21:29] jmanico commented on #556
I'll still merge them all, we can fix that over the next few days. I appreciate your continued support here.

[2021-03-16 00:32] glb commented on #556
I went through all of the failures, but unfortunately there wasn't much information there; all I got was literally "this check failed" in every single instance.

![image](https://user-images.githubusercontent.com/372794/111238098-c2071a00-85cc-11eb-8d6c-6fb3b609e3e1.png)

Not having more detail is going to make it more difficult to figure out what went wrong; my next step will be to dig into the w

[2021-03-16 00:52] jmanico commented on #556
I'm not sure either. Calling @mackowski :)

[2021-03-16 13:42] glb commented on #556
Looks like at least part of the problem is that `markdown-link-check` is not installed by `package.json`. This and the other workflow / build issues are definitely separate from the language fix and should likely be addressed by someone who knows what they're doing here.

Closing this issue as the language change has been done. Thanks for your quick turnaround on the PRs!

[2021-03-16 13:42] #556 closed

[2021-03-16 21:26] jmanico opened #595 "Update: Password Storage Cheatsheet"
I would like to give clear guidance on how to tune Argon2i. I am inclined to go with https://tools.ietf.org/html/draft-ietf-kitten-password-storage-03#section-5.1.

Any thoughts here?

[2021-03-17 08:03] mackowski commented on #595
Awesome idea @jmanico go for it :)

[2021-03-17 10:51] jmanico commented on #595
I talking to a few of the worlds top experts on this topic - as soon as I am done with my research I'll make this happen!

[2021-03-19 00:32] Sc00bz commented on #595
That is for Argon2id and Argon2i needs `t≥3` because of an attack. Also https://password-hashing.net/argon2-specs.pdf has not been updated to Argon2 version 1.3.

The formulas to get <10 kH/s on an RTX 3080:

[code]

`74219` comes from RTX 3080's bandwidth of 760 GB/s (`74,218.75 = 760,000,000,000/10,000/1024`).

`3*t-1` is how many times the memory is read or written. Twice on the first round (wr

[2021-03-19 00:39] jmanico commented on #595
This is immensely helpful. I'm going to integrate your suggestions immediate and reference the PR for your review. Thank you!

[2021-03-19 00:57] Sc00bz opened #599 "Update: Password_Storage_Cheat_Sheet"
## What is missing or needs to be updated?
["and not revealing that the application uses bcrypt."](https://github.com/OWASP/CheatSheetSeries/blob/195ecfb2d8db0700f78a5dce4cd500a69d7219b8/cheatsheets/Password_Storage_Cheat_Sheet.md#input-limits) This is opposite of what should be done. Sites should say the use bcrypt. Also limiting the password to 64 characters will not prevent someone from knowing

[2021-03-19 00:59] jmanico commented on #595
@Sc00bz I integrated your comments into the cheatsheet, if you want anything changed or added please let me know. I made minimal changes and can add more if you feel it's valuable.

https://github.com/OWASP/CheatSheetSeries/commit/649429bdaab39019f5a7fc3e30487557644990aa

[2021-03-19 00:59] #595 closed

[2021-03-19 01:04] jmanico commented on #599
The change is in and committed, 7 minutes after your submission I may add. If you want any changes let me know!

https://github.com/OWASP/CheatSheetSeries/commit/e818a064af537a43734e000f36b4ed3e0cdcca10

[2021-03-19 01:04] #599 closed

[2021-03-19 01:28] jmanico commented on #595
@Sc00bz would you like me to cite you as a reference in the document? I want to make sure you are getting proper credit. What would you like?

[2021-03-19 03:06] Sc00bz commented on #599
WOW! It took me way longer to even notice it got fixed.

[2021-03-19 03:08] jmanico commented on #599
I'm going through the entire document right now with Grammerly, if you want anything else changed it will happen fast. :)

1000X thank you @Sc00bz ! Now you can you this document to get the IETF in line! 😉

[2021-03-19 03:28] Sc00bz commented on #599
I plan to.

Also I noticed the change from:
`https://tools.ietf.org/html/draft- **ietf** -kitten-password-storage- **03** #section-4.2`
to
`https://tools.ietf.org/html/draft- **whited** -kitten-password-storage- **04** #section-4.2`

But that's an older version. Also `draft-ietf-kitten-password-storage-04` was posted today.

[2021-03-19 03:39] jmanico commented on #599
FIXED!

[2021-03-20 00:28] Sc00bz opened #601 "Update: Password_Storage_Cheat_Sheet"
## What is missing or needs to be updated?
It is unclear which is the key and which is the data in the HMAC: ["`bcrypt(base64(hmac-sha256($password, $pepper)), $salt, $cost)`"](https://github.com/OWASP/CheatSheetSeries/blob/97f89d29ff58da101654d3d4df28b53a513a65c5/cheatsheets/Password_Storage_Cheat_Sheet.md#pre-hashing-passwords)

## How should this be resolved?
It should be "`bcrypt(base64(hmac-s

[2021-03-20 00:47] jmanico commented on #601
I addressed this at https://github.com/OWASP/CheatSheetSeries/commit/544ec25e65cd38acf526406c840da3618a895603 and if you want anything else added please just comment here, email me, tweet - as you like - and I'll get it added in

[2021-03-20 00:47] #601 closed

[2021-03-20 00:49] jmanico commented on #486
We've made significant changes and no longer recommend pre-hashing bcrypt (and instead suggest limiting password size to 64 character or less which is fine). I am closing this out but please re-open a new issue if you think the current incarnation of the cheatsheet needs changes.

[2021-03-20 00:49] #486 closed

[2021-03-20 00:51] jmanico commented on #307
As for risk based Auth this is addressed in NIST 800-63 AAL levels (1,2 and 3). Any other thoughts on this and are your concerns still valid?

[2021-03-20 00:55] jmanico commented on #498
This defense is to stop entity expansion (billion laughs attack) and not XXE but it's legit and I committed this anyways.

c74b60d6

[2021-03-20 00:55] #498 closed

[2021-03-20 01:02] jmanico commented on #492
Hey @ddadon10 this is a HUGE mistake and I'm worried that this nonsense even got in the cheatsheet in the first place. I made a fix here. 36d7b28d and am closing out this issue. I'm about to go over all cheatsheets and remove obvious mistakes like this directly to master. If you see any other mistakes please let me know jim@owasp.org and thank you!

[2021-03-20 01:02] #492 closed

[2021-03-20 01:04] jmanico commented on #546
We're ready for a PR or just let us know via text here (and just provide a little more detail) and I'll take care of it for you. Thanks @mattt !!!

[2021-03-20 01:07] jmanico commented on #501
These are indeed living documents and are not standards nor are we a formal body. You are best off to cite the commit #. I do not intend to use a DIO but please re-open this if you want to do the work to make a DOI happen as a volunteer.

Respectfully, Jim

[2021-03-20 01:07] #501 closed

[2021-03-20 01:10] jmanico commented on #483
This is fixed for @Sekku 1afa472c - thank you!

[2021-03-20 01:10] #483 closed

[2021-03-20 01:35] jmanico commented on #375
The original poster is 100% correct and I removed section he correctly described as faulty.

741d55b7

[2021-03-20 01:35] #375 closed

[2021-03-20 01:44] jmanico commented on #301
added a reference to RegExDOS 08a7de5d

[2021-03-20 01:44] #301 closed

[2021-03-20 01:56] jmanico commented on #72
Mozilla's resource is updated frequently and is a better resource then we are. I removed most of the CS content and pointed to Mozilla who's tool surpasses our advice by a wide margin. See update b832f649

[2021-03-20 01:56] #72 closed

[2021-03-20 11:57] ddadon10 commented on #492
Thank you!

[2021-03-22 01:16] Sc00bz commented on #601
["Consider raising the work factor to 12 or more if performance considerations do not negatively impact your system."](https://github.com/OWASP/CheatSheetSeries/commit/d99d65c5c31f17df991874a664aaa97bbcbafc43) If you are going to add this for bcrypt it should be added to the other algorithms to match the strength of bcrypt cost 12:

[code]

[2021-03-22 01:32] Sc00bz commented on #601
I should mention that back when it said ["The default work factor for Bcrypt is 10, and this should generally be raised to 12 unless operating on older or lower-powered systems."](https://github.com/OWASP/CheatSheetSeries/blob/1bdcbd012e28ad7a5ef1609d0a3d8ee2f91fec7e/cheatsheets/Password_Storage_Cheat_Sheet.md#bcrypt) that IETF draft used it to say use cost 12. It now says basically the same thing

[2021-03-22 11:58] jmanico commented on #601
I am currently using:

The minimum work factor for bcrypt should be 10. Consider raising the
work factor to 12 or more if performance considerations do not
negatively impact your system.

Would you like me to revert back to

I should mention that back when it said "The default work factor for
Bcrypt is 10, and this should generally be raised to 12 unless operating
on older or lower-powered systems

[2021-03-22 12:10] jmanico opened #603 "Update: Password Storage Cheatsheet"
Updating bcrypt, argon2id and PBKDF2 settings with both min and max values for more nuance.

[2021-03-22 12:17] jmanico commented on #601
Here is the change I just made considering your work below.

I need to remove my foolish double-negatives and will so in a future
push. (i.e., "do not negatively" needs to go, my bad)

https://github.com/OWASP/CheatSheetSeries/commit/0871f1d70a3365e0dae02ebeea8b4569dce6fd5a

I am moving away from direct commits to main and am now using the PR
process properly.

If you want anything changed let me

[2021-03-22 12:26] jmanico commented on #601
Can I get a "max" value for scrypt as well, Steve?

[2021-03-22 14:53] ritesh opened #608 "Update: Error_Handling_Cheat_Sheet.html"
## What is missing or needs to be updated?

Currently the cheat sheet recommends that when an application throws an internal server error (5xx error) the application should map it to 200 response instead. I agree that applications MUST NOT leak stack traces, or other information as part of the error, but mapping a 5xx response to a 200 provides marginal security benefit while breaking HTTP convent

[2021-03-22 14:55] jmanico commented on #608
This is VERY well thought out and I would love to see a PR from you!

[2021-03-22 22:17] ritesh commented on #608
First cut done, would love feedback.

[2021-03-23 03:10] Sc00bz commented on #601
I gave those numbers so you would notice how crazy high bcrypt cost 12 is, not to add them to the others. But I guess if people see consider bcrypt cost 12 along with the others, then some might figure it out. Just let me be clear I don't think any should have these. Also you should benchmark the defender speeds.

[code]

[2021-03-23 12:31] jmanico commented on #601
Crap. I hear you. I'll make this change later today. I don't do subtle
well, I often need the hammer. :)

[2021-03-24 05:27] ragashreeshekar opened #611 "New CS proposal: Infrastructure as Code"
## What is the proposed Cheat Sheet about?
Infrastructure as Code cheat sheet is about developing, maintaining and utilizing infrastructure as code concepts by Terraform, Ansible, Chef, Puppet etc. in a secure manner. This is intended to provide a better view on integrating security throughout the DevOps lifecycle to enable the shift-left mode.

## What security issues are commonly encountered rel

[2021-03-24 09:00] mackowski commented on #611
@ragashreeshekar awesome idea, please submit PR with draft when you will be ready

[2021-03-24 13:55] jmanico commented on #603
Max settings are not realistic so I'll drop those today, otherwise this is done

[2021-03-24 13:55] #603 closed

[2021-03-24 14:20] jmanico commented on #601
I dropped the bcrypt 12 suggestion and the other "maximums" I surrender to reality

[2021-03-30 09:47] omerlh opened #618 "Update: Kubernetes - distroless part"
Distroless images
Restricting what's in your runtime container to precisely what's necessary for your app is a best practice employed by Google and other tech giants that have used containers in production for many years. It improves the signal to noise of scanners (e.g. CVE) and reduces the burden of establishing provenance to just what you need.

For more information on ditroless images, refer t

[2021-03-30 10:23] raesene opened #619 "Update: Kubernetes Cheat Sheet"
## What is missing or needs to be updated?
There's some sections in the cheat sheet, where the content looks very close to other, existing documentation. Where the cheat sheet is quoting an existing source, it would make sense to have an explicit mention that this is a quote, so the source of the information is clear.

As an example the wording in the API Authentication section of the cheat sheet

[2021-03-30 12:34] jmanico commented on #619
Thank you fo this and you are right. Do you have time to give us a PR to fix some of this? Your work will be merged in very quickly if you do. Thank you!

[2021-03-30 12:35] jmanico commented on #618
Thank you Omer! This seems fairly straight forward to fix. Do you have time to give us a PR? I'll get it merged fast. Thank you!

[2021-03-30 14:46] julepka opened #620 "Update: Pinning Cheat Sheet"
## What is missing or needs to be updated?
The [iOS part of the Pinning Cheat Sheet](https://cheatsheetseries.owasp.org/cheatsheets/Pinning_Cheat_Sheet.html#ios) is missing information about the new native way to implement pinning using `Info.plist`. Official Apple doc: https://developer.apple.com/news/?id=g9ejcf8y

## How should this be resolved?
Mention a new way to pin CA public key and add a l

[2021-03-30 14:58] julepka commented on #461
Can I help with this item? I can help to migrate the existing one from wiki. What should be done to consider it finished and not a draft?

[2021-03-30 15:04] jmanico commented on #461
We just need the original one complete and reviewed by myself and @mackowski - when it's final and you are ready for a review let us know!

[2021-03-30 16:02] #620 closed

[2021-03-30 16:03] mackowski commented on #620
Thanks @julepka

[2021-03-30 23:04] jmanico commented on #619
Very well done good sir, what a fantastic addition.

[2021-03-31 16:07] lirantal opened #623 "Collaborating on security cheat sheets"
Hi folks,

Firstly, wanted to chime in and say how great the work that has been put here on curating the content has been, and I often hear and give references to the repo as a knowledge base and reference.

I'm a developer advocate at Snyk, as well as wearing other hats such as an OWASP project lead, contributor, and other appsec community activities that I'm involved with.

For this issue, I'm r

[2021-03-31 17:16] jmanico commented on #623
I totally support this!

[2021-04-02 02:20] #141 closed

[2021-04-04 10:26] mufambisi commented on #385
@hazanasec Hey there. What became of this? This CS is something i am particularly interested in.

[2021-04-04 12:41] lirantal commented on #623
Sounds great.
I'm checking internally too with regards to CC4 in terms of if we can do that on the Snyk blog from legal perspectives and if so we're good to go and can start brainstorming on some of the work.

[2021-04-04 15:33] #618 closed

[2021-04-05 18:51] lirantal commented on #623
Ok so, no issues in terms of putting OWASP related content on the Snyk blog, although I'm not seeing any plans that we'll end up doing that (as in, copy&pasting content and just publishing it).

However, I would like to figure out what work we can jointly come up with and work on.
Will close the issue for now as we ideate and will monitor the repo from now to track what would be good for us to wor

[2021-04-05 20:13] jmanico commented on #623
Liran,

I'm not a Node.js expert, but I'm good at organizing info and editing.
I'll be glad to work with you on this (or any other content you want to
donate) to get it into cheatsheet form.  Shall we start with
https://snyk.io/blog/10-best-practices-to-containerize-nodejs-web-applications-with-docker/
<https://snyk.io/blog/10-best-practices-to-containerize-nodejs-web-applications-with-docker/>
?

[2021-04-06 06:57] lirantal commented on #623
Yep, I think that's a good one to start with!
There's also a Java version of this with Brian Vermeer did, also on the blog. Happy to start on either of them :-)

[2021-04-07 14:24] jmanico opened #630 "Update: Choosing and Using Security Questions"
Security questions are being heavily discouraged by SP800-63 so I'd like to add a warning at the top of this cheatsheet not to use security questions in a way that is more firm and references SP800-63.

[2021-04-07 15:35] mackowski commented on #630
100% agree!

[2021-04-08 13:43] jmanico commented on #623
I'll start working on this Friday if that works for you.

- Jim

[2021-04-10 12:05] wonda-tea-coffee opened #631 "Update: Ruby_on_Rails_Cheat_Sheet"
## What is missing or needs to be updated?
Danger Patterns in Cross-site Scripting (XSS)

## How should this be resolved?

[code]

[2021-04-10 20:17] jmanico commented on #631
this was addressed in pr https://github.com/OWASP/CheatSheetSeries/pull/632

[2021-04-10 20:17] #631 closed

[2021-04-10 20:27] jmanico commented on #630
addressed in https://github.com/OWASP/CheatSheetSeries/pull/633

[2021-04-10 20:27] #630 closed

[2021-04-11 02:36] wonda-tea-coffee opened #635 "Update: Content_Security_Policy_Cheat_Sheet"
## What is missing or needs to be updated?
Example code for Restricting Inline Scripts

## How should this be resolved?

The syntax is broken and should be modified as follows

[code]

[2021-04-11 12:33] jmanico commented on #635
Good catch, thank you. I also changed this to an actual attack. Is this acceptable? If not please re-open.

https://github.com/OWASP/CheatSheetSeries/commit/6ffcbc5f3559b83d6cabf3a685d9a8aad22f0910

[2021-04-11 12:33] #635 closed

[2021-04-12 11:33] jmanico commented on #623
I’m late but give me a few days and I’ll take a first stab at this cheatsheet for your review.

[2021-04-13 16:34] ragashreeshekar commented on #611
Thanks @mackowski Initial draft is ready, there are certain checks that need to be done at my organization. Will post it once it is completed.

[2021-04-13 16:40] mackowski commented on #611
@ragashreeshekar good to hear that! @jmanico be ready for review, do not merge it too quickly as this will be brand new CS but if, after our first review, we will be able to engage more people to draft review we can create something that is needed in the community.

[2021-04-15 15:49] jmanico commented on #611
You got it @mackowski I'll review this carefully and will not be quick to merge.

[2021-04-17 08:52] alex34567 opened #636 "Update: DOM based XSS Prevention Cheat Sheet"
## What is missing or needs to be updated?
In rule 2 under the safe but broken example, what should show up in the text box (Johnson & Johnson) is the same as what the cheat sheet says will show up in the text box. These should be different as the surrounding text implies the text will get mangled by double escaping.

## How should this be resolved?
Replace the sentence 'What would be displayed in

[2021-04-17 20:10] jmanico commented on #636
Fixed here. https://github.com/OWASP/CheatSheetSeries/commit/5d38aec8b7da3860e492dd937ed617b2e5b360e3

[2021-04-17 20:10] #636 closed

[2021-04-20 21:52] jmanico commented on #623
Here is a first attempt to convert this blog post into a vendor neutral
cheatsheet.

https://github.com/OWASP/CheatSheetSeries/blob/master/cheatsheets_draft/NodeJS_Docker_CheatSheet.md

Is this direction acceptable?

[2021-04-20 21:53] jmanico commented on #623
And PS: take a look at our existing work at
https://github.com/OWASP/CheatSheetSeries/blob/master/cheatsheets/Docker_Security_Cheat_Sheet.md

[2021-04-21 07:37] mackowski commented on #619
I see that this was addressed in #622.
@raesene please feel free to create new PRs in this area without opening the issues if that will be easier and faster for you :). Thank you again for your help.

[2021-04-21 07:37] #619 closed

[2021-04-21 07:37] mackowski commented on #611
@ragashreeshekar do you have any updates on this?

[2021-04-21 07:39] mackowski commented on #543
@ronperris do you need any help with this? If you have a draft that you want to share we can add it to drafts directory and we will start sharing our feedback & help.

[2021-04-21 07:40] mackowski commented on #474
This was addressed in #495

[2021-04-21 07:40] #474 closed

[2021-04-21 07:40] mackowski commented on #471
@northdpole what is the status of this?

[2021-04-21 07:42] mackowski commented on #457
I am closing this issue. Please feel free to create more PRs with Semgrep Rules! Thank you for your contribution @salecharohit

[2021-04-21 07:42] #457 closed

[2021-04-21 07:42] mackowski commented on #357
This was done in #383

[2021-04-21 07:42] #357 closed

[2021-04-21 07:43] mackowski commented on #385
hey @hazanasec do you need any help from us? If you have a draft ready please share it and we will be able to share our feedback & help you with finishing it.

[2021-04-21 07:45] mackowski commented on #133
This will be adressed in #517

[2021-04-21 07:45] #133 closed

[2021-04-21 08:24] mackowski commented on #126
@securitymagick  I see that you try to address this issue on your giuthub - do you want to create PR in this repo?

[2021-04-21 08:27] mackowski commented on #340
I see that this was addressed some time ago

[2021-04-21 08:27] #340 closed

[2021-04-21 08:28] mackowski commented on #389
I am closing this issue because no activity and no clear action that should be taken here

[2021-04-21 08:28] #389 closed

[2021-04-21 13:33] #455 closed

[2021-04-22 13:08] hazanasec commented on #385
Hi @mackowski I'm happy to pick this up again, but I'm a little confused, didn't someone already have something similar which we were commenting on? Where was that?

[2021-04-23 06:25] ragashreeshekar commented on #611
I have the draft ready however waiting for approval. Apologies this is taking some time.
Will keep you posted.

[2021-04-23 07:56] mackowski commented on #611
No worries thank for update :)

[2021-04-23 08:09] mackowski commented on #385
@jmanico mentioned SAMM https://www.opensamm.org/ as something similar and the word 'Culture' is kind of vague. But I would like to see draft of and Table of Contents and based on that we will move forward and decide on the direction. In general the idea is very good but as this is a broad topic it needs to be well thought out.
I see a room for cheatsheet that is an introduction to the topics that

[2021-04-23 14:53] quiver opened #640 "Update: [Password Storage Cheat Sheet]"
## What is missing or needs to be updated?

https://cheatsheetseries.owasp.org/cheatsheets/Password_Storage_Cheat_Sheet.html#input-limits

From this sentence, it's not clear where does the max length(64) come from.
My guess is  `8 = MAX_INPUT_LENGTH(72) - MAX_PASSWORD_LENGTH(64)` is reserved for the salt.

## How should this be resolved?

It would be great to explain why the max length of password

[2021-04-25 06:38] righettod opened #641 "Update: Vulnerable Dependency Management Cheat Sheet with Dependency Confusion"
## What is missing or needs to be updated?

I have found this [post](https://medium.com/@alex.birsan/dependency-confusion-4a5d60fec610) about *Dependency Confusion* attack and I think that it can be interesting to add a section about protection against this attack in the [Vulnerable Dependency Management Cheat Sheet](https://github.com/OWASP/CheatSheetSeries/blob/master/cheatsheets/Vulnerable_Depe

[2021-04-26 09:24] mackowski commented on #640
Thanks @quiver!
@jmanico do you want to take that one?

[2021-04-26 10:53] mackowski commented on #641
Hey @righettod good idea. Do you want to add it?