[2021-04-26 13:19] lirantal commented on #623
Thanks Jim, looking at it now :-)

[2021-04-26 13:34] jmanico commented on #640
Thank you for your comment, I agree. Would you like to propose a PR or would you like me to take it on directly?

[2021-04-27 06:57] quiver commented on #640
@jmanico @mackowski

Let me make this clear.
Does "you" refer to @mackowski or @quiver (me) ?

If my understanding is correct(i.e. 8 characters are reserved for the salt), I can create a PR for that.

[2021-04-27 13:32] jmanico commented on #640
I was referring to @quiver :)

[2021-04-27 13:44] jmanico commented on #641
Hello Dominique! This cheatsheet would definitely benefit from an
update. We should probably discussing at least 2 different types of
/Dependency Confusion/ attacks such as (1) Typosquatting and (2)
Squatting on names of future package versions of packages that no longer
exist.

We would be thrilled if you have time to add a section on this material!
I also encourage your students to send us PR's

[2021-04-27 17:32] ragashreeshekar commented on #611
Thanks for your support.
Please find the PR at https://github.com/OWASP/CheatSheetSeries/pull/642.
I look forward to the review and suggestions from @mackowski and @jmanico along with the community.

[2021-04-27 20:15] northdpole commented on #471
Hey @mackowski , I'm sorry but I don't have the time to complete this work at this point. As this is a niche subject perhaps this cheatsheet will not be very useful, moreover, most financial institutions I know off perform this action using well defined solutions mandated by external vendors.
Happy to close this and return to it in the future if circumstances change.

[2021-04-28 05:18] quiver commented on #640
@jmanico

Created a PR #643

Can you review that?

[2021-04-28 14:45] ragashreeshekar commented on #611
Thanks for the review and merge! :)
If this looks ok, please let me know when I could move from cheatsheet_drafts to the cheatsheet folder, would be happy to do so.

[2021-04-28 15:04] rbsec commented on #640
Hi @quiver,

I was involved in writing an earlier version of this cheat sheet.

The 64 character limit isn't actually related to the salt. There were a couple of reasons for giving a length lower than 72 characters (which should be the maximum):

* Depending on whether the strings are null terminated, you may lose one character there.
* Although a good implementation of bcrypt _should_ support 72

[2021-04-28 15:05] jmanico commented on #611
Let me get a little more public review on this before we move it out of
draft form.

I'll post this to twitter later today and give me just a few days before
we go live.

Thank you!!!

- Jim

On 4/28/21 10:45 AM, Ragashree wrote:

--
Jim Manico
Manicode Security
https://www.manicode.com

[2021-04-28 15:47] quiver commented on #640
@rbsec

Thank you for your explanation.

The issue is that the full bytes of the password might not be used for hashing.
The wording definitely needs to be improved.

There's a wide gap between the first and the second sentence.

[2021-04-28 16:06] jmanico commented on #640
So @rbsec the 64 CHARACTER limit can be easily exceeded if the password contains many characters like emoji that take up multiple bytes. So it sounds like 64 char limit for bcrypt is not clear enough.

[2021-04-28 16:38] rbsec commented on #640
@quiver I'd agree that those two sentences doesn't really follow on from each other. The [earlier version](https://github.com/OWASP/CheatSheetSeries/blob/009e81088527260ad2ac43f2e875ea3c3656dbe5/cheatsheets/Password_Storage_Cheat_Sheet.md#maximum-password-lengths) explained this is a bit more detail.

So for example, if you made a password that was:

[code]
That password is 32 characters long, but

[2021-04-28 17:26] ragashreeshekar commented on #611
Thanks @jmanico This helps.

Regards,
Raga

[2021-04-28 19:25] jmanico commented on #640
I’m open to a PR to expand on this more. I am trying to make the cheatsheet lean and actionable, hence the very specific suggestions at the top. But if you want to bring some of the older text back in please consider a PR for us. :)

[2021-04-29 07:39] mackowski commented on #640
Thank you @rbsec!
I closed PR #643 as invalid. Please create new PR to address it.

[2021-04-29 07:54] mackowski commented on #611
@ragashreeshekar I reverted the merge to the drafts and I created new PR #648. If you want to open new one so in the history it will be associated with you and Nokia please do so and we will delete my PR.
We will keep open PR to make it available to review by others.

[2021-04-29 11:03] ragashreeshekar commented on #611
Sure @mackowski. Here is the new PR https://github.com/OWASP/CheatSheetSeries/pull/649. Please let me know your thoughts.

[2021-05-02 07:53] shploo commented on #124
I'm looking for knowledge

[2021-05-02 11:33] quiver commented on #640
Given that

- input length limitation is not specific to bcrypt
- long passwords can cause DoS
- prehashing passwords can cause another problem(e.g. password shucking)

how about making "Maximum Password Lengths" its own distinct section as before?

[The earlier version](https://github.com/OWASP/CheatSheetSeries/blob/009e81088527260ad2ac43f2e875ea3c3656dbe5/cheatsheets/Password_Storage_Cheat_Sheet

[2021-05-02 11:39] quiver commented on #640
If I were to beef up the doc, it would be byte/(multi-byte) character(like emoji 🍣) difference.

[2021-05-02 11:54] jmanico commented on #640
We already have requirements for:

8 char password min
Must support at least 64
No more than 128 for performance (max)

The problem is that bcrypt requires a much smaller max due to it’s 72 byte limit.

[2021-05-02 13:54] quiver commented on #640
@jmanico

Where are these requirements written?

Hey, let's get back to the original discussion.

Everyone can understand the bcrypt's 72-byte limit.
I'm discussing about the magic number 64.

For me, the section is too lean to understand.
You(= @jmanico ) also couldn't understand it only by reading the sentence.

If the OWASP cheat sheet is not intended to demystify technical details(it's Cheat S

[2021-05-02 16:45] jmanico commented on #640
Dear @quiver I agree 100% that the 64 character limit is problematic
since the real bcrypt limit is 72 byes. Our explanation is lean and the
limit is not always accurate.

I would like to avoid pre-hashing. I believe that mechanism is also
problematic for a lot of reasons.

My suggest is that we fully remove bcrypt from the cheatsheet and
suggest more modern password hashing algorithms since more

[2021-05-02 16:47] jmanico commented on #124
I think this is a very important cheatsheet and I would like to help. Am I allowed to cherrypick from the resources mentioned above?

[2021-05-02 17:22] thatsjet commented on #124
I'd be very interested in helping as well. Let me know if there is an area of focus I can put attention on.

[2021-05-02 18:35] ykcab commented on #124
We were or are still waiting for a PR to come thru as per [this comment ](https://github.com/OWASP/CheatSheetSeries/issues/124#issuecomment-669740700).
Alternatively, we may begin our work by referring to the resources I pointed [here](https://github.com/OWASP/CheatSheetSeries/issues/124#issuecomment-668743684)

[2021-05-02 19:35] jmanico commented on #124
That was 9 months ago or so. Is there something we can do to speed this along?

[2021-05-04 12:38] jmanico opened #654 "Error in CSRF cheatsheet"
The cheatsheet currently states:

"By default, browsers do not allow JavaScript to make cross origin requests with custom headers."

The request will fire with a preflight just lacking the payload. This statement is a little off base, I think...

[2021-05-04 12:47] jmanico commented on #654
I also suggest we drop the encryption based methods. If you want stateless CSRF, the double cookie pattern is make for statelessness.

[2021-05-04 18:12] mackowski commented on #654
Preflight request is not a request just without payload. It is a different request and it will not contain custom header. The custome header name will be a value in access-control-request-headers header. So this statement is correct.

[2021-05-04 18:13] mackowski commented on #654
I agree we should remove encryption based methods

[2021-05-04 19:05] jmanico commented on #654
I'll go PR with this and push. =)

[2021-05-04 19:05] #654 closed

[2021-05-06 07:10] lirantal commented on #623
@jmanico  Looks alright to me.
I left a comment with regards to preserving some recognition of the original work: https://github.com/OWASP/CheatSheetSeries/commit/a27befa2375b0f26ec001cdd67c2a64f110a33da

[2021-05-06 12:39] jmanico commented on #623
I think it's a great idea to link back to the original work! Would you care to PR that or I can just do it directly, as you like.

[2021-05-06 16:43] lirantal commented on #623
@jmanico I appreciate that ❤️
PR here https://github.com/OWASP/CheatSheetSeries/pull/657

[2021-05-06 17:07] jmanico commented on #623
cc @mackowski can you review this work and push it to a production cheatsheet if you approve?

[2021-05-12 12:58] jmanico commented on #623
What do we need to get this live?

[2021-05-12 13:02] jmanico commented on #641
I'm eager to see this work done

[2021-05-12 14:50] lirantal commented on #623
Good question. I'd love to lurk by here and learn what's the process for future write-ups too.

[2021-05-12 16:10] jmanico commented on #640
Even better How about we just change 64 characters to 72 bytes? cc @quiver

[2021-05-12 16:13] jmanico commented on #640
Does this PR meet your approval? https://github.com/OWASP/CheatSheetSeries/pull/665 cc @quiver

[2021-05-12 18:41] mackowski commented on #623
It is live :-) https://cheatsheetseries.owasp.org/cheatsheets/NodeJS_Docker_CheatSheet.html
Jim merged #658 3 days ago :-)

[2021-05-12 20:31] jmanico commented on #623
Golly gee, I guess I did!

[2021-05-13 03:26] ragashreeshekar commented on #611
@jmanico @mackowski Thanks for the detailed review and merger to the drafts.
In one of the messages, you mention this can be moved to cheatsheets. Please confirm and I will do so

[2021-05-13 05:49] Duckmood opened #666 "New CS proposal: [PUT_TARGET_CS_NAME_HERE]"
## What is the proposed Cheat Sheet about?

## What security issues are commonly encountered related to this area?

## What is the objective of the Cheat Sheet?

## What other resources exist in this area?

[2021-05-13 08:58] mackowski commented on #611
Yes please create a PR that moves it from drafts to main folder

[2021-05-13 08:58] #666 closed

[2021-05-13 09:43] lirantal commented on #623
Oh, that's awesome!

Ok, next up for me is to figure out which other cheatsheet work on.
Let me figure this out and come back.

[2021-05-13 14:28] quiver commented on #640
+1

Thank you for your PR.

[2021-05-13 17:02] lirantal commented on #623
Just FYI That this now got shared on the Node Weekly newsletter which goes to some tens of thousands of developers:
![image](https://user-images.githubusercontent.com/316371/118159657-f741b400-b425-11eb-812d-3f7a189519c7.png)

This newsletter issue is accessible here on the web too: https://nodeweekly.com/issues/388

It was shared so fast and timely that I think speaks a ton of the meaningfulness

[2021-05-13 19:18] jmanico commented on #623
This is fantastic and I am so glad you are pleased with the process! :) ALOHA @lirantal

[2021-05-14 07:38] ragashreeshekar commented on #611
Thanks, please find the PR at https://github.com/OWASP/CheatSheetSeries/pull/667/

[2021-05-14 14:43] lirantal commented on #623
Ok, so next idea is to create a security best practices cheat sheet with regards to JS developers and how they work with open source repositories and package managers, content is based on this https://snyk.io/blog/ten-npm-security-best-practices/ and more content items that I want to update it with. WDYT?

[2021-05-15 07:03] righettod commented on #641
Hello @jmanico and @mackowski

Thanks a lot for the feedback about this proposal.

Unfortunately, i'm very busy on the MSTG and OSHP projects so it will not be possible for me to work on this task.

I apologize again a lot for my decline.

Thanks again for your work on this amazing project 💯

[2021-05-17 09:12] mackowski commented on #640
Addressed in #665

[2021-05-17 09:12] #640 closed

[2021-05-17 09:13] mackowski commented on #611
It is merged and live now :)

[2021-05-17 09:13] #611 closed

[2021-05-17 09:15] mackowski commented on #307
@jmanico  and @aiacobelli2 is it still not resolved? @aiacobelli2 can you make a PR for MFA CS for it?

[2021-05-17 09:15] #300 closed

[2021-05-17 17:54] jmanico commented on #307
Well per NIST SP800-63:

AAL1 = Public Data = Password Only AuthN is ok
AAL2 = Low Level Sensitive Data = MFA and if you allow SMS then you need to offer one other stronger option
AAL3 = Med/High Level Sensitive Data = MFA with FIDO hardware tokens or similar

I don't have a PR in mind but this is what I believe standards say about risk based AuthN.

[2021-05-18 08:12] mackowski commented on #623
@lirantal Yes I think it is a good idea to work on https://snyk.io/blog/ten-npm-security-best-practices/.
Do you want to create this PR?

[2021-05-18 08:17] mackowski commented on #623
We already have a couple cheatsheets around JS, do we want to make some 'base'/'main' cheatsheet where we describe different cheatsheets for JS developers and add links to them?

[2021-05-21 17:30] jmanico opened #669 "access control"
Now that the authorization cheatsheet is live, I suggest we edit the access control cheatsheet and just point to the authorization cheatsheet so we no longer have duplicates. cc @mackowski

[2021-06-19 15:39] Naramsim opened #677 "index.md gets updated when Generate_Site_mkDocs.sh is run"
Hi,

I tried building this website using `./scripts/Generate_Site_mkDocs.sh` and the file `index.md` got updated automatically. Shouldn't be better to gitignore it since that file seems to be auto-generated?

If you check, right now the file in your repo (https://github.com/OWASP/CheatSheetSeries/blob/master/Index.md) lists 64 sheets, while the deployed one lists 73 of them (https://cheatsheetseri

[2021-06-21 16:58] tuckerww opened #678 "Update: [Multifactor Authentication Cheat Sheet]: Further info about TOTP secret-key storage"
## What is missing or needs to be updated?
There is no info about the proper way to store users' secrets for TOTP MFA.  Should these secrets be stored in plaintext or be 2-way encrypted? If encrypted should it use a dedicated key on the server or use something like the user's password or email address or username?

## How should this be resolved?
A brief subsection or bullet point, or perhaps a li

[2021-06-21 17:10] tuckerww opened #679 "Update: [Multifactor Authentication Cheat Sheet] Add user-privacy for con of biometrics"
## What is missing or needs to be updated?

One of the largest cons IMO for biometric methods of MFA is missing: User privacy.
Or you could perhaps phrase it as users' willingness to engage with this method of authentication.

For example I would far rather my password was compromised by an attacker than that they get any sort of biometric data about me e.g. an iris scan, fingerprint, etc.
If a we

[2021-06-21 22:25] AustinScola opened #681 "Session management `SameSite` phrasing"
In the Session Management cheatsheet, the phrasing for the `SameSite` cookie attribute is a bit mangled:

[code]

[2021-06-22 06:54] whoami-ru opened #682 "Update: [Cross_Site_Scripting_Prevention_Cheat_Sheet.md]"
## What is missing or needs to be updated?
Hi, I think there is a little misunderstood in what wrote in section Rule#3 and in section XSS Prevention Rules Summary

In Rule#3 (and others)  not mentioned Unicode encoding only HEX encoding.

But there is information about Unicode in section XSS Prevention Rules Summary in table
Context=JavaScript Variable
Defense ..... JavaScript Unicode Encoding....

[2021-06-22 07:09] mackowski commented on #682
@jmanico can you take this one?

[2021-06-22 07:13] mackowski commented on #681
@AustinScola I agree with you, do you have an idea how to better phrase it?

[2021-06-22 07:20] mackowski commented on #678
Thanks @tuckerww!
@jmanico I think that we can link to the Cryptographic Storage Cheat Sheet for guidance.

[2021-06-22 07:23] mackowski commented on #679
@tuckerww 100% agree. Can you create a PR for it?

[2021-06-22 13:11] AustinScola commented on #681
As a warning: I'm readying the cheat sheet for the purpose of learning (I am not an expert in this).

Does this seem reasonable?
[code]

[2021-06-22 15:24] tuckerww commented on #679
Great.  Pull request created:
https://github.com/OWASP/CheatSheetSeries/pull/683

[2021-06-22 17:58] AustinScola commented on #681
As a side note: what is the recommended value for `SameSite` for a session id cookie?

[2021-06-22 18:18] jmanico commented on #681
In most cases samesite = strict but if you want to support cookie based requests that originate from links from email or text (ie: non browser initiated) then samesite = lax

[2021-06-22 18:22] jmanico commented on #681
SameSite /*prevents*/ cross site requests

- Jim

On 6/22/21 6:11 AM, Austin Scola wrote:

--
Jim Manico
Manicode Security
https://www.manicode.com

[2021-06-22 18:22] jmanico commented on #678
That sounds like a good idea @mackowski

[2021-06-22 18:24] jmanico commented on #682
Can we drop the unicode then and keep it to just JavaScript Encoding?

[2021-06-22 18:28] jmanico commented on #681
How about:

SameSite defines a cookie attribute preventing browsers from sending a SameSite flagged cookie along with cross-site requests.

[2021-06-24 01:37] jmanico commented on #679
merged

[2021-06-24 01:37] #679 closed

[2021-06-24 06:30] chrisdlangton opened #685 "New CS proposal: Avoiding password and sensitive shared data transmission"
## What is the proposed Cheat Sheet about?

HMAC can be used in a way that allows users to login with a password but never actually transmit the password to the server during login. When you consider the password *IS* the pre-shared secret that is used to generate a HMAC you can simply avoide all login forms from transmitting passwords entirely.

There were a few areas of this project I reviewed t

[2021-06-24 07:19] chrisdlangton opened #686 "Update: Authentication_Cheat_Sheet.md"
## What is missing or needs to be updated?

### Section `Require Re-authentication for Sensitive Features`

First off, the author stated `temporary physical access` in context to CSRF or XSS. There is nothing **physical**, temporary or otherwise. Furthermore the original author is confusing authentication with authorisation, or perhaps is not aware of the distinction and why the two are defined di

[2021-06-24 15:09] jmanico commented on #686
Authentication is identity and Authorization is about what features and data users can access.

So, anywhere there is a mistake please please submit a PR. I'll gladly work with you to get these mistakes fixed

Does that work for you?

[2021-06-24 15:12] jmanico commented on #685
There is no point doing HMAC based passwords in web applications since you need the server to deliver a key to the client, the same key that the server needs to verify the HMAC. TLS is what we use to protect passwords in transit, the password storage cheatsheet shows how to store them, and NIST SP800-63 makes is clear you need multi-factor any time sensitive data is in play.

[2021-06-25 01:37] chrisdlangton commented on #685
So many places would be wrong by your standards if that were true

There are no requirements for cryptographic keys for HMAC

You may be confused with a pre-shared secret, there are no cryptographic keys. In this scenario the password _IS_ a pre-shared secret, right?

TLS is a point-to-point implementation that is both ignorant to the data being transmitted (the password), the identities of the se

[2021-06-25 03:08] chrisdlangton commented on #685
![Uploading password-as-a-hmac.jpg…]()

[2021-06-25 03:08] chrisdlangton commented on #685
![password-as-a-hmac](https://user-images.githubusercontent.com/3494633/123363720-72b28b80-d5b6-11eb-9400-8b427c2d393b.jpg)

[2021-06-25 13:53] rwinch opened #691 "Update: Cross-Site Request Forgery Prevention"
## What is missing or needs to be updated?

**Summary**

The [Cross-Site Request Forgery Prevention Cheat Sheet](https://cheatsheetseries.owasp.org/cheatsheets/Cross-Site_Request_Forgery_Prevention_Cheat_Sheet.html) leaves me with some questions around why `SameSite` cannot be used on its own for CSRF protection. It would be nice if the Chat

**Details**

Currently, the Cross-Site Request Forgery

[2021-06-27 12:15] rustempasha opened #692 "Update: typo in Infrastructure as Code Security"
## What is missing or needs to be updated?
Hi, first of all thank you for creating and maintaining such a great detailed documentation.
I have noticed a small typo in Infrastructure as Code Security where the name of the tool "https://github.com/awslabs/git-secrets" was written wrong.

Here is the where the typo is:
![2021-06-27 21_10_06-Infrastructure as Code Security CheatSheet md - OWASP Cheat

[2021-06-28 09:10] jgadsden opened #695 "Update: [Threat_Modeling_Cheat_Sheet]"
## What is missing or needs to be updated?
The previous contents for this cheat sheet have been replaced with a reference to the [Threat Modeling Manifesto](https://www.threatmodelingmanifesto.org). The manifesto is not a cheat sheet, and does not link to an easy to use guide.

This has come up because a member of my team asked for a threat modeling cheat sheet, and all they found was the manifest

[2021-06-28 09:37] jakubmackowski commented on #695
hey @jgadsden see this PR #673

[2021-06-28 09:38] mackowski commented on #695
@jgadsden see this PR #673

[2021-06-28 09:38] #695 closed

[2021-06-28 11:27] #692 closed

[2021-06-28 11:30] mackowski commented on #677
Yes, it makes sense.

[2021-06-28 14:45] rustempasha opened #697 "Update: another typo in Infrastructure as Code Security"
## What is missing or needs to be updated?
Hi, first of all thank you for creating and maintaining such a great detailed documentation.
I have noticed a small typo in Infrastructure as Code Security where the name of the tool "https://www.gitguardian.com/" was written wrong.

Here is the where the typo is:
![2021-06-27 21_10_06-Infrastructure as Code Security CheatSheet md - OWASP Cheat Sheet Seri

[2021-06-29 16:05] matteo-tosi opened #699 "Update: XML_External_Entity_Prevention_Cheat_Sheet"
## What is missing or needs to be updated?
In this guide, in LINQ to XML section (https://cheatsheetseries.owasp.org/cheatsheets/XML_External_Entity_Prevention_Cheat_Sheet.html#linq-to-xml), is declared this library is a safe because parsing DTD is disable by default.

I tried with a very simple project:
[code]
but the result contradicted what was declared in cheat sheet:
[code]
Investigating more

[2021-07-02 11:23] #369 closed

[2021-07-02 11:52] whoami-ru commented on #682
I think RULE 3 should be changed like this

Except for alphanumeric characters, encode all characters with the \xHH xeh format or \uXXXX unicode encoding to prevent switching out of the data value into the script context or into another attribute.

[2021-07-02 12:01] jmanico commented on #682
I agree and pushed the change live

[2021-07-02 12:01] #682 closed

[2021-07-06 13:56] ragashreeshekar commented on #692
Thanks @rustempasha for your feedback and enhancement! :)

[2021-07-08 08:26] mackowski commented on #699
Hey @matteo-tosi can you create a PR for that!

[2021-07-13 10:59] mackowski commented on #699
Thanks @matteo-tosi!

[2021-07-13 10:59] #699 closed

[2021-07-19 11:57] lirantal commented on #623
Sounds good, yes. @macowski I created the pull request here: https://github.com/OWASP/CheatSheetSeries/pull/705 in the draft folder.

I don't have experience with other package managers, but I think it'll set a great start to begin setting those best practices on how to securely consume open source libraries in a way that won't be subjecting you to supply chain attacks, as well as providing tips f

[2021-07-22 12:06] cai1006652859 opened #717 "New CS proposal: [Why is Bill laugh labeled vulnerable]"
In my test, XmlDocument (4.5.2 -/+), and xmlreader will not have bill laugh vulnerability by default.

In the absence of other settings, can I assume that this attack will not occur when using XmlDocument xmlread.

[2021-07-22 12:24] mackowski commented on #717
hey @cai1006652859 see this issue #699
cc: @matteo-tosi

[2021-07-26 10:30] matteo-tosi commented on #717
Hi @cai1006652859,
I don't know what tests you did, but just trying with this console app:
[code]
Result is:
[code]
It is true that if you take the xml declaration by `.InnerXml` instead of the string with `InnerText` the declarative version is returned, that is:
[code]
But this behavior is not enough to say that `XmlDocument` is safe by default in my opinion.

Maybe if you show us which tests you

[2021-07-27 11:33] cai1006652859 commented on #717
Thank you for your reply. I understand what you mean. Here is my test code

[code]

I test that the maximum length of XML content is between 4000000 and 5000000.

Exceeding this length will cause an exception: there is an error in XML document (maxcharactersfromentities,)

If I ignore the influence of 4000000 characters, can I think that the program is safe by default.

[2021-07-27 15:32] mackowski commented on #717
That is an interesting case. Do we have an idea how to improve cheatsheet to include these details? Because I see a points on both solutions and maybe we can describe it in a way that readers will be able to choose which configuration better fits their needs?
@jmanico do you have an opinion?

[2021-07-28 09:37] daxin09pp commented on #717
I don't think this is a DOS issue because .NET will throw exceptions.

[2021-07-29 14:57] Tsuesun opened #720 "Update: REST Security Cheat Sheet"
## What is missing or needs to be updated?
The rational behind each header should be expanded upon. [This discussion thread](https://github.com/OWASP/CheatSheetSeries/issues/445) outlines some of the reasoning but didn't make it into the cheatsheet.

After reading the cheatsheet, I was left scratching my head as to how I would explain the inclusion of these headers to my team and why they should a

[2021-07-30 09:53] #697 closed

[2021-07-30 10:09] mackowski commented on #720
Hey thank you @Tsuesun for this issue. Can you please elaborate what is not clear here: https://cheatsheetseries.owasp.org/cheatsheets/REST_Security_Cheat_Sheet.html#security-headers is it only drag-and-drop clickjacking?

[2021-07-30 12:02] Tsuesun commented on #720
Hi @mackowski, I think all of the headers in that section could do with some more love. I think a pattern of `If this is not set X can happen. With APIs this attack manifests in y way`. It is the second half of that pattern that is missing in my opinion. In the case of `drag-and-drop clickjacking` linking to a resource with more information on this attack in relation to APIs would be enough.

Righ

[2021-08-03 07:44] mackowski commented on #720
Ok, it makes sense to improve this part. Thank you @Tsuesun.
Can you do a PR for it? For the parts that you are not sure about I will help you :)

[2021-08-12 22:38] infosecdad opened #723 "New CS proposal: Secure Design Principles"
## What is the proposed Cheat Sheet about?

Core Principles for Secure Design

## What security issues are commonly encountered related to this area?

Insecure Design

## What is the objective of the Cheat Sheet?

To help developers with secure design and architecture, it's a gap in OWASP offerings at the moment.

## What other resources exist in this area?

There used to be a section from the old

[2021-08-13 12:33] mackowski commented on #723
Hey @infosecdad this is a good idea.
Do you want to create it? We will review and help you with the process.

[2021-08-13 19:53] vanderaj opened #725 "New CS proposal: OWASP Top 10 Landing page"
## What is the proposed Cheat Sheet about?

A long-lived OWASP Top 10 landing page for the OWASP Top 10 2021 and beyond

## What security issues are commonly encountered related to this area?

The Top 10 2021 issues + the "on the cusp" / Next Steps (which many already have cheat sheets)

## What is the objective of the Cheat Sheet?

Provide a LTS linkage between the Top 10 and the Cheat Sheets and

[2021-08-16 12:57] mackowski commented on #725
@jmanico and @vanderaj here is a draft https://github.com/OWASP/CheatSheetSeries/pull/727

[2021-08-19 18:14] sslHello commented on #725
Hi @mackowski, @jmanico, @vanderaj,
I wonder if it is possible to generate stable IDs (numbers for sheetsheets). This could help anybody to get a stable link to a cheat sheet.
(Optional: If you like to have a relation between the name and the id, this could be made by uniq appreviations e.g. with up to 4 letters and one digit in case of collisions, e.g. 'XSS'. Which could be coded as numbers from

[2021-08-19 22:11] jmanico commented on #725
We can easily add a arbitrary but stable number to all the cheatsheets.

But how do you envision this helping folks get a stable link to a cheat sheet? We already have that property in our cheatsheet URL’s. We have a unique subdomain for the series now and all of the pages are stable, like:

https://cheatsheetseries.owasp.org/cheatsheets/XML_External_Entity_Prevention_Cheat_Sheet.html

Or did you

[2021-08-19 23:41] sslHello commented on #725
Hi Jim,
Thank you for your question.
Yes, this needs more detailed information from my side.
I've developped an abstract scheme (Open Security Information Base) that is able to provide an intermediate level for links beween OWASP projects and external secutity references, e.g. documention, standards, tools. It is modular and adoptable for every project or external source. It should avoid unnecessa

[2021-08-20 08:18] mackowski commented on #725
Hey, so the main purpose is not to have stabile links but to allow precise and easy identification of the resource; this identification should be stable enough that when we move project to another domain/change name of the CS/whatever users will be still able to find the cheatsheet using this ID right?

I am not sure if anything fancy is needed for this project. Can we just have CS_XXX where XXX i

[2021-08-24 16:52] abhishekbhati4u opened #728 "Update: DotNet_Security_Cheat_Sheet"
## What is missing or needs to be updated?
Context regarding the removal of version and server header isn't clear at lines 188 and 194 correspondingly.

## How should this be resolved?
The context regarding which files the changes should be done needs to be specified.

[2021-08-25 07:52] #728 closed

[2021-08-25 13:21] mackowski commented on #725
@sslHello @jmanico  what do you think about my idea of IDs?

[2021-08-25 13:24] mackowski commented on #725
@vanderaj do you have any feedback on this draft webpage? Do we want to add some text/graphic to it? I can add the text that this is under construction and generate CSS webpage to show you how it looks like, double check URL etc.

[2021-09-06 08:51] segudev opened #732 "Update: Docker Security Cheat Sheet"
## What is missing or needs to be updated?

The static analysis section ([Rule #9](https://github.com/OWASP/CheatSheetSeries/blob/master/cheatsheets/Docker_Security_Cheat_Sheet.md#rule-9---use-static-analysis-tools) ) is missing specific options for secrets detection.
It's a growing concern to mitigate supply chains attacks and needs specialized tools.

## How should this be resolved?
Add a list w

[2021-09-06 14:38] mackowski commented on #732
hey @segudev do you want to make a PR for it?

[2021-09-07 12:22] segudev commented on #732
yes! thanks

[2021-09-07 13:49] mackowski commented on #732
Awesome, thank you :)

[2021-09-09 06:32] daxin09pp commented on #717
Any update for this? @jmanico @mackowski
Thanks!

[2021-09-09 07:45] mackowski commented on #717
As I said, in my opinion we should explain both cases in the cheat sheet. @daxin09pp @cai1006652859  @matteo-tosi do anyone want to make a PR for it?

[2021-09-12 00:29] Alejaandro03 opened #741 "Update: [PUT_TARGET_CS_NAME_HERE]"
## What is missing or needs to be updated?

## How should this be resolved?

[2021-09-15 05:51] #741 closed

[2021-09-19 00:24] jmanico commented on #691
Reasons why you may choose not to use the SameSite cookie alone for CSRF defense
1) If an adversary controls your subdomain that can impact root level cookies
2) Auth that is not cookie based such as network authN, HTTP basic/digest are vulnerable to CSRF and are not cookie bound
3) Some browsers do not support SameSite cookies

[2021-09-23 09:07] TheSmartScanner opened #746 "New CS proposal: HTTP Headers Cheat Sheet"
## Configuring Web application/servers by implementing proper HTTP headers
This cheat sheet will include all security related HTTP headers and their proper values which can have benefit for the security of websites.
This cheat sheet will include samples and guides for configuring HTTP headers in different technologies like PHP, Apache, etc.

## What security issues are commonly encountered related

[2021-09-23 11:07] janlaan opened #747 "Update: XML External Entity Prevention Cheat Sheet"
## What is missing or needs to be updated?
The PHP section of this cheat sheet describes how to configure to prevent XXE. Since PHP 8, XXE is prevented by default, so no action needs to be taken by a developer. This is documented in the PHP docs.: https://www.php.net/manual/en/function.libxml-disable-entity-loader.php

## How should this be resolved?
We should add a note to the PHP section that re

[2021-09-23 18:02] jmanico commented on #747
A PR would me nice and I'll process it right away, I'm watching this space closely.

[2021-09-24 17:45] #747 closed

[2021-09-24 17:50] jmanico commented on #681
This change is now live 9e1e2312c251a55666c6d65a40dd6932ac14a309 please reopen this if necessary

[2021-09-24 17:50] #681 closed

[2021-09-24 17:51] jmanico commented on #746
I absolutely love this idea. Let's do it and I will actively help.

[2021-09-24 17:53] jmanico commented on #717
Yea, if your endpoint is meant to take 10 entities I can still XXE to 4+million entities. So .NET suffers LESS from "billion laughs attack" but it's still something that should be disabled (recursive entities).

[2021-09-24 18:34] jmanico commented on #669
done

[2021-09-24 18:34] #669 closed

[2021-09-27 22:19] mohe2015 commented on #691
I agree that the main reason is that SameSite is not SameOrigin so e.g. subdomains can still do csrf

[2021-10-07 12:24] mackowski opened #752 "New CS proposal: XS-Leaks"
## What is the proposed Cheat Sheet about?
XS-Leaks vulnerability

## What is the objective of the Cheat Sheet?
Describe what XS-Leaks are, types of xs-leaks and how to defend against them

## What other resources exist in this area?
https://xsleaks.github.io/xsleaks/

[2021-10-09 20:21] jmanico commented on #685
How do you get the pre-shared secret to the client?
I assume this is for login only, and it is ok to send plaintext password transmission during "change password" and "initial registration" events?
Can you give me some other references as to why this is important in web applications?

My instinct is that we do not need this as a cheat sheet, but I want to bring others to make sure I'm not in error

[2021-10-09 20:43] jmanico opened #754 "Need Help Finishing the Secrets Management Cheatsheet"
Can you please help us finish the Secrets Management cheatsheet if you have expertise in this area?

The current work is located here and we would love more PR's to help finish this up!

https://github.com/OWASP/CheatSheetSeries/blob/master/cheatsheets_draft/Secrets_Management_CheatSheet.md

Thank you!

cc @ykcab @dominikdesmit @thatsjet @mackowski

[2021-10-09 20:52] jmanico commented on #307
Yes, please @aiacobelli2 !

[2021-10-10 05:19] tghosth commented on #685
Hi @chrisdlangton , in order to verify the HMAC at the server side, does the server need to be able to recover the stored password to "plaintext"?

[2021-10-10 12:36] TheSmartScanner commented on #746
So, is it approved?

[2021-10-10 22:26] jmanico commented on #746
![download](https://user-images.githubusercontent.com/531465/136714892-0e07fdb9-7aba-4c07-800b-afe55b79c9b7.jpeg)

[2021-10-11 04:58] za opened #756 "Question: On change password best practice"
Hi there,

I see https://cheatsheetseries.owasp.org/cheatsheets/Forgot_Password_Cheat_Sheet.html where the condition is user forgot their password. I'd like to know how's the best practice when _the user is updating/changing their password_.

I have a two questions:

* Should we confirm their current password?
* Should we destroy the session and forcing user to logout once the password is successf

[2021-10-11 09:33] mackowski commented on #754
I love it!

[2021-10-11 09:49] kravietz commented on #685
The inherent problem with transmitting (enter your preferred hash here) is that the hash itself effectively becomes a password with all the consequences of that fact, including susceptibility to theft or replay. There are authentication protocols that do not require transmission of a shared secret (be it password, be it hash) and have safeguards against interception and replay of the authenticatio

[2021-10-11 16:15] jmanico commented on #685
I agree Pawel. I am close to calling it and politely going to say no to this cheatsheet..

[2021-10-14 01:51] Sc00bz commented on #685
Came here to say SCRAM or aPAKE, but was beaten to it. There is one very limited benefit to this pre-hash; a passive attacker would need to crack this salted, fast hash to check for password reuse on other sites. Hashes like these are usually over 90% cracked in less than a week. If this did a slow password hash it would have a limited benefit. At least the server doesn't need to do the hard work,

[2021-10-14 18:38] kravietz commented on #685
@jmanico Actually, it makes a lot of sense to mention these protocols in the cheat-sheet as an preferred option to just sending a plaintext password in a form. Also sending a hash can be discussed as an anti-pattern. Basically, this whole discussion here already makes a pretty good cheat-sheet :)

[2021-10-14 19:33] jmanico commented on #685
That’s totally fair, so long as the cheatsheet lands on using the proper modern algorithms, it sounds good to me. Thanks Pawel. I really wanted to find a way to say yes and we are there now. :)

[2021-10-19 14:35] jmanico opened #762 "Logging"
Change the name of one of the cheatsheets (preferably starting with log) so they both start with the same name and are next to each other.

[2021-10-19 15:01] jmanico opened #763 "Merge Key and Secrets"
Merge the live Key Management Cheatsheet and the draft Secrets Management Cheatsheet

[2021-10-20 04:34] jmanico commented on #725
I updated the Top Ten landing page. Any thoughts?

https://github.com/OWASP/CheatSheetSeries/blob/master/IndexTopTen.md

[2021-10-21 09:42] TheSmartScanner commented on #746
Thanks for the changes. It looks good to me.👍👌

[2021-10-21 15:14] user8547 opened #765 "Update: Cross-Site Request Forgery Prevention Cheat Sheet"
Hello,

Some random comments that came to my mind while reading the cheatsheet today.
(Please forgive me if the issues listed above are discussed in some other bug report.)

1. `If the token was not found within the request, or the value provided does not match the value within the user session, then the request should be aborted, session of the user terminated and the event logged as a potential

[2021-10-26 03:03] cqueern opened #772 "Update: HTTP Security Response Headers Cheat Sheet: Referrer-Policy"
## What is missing or needs to be updated?

The Recommendation currently looks like this

...however since the recommended behavior already happens by default in modern browsers, I suggest updating the Recommendation section.

## How should this be resolved?

I suggest the Recommendation section for Referrer-Policy be updated to read:

[2021-10-27 09:47] tghosth opened #774 "Update: OS Command Injection Defense - .NET specific argument sanitization guidance"
## What is missing or needs to be updated?

.NET guidance includes an expectation of "validatedArg1" and "validatedCommand" but doesn't indicate practically how to do this.

## How should this be resolved?

For arguments, I would like to suggest the following to make them safe:

1. Take each argument to be passed to the .Arguments property and double up any quote marks to escape them.
2. Surround

[2021-10-30 14:33] #774 closed

[2021-11-01 17:32] jmanico commented on #772
PS: Floc is merged https://github.com/OWASP/CheatSheetSeries/pull/779

[2021-11-01 17:37] jmanico commented on #772
Referrer has been updated here https://github.com/OWASP/CheatSheetSeries/pull/780 =)

[2021-11-01 17:37] #772 closed

[2021-11-01 17:38] jmanico commented on #765
I am free this week in case you'd like to go over this live!

[2021-11-02 15:10] mackowski commented on #762
@jmanico you want to have Application_Logging_Vocabulary_Cheat_Sheet.md and Logging_Cheat_Sheet.md next to each other?

[2021-11-02 15:25] jmanico commented on #762
Yes, and I also think we want their names to be in parity. I suggest we drop application from the first one and just have the logging vocab cheatsheet and the logging cheat sheet....  I'll take anything so they are in parity.

[2021-11-02 15:34] mackowski commented on #762
PR is here: https://github.com/OWASP/CheatSheetSeries/pull/781

[2021-11-02 15:38] jmanico commented on #762
solved! https://github.com/OWASP/CheatSheetSeries/pull/781

[2021-11-02 15:38] #762 closed

[2021-11-10 14:33] commjoen commented on #763
Currently just joined together with @bendehaan , @dominikdesmit and want to give this a go. Instead of merging it, we suggest to first work on the draft for the SM CS . Can we pause this issue for a moment, and first work on finalizing the SM cheatsheet and then see what is still required for key-management ?

[2021-11-10 14:36] commjoen commented on #754
Would love to join on this one, maybe it is easier to continue the conversation at https://github.com/OWASP/CheatSheetSeries/issues/124 and relate PRs to it?

[2021-11-10 14:45] commjoen commented on #124
@bendehaan, @dominikdesmit and I will try to push this again. For now we want to separate a few items and have actions defined/split here. Please note that this comment on the ticket is something that we will update quite often the upcoming days ;-)or move to a separate ticket if this gets frustrating.
Actions for now on the SM cheatsheet:
- [ ] improve ### 2.2 Centralized Approach a bit (into sta

[2021-11-10 15:40] commjoen commented on #124
Note , we have a meeting on the subject at 08:30 CET tomorrow (thursday) to discuss outline and structure work a bit. Sorry for the late inclusion of you all (as we just had a chat yesterday about this subject and wanted to start moving a bit).
@ykcab i really like your suggestion made at https://github.com/OWASP/CheatSheetSeries/issues/124#issuecomment-830852181, only the problem is that if we ma

[2021-11-10 15:41] commjoen commented on #124
to speed up the interaction a bit: i have created a channel in slack: https://owasp.slack.com/archives/C02LSHXKVU5 . Together, with this issue we should be able to divide work and do stuff together :)

[2021-11-11 07:57] commjoen commented on #124
I have moved the todos :)

[2021-11-11 08:16] commjoen commented on #124
Meetingnotes:
- tasks are set in https://github.com/OWASP/CheatSheetSeries/issues/124, if you want to pick up a task, let us know here and we will assign it to you
- put the task-result in an PR towards the secretmanagement-cheatsheet branch so we can review it. Make as little PRs as possible (e.g. with the task executed, then PR directly) so you can get feedback fast and we can built the cheatshe

[2021-11-11 17:51] jzheaux commented on #601
I don't think I completely followed the argument here for not recommending a work factor of 12. Based on [some non-definitive tests](https://github.com/spring-projects/spring-security/issues/7411#issuecomment-531031619), a work factor of 10 is quite fast these days.

What factors go into deciding that the minimum OWASP recommendation should be 10 instead of 12? I ask because Spring Security is con

[2021-11-11 18:55] Sc00bz commented on #601
These settings are minimums vs some random project's defaults. Defaults can and should be higher than the bare minimum. The minimum settings are to cause an attacker's speed to be <10 kH/s/GPU ([GPU benchmark](https://gist.github.com/Chick3nman/bb22b28ec4ddec0cb5f59df97c994db4)). Wait cost 10? Oh yeah I forgot I lost the battle for cost 9. I think it had something to do with FPGAs. Note that bcryp

[2021-11-11 19:44] jmanico commented on #601
I don’t understand the math, but a senior member of the HashCat team assured me that with todays computer power a 10 is fine. But 12 is also a good default for Spring. A 13 or more ie overly aggressive.

If you like I can bring the HashCat mathematician into this thread…

[2021-11-11 19:45] jmanico commented on #601
cc @Sc00bz - Steve, can you kindly provide your thoughts here good sir?

[2021-11-11 19:47] jmanico commented on #601
There is your answer. Do not use the bare minimum for Spring, please set it at 12! :)

[2021-11-11 20:06] Sc00bz commented on #601
So I had a look at the other defaults and none of them meet the minimums. So setting bcrypt to 12 is stupid compared to fixing the others. Hell there's a bug in the PBKDF2 default settings: SHA1 with 256 bits of output. This causes the defender to waste time calculating the last 96 bits of output which an attacker will just ignore.

[2021-11-11 21:46] jmanico commented on #601
What defaults are wrong?

[2021-11-11 22:04] Sc00bz commented on #601
Their Argon2 (m=4 MiB, t=3, p=1), scrypt (N=2^14, r=8, p=1), and PBKDF2 (SHA1, 185k iterations, 256 bits of output).

[2021-11-11 23:26] jmanico commented on #601
I guess my ask is, can you kindly read this and is there anything else I need to fix?

https://cheatsheetseries.owasp.org/cheatsheets/Password_Storage_Cheat_Sheet.html

[2021-11-15 14:11] tghosth opened #788 "Update: DotNet_Security_Cheat_Sheet and OS_Command_Injection_Defense_Cheat_Sheet"
There are issues with the updated guidance in these cheatsheets as raised by @relaxnow.

I have proposed some initial changes based on his guidance but we need to try and come up with a finalised version....

[2021-12-02 08:18] 0x4d4e opened #792 "Update: LDAP Injection Prevention Cheat Sheet"
## What is missing or needs to be updated?

* LINQtoAD links (and project in general?) are dead (mentioned in Intro and Option 2)
* Related Articles reference "OWASP article on Preventing LDAP Injection Prevention." links to itself + "Preventing ... Prevention".

## How should this be resolved?

A quick search has not yielded any alternatives/updates to LINQtoAD. Maybe it should just be removed?

[2021-12-02 10:27] tghosth opened #793 "Update: Deserialization_Cheat_Sheet.md"
## What is missing or needs to be updated?
The cheatsheet currently says:

However, Microsoft now have the following warning in their security guidance:
![image](https://user-images.githubusercontent.com/13623828/144403621-3c5f9e90-db09-44f8-8e79-a2fcd705cec9.png)

## How should this be resolved?

I think the cheatsheet needs to be updated to reflect this warning with a specific warning about Bina

[2021-12-03 20:34] R3dIO commented on #754
Hi, I'll like to work on it, could you guys suggest to me some direction where should I start?

[2021-12-04 02:00] commjoen commented on #754
Hi @R3dIO ! I would say pick an item of the list of subtasks in the ticket, and let me know that you want to work on it. Then we assign it to you. Feel free to reach out through slack if you have additional questions:-)

[2021-12-10 15:50] jmanico commented on #124
I appreciate the progress being made here!

[2021-12-13 03:22] R3dIO commented on #754
Hi @commjoen I have made some updated please have a look at them and let me know if I am doing it in right way

[2021-12-13 12:21] commjoen commented on #754
@R3dIO LGTM! it might be good to have a look at https://github.com/OWASP/CheatSheetSeries/issues/124 as we are ditching some parts and rewriting others. Care to join at https://owasp.slack.com/archives/C02LSHXKVU5 :) ?

[2021-12-20 00:20] TyR3x123 opened #800 "[Security] Workflow build-and-deploy-website.yml is using vulnerable action actions/checkout"
The workflow build-and-deploy-website.yml is referencing action actions/checkout using references v1. However this reference is missing the commit [a6747255bd19d7a757dbdda8c654a9f84db19839](https://github.com/actions/checkout/commits/a6747255bd19d7a757dbdda8c654a9f84db19839) which may contain fix to the some vulnerability.
The vulnerability fix that is missing by actions version could be related t

[2021-12-27 13:50] wonda-tea-coffee opened #801 "Update: [Ruby_on_Rails_Cheat_Sheet.md]"
## What is missing or needs to be updated?
The anti-SQL injection code fails to sanitize the wildcard in the LIKE clause.
For example, if `params[:name]` contains a %, it cannot be searched as just a string.

## How should this be resolved?
Modify as follows.

[code]

[2022-01-03 09:01] mackowski commented on #801
Thanks @wonda-tea-coffee can you prepare PR with this?

[2022-01-11 00:56] MaggieFero opened #812 "Update: NPM_Security_Cheat_Sheet.md"
## What is missing or needs to be updated?
The current NPM Security Cheat Sheet uses "blind" to mean "ill-considered" or "thoughtlessly," which I don't feel aligns well with the project's Code of Conduct, specifically the standard of using welcoming and inclusive language.

## How should this be resolved?
Replace "Hold off on upgrading blindly to new versions;" with "Hold off on upgrading immediat

[2022-01-11 11:17] mackowski commented on #812
Thanks @MaggieFero I agree! Can you please make a PR that will fix it?

[2022-01-11 11:20] #752 closed

[2022-01-11 11:21] #725 closed

[2022-01-11 11:21] mackowski commented on #732
@segudev any updates on this?

[2022-01-11 13:06] segudev commented on #732
Hey! this was merged already, thx

[2022-01-11 13:06] #732 closed

[2022-01-16 21:57] priyankaaggarwal20 opened #815 "Update: file upload : file storage : point 3 : write permission only --> append permission as files can be overwritten"
## What is missing or needs to be updated?
File Storage Location¶
The location where the files should be stored must be chosen based on security and business requirements. The following points are set by security priority, and are inclusive:

Store the files on a different host, which allows for complete segregation of duties between the application serving the user, and the host handling file upl

[2022-01-19 09:47] sergiomarotco opened #817 "Update: [DotNet Security Cheat Sheet]"
## What is missing or needs to be updated?
`For Click Once applications the .Net Framework should be upgraded to use version 4.6.2 to ensure TLS 1.1/1.2 support`
TLS 1.0 is not cool.

## How should this be resolved?
Change text like this:
`For Click Once applications the .Net Framework should be upgraded to use version 4.6.2 to ensure TLS 1.2 or later support`

[2022-01-19 10:45] sergiomarotco opened #818 "Update: [DotNet Security Cheat Sheet]"
## What is missing or needs to be updated?
[ASP NET MVC Guidance](https://cheatsheetseries.owasp.org/cheatsheets/DotNet_Security_Cheat_Sheet.html#asp-net-mvc-guidance) based on old version OWASP TOP 10 2017

## How should this be resolved?
Please update section based on OWASP TOP 10 2021

[2022-01-21 07:58] commjoen commented on #124
We have dropped the whole vendor lockin part as that is not very relevant for cloud providers,  #816  for WIP (please do NOT merge yet).

[2022-01-21 11:43] commjoen commented on #124
Hi all, as you can tell, we are slowly making progress, but it is quite a lot that has to be written. CAn you for now please help reviewing section 3 of https://github.com/OWASP/CheatSheetSeries/pull/816 :) ? so that we can move ahead with the next sections. We are loking for feedbakc as well to understand whether the content written is actually helpful :).

[2022-01-22 09:14] commjoen commented on #124
Anybody wants to help by picking up a task of the list above?

[2022-01-25 16:10] cqueern opened #820 "Update: HTTP Security Response Headers Cheat Sheet"
## What is missing or needs to be updated?

[Expect-CT](https://github.com/OWASP/CheatSheetSeries/blob/master/cheatsheets/HTTP_Headers_Cheat_Sheet.md#expect-ct) header is expected to have become obsolete in June 2021 [according to Mozilla](https://developer.mozilla.org/en-US/docs/Web/HTTP/Headers/Expect-CT).

## How should this be resolved?

Suggest we consider removing the guidance around Expect-

[2022-01-25 16:20] jmanico commented on #820
Nice catch this is now resolved with https://github.com/OWASP/CheatSheetSeries/pull/821 in under 10 min after your request :)

[2022-01-25 16:20] #820 closed

[2022-01-25 16:25] cqueern commented on #820
Thanks @jmanico!

[2022-01-27 14:42] Kirkdugless opened #825 "Update: [PUT_TARGET_CS_NAME_HERE]"
## What is missing or needs to be updated?

## How should this be resolved?

[2022-01-27 16:02] #825 closed

[2022-01-27 19:22] sunami1 opened #826 "New CS proposal: [PUT_TARGET_CS_NAME_HERE]"
## What is the proposed Cheat Sheet about?

## What security issues are commonly encountered related to this area? Spade

## What is the objective of the Cheat Sheet?

## What other resources exist in this area?

[2022-01-28 12:24] sergiomarotco opened #827 "Bug: [Transport Layer Protection Cheat Sheet]"
Link in text
`Once the server has been hardened, the configuration should be tested. The OWASP Testing Guide chapter on SSL/TLS Testing contains further information on testing.`
is emty

[2022-01-28 13:08] #826 closed

[2022-01-28 13:11] mackowski commented on #827
Thanks @sergiomarotco! Do you want to make a PR to fix that? This should like to
https://owasp.org/www-project-web-security-testing-guide/stable/4-Web_Application_Security_Testing/09-Testing_for_Weak_Cryptography/01-Testing_for_Weak_Transport_Layer_Security

[2022-01-28 17:46] jmanico commented on #827
I got this :)

[2022-01-29 02:46] sergiomarotco commented on #827
No, just fix it)

[2022-01-29 02:55] sergiomarotco commented on #827
#828 Check please

[2022-01-29 08:13] commjoen commented on #124
Hi there, we are now checking if we really need section 8 for the MVP. And will try to close down sections 4 with @bendehaan and section 9 and 11 with @thatsjet . Let's see if we can redivide this work to speed up its writing! MVP time :)

[2022-01-30 06:12] commjoen commented on #754
@jmanico & can we close this in favor of #124? now that the work is almost done.

[2022-01-30 06:20] commjoen commented on #763
Currenlty the SM cheatsheet references the KM CS as these are really 2 different things. the SM cheatsheet is really about broader practices, while the KM CS is more specific about technicalities regarding key management. Can we close this :) ?

[2022-01-31 22:09] commjoen commented on #124
With https://github.com/OWASP/CheatSheetSeries/pull/840 the mVP is almost done! When it is merged, we can close this issue i guess.

[2022-02-01 04:20] #754 closed

[2022-02-01 04:21] #763 closed

[2022-02-02 12:20] mackowski commented on #818
Good idea, will you make a PR for this?

[2022-02-02 12:21] mackowski commented on #817
@sergiomarotco please make a PR with this change :)

[2022-02-02 12:22] #686 closed

[2022-02-02 15:43] sergiomarotco commented on #817
very difficult to do it on a smartphone

[2022-02-02 15:44] sergiomarotco commented on #818
very difficult to do it on a smartphone

[2022-02-02 15:45] sergiomarotco commented on #818
no one understands OWASP better than you, you should do it

[2022-02-02 21:31] commjoen commented on #124
IT IS ALIVE!

[2022-02-02 21:32] jmanico commented on #124
FANTASTIC WORK TEAM!

[2022-02-02 21:36] commjoen opened #845 "Update: Secrets_Management_CheatSheet."
## What is missing or needs to be updated?

The following tasks require to be executed post-mvp of the cheatsheet as agreed with various team-members:

- [ ] Further extend and re-evaluate the concepts of https://github.com/OWASP/CheatSheetSeries/pull/842
- [ ] show more how you can create an architecture that allows for rotation in examples (so not just tell, but show examples)
- [ ] show how pas

[2022-02-02 21:37] commjoen commented on #124
Let's close this in favor of https://github.com/OWASP/CheatSheetSeries/issues/845, again: thank you for your work everybody!

[2022-02-02 21:37] #124 closed

[2022-02-05 16:53] jeremiahjstacey opened #847 "Correct references to esapi-node encodeForJS function"
## What is missing or needs to be updated?
`encodeForJS` is not a function exposed by the esapi-node project, and should not be listed in the documentation.

As identified by [esapi-node issue 8](https://github.com/ESAPI/node-esapi/issues/8), that function is not part of the publicly exposed API for the project.

Additionally, `encodeForJS` is not a standard API across the esapi projects and will

[2022-02-06 20:54] MaggieFero commented on #812
I'm not seeing anything in the Linked Pull Requests sidebar, so just in case: That PR is meant to resolve this issue in its entirety. I went with the simplest change, but happy to go with another option if the maintainers would prefer.

[2022-02-06 20:55] mackowski commented on #812
Thank you again :-)

[2022-02-06 20:56] mackowski commented on #812
The change that you proposed is good we will push it to production today :)

[2022-02-06 20:56] MaggieFero commented on #812
You're welcome! Thank you for being so responsive! Looks like the PR was merged, so I'll close this!

[2022-02-06 20:56] #812 closed

[2022-02-09 16:12] mackowski commented on #847
@jeremiahjstacey can you please create PR for this?

[2022-02-09 16:16] mackowski commented on #815
@priyankaaggarwal20 can you describe better this issue? Or just make a PR with the changes so we will be able to review them?

[2022-02-09 16:17] #793 closed

[2022-02-09 18:35] jeremiahjstacey commented on #847
@mackowski, The intent is certainly there to get it updated.  Not sure of a timeline at this point though.

Wanted to ensure that it was at least captured before the information got lost.

To answer your question directly:  I am not able to provide a fast turn-around on this right now, but it is on the list of things to get done.

[2022-02-12 00:27] nox-4O4 opened #854 "Update: LDAP Injection Prevention Cheat Sheet"
## What is missing or needs to be updated?

The cheat sheet is quite elaborate about DN escaping, but it skims over escaping search filter expressions.
With the emphasis on special chars that need not be escaped one might even assume those characters to be safe in search strings, when in fact, they are not.

## How should this be resolved?

The section about escaping variables should be extended t

[2022-02-15 18:53] eMerzh opened #858 "Update: Public API documentation [Graphql]"
## What is missing or needs to be updated?
In the CS it's stated that:

I know it was  discussed as controversial and kinda is... and I want to make a bit of balance here ... don't really want to bikeshed.

I think it should be stated in the CS that if the introspection is not meant to be used by enduser THEN it should be disabled.

I think that if the API is meant to be used by end users, then it

[2022-02-21 19:09] kozooh opened #862 "Update: Cryptographic Storage Cheat Sheet"
## What is missing or needs to be updated?
In [Key Lifetimes and Rotation](https://cheatsheetseries.owasp.org/cheatsheets/Cryptographic_Storage_Cheat_Sheet.html#key-lifetimes-and-rotation) section it is said that:

The above is wrong since those bytes limits are not because of keys lengths but cipher blocks lengths. See the following:
[Why should encryption key be rotated after it has been used to

[2022-03-04 19:27] shahed8686 opened #869 "New CS proposal: [PUT_TARGET_CS_NAME_HERE]"
## What is the proposed Cheat Sheet about?

## What security issues are commonly encountered related to this area?

## What is the objective of the Cheat Sheet?

## What other resources exist in this area?

[2022-03-04 19:27] shahed8686 commented on #869
Good Nice

[2022-03-04 19:28] shahed8686 commented on #869
Good app

[2022-03-04 19:28] shahed8686 commented on #869
![Uploading 1646458190625..jpg…]()

[2022-03-04 19:29] shahed8686 opened #870 "Update: [PUT_TARGET_CS_NAME_HERE]"
## What is missing or needs to be updated?

## How should this be resolved?

[2022-03-04 19:30] shahed8686 commented on #870
@shahed8686

[2022-03-04 19:30] shahed8686 commented on #870
@Xeoncross

[2022-03-04 19:37] shahed8686 opened #872 "Update: [PUT_TARGET_CS_NAME_HERE]"
## What is missing or needs to be updated?

## How should this be resolved?

[2022-03-05 23:46] Xeoncross commented on #870
Not sure what this is, but it looks like spam

[2022-03-05 23:51] jmanico commented on #870
![image](https://user-images.githubusercontent.com/531465/156903505-b21c9ca3-83a6-4973-80e3-02fb10bc4942.png)

[2022-03-05 23:51] #870 closed

[2022-03-09 21:28] jmanico commented on #623
I assume we are all set here please re-open if you want to do this again! :)

[2022-03-09 21:28] #623 closed

[2022-03-09 21:29] jmanico commented on #765
I assume these issues were addressed if not please re-open!

[2022-03-09 21:29] #765 closed

[2022-03-09 21:35] jmanico commented on #765
This shameful direct commit to main fixes these issues. https://github.com/OWASP/CheatSheetSeries/commit/825d0f51367b42996c163e254420c4cf096e3f55

Anything else let me know...

[2022-03-09 21:38] jmanico commented on #685
So @chrisdlangton if you are ok with adding SCRAM/aPAKE to the [Authentication cheat sheet](https://cheatsheetseries.owasp.org/cheatsheets/Authentication_Cheat_Sheet.html) I would be glad to merge it.

I suggest adding it under the "Transmit Passwords Only Over TLS or Other Strong Transport" section and alter the name of that section too.

[2022-03-09 21:41] jmanico commented on #815
This may be a good addition to the [File Upload Cheatsheet](https://cheatsheetseries.owasp.org/cheatsheets/File_Upload_Cheat_Sheet.html).

Do you agree, @priyankaaggarwal20 ?

[2022-03-09 21:47] jmanico commented on #792
Addressed here, thank you! What else do you see?

https://github.com/OWASP/CheatSheetSeries/commit/9713537792c19deecd69fe25da5fd026367a3b9f

[2022-03-09 21:47] #792 closed

[2022-03-09 21:47] jmanico commented on #788
Merged!

[2022-03-09 21:47] #788 closed

[2022-03-09 21:48] #869 closed

[2022-03-09 21:48] #872 closed

[2022-03-09 21:54] jmanico commented on #854
addressed here https://github.com/OWASP/CheatSheetSeries/commit/faad2cd83bdb1f8593151ee531a8c0554e603128 please reopen if you want more!

[2022-03-09 21:54] #854 closed

[2022-03-10 17:28] jmanico opened #874 "LOGGING VOCAB CHEATSHEET"
We have authn_password_change - but I think we also want authn_password_change_failure

[2022-03-11 00:41] jamesarosen opened #875 "Update: HTML5 Security"
## What is missing or needs to be updated?
The [HTML5 security cheat sheet](https://cheatsheetseries.owasp.org/cheatsheets/HTML5_Security_Cheat_Sheet.html) currently says

It is absolutely true that CSRF protection is required for CORS, but it's a little imprecise. Specifically, the Cross-Site Request Forgery Prevention Cheat Sheet[¶](https://cheatsheetseries.owasp.org/cheatsheets/Cross-Site_Reque

[2022-03-11 00:53] jmanico commented on #875
Agree 100%, Would you like to suggest specific PR's? I'm with you.

[2022-03-11 08:37] lirantal commented on #623
Yes, thanks! I'll chime in on more ideas as I come with them :)

[2022-03-11 18:53] lucasgonze opened #876 "Update: Logging"
## What is missing or needs to be updated?

The logging cheat sheet does not describe threats to logs. It takes the perspective of what an ideal log contains and ignores the perspective of how and why attackers will compromise a log.

## How should this be resolved?

I have created a gist with a first draft of threat documentation:

https://gist.github.com/lucasgonze/8015f6b8364a4406d06329c8cdab96

[2022-03-11 19:28] jmanico commented on #876
First of all, I agree 100%.

Second, there are two cheatsheets.

https://cheatsheetseries.owasp.org/cheatsheets/Logging_Cheat_Sheet.html
General  Logging Info

and

https://cheatsheetseries.owasp.org/cheatsheets/Logging_Vocabulary_Cheat_Sheet.html
a list of what to log

I'd like you to add your content to:
https://cheatsheetseries.owasp.org/cheatsheets/Logging_Cheat_Sheet.html

And we can rename t

[2022-03-11 20:05] lucasgonze commented on #876
I'll experiment with adding to https://github.com/OWASP/CheatSheetSeries/blob/0ddb3cff795df2ac15f71662e02a2c6bdf128fed/cheatsheets/Logging_Cheat_Sheet.md

[2022-03-11 23:01] jamesarosen commented on #875
I'm not sure I'm qualified. I'm happy to contribute, but I'd want there to be some careful review.

[2022-03-14 07:51] mackowski commented on #875
@jamesarosen do not worry we will help you ;-)

[2022-03-14 07:53] mackowski commented on #874
I agree! @thatsjet what do you think?

[2022-03-14 14:16] jmanico commented on #876
Great work so far!

[2022-03-14 15:25] thatsjet commented on #874
Ah! Def good idea. I'll take it.

[2022-03-15 23:31] lucasgonze commented on #876
PR: https://github.com/OWASP/CheatSheetSeries/pull/878

[2022-03-16 16:15] JosephAllen opened #879 "Update: Vulnerability_Disclosure_Cheat_Sheet"
## What is missing or needs to be updated?

Can we add a diagram showing how the CVE List and NVD are related and how the vendor and/or a coordinator can be a part of the discussion?

Understanding the role of a CNA is very important. Not all vendors are CNA's and some vendors are a CNA for a specific subset of their respective product offerings. a Coordinator or other CNA can fill the gap where a

[2022-03-16 16:18] sergiomarotco commented on #827
thanks

[2022-03-16 16:18] #827 closed

[2022-03-16 16:31] sergiomarotco commented on #817
@mackowski

i did it !
https://github.com/OWASP/CheatSheetSeries/pull/880

[2022-03-16 18:16] #876 closed

[2022-03-17 14:52] sergiomarotco commented on #817
:)

[2022-03-17 14:53] #817 closed

[2022-03-17 14:55] jmanico commented on #685
I'm going to politely close this but am open to changing the existing  AuthN cheatsheet to address this https://cheatsheetseries.owasp.org/cheatsheets/Authentication_Cheat_Sheet.html

[2022-03-17 14:55] #685 closed

[2022-03-18 17:46] rdegges opened #884 "Password Storage Cheat Sheet Question"
Hi friends!

I've been reading through the password storage cheat sheet today (https://github.com/OWASP/CheatSheetSeries/blob/master/cheatsheets/Password_Storage_Cheat_Sheet.md) or https://cheatsheetseries.owasp.org/cheatsheets/Password_Storage_Cheat_Sheet.html live.

The recommendation is Argon2id (awesome!), but the fallback is bcrypt -> scrypt -> pbkdf2.

My question is this: does it make sense

[2022-03-18 18:12] jmanico commented on #884
I want to remove bcrypt and it's damn 72 byte limit. I support this!

[2022-03-18 18:17] rdegges commented on #884
Would you be open to a PR where I rewrite those recommendations and provide some guidance there with sources linked? Happy to submit something!

[2022-03-18 18:33] jmanico commented on #884
For sure lets do this!

[2022-03-18 18:34] jmanico commented on #884
I would ask, instead of one giant PR, give me a few smaller ones that we can triage one at a time. If you have major changes...

[2022-03-18 18:35] rdegges commented on #884
Will do, buddy! Thank you for the guidance! =)

[2022-03-22 18:46] jamesarosen commented on #875
Some highlights:

* The double-submit cookie pattern is not possible when making cross-origin requests
* Apply defense-in-depth
* Avoid `Access-Control-Allow-Origin: *`, `Access-Control-Allow-Methods: *`, `Access-Control-Allow-Headers: *`
* Apply allow-list origin controls both on the `OPTIONS` request _and_ the subsequent cross-origin request
* If using cookies for authentication (e.g. a session

[2022-03-23 23:55] jamesarosen commented on #875
Also: Chrome currently allows CORS requests on `localhost` (e.g. from `http://localhost:3000` to `http://localhost:3001`) without `SameSite=None; secure`, but that's going to change soon. That means that using CORS on localhost will require `https:`.

[2022-03-24 03:08] jmanico commented on #875
https://developer.mozilla.org/en-US/docs/Web/API/XMLHttpRequest/withCredentials ?

[2022-03-24 14:53] jamesarosen commented on #875
`withCredentials` is certainly necessary for submitting cookies and that's something I'll add to the "if you're using cookies for authentication" section.

But if you were implying that `withCredentials` could solve the double-submit cookie problem… I don't think so. The problem isn't submitting the token. The problem is _getting_ it.

In a non-CORS scenario, the scheme looks something like this:

[2022-03-25 16:00] jamesarosen commented on #875
Since [Google](https://www.engadget.com/2020-04-03-google-rolls-back-chrome-samesite.html) and [Apple](https://www.verdict.co.uk/apple-halts-third-party-cookies/) intend to block all third-party cookies (by default at least), it's probably not wise to recommend authenticating CORS requests with cookies on the host domain. That leaves two options:

1. When the host and origin domains share a parent

[2022-03-29 07:43] Pamplemousse opened #888 "Update: Bean Validation"
## What is missing or needs to be updated?

The "Bean Validation" Cheat Sheet mentions `@SafeHtml` as an additional constraint provided by the Hibernate validator: see https://github.com/OWASP/CheatSheetSeries/blob/master/cheatsheets/Bean_Validation_Cheat_Sheet.md?plain=1#L451 .

However, this annotation is deprecated: https://in.relation.to/2019/11/20/hibernate-validator-610-6018-released/ .

##

[2022-03-29 12:10] mackowski commented on #888
I agree with you @Pamplemousse! Thank you for this issue.
@jmanico and @Pamplemousse in general I think that this cheatsheet needs some refreshment; do you agree?

[2022-04-04 19:24] joerg-richter-5234 commented on #720
@mackowski I assume this refers to the [Security Headers](https://cheatsheetseries.owasp.org/cheatsheets/REST_Security_Cheat_Sheet.html#security-headers) section. In that case, i would like to give it a try.

[2022-04-13 16:44] jmanico opened #892 "Authentication cheat sheet"
We're not discussing login throttling as a way to stop detected automated login attacks, and yet, tbis is the most important dedense.

[2022-04-14 01:48] sergiomarotco commented on #892
You are talking about this section   https://github.com/OWASP/CheatSheetSeries/blob/master/cheatsheets/Authentication_Cheat_Sheet.md#protect-against-automated-attacks ?

[2022-04-14 02:30] james-bw opened #893 "Update: JSON_Web_Token_Cheat_Sheet_for_Java"
[Section "Token Sidejacking" in JSON_Web_Token_Cheat_Sheet_for_Java.md](https://cheatsheetseries.owasp.org/cheatsheets/JSON_Web_Token_for_Java_Cheat_Sheet.html#token-sidejacking) describes:

_This attack occurs when a token has been intercepted/stolen by an attacker and they use it to gain access to the system using targeted user identity._ and the solution is to _to add a "user context" in the to

[2022-04-15 08:20] mackowski commented on #892
Yes, this section

[2022-04-20 20:54] jmanico opened #897 "Logging Vocabulary Issue"
Hey @thatsjet may I suggest we bump

malicious_direct_reference:[userid|IP, useragent]

to critical? It's a huge Access Control issue, and another Access Control violation is critical already....

[2022-04-20 21:11] thatsjet commented on #897
Yea I think that makes sense. authz_fail is more generic, but this kind of trapped IDOR should also be critical if caught. I'll submit a PR today.

[2022-04-20 21:55] thatsjet commented on #897
PR #898 submitted

[2022-04-20 23:59] #897 closed

[2022-04-21 05:18] fox091 opened #899 "Update: Authentication_Cheat_Sheet.md - Recommend a newer, maintained fork of zxcvbn"
## What is missing or needs to be updated?

In the [Implement Proper Password Strength Controls](https://cheatsheetseries.owasp.org/cheatsheets/Authentication_Cheat_Sheet.html#implement-proper-password-strength-controls) section, [zxcvbn](https://github.com/dropbox/zxcvbn) is recommended with the caveat that it is no longer maintained.  There is now a [fork](https://github.com/zxcvbn-ts/zxcvbn) of

[2022-04-29 21:48] vcsjones opened #901 "Update: Cryptographic Storage Cheat Sheet"
## What is missing or needs to be updated?

The "Cryptographic Storage Cheat Sheet" has a couple of things I would like to help improve.

1. The "Cryptographically Secure Functions" for random number generation lists `RNGCryptoServiceProvider` for C# / .NET. This API has been [obsolete](https://docs.microsoft.com/en-us/dotnet/api/system.security.cryptography.rngcryptoserviceprovider?view=net-6.0)

[2022-05-05 18:05] Drakogangcom opened #904 "Drako"

[2022-05-10 03:57] Flint05 commented on #904
Это что обьясните

[2022-05-29 10:28] shahed8686 opened #911 "New CS proposal: [PUT_TARGET_CS_NAME_HERE]"
## What is the proposed Cheat Sheet about?

## What security issues are commonly encountered related to this area?

## What is the objective of the Cheat Sheet?

## What other resources exist in this area?

[2022-05-29 10:29] shahed8686 opened #912 "Update: [PUT_TARGET_CS_NAME_HERE]"
## What is missing or needs to be updated?

## How should this be resolved?

[2022-05-29 10:30] shahed8686 commented on #912
Going been

[2022-05-29 10:34] shahed8686 opened #913 "New CS proposal: [PUT_TARGET_CS_NAME_HERE]"
## What is the proposed Cheat Sheet about?

## What security issues are commonly encountered related to this area?

## What is the objective of the Cheat Sheet?

## What other resources exist in this area?

[2022-06-04 01:56] cmlh opened #917 "Update: Server Side Request Forgery Prevention"
I have considered both the [open and closed issues](https://github.com/OWASP/CheatSheetSeries/issues?q=is%3Aissue+SSRF+is%3Aclosed) before submitting this issue.

## What is missing or needs to be updated?
[Agarri_FR](https://twitter.com/Agarri_FR/status/1531941195445899268) has raised that in leveraging reserved address space of IPv4 and IPv6 it is possible to bypass SSRF and therefore commit htt

[2022-06-10 13:11] jmanico commented on #884
I just agree, so lets do it.

[2022-06-10 13:17] jmanico commented on #884
Good call, this is now live. Closing issue. Thank you! :)

[2022-06-10 13:18] #884 closed

[2022-06-11 19:51] vadimszzz opened #920 "New CS proposal: [Mobile or iOS/Android separately]"
## What other resources exist in this area?
MSTG, MASVS

[2022-06-13 09:47] mackowski commented on #917
Hey @cmlh thanks for that! Can you create a PR with the fix?

[2022-06-13 09:48] mackowski commented on #920
Hey @vadimszzz plese provide more details about this proposal

[2022-06-13 09:49] #913 closed

[2022-06-13 09:50] #912 closed

[2022-06-13 09:50] #911 closed

[2022-06-13 09:51] mackowski commented on #901
Awesome! Thank you @vcsjones! Do you want to create PR with the updates?

[2022-06-13 09:52] mackowski commented on #899
Absolutely yes! @fox091 do you want to make the PR?

[2022-06-13 09:57] mackowski commented on #893
Hey @james-bw the risk of obtaining the cookie is minimized by using "'[HttpOnly + Secure](https://developer.mozilla.org/en-US/docs/Web/HTTP/Cookies#Secure_and_HttpOnly_cookies) + [SameSite](https://developer.mozilla.org/en-US/docs/Web/HTTP/Cookies#SameSite_cookies) + [cookie prefixes](https://googlechrome.github.io/samples/cookie-prefixes/)" - this protects the additional cookie very strongly

[2022-06-13 09:58] mackowski commented on #892
@sergiomarotco do you want to work on this?

[2022-06-13 09:59] #874 closed

[2022-06-13 10:00] mackowski commented on #385
no action in this proposal for over the year; I am closing this

[2022-06-13 10:00] #385 closed

[2022-06-13 10:01] mackowski commented on #543
@ronperris any updates on this?

[2022-06-13 10:01] #608 closed

[2022-06-13 10:07] mackowski commented on #879
Nice idea, @JosephAllen can you prepare a draft for it so we can review?

[2022-06-13 11:13] #677 closed

[2022-06-13 11:17] #517 closed

[2022-06-13 11:19] mackowski commented on #461
no actions taken for a long time here; this is not an issue just improvement; I am closing this, feel free to create PR when ready or reopening this

[2022-06-13 11:19] #461 closed

[2022-06-13 11:20] mackowski commented on #126
Very old new cheat sheet proposal; I am closing this.

[2022-06-13 11:21] #471 closed

[2022-06-13 11:22] #691 closed

[2022-06-13 11:23] mackowski commented on #67
Very old new cheat sheet proposal; I am closing this.

[2022-06-13 11:23] #67 closed

[2022-06-13 11:23] #119 closed

[2022-06-13 11:24] #95 closed

[2022-06-13 11:24] mackowski commented on #257
Very old new cheat sheet proposal; I am closing this.

[2022-06-13 11:24] #257 closed

[2022-06-13 11:25] mackowski commented on #723
Old new cheat sheet proposal; I am closing this.

[2022-06-13 14:00] vcsjones commented on #901
@mackowski Yep. Will probably be in the next few days.

[2022-06-15 07:41] Geniustech1998shvac opened #925 "New CS proposal: [PUT_TARGET_CS_NAME_HERE]"
## What is the proposed Cheat Sheet about?

## What security issues are commonly encountered related to this area?

## What is the objective of the Cheat Sheet?

## What other resources exist in this area?

@geniustech@media
Genius Tech Media

[2022-06-15 07:45] #925 closed

[2022-06-15 07:50] #917 closed

[2022-06-15 08:00] mackowski commented on #917
Thanks for the issue and PR! Giving bad advice is much worse than not giving any advice. Good that we fixed it.

[2022-06-20 17:29] mackowski commented on #899
Thank you!

[2022-06-20 17:29] #899 closed

[2022-06-20 17:32] #893 closed

[2022-06-20 17:35] mackowski commented on #875
I agree, it looks like a new cheatsheet that can be referenced from CSRF and HTML5

[2022-06-20 18:09] eMerzh commented on #858
i can try that....

[2022-06-20 18:14] commjoen commented on #845
Not at the moment; I have too many items on WrongSecrets at the moment. @thatsjet : do you want to pick it up :-)?

[2022-06-20 18:18] thatsjet commented on #845
Let me review the discussion and get back to you.

[2022-06-20 22:36] james-bw commented on #893
Again, given the JWT attack surface requires that the "token has been intercepted/stolen by an attacker", how does this provide any further security beyond the JWT.

[2022-06-21 18:20] miparnisari opened #936 "Update: Authorization"
## What is missing or needs to be updated?
On this page there's talk about RBAC and ABAC: https://cheatsheetseries.owasp.org/cheatsheets/Authorization_Cheat_Sheet.html#prefer-feature-and-attribute-based-access-control-over-rbac

Can we add ReBAC (relationship-based access control)? https://research.google/pubs/pub48190/

Advantages:
- it supports fine-grained authorization
- it supports hierarchie

[2022-06-22 12:28] mackowski commented on #936
Hey @miparnisari good idea! Do you want to make a PR with this change?

[2022-06-22 12:47] mackowski commented on #858
Thank you @eMerzh!

[2022-06-22 12:47] #858 closed

[2022-06-23 05:17] miparnisari commented on #936
@mackowski uhh i want to, but would that be a conflict of interest? I'm working for a company (@auth0) that is building a ReBAC solution :P

[2022-06-28 07:39] #936 closed

[2022-06-28 07:40] #847 closed

[2022-06-28 07:40] #862 closed

[2022-06-28 07:43] mackowski commented on #920
Closing because lack of details/issue not actionable. Please create new one with better description.

[2022-06-28 07:43] #920 closed

[2022-06-28 09:57] Jxck opened #940 "Update: CSRF Cheat Sheet"
## What is missing or needs to be updated?

In, [JavaScript Guidance for Auto-inclusion of CSRF tokens as an AJAX Request header](https://cheatsheetseries.owasp.org/cheatsheets/Cross-Site_Request_Forgery_Prevention_Cheat_Sheet.html#javascript-guidance-for-auto-inclusion-of-csrf-tokens-as-an-ajax-request-header)

It mentions that every Ajax request requires CSRF Token. But I don't know what is miti

[2022-07-06 17:50] lmckinnie1 opened #942 "Update: [SESSION_MANAGEMENT]"
## What is missing or needs to be updated?

Wikipedia is currently being used as a resource to describe personal data/PII in the session management cheat sheet. The Wikipedia page can be edited by the public and isn't kept up to date, so it's not the most trustworthy resource. IDShield has created an in-depth piece that explains personally identifiable information (PII) and what it includes. Unlik

[2022-07-08 23:42] cmlh opened #943 "Update: Vulnerability Disclosure Cheat Sheet"
## What is missing or needs to be updated?
Both the [Finding Contact Details](https://github.com/OWASP/CheatSheetSeries/blob/master/cheatsheets/Vulnerability_Disclosure_Cheat_Sheet.md#finding-contact-details) and [Publishing Contact Details](https://github.com/OWASP/CheatSheetSeries/blob/master/cheatsheets/Vulnerability_Disclosure_Cheat_Sheet.md#publishing-contact-details) states the root path of

[2022-07-09 04:37] Spikebady opened #944 "New CS proposal: [PUT_TARGET_CS_NAME_HERE]"
## What is the proposed Cheat Sheet about?

## What security issues are commonly encountered related to this area?

## What is the objective of the Cheat Sheet?

## What other resources exist in this area?

[2022-07-09 04:38] Spikebady opened #945 "Update: [PUT_TARGET_CS_NAME_HERE]"
## What is missing or needs to be updated?

## How should this be resolved?

[2022-07-11 05:53] #945 closed

[2022-07-11 05:53] #944 closed

[2022-07-11 06:01] mackowski commented on #940
Hey @Jxck did you read "Verifying Origin With Standard Headers" section of this CS (https://cheatsheetseries.owasp.org/cheatsheets/Cross-Site_Request_Forgery_Prevention_Cheat_Sheet.html#verifying-origin-with-standard-headers)? It describes when checking standard headers are not enough for CSRF.

[2022-07-11 06:03] mackowski commented on #942
Hey @lmckinnie1 can you make a PR with that change? Please add this link as an addition to the existing wikipedia.

[2022-07-11 06:04] mackowski commented on #943
Thanks @cmlh! Do you want to make a PR with that change?

[2022-07-11 17:51] rafhofman opened #947 "Update: Cryptographic_Storage_Cheat_Sheet"
## What is missing or needs to be updated?
Secure Random Number Generation for Node.js runtime. In recent releases, it was added to the Node.js runtime (v12.19.0)

## How should this be resolved?
Adding a line in the table for Node.JS - I will resolve it via PR

[2022-07-13 13:00] #943 closed

[2022-07-13 13:01] #940 closed

[2022-07-20 18:34] Spikebady commented on #945
I have yet to see the video

[2022-07-21 16:54] tghosth commented on #717
Hi Jim, as @daxin09pp says if .NET >=4.5.2 does not lock up the machine when a large document is passed but rather just throws an exception, I am not sure I understand why this would be considered vulnerable.

Are we saying that we need to somehow tell them to avoid even expanding entities at all on load? In .NET I am not sure the cheatsheet provides guidance on how to actually prevent that or if

[2022-07-21 18:00] jmanico commented on #717
I think a fix is needed, I agree the current cheatsheet is in error.

PR Anyone?

[2022-07-24 16:22] tghosth commented on #717
I have created a PR as well as a testing project focused on billion laughs, it would be great if someone could use the testing project with .NET 4.5.2 to verify that what I have done is correct.

[2022-07-24 16:22] tghosth commented on #717
@daxin09pp @matteo-tosi @cai1006652859 would specifically appreciate your input.

[2022-08-02 19:54] dnetoa opened #958 "Feature Request | Enable i18n Support from mkdocs"
Hi. Congrats on the fantastic work on this project.

wantke to suggest [enabling i18n](https://squidfunk.github.io/mkdocs-material/setup/changing-the-language/#site-language-selector) support on mkdocs-material, and uscommunity-baseded translations for documents.

Seems the actual fallbacks options available, provide a consistent way to keep a work-in-progress manner.

[2022-08-04 18:36] jmanico commented on #958
Would you mind looking over my shoulder and help me enable this properly? I'm into it!

[2022-08-05 07:49] mackowski commented on #958
How do you want to manage multiple languages when someone will make changes to the cheatsheet? Every PR for a translated cheatsheet would need to be translated to all supported languages.
The problem with multiple languages and this project is that we do not have versions or releases that can be translated and will be living for a longer time. The whole project is a living thing updated couple tim

[2022-08-13 10:13] h4r1337 opened #962 "Update: OS Command Injection Defense"
## What is missing or needs to be updated?
In this cheat sheet under the [PHP](https://cheatsheetseries.owasp.org/cheatsheets/OS_Command_Injection_Defense_Cheat_Sheet.html#php) section, it recommends to use `escapeshellarg()` or `escapeshellcmd()` to escape malicious user inputs. The PHP documentation of these functions says that: [`escapeshellarg()`](https://www.php.net/manual/en/function.escapes

[2022-08-16 17:04] david-a-wheeler opened #965 "Update: Password Cheat Sheet: delay/rate limit between password reset emails"
## What is missing or needs to be updated?

The [Forgot Password Cheat Sheet](https://cheatsheetseries.owasp.org/cheatsheets/Forgot_Password_Cheat_Sheet.html) doesn't mention the value of a delay or rate limit between actually performing password reset emails.

It's *good* that it mentions that the reply should always be the same (to counter enumeration and to counter revealing that an account exi

[2022-08-19 17:32] JoeFound opened #966 "Update: XML External Entity Prevention Cheat Sheet"
## What is missing or needs to be updated?
The section **JAXP DocumentBuilderFactory, SAXParserFactory and DOM4J** is a bit confusing to understand correctly when deciding what are the features to consider.
The section:
`// and these as well, per Timothy Morgan's 2014 paper: "XML Schema, DTD, and Entity Attacks"
    dbf.setXIncludeAware(false);
    dbf.setExpandEntityReferences(false);`
sounds as

[2022-08-23 16:47] GeorgesBolssens-Toreon opened #968 "Update: Secrets Management Cheat Sheet"
## What is missing or needs to be updated?

Go to https://cheatsheetseries.owasp.org/cheatsheets/Secrets_Management_CheatSheet.html
Click one of the hyperlinks in the navigation
Expected result: Browser jumps to that section
Actual result: Nothing happens

Tested in Safari 15.5, Chrome 104, Firefox 103.0.2

## How should this be resolved?

I'm unaware of the CMS you are using. You are better fit t

[2022-08-31 13:33] szh opened #970 "Update: Secrets Management"
## What is missing or needs to be updated?
In the section *[5.1 Injection of Secrets (file, in-memory)](https://cheatsheetseries.owasp.org/cheatsheets/Secrets_Management_CheatSheet.html#51-injection-of-secrets-file-in-memory)*, the first recommended way of providing secrets to applications is environment variables. The cheat sheet does not mention the risk of environment variables being leaked by

[2022-08-31 14:04] jmanico commented on #970
Would you be ok with me just fully deleting 5.1? Or do you prefer we keep it in with caveats?

[2022-08-31 14:25] szh commented on #970
That's a good question. I think it's valuable information but on the other hand this is a cheat sheet so we have to balance that with brevity. I'm new to this so I'll go with whichever you want. Just let me know and I can make a PR.

[2022-08-31 14:26] jmanico commented on #970
For this first one, lets move it and add the warning like you suggest.

Looking forward to your PR! Thank you!

[2022-08-31 20:18] szh commented on #968
This appears to be the only cheat sheet that has it's own navigation links included in the Markdown, despite the fact that the CMS provides a sidebar with a table of contents.
I also noticed an oddity in how this cheat sheet is listed in the navigation: It has the "CheatSheat" and ".md" suffix which seems out of place. I don't see a place in the repo where this can be fixed so I'm assuming it's be

[2022-08-31 20:33] #968 closed

[2022-08-31 22:05] sergiomarotco opened #977 "Update: [Network_Segmentation_Cheat_Sheet]"
## What is missing or needs to be updated?
Add new section "Many applications on the same network": #975
Add PNG file: #976
Add drawi.io source scheme file: #974

[2022-08-31 22:31] Spikebady commented on #962
This video was taken on a mobile phone

[2022-09-14 06:04] Zhiyuan-Amos opened #981 "Update: Microservices Security Cheat Sheet"
## What is missing or needs to be updated?

This [line](https://github.com/OWASP/CheatSheetSeries/blob/master/cheatsheets/Microservices_security.md?plain=1#L75) states

I think, this issue results in an **increase** in attack surface rather than a decrease.

Also, from reading this paragraph, I'm not quite sure how this approach makes the Software more / less secure. One scenario that I thought of

[2022-09-14 15:24] jmanico commented on #981
I agree with you 100%. I fundamentally disagree with this statement 100% and will make a few changes.

Would you like to PR for this and fix it? I'll approve quickly if you do.

[2022-09-18 14:22] psibean opened #982 "Update: Cross-Site Request Forgery Prevention Cheat Sheet"
## What is missing or needs to be updated?

In the Synchronizer Token Pattern section:

In which direction? From the server to the client, or from the client to the server, or both?

The section that follows this statement only provides a client-to-server example, which implies the statement is strictly referring to client-to-server transmission, but the statement is ambiguous.

My understanding i

[2022-09-19 18:45] jmanico commented on #982
I agree with you 100%. In fact, one of the patterns for CSRF defense is the double submit cookies.
Would you care to submit a PR for this? I'd be grateful.

[2022-09-20 04:27] psibean commented on #982
Hey, I'll be more than happy to open a PR for this within the next couple of days!

I do want to clarify before proceeding though, the section I am referring to is explicitly talking about the `synchroniser pattern`, this part of the cheat sheet is not applicable to the double submit section, which comes afterwards.

I'm explicitly confused around the synchroniser pattern and the transmit statemen

[2022-09-20 19:09] jmanico commented on #982
For synchronizer-token, typically the token is rendered in the form as a hidden parameter. There should be no need for step 4, the synchronizer-token pattern rarely uses a cookie for the CSRF transport, so there is no need for that step in session technologies.

For double-submit cookies, the backend does not generate the secret. The **_client_** does this via a JS library. The Js library creates

[2022-09-20 22:56] psibean commented on #982
Hey, thanks heaps for this explanation! It's really helpful, and I'd definitely like to update the cheatsheet to more accurately reflect this information.

Right. Understood!

This is the **first** time I'm hearing about this pattern working this way. My understanding is the backend does generate the secret / token, it's just stateless because the backend does not store or keep track of any of tha

[2022-09-21 12:32] jmanico commented on #982
The double cookie submit pattern is made for stateless services. Even if the server generates the secret (or even the cookie name) stateless services do not save that data for verification.

The server only checks if the cookie and request parameter match.

So sure, the server can generate that value, but it is not necessary. Take a look at Angular, it's how it works (I believe).

[2022-09-21 12:48] SoheilKhodayari opened #985 "Update: Cross-Site Request Forgery Prevention Cheat Sheet"
## What is missing or needs to be updated?
The current version of the cheat sheet does not have any information on *client-side* CSRF, how these vulnerabilities emerge and how to avoid them.

Client-side CSRF is a new breed of CSRF that abuses the client-side code (see, e.g., [[1]](https://m.facebook.com/nt/screen/?params=%7B%22note_id%22%3A996734990846339%7D&path=%2Fnotes%2Fnote%2F&_rdr) and [[2]

[2022-09-21 13:23] psibean commented on #982
Yeah, 100% understood it isn't necessary. But in some cases, even as recommended on the cheatsheet, if you do use your server to generate the pair, you can allow a configured secret to add into the generation.

I looked at the NextAuth for Next.js and I now understood from their implementation how it is intended to work.

I will look at making some clarifying amendments to the cheatsheet this week

[2022-09-22 07:50] marion-cable commented on #723
I believe this should be reopened as this is an invaluable resource.

Some of the other places I have found valuable information regarding this topic:
https://patchstack.com/articles/security-design-principles-owasp/
https://www.linkedin.com/learning/csslp-cert-prep-3-secure-software-design/secure-design-principles-and-patterns
https://www.ncsc.gov.uk/collection/cyber-security-design-principles
ht

[2022-09-22 12:02] infosecdad commented on #723
If it's reopened, I'll write it; I have more sources that I found in the last six months.

[2022-09-22 13:16] marion-cable commented on #723
From the ReadMe
`- Start with a H1 of the cheat sheet name
- The first section of the cheat sheet should be an introduction which briefly sums up the contents, and provides a short list of key bullet points.
- The table of contents will be automatically generated on the site, so does not need to be added as a section.
- Headings should have a blank line after them.`

[2022-09-22 13:19] mackowski commented on #723
We do not have a template. Just bullet points/headers that we will fill the content.

[2022-09-26 08:20] marion-cable commented on #723
@infosecdad Let me know when you would like a proof read or any other input from myself.

[2022-09-26 10:02] WilliamBenEmbarek opened #987 "Update: Password_Storage_Cheat_Sheet.md"
## What is missing or needs to be updated?
The bcrypt work factor recommendations do not match the OWASP ASVS recommendations

## How should this be resolved?
The bcrypt work factor sentence :
"The minimum work factor for bcrypt should be 10." should be replaced with  "The work factor should be as large as verification server performance will allow, with a minimum of 10.

[2022-10-05 03:18] cmlh opened #989 "Update: Key Management"
## What is missing or needs to be updated?
Insert the  [Commercial National Security Algorithm Suite 2.0](https://media.defense.gov/2022/Sep/07/2003071834/-1/-1/0/CSA_CNSA_2.0_ALGORITHMS_.PDF) (released September 2022) within the [Cryptographic Key Management Libraries](https://cheatsheetseries.owasp.org/cheatsheets/Key_Management_Cheat_Sheet.html#cryptographic-key-management-libraries) section of

[2022-10-05 07:19] prabhupraveen opened #990 "Update: JSON Web Token Cheat Sheet for Java"
## What is missing or needs to be updated?
Can we consider that the fix suggested for the "Token Sidejacking" in the cheat sheet can also be used as a fix for "No Built-In Token Revocation by the User"?

## How should this be resolved?
In a stateless environment where JWT is used, the server has no state maintained on the server side, hence there is no 'session' to clear. In my view, implementing

[2022-10-05 09:37] fcanogab opened #991 "Update: HTTP Security Response Headers Cheat Sheet"
## What is missing or needs to be updated?
Some of these headers do nothing or are not recommended in some situations. For example, some header may do nothing if the HTTP service is returnin a JSON.

## How should this be resolved?
These nuances should be added to provide to developers better information about when a header is recommended or not and the real impact of using or not using it.

[2022-10-15 16:50] SoheilKhodayari opened #993 "Update: Cross-site leaks Cheat Sheet"
## What is missing or needs to be updated?
In the SameSite Cookies section:

This is inaccurate because SameSite cookies do not provide complete protection against all classes of XS Leaks and CSRF attacks, but can only mitigate "some" variants of these attacks. Notable examples are client-side CSRF, or window-based XS Leaks that can abuse top-level requests to bypass the protection offered by Same

[2022-10-17 08:09] mackowski commented on #993
Good Point @SoheilKhodayari! Can you please make PR with suggested change?

[2022-10-17 08:10] mackowski commented on #991
Hey @fcanogab can you make a PR with more details? I agree that we can make this cheatsheet more precise.

[2022-10-17 08:11] mackowski commented on #989
@cmlh can you make a PR with that change?

[2022-10-17 08:14] mackowski commented on #985
@SoheilKhodayari this is a good proposal. We can either create a new cheat sheet or start from adding new section to the existing one. Do you want to make a PR? We will help with the process and make a review.

[2022-10-17 08:15] #977 closed

[2022-10-17 08:15] #970 closed

[2022-10-17 08:16] mackowski commented on #966
Good point! Thanks! @JoeFound do you want to make a PR?

[2022-10-17 08:19] mackowski commented on #990
Thanks @prabhupraveen! Can you make a PR for that?

[2022-10-17 08:40] SoheilKhodayari commented on #985
@mackowski sure, I'll be more than happy to open a PR for this within the next few days. I'll start by adding a new section to the existing cheat sheet.

[2022-10-17 08:42] SoheilKhodayari commented on #993
@mackowski of course, I'll submit a PR asap.

[2022-10-17 15:42] fcanogab commented on #991
@mackowski, I have made a short draft PR to check with you if the approach is right. If yes, I'll continue with the rest of the headers.

[2022-10-17 19:01] david-a-wheeler commented on #965
PR created as requested!

[2022-10-18 06:49] #965 closed

[2022-10-18 06:50] mackowski commented on #991
Thank you!

[2022-10-19 08:23] #987 closed

[2022-10-19 08:28] mackowski commented on #993
Thanks @SoheilKhodayari !

[2022-10-26 07:45] #982 closed

[2022-10-27 09:48] prabhupraveen commented on #990
Sure, let me work on it, will submit in a couple of days.

[2022-10-29 12:44] SoheilKhodayari commented on #985
@mmarti Client-side CSRF is a variant of CSRF, which is entirely different than a XSS attack.

In client-side XSS, the attacker injects malicious JS code or markup through an initial injection point and obtain arbitrary client-side code execution. This renders anti-CSRF defenses ineffective, but can also have many other consequences (e.g., data exfiltration, stealing credentials, etc). The root ca

[2022-10-31 09:30] SoheilKhodayari commented on #985
@mmarti  Would you mind mentioning your reference for this about **ALL** CSRF being client-side? I believe this is a very strong claim. CSRF is often seen as a server-side problem, an instance of a confused deputy flaw. But client-side CSRF can also happen, which is why we have this issue (see, e.g., the cs-CSRF vulnerability affecting [Instagram](https://www.facebook.com/notes/996734990846339/)),

[2022-11-01 12:33] SoheilKhodayari commented on #985
@mmarti Thank you very much for your comments. However, I would like to politely disagree with your arguments as I believe they are not based on facts, but incorrect understanding of the common definitions and semantics of different vulnerabilities. Below I listed some of them and provided scientific references for your consideration. Hope it helps!

SSRF is an own class of vulnerability with a di

[2022-11-01 13:52] szh commented on #892
I'd like to work on this. I should be able to get a PR in sometime this week.

[2022-11-01 20:36] onepseudoxy opened #1001 "Update: [Nodejs_Security_Cheat_Sheet.md]"
## What is missing or needs to be updated?
[csruf](https://www.npmjs.com/package/csurf) is deprecad

## How should this be resolved?
Customize [csrf](https://www.npmjs.com/package/csrf) for your needs

[2022-11-04 11:24] SoheilKhodayari commented on #985
@mmarti I see what you mean; in that case, there is no "attack" (exploitation of an existing CSRF vulnerability), but the vulnerability exists in the server-side code, because when such authenticated request is made, the server cannot discern if this request is intentional or not (e.g., missing anti-CSRF tokens).

In reality, attackers can eventually find a way to get a victim's browser to make an

[2022-11-06 22:01] szh commented on #901
@vcsjones are you still planning to work on this? Otherwise I may be able to take it.

[2022-11-06 22:02] szh commented on #546
@mattt are you still planning to work on this? Otherwise I might have time to handle it.

[2022-11-08 19:45] szh commented on #892
We already have a section on [Account Lockout](https://github.com/OWASP/CheatSheetSeries/blob/master/cheatsheets/Authentication_Cheat_Sheet.md#account-lockout). Can you elaborate on how login throttling is different?

[2022-11-08 20:25] szh commented on #989
I don't think this belongs in that section, which is about _libraries_, whereas the NSA report is about _algorithms_. See the PR I just submitted, #1006

[2022-11-15 15:06] #989 closed

[2022-11-17 13:28] #546 closed

[2022-11-18 18:56] glasser opened #1010 "Update: Cross-Site Request Forgery Prevention Cheat Sheet"
## What is missing or needs to be updated?

The CSRF sheet dictates that token-based mitigations are the correct way to solve CSRF issues, and describes custom request headers as a defense-in-depth mitigation.

However, the actual section on custom request headers makes it clear that it's very effective if you only care about "AJAX or API endpoints" and not `<form>` tags.

These days it's very com

[2022-11-18 19:08] glasser opened #1011 "Update: Cross-Site Request Forgery Prevention Cheat Sheet"
## What is missing or needs to be updated?

Cross-Site Request Forgery attacks occur because untrusted browser code can cause requests to be sent to a vulnerable server that are "special" in a way that the attacker could not send from their own machines.  Typically this "special"-ness is that they contain cookies from a targeted user's browser. Less commonly, this could mean they contain basic aut

[2022-11-19 10:19] ikkisoft commented on #1010
Using a custom authentication header as a mechanism to prevent CSRF represents a solid protection. Assuming no significant CORS misconfigurations, this solution is resilient and easy to implement. Personally, I don't see how this is a "Defense in Depth Techniques" since it's THE solution for several modern apps.

[2022-11-21 10:21] bogdanoniga commented on #1001
It is the case for [escape-html](https://github.com/component/escape-html) and [node-esapi](https://github.com/ESAPI/node-esapi) recommended libraries which are not maintained for years already.

[2022-11-21 11:30] mackowski commented on #1010
@glasser that is true. We can move it from to its own top-level section. It will need a solid explanation (so list all constraints where it is enough to use only custom header to be secure). Do you want to make a PR for this change?

[2022-11-21 11:32] mackowski commented on #1011
Yes, that would be a good addition! Do you want to address it in PR?

[2022-11-21 13:35] mackowski commented on #1001
Issue with csruf was fixed in https://github.com/OWASP/CheatSheetSeries/pull/1008/files
[escape-html](https://github.com/component/escape-html) and [node-esapi](https://github.com/ESAPI/node-esapi) are not deprecated or vulnerable. If there is a good alternative, please create a PR - we would love to review it!

[2022-11-21 13:35] #1001 closed

[2022-11-21 13:37] mackowski commented on #962
Uhh apologies @h4r1337 that I am responding after so long.... I do not know why I missed this issue. You are right! Please create PR with that!

[2022-11-21 13:38] #958 closed

[2022-11-21 13:39] mackowski commented on #543
@ronperris do you still want to do this?

[2022-11-21 13:40] #717 closed

[2022-11-21 13:43] mackowski commented on #892
@jmanico do you think that we should something more than [Account Lockout](https://github.com/OWASP/CheatSheetSeries/blob/master/cheatsheets/Authentication_Cheat_Sheet.md#account-lockout)?

[2022-11-21 13:44] mackowski commented on #901
@szh I think that we can assume that you can work on this :)

[2022-11-21 16:08] vcsjones commented on #901
@szh yep, please do! Sorry I didn't get to this soon :-(

[2022-11-22 13:19] h4r1337 commented on #962
Hey @mackowski, no problem... I will create a PR by tomorrow.

[2022-11-30 12:45] #901 closed

[2022-11-30 12:46] #990 closed