[2019-01-03 15:04] Sinobell opened #1 "Cheat sheet update/refactor proposal: Abuse_Case_Cheat_Sheet"
* Updated the language to be more concistent with the rest of the OWASP framework. Changing the wording from the informal "guy" to formal neutral "person/people/profile".

* Correction typos and spelling errors.

[2019-01-03 16:39] righettod commented on #1
Kindly handled by you in the PR #2

[2019-01-03 16:39] #1 closed

[2019-01-04 11:28] danehrlich1 opened #3 "Cheat sheet update/refactor proposal: PHP_Configuration_Cheat_Sheet"
Thanks you for proposing a update/refactor of a cheat sheet.

Please provides the following information about your proposal:

- What update/refactoring do you want to perform?
PHP Config Sheet, and probably later a general PHP Language Sheet (new).

Thanks you again for your contribution :smiley:

[2019-01-04 11:37] danehrlich1 opened #5 "New cheat sheet proposal: Apache HTTP Server"
Thanks you for proposing a new cheat sheet.

Please provides the following information about your proposal:

1. Which security issues are bring or commonly meet when someone must work on this topic?
Most web servers completely undermine any security that was built into the application. It can render all app security code pointless. Very important to get this right.
2. What is the objective of the

[2019-01-04 14:35] righettod commented on #5
OK from my side.

 @jmanico Do you are OK with this proposal?

[2019-01-04 14:35] righettod commented on #3
OK on my side.

@jmanico Do you are OK with this proposal?

[2019-01-04 14:42] righettod commented on #3
If @jmanico is OK with your proposal then I will move the both PHP CS to the excluded folder because your contribution will replace these 2 CS.

[2019-01-07 07:34] righettod commented on #5
As Jim is currently busy, i validate the proposal.

[2019-01-07 07:35] righettod commented on #3
As Jim is currently busy, i validate the proposal.

[2019-01-24 00:33] danehrlich1 opened #6 "New cheat sheet proposal: DNS Security"
**NOTE: In light of this [recent event](https://www.theregister.co.uk/2019/01/23/dhs_issues_emergency_directive/) wanted to create the following DNS Cheat Sheet**
***

Thanks you for proposing a new cheat sheet.

Please provides the following information about your proposal:

1. Which security issues are bring or commonly meet when someone must work on this topic?
`How do I secure my domain at the

[2019-01-25 16:55] righettod commented on #6
Hi, seems very interesting, let's do this 😃

[2019-02-08 19:46] mackowski opened #8 "New cheat sheet proposal - Docker Security"
1. Which security issues are bring or commonly meet when someone must work on this topic?

Misconfigurations when working with docker containers can downgrade application security (e.g. default runs as a root user) or even introduce new vulnerabilities to the system (like exposing docker port)

2. What is the objective of the cheat sheet?

Spread the knowledge about good practices when working wit

[2019-02-08 20:46] righettod commented on #8
Hi,
Thanks you very much for your proposal.
It's a very good idea 😃
Please use the CS template along the conversion rules, the editor and the validation policy mentioned on the README and start the creation according to your available time...
No stress at all....
Thanks again.

[2019-02-09 15:08] righettod opened #9 "OWASP Wiki content update: Redirect CS pages to GitHub MD files"
# Goal

This issue has been created in order to track and provide information about the update of the OWASP wiki content of the project in order to replace every cheat sheet wiki page content with a redirection ,along a text, pointing to the associated markdown file hosted in this repository.

:exclamation: **Important note:** Only cheat sheets for which a file in the folder [cheatsheets](https://

[2019-02-11 22:26] danehrlich1 commented on #8
@mackowski Thank you so much for adding this. After you are done with this I will go ahead and do one on Kubernetes.

[2019-02-11 22:29] danehrlich1 commented on #9
Since I did PHP I will take the P's :)

Also I will look into adding a PL/SQL Cheatsheet (legacy but still common Oracle DB language). There is one sitting in the OWASP Wiki.

LAST POINT: If you need help / volunteers more than you have now, would you consider adding the labels "good first issue" and "help-wanted" to this? We got a surprising amount of new ppl in the OpenEMR project (a repo where

[2019-02-12 10:22] mackowski commented on #8
@danehrlich1 awesome I hope to add docker to review this week or early next week. I will be happy to review k8s one after you create it.

[2019-02-12 10:25] mackowski opened #10 "Cheat sheet update/refactor proposal: XSS_(Cross_Site_Scripting)_Prevention_Cheat_Sheet.md"
- What update/refactoring do you want to perform?

Add Bonus Rule #5 about good practices when using modern JS frameworks

In case of ReactJS - do not use dangerouslySetInnerHTML
In case of Angular (2+) - remember to build with -prod parameter (ng build --prod) in order to avoid template injection

[2019-02-12 12:15] righettod commented on #10
Hi,
It make sense, thanks you for the update 😃

[2019-02-12 12:20] righettod commented on #9
@danehrlich1:
Thanks for the PHP CS 😃
This [CS](../blob/master/cheatsheets/Query_Parameterization_Cheat_Sheet.md#oracle-using-plsql) talk about PL/SQL. If think that it can be good idea to enhance it with the content proposed.
Can you give more hint about the proposed labels?
Thanks you very much in advance 😃

[2019-02-12 12:21] righettod commented on #8
Thanks you to both of you 😃

[2019-02-12 12:26] danehrlich1 commented on #9
I worked at Oracle for 4 years so the PL/SQL cheat sheet should be pretty easy for me. I am going to reach out to the Product Manager for it after I am done and see if they have any suggestions too.

[2019-02-12 13:52] righettod commented on #9
OK thanks you for the feedback.

[2019-02-13 07:49] mackowski commented on #9
I will take the A's

[2019-02-13 08:25] mackowski commented on #9
I updated wiki for A's and B's (Bean Validation Cheat Sheet)
@righettod take a look if this is what you need or what else should be changed. Tomorrow I will continue.

On wiki there are two CSs that are not present on github:
 - https://www.owasp.org/index.php/Android_Testing_Cheat_Sheet
 - https://www.owasp.org/index.php/Authentication_Cheat_Sheet_Espa%C3%B1ol
Maybe we should delete them?

[2019-02-13 09:53] righettod commented on #9
I have still CS to migrate and there CS for which we must discuss if we
migrate them or not.
They are into the cheatsheet_excluded folder.

Le mer. 13 févr. 2019 à 09:25, mackowski <notifications@github.com> a
écrit :

[2019-02-13 09:59] righettod commented on #9
For Android let the message because it is already a redirection to MSTG.

For the second you can redirect it to the english one.

Thanks you very much for your help

[2019-02-13 10:06] righettod commented on #10
Associated PR #11 merged 👍

[2019-02-13 10:06] #10 closed

[2019-02-13 11:19] ThunderSon commented on #9
After discussing with @righettod I've been using the following format example:
` __NOTOC__
<div style="width:100%;height:160px;border:0,margin:0;overflow: hidden;">[[File:Cheatsheets-header.jpg|link=]]</div>

The Cheat Sheet Series project has been moved to [https://github.com/OWASP/CheatSheetSeries GitHub]!

Please visit [https://github.com/OWASP/CheatSheetSeries/blob/master/cheatsheets/DotNet_Se

[2019-02-13 11:23] righettod commented on #9
Sorry it is my fault... I forgot to specify to remove the footer along the
TOC and the modification tag :(

[2019-02-13 11:43] mackowski commented on #9
No problem. I will update them :)

[2019-02-13 11:56] righettod commented on #9
Thanks you very much for your understanding. Thanks a lot to all of you for
your help!!!

[2019-02-14 15:27] ThunderSon commented on #9
Migration is done. The pages that are still in the CS project don't have any markdown file or are excluded.
There is a grammar error for `Unvalidated Redirects and Forwards Cheat Sheet` which should be `Invalidated`. Should we fix it?
Below is the list of migrated cheat sheets:

- AJAX Security Cheat Sheet
- .NET Security Cheat Sheet
- C-Based Toolchain Hardening Cheat Sheet
- Choosing and Using S

[2019-02-14 15:42] righettod commented on #9
Thanks you very much 👍

I will finish to migrate the remaining CS from folder **cheatsheets_to_convert** in the coming days and i will take in charge the wiki links update for these pages.

You can fix to typo mentioned, i will rebuild the index after the PR...

For the CS in folder **cheatsheets_excluded** i will create a dedicated issue in order to start a discution about the content and decide

[2019-02-14 18:09] jmanico commented on #9
Thank you so much for this work! And yes we likely should rename redirects.

Again thank you for your help!

Aloha, Jim

On 2/14/19 5:27 AM, ThunderSon wrote:

--
Jim Manico
Manicode Security
https://www.manicode.com

[2019-02-16 10:06] righettod opened #13 "Discussion about excluded cheat sheet from the migration"
The following [cheat sheets](https://github.com/OWASP/CheatSheetSeries/blob/master/cheatsheets_excluded/) are subject to discussion about the need to be migrated or discarded.

The reason of my decision to open the discussion on these cheat sheets is related to either the quality or either the added value of the content provided.

**[Content Security Policy](https://github.com/OWASP/CheatSheetSeri

[2019-02-16 10:31] righettod commented on #9
I have updated the [wiki link](https://www.owasp.org/index.php/Category:Cheatsheets) to reflect the state of the migration.

About CS for which the migration state must be discussed, i have opened the issue #13 and i have added a special message on the wiki page on the related CS pointing to this issue along the CS project GitHub repo.

[code]

[2019-02-17 19:07] valentinxxx opened #14 "Cheat sheet update/refactor proposal: TLS_Cipher_String_Cheat_Sheet - TLSv1.3"
Hello OWASP!

First of all, thanks for migrating Cheat Sheet Series to GitHub. 😉

I'd like to get a statement from your side about the `TLSv1.3` topic.
Currently the **OWASP Cipher String 'A+'** uses `TLSv1.2` protocol.

In September 2018 OpenSSL released the final `TLSv1.3` support in the 1.1.1 version.
Firefox 61 (June 2018) has been released with on-by-default support for `TLSv1.3`.
Chrome 70 (

[2019-02-18 03:39] righettod commented on #14
Hi,
You are welcome 😃
I accept your proposal, thanks you very much for it.

[2019-02-18 07:51] mackowski commented on #13
I agree with your judgment. In my opinion Content Security Policy and PL SQL Security should be refactored and updated. Rest excluded CSs should be deleted.

[2019-02-18 07:55] righettod commented on #13
Thanks you very much for your feedback.

[2019-02-18 10:02] righettod commented on #14
Done in PR #15

[2019-02-18 10:13] valentinxxx commented on #14
@righettod I think #15 is a whole different story.
This issue is about `TLSv1.3`.

[2019-02-18 10:36] righettod commented on #14
Each PR need to have a issue associated to it, so this issue is not related to the PR #15 ?

[2019-02-18 12:54] valentinxxx commented on #14
I'm sorry, my mistake.
I've just started to dig about `TLSv1.3` and the ciphers table came into picture and made a quick PR about it.

Anyway, let's focus to `TLSv1.3`. 😉
How does this work at OWASP? Is there a roadmap about updating the TLS cipher string scenarios? Or are you open to open source contributions?

[2019-02-18 13:16] righettod commented on #14
Don't worry, there no problem at all 😃
We have moved the project to GH in order to allow open source contributions so feel free to made PR(s) to update the content of the TLS CS if you want to focus...

[2019-02-18 16:16] righettod commented on #14
Can i close the issue?

[2019-02-19 05:11] #14 closed

[2019-02-19 05:15] righettod commented on #8
Ping me when you will start working on it in order that i pass the issue from the **backlog** to **pending**.
Thanks you in advance 😃

[2019-02-19 05:15] righettod commented on #6
Ping me when you will start working on it in order that i pass the issue from the **backlog** to **pending**.
Thanks you in advance 😃

[2019-02-19 05:16] righettod commented on #5
Ping me when you will start working on it in order that i pass the issue from the **backlog** to **pending**.
Thanks you in advance 😃

[2019-02-19 07:24] mackowski commented on #8
@righettod I started yesterday :)

[2019-02-19 09:36] righettod commented on #8
Ok i will update the status and pass it to the pending queue.

[2019-02-20 13:18] righettod commented on #3
PR Merged via #4 .

[2019-02-20 13:18] #3 closed

[2019-02-20 15:29] righettod commented on #13
I have added a comment for the **XSS Filter Evasion Cheat Sheet**.

[2019-02-21 08:07] righettod commented on #9
All CS has been migrated and links has been updated.

[2019-02-21 08:15] mackowski commented on #13
I have problem with **XSS Filter Evasion Cheat Sheet** because as you mentioned this is offensive side but all other CSs are about defence. The question for me is do we want to have attack CSs at all?

[2019-02-21 09:09] jmanico commented on #13
Yes we do. It’s a great addition.

--
Jim Manico
@Manicode
Secure Coding Education
+1 (808) 652-3805

[2019-02-21 09:16] righettod commented on #13
The CS project is a defender classified project so it make no sense to add
attacker CS...
CS project is for dev team, not for pentester...

[2019-02-22 06:11] righettod opened #19 "Marketing presentation"
Create a *marketing* presentation in order to allow any people to talk about the project during any kind event.

No need to have many slides, the objective is to have a small set of slides with the key figures or important information about the project like:
* What is the project?
* What is its goal?
* For whom is it targeted?
* Which domain are supported?
* ...

[2019-02-22 06:24] righettod opened #20 "New cheat sheet proposal: Dependency Management"
**1. Which security issues are bring or commonly meet when someone must work on this topic?**

When a project use 3rd party dependencies it can happen a day in which one or more dependencies used are impacted by a CVE.

**2. What is the objective of the cheat sheet?**

* Explains which tools (free and open source first) can be used to monitor and detect the presence of CVE in dependencies (like OW

[2019-02-23 07:28] righettod opened #21 "Cheat sheets index from OWASP Proactive Controls point of view"
**Task:**
Create a index file (maintained manually in order to allow contribution on it) that classify all the cheat sheets using of the point of view of the differents controls point of the [Proactive Controls](https://www.owasp.org/index.php/OWASP_Proactive_Controls).

**Objective:**
Address the following important [problem](https://twitter.com/Kerberosmansour/status/1084063530251440128) raised

[2019-02-23 07:30] righettod opened #22 "Cheat sheets index from OWASP ASVS point of view"
**Task:**
Create a index file (maintained manually in order to allow contribution on it) that classify all the cheat sheets using of the point of view of the differents sections of the [ASVS](https://www.owasp.org/index.php/Category:OWASP_Application_Security_Verification_Standard_Project).

**Objective:**
Address the following important [problem](https://twitter.com/Kerberosmansour/status/1084063

[2019-02-28 06:25] ThunderSon commented on #13
I agree on the above.
For XSS attacks, there are 2 dedicated pages on the OWASP website, one being for WAF evasion.
About the security testing, what is the exact goal for it? What will be the main target for it? Security testing is a vague term compared to the specific fields.
About the CSP CS, how do you compare it to https://developer.mozilla.org/en-US/docs/Web/HTTP/CSP ? What should be the key

[2019-03-01 05:03] righettod commented on #13
For the security testing, i think that the idea was to guide an assessment
but the WTG is complete and do the job. For the CSP i think that the goal
of the CS should not to explains what is CSP because there already good
article on Internet but propose different approach to build an effective
CSP (v3) for different common case like existing legacy app, new modern
app, setup of a buyed product and

[2019-03-02 08:02] righettod commented on #22
Start working on it using the V4.x of the ASVS.

[2019-03-02 11:29] righettod commented on #22
ASVS index is [here](https://github.com/OWASP/CheatSheetSeries/blob/master/IndexASVS.md).

[2019-03-02 11:35] righettod commented on #22
Let's it go live and start update process via PR 😃

[2019-03-02 11:35] #22 closed

[2019-03-02 11:52] righettod opened #25 "Deploy offline website to GitHub page"
Update the CircleCI job in order to deploy the generated offline website to the repository associated GitHub page system in order to allow user to see what is the content of the offline website.

[2019-03-02 22:57] jzheaux opened #26 "Cheat sheet update/refactor proposal: XML_External_Entity_(XXE)_Prevention_Cheat_Sheet"
The CERT coding standard indicates [a no-op `EntityResolver` as a way to prevent XXE in Java](https://wiki.sei.cmu.edu/confluence/display/java/IDS17-J.+Prevent+XML+External+Entity+Attacks), but I don't see it anywhere on the [XXE Cheat Sheet](https://github.com/OWASP/CheatSheetSeries/blob/master/cheatsheets/XML_External_Entity_Prevention_Cheat_Sheet.md).

I'd be happy to add a section describing i

[2019-03-03 07:32] righettod commented on #26
Hello,

Thanks you for your proposal.

Indeed, it's an interesting add.

You can add it after this [section](https://github.com/OWASP/CheatSheetSeries/blob/master/cheatsheets/XML_External_Entity_Prevention_Cheat_Sheet.md#saxbuilder).

You can find the info regarding the setup of your contributor environment [here](https://github.com/OWASP/CheatSheetSeries/blob/master/CONTRIBUTING.md#how-to-setup-m

[2019-03-03 11:16] ThunderSon opened #27 "Cheat sheet update/refactor proposal: Content Security Policy Cheat Sheet"
Full update of the cheat sheet.

[2019-03-03 13:34] righettod commented on #27
Thanks for the help 😃

As discussed, we consider that is a deep refactoring then please use the [template for new cheat sheet](https://github.com/OWASP/CheatSheetSeries/blob/master/templates/New_CheatSheet.md), it will be more easy for you.

This guide can also help you to setup [your contributor environment](https://github.com/OWASP/CheatSheetSeries/blob/master/CONTRIBUTING.md#how-to-setup-my-con

[2019-03-03 13:36] righettod commented on #13
@ThunderSon have started to refactor the CSP CS.

[2019-03-07 02:52] jacobrose opened #30 "Cheat sheet update/refactor proposal: PHP_Configuration_Cheat_Sheet"
Thanks you for proposing a update/refactor of a cheat sheet.

Please provides the following information about your proposal:

- What update/refactoring do you want to perform?

Hello. I noticed that the cookie_lifetime value provided does not match the comment on the same line. The cookie_lifetime is given as 864000 (seconds), which is ten days. However, the comment says "4 hours." I'll submit a P

[2019-03-08 06:01] shivsahni opened #32 "Cheat sheet update/refactor proposal: [Session_Management_Cheat_Sheet]"
The following section suggests usage of SHA1 for session cookie generation

It is recommended to create cryptographically strong session IDs through the usage of cryptographic hash functions such as SHA1 (160 bits).

Based on [research](https://security.googleblog.com/2017/02/announcing-first-sha1-collision.html) carried out by Google, SHA-1 was found to be vulnerable to collision attacks and henc

[2019-03-08 08:59] righettod commented on #30
PR #31 merged. Thanks for all.

[2019-03-08 08:59] #30 closed

[2019-03-08 09:03] righettod commented on #32
Hello, thanks for the remarks, cheat sheet was updated to indicate usage of SHA256.

[2019-03-08 09:03] #32 closed

[2019-03-09 08:06] righettod commented on #8
CS added to the ASVS and alphabetical index and merged in PR #28 😃

[2019-03-09 08:06] #8 closed

[2019-03-09 21:32] aelhomsany opened #34 "New cheat sheet proposal"
Thanks for proposing a new cheat sheet.

Please provides the following information about your proposal:

1. Which security issues are brought or commonly meet when someone must work on this topic?
2. What is the objective of the cheat sheet?
3. What the CS will bring to the reader?

Thanks again for your contribution :smiley:

[2019-03-10 00:31] righettod commented on #34
Hello,
Please follow the template and describe the proposed content via the
questions. Regards.

[2019-03-11 09:01] righettod commented on #34
Rules not followed so I cancel the issue.

[2019-03-11 09:01] #34 closed

[2019-03-15 09:24] RagingCactus opened #37 "Cheat sheet update/refactor proposal: JWT for Java AES/GCM usage issue"
[Section "Token information disclosure" in JSON_Web_Token_Cheat_Sheet_for_Java.md](https://github.com/OWASP/CheatSheetSeries/blob/c8330995864c14ab2124e23f8fd48c201f522f05/cheatsheets/JSON_Web_Token_Cheat_Sheet_for_Java.md#token-information-disclosure) describes an elaborate scheme to encrypt JWTs in order to hide their content from clients.

While I am not qualified to judge the overall quality of

[2019-03-15 13:50] righettod commented on #37
I think that it is important to clarify some points according to your post:

1. The migration to GitHub has for objective to allow more people to contribute in order to fix the issue in the project like potentially one that have raised.
2. Even if OWASP is a foundation working on security topics, it do not means that we never doing mistake, we are human (and doing this on our spare time) and the o

[2019-03-15 14:40] RagingCactus commented on #37
My goal was not to blame anyone, nor do I expect every document to be free of mistakes. I highly respect the volunteers to do this work in their spare time.

I looked at the document because I'm not an expert myself. I don't know all the ins and outs necessary to securely implement JWT and can't review the rest of the document with the appropriate scrutiny. I just noticed the unusual AES construct

[2019-03-15 15:27] righettod commented on #37
Thanks vou very much for your feedback and the clarification about your intention.

In order to clarify the error, I have discussed with a crypto specialist about this point and indeed the NONCE and AAD are public so I will update the implementation proposed in this way to remove the DB and pass the NONCE and AAD along the ciphered value to the entity in charge of the deciphering.

Thanks for the

[2019-03-15 15:34] RagingCactus commented on #37
Thanks for taking the time to clarify! Just a small addendum:
You don't need any AAD in this case. If you don't set it GCM will still work and authenticate the payload.

[2019-03-15 15:35] righettod commented on #37
You are welcome, the objective the have this project here is to discuss and handle the issue 😃
Thanks you for your addendum, I will take it in account...

[2019-03-16 14:28] #37 closed

[2019-03-16 15:26] righettod commented on #37
I have simplified the ciphering part using [Google Tink](https://github.com/google/tink/blob/master/docs/JAVA-HOWTO.md) API in order to allow users to use this API created and maintained by several crypto specialists.
I have also simplify others code samples of the ciphering section to enhance the readability of the cheat sheet.

[2019-03-18 10:32] ULSTechology opened #39 "Cheat sheet update/refactor proposal: DotNet Security Cheat Sheet"
The DotNet security cheatsheet talks about use of customErrors in web.config, but it appears that this might have been superseded by httpErrors.

HttpErrors can provide protection in more scenarios, so having people update their web.config setups to use httpErrors might offer better protection. As an example, we've had a penetration tester raise an issue whereby an attempt to access a non-existent

[2019-03-18 13:46] AlexB1986 opened #40 "New cheat sheet proposal: Microservices-based Security Architecture Documentation"
**1. Which security issues are bring or commonly meet when someone must work on this topic?**

Design flaw (mostly, related with authorization) in web application based on microservices architecture.
During securing web-application based on microservices architecture security engineers usually face with the following questions:

- What scopes (OAuth 2 framework) does microservice minimally (princi

[2019-03-18 14:44] righettod commented on #40
Thanks you very much for your proposal, it's a very interesting topics.
* Please use the CS [template](https://github.com/OWASP/CheatSheetSeries/blob/master/templates/New_CheatSheet.md).
* You can find information about how to setup your contribution environement [here](https://github.com/OWASP/CheatSheetSeries/blob/master/CONTRIBUTING.md#how-to-setup-my-contributor-environment).

Ping me when you

[2019-03-18 14:47] righettod commented on #39
Hello,

Thanks you very much for your proposal.

For information, we have a CS dedicated to [error handling](https://github.com/OWASP/CheatSheetSeries/blob/master/cheatsheets/Error_Handling_Cheat_Sheet.md) that include .NET info.

You can update the DotNet CS if you want, do you plan to work on it?

[2019-03-18 14:52] righettod commented on #26
@jzheaux: Hello, all is OK?

[2019-03-18 20:21] jzheaux commented on #26
@righettod Hey, thanks for checking in.

Yes, all is fine, this just slipped off my radar. I'll have a PR ready in the next couple of days.

[2019-03-19 04:47] righettod commented on #26
Hi, thanks you very much for your feedback, take the time you need there no
stress at all.

[2019-03-19 13:17] sslHello opened #41 "Cheat sheet update/refactor proposal: TLS Cipher String Cheat Sheet"
Hi,
I'd suggest to update the TLS cipher string recommendations by increasing the recommendations by one level.
Cheers Torsten

[2019-03-19 15:59] righettod commented on #41
Hello Torsten,
Thanks you very much for your proposal, can you provide me some hint about the level update reason, I do not question it but it is just to know.
Thanks you very much in advance.
Regards,
Dominique

[2019-03-20 12:41] briancyber opened #44 "New cheat sheet proposal: Best Practices for sharing online code"
Good day,

As requested by Dominique, here's my question to the group.

I am trying to compile a list of best practices in my business on how to share code responsibly and securely.

In basic terms, I’m trying to come out with a short of checklist for our coders like a best practices or do’s and don’ts on how to make sure your code is clean to post online to open source repositories like GitHub an

[2019-03-21 04:31] RodgerLeblanc opened #45 "Cheat sheet update/refactor proposal: C-Based_Toolchain_Hardening_Cheat_Sheet"
Fixing 2 typos

[2019-03-21 04:35] RodgerLeblanc commented on #45
Typos fixed :
poorlly written => poorly written
thrid party => third party

[2019-03-21 09:28] righettod commented on #45
Thanks you very much for the fix.

[2019-03-21 09:28] #45 closed

[2019-03-21 09:29] righettod commented on #44
Hi,
Very interesting proposal, I add it in the backlog.

[2019-03-21 10:18] mackowski commented on #21
I can help with that. Should it be similar to: https://github.com/OWASP/CheatSheetSeries/blob/master/IndexASVS.md?

[2019-03-21 10:31] righettod commented on #21
Yes, same idea but based on the section of the OPC 👍

[2019-03-21 15:51] righettod commented on #39
OK so I add it into backlog and open it for contribution.

[2019-03-21 20:56] #26 closed

[2019-03-21 20:59] righettod commented on #26
Associated PR is merged. Thanks again for the contribution 👍

[2019-03-21 21:13] righettod commented on #40
No feedback so I put the request in backlog and open it for contribution.

[2019-03-22 07:23] AlexB1986 commented on #40
Dominique! I am working on it.
Please assign it to me and move the task to the pending area

[2019-03-22 08:05] mackowski commented on #21
Awesome I will do that.
About updating part, maybe put here https://github.com/OWASP/CheatSheetSeries/blob/master/CONTRIBUTING.md#how-to-contribute note about updating ASVS index and OPC index when proposing new CS?

[2019-03-22 08:11] righettod commented on #40
OK, done.

[2019-03-22 08:14] righettod commented on #21
Good idea, however, according to the contribution behavior followed until now, I think that we will handle the update ourselves 😄

[2019-03-22 23:24] Caerostris opened #50 "Cheat sheet update/refactor proposal: Issue on the PBKDF2 iteration counter specified in the Password Storage Cheat Sheet"
The [password storage cheat sheet](https://github.com/OWASP/CheatSheetSeries/blob/master/cheatsheets/Password_Storage_Cheat_Sheet.md) recommends an iteration count of 10.000 for PBKDF2 key derivation, referencing a 2012 Apple report using these numbers. I believe it should be clear that a 2012 recommendation is out of place in a current security cheat sheet.

The [2018 version](https://web.archive

[2019-03-22 23:34] sslHello commented on #41
Hi Dominique,
old ciphers get more and more likely to get vulnerable by time. The technical security margin melts while the need to support backward compatibility to old ciphers gets reduced, too. So it's time to cut off old ciphers, e.g. based on 3DES or to lower the rating for a cipher string including SHA(-1)...
As one of the two main authors, I've comiled the current Cheat sheet from March to

[2019-03-23 06:13] righettod commented on #41
Hi Torsten,
Thanks you very much for your precise explanation.
I will do the necessary to merge the PR.
As it seems to be your domain (crypto) do not hesitate to send PR when you want to update this CS...
Thanks again for yoir help 👍

[2019-03-23 06:14] righettod commented on #41
PR #42 merged.

[2019-03-23 06:14] #41 closed

[2019-03-23 06:27] righettod commented on #50
Hi,

Thanks you very much for the feedback.

I agree on this. In the CS we recommand to use Argon2 as first choice (in 2019 I think it's now possible).

I think that is still necessary to add a hint about a minimal number of iteration in order to allow the CS reader to have directly usable information. But, on our side, it need to maintains this hint up to date.

I think to add a hint like this:
[

[2019-03-23 10:26] Caerostris commented on #50
This is exactly the kind of wording I was hoping for!
Giving a target computation time rather than a fixed iteration count is far less likely to become outdated in the future.

[2019-03-23 10:32] righettod commented on #50
OK, thanks you very much , I update the CS in this way 😃

[2019-03-23 10:39] Caerostris commented on #50
Perfect, thanks!

[2019-03-23 10:47] #50 closed

[2019-03-23 10:47] righettod commented on #50
I have updated the CS, ping me if it is not OK...

[2019-03-27 11:43] mackowski commented on #21
I started working on it. You can find current version here: https://github.com/mackowski/CheatSheetSeries/blob/OWASPProactiveControls/IndexProactiveControls.md

[2019-03-27 12:06] righettod commented on #21
Thanks you very much, you can submit a PR so it will be more easy to discuss on it 😃

[2019-03-27 17:28] raulgarciamsft opened #53 "Cheat sheet update/refactor proposal: SQL Injection Prevention Cheat Sheet"
Thanks you for proposing a update/refactor of a cheat sheet.

Please provides the following information about your proposal:

- What update/refactoring do you want to perform?
  The SQL Server Escaping sections makes a reference to a blog post I wrote some time ago (https://blogs.msdn.microsoft.com/raulga/2007/01/04/dynamic-sql-sql-injection/). This particular post is going to be moved to a new lo

[2019-03-28 05:04] righettod commented on #53
Thanks you very much for your proposal and the update.
Ping me when you start working on it in order that I move the ticket to the pending area.
Thanks again for your help 😃

[2019-03-28 05:08] righettod commented on #21
I don't if it is a bug but i cannot assign the issue to @mackowski...

[2019-03-28 05:12] righettod commented on #13
I close the issue: More than a month without other reaction.
We can reopen it in case of need.
So, to resume only the CSP one will be refactored and included.

[2019-03-28 05:12] #13 closed

[2019-03-28 19:24] raulgarciamsft commented on #53
I am ready to make the change.
Thanks

[2019-03-29 05:13] righettod commented on #53
Thanks you very much for the notification 😃

[2019-03-29 05:15] righettod commented on #20
I take it.

[2019-03-29 05:20] righettod commented on #21
Associated PR is #52 from @mackowski

[2019-03-29 17:51] righettod commented on #53
PR #58 merged.

[2019-03-29 17:51] #53 closed

[2019-03-29 23:11] wadepickett opened #59 "Cheat sheet update/refactor proposal: DotNet_Security_Cheat_Sheet"
On the DotNet_Security_Cheat_Sheet.md.

I would like to add a new section at the bottom for "Security Announcements "
In that new section, I would like a link to ASP.NET Security Announcements and a note about subscribing:

"ASP.NET Security Announcements"    https://github.com/aspnet/Announcements/issues?q=is%3Aopen+is%3Aissue+label%3ASecurity

Select the "Watch" button to receive notifications.

[2019-03-30 06:10] righettod commented on #59
Hello,
Thanks you very much for the proposal. I think indeed that it can be
interesting for people using .Net to have a easy way to find current
identified security issues at the framework level and the state of their
fix. Go ahead, i will affect the ticket to the right label and move it in
the pending area. Thanks again for your proposal and the cross-reference.

[2019-03-31 06:19] righettod commented on #27
@jmanico has merged the PR #38 and I have updated the ASVS index as well as the alphabetical index.
Thanks you very much @ThunderSon for this amazoing contribution 🥇

[2019-03-31 06:19] #27 closed

[2019-04-02 15:48] righettod commented on #21
PR #52 merged.

[2019-04-02 15:48] #21 closed

[2019-04-02 15:50] righettod opened #61 "Add OPC to the project"
* Add OPC index in the README and into the offline website generated job/script.
* Do notification.

[2019-04-03 04:44] ThunderSon commented on #9
Descriptions on the OWASP website needs to be tracked for updates/changes for redirection purposes. One example is the [CSP CS](https://www.owasp.org/index.php/Content_Security_Policy_Cheat_Sheet).

[2019-04-03 20:50] righettod commented on #9
CSP was indeed the latest CS to be migrated, but I think we can remove the remaining CSs that are part of the task #13 because we do not have feedback from the community...
@mackowski @ThunderSon What do you think?

[2019-04-04 09:52] ThunderSon commented on #9
As I have already said my opinion on the mentioned task, I do not mind closing it.

[2019-04-04 11:33] mackowski commented on #9
Maybe we should:
1. update wiki with redirection for CSP CS.
2. update wiki - inform that rest of excluded CSs are excluded with link to #13
3. remove remaining CSs from github

[2019-04-05 18:10] #61 closed

[2019-04-06 05:57] righettod commented on #9
I like the proposal of @mackowski because it allow to close the migration task once for all.
However, I can understand the issue raised by @ThunderSon.
If i well understand, the issue raised is the risk that someone still create a CS on the wiki. i'm right?

[2019-04-08 13:46] mackowski opened #65 "Cheat sheet update/refactor proposal: Credential Stuffing Prevention Cheat Sheet"
I want to add some additional mitigations against Credential Stuffing like: CAPTCHA, Pwned Passwords(https://haveibeenpwned.com/Passwords)

In addition I think that Credential_Stuffing_Prevention_Cheat_Sheet should be refreshed, for example I want to add some examples how several mitigations can be combined together, different mitigations for different account privileges (admin, user, etc), exampl

[2019-04-08 15:01] righettod commented on #65
Very good idea 😃

[2019-04-08 15:01] righettod commented on #65
just ping me when you start working on it in order that i move it to the pending area.

[2019-04-09 14:59] garethventon opened #67 "New cheat sheet proposal: OAuth"
Hi, so the goal being which OAuth flow to use for which use case (which I think we are largely OK with), which flow has which threats and the countermeasures for them (which the IEFTs provides although across a substantial number of documents)

(https://tools.ietf.org/html/rfc8252, https://tools.ietf.org/html/rfc6819. https://tools.ietf.org/html/draft-ietf-oauth-security-topics-11) - IETF
https://

[2019-04-10 06:03] righettod commented on #67
Hi,
Thanks you very much for the proposal.
Sound interesting, i'm ok with the proposal but only if the cheat sheet is pragmatic and provide directly useful information to dev team but it's seems to be your objective according to your post.
@ThunderSon @mackowski Your opinion?

[2019-04-10 08:14] mackowski commented on #67
Good idea!

[2019-04-11 05:43] ThunderSon commented on #9
There is no risk/issue. It's simply updating the migration process. We did the migration the first time, and after certain *excluded CSs* that were included again, we need to update the migration done and keep track. Nothing more nothing less :)

[2019-04-11 09:10] knadt opened #68 "Cheat sheet update/refactor proposal: DotNet Security Cheat Sheet"
Thanks you for proposing a update/refactor of a cheat sheet.

Please provides the following information about your proposal:

I would like to update the OWASP Top 10 list from 2013:

1. A1 Injection
2. A2 Broken Authentication and Session Management
3. A3 Cross-Site Scripting (XSS)
4. A4 Insecure Direct Object References
5. A5 Security Misconfiguration
6. A6 Sensitive Data Exposure
7. A7 Missing F

[2019-04-11 09:55] righettod commented on #67
Proposal highly accepted 😃
Please, use the [cheat sheet template](https://github.com/OWASP/CheatSheetSeries/blob/master/templates/New_CheatSheet.md) to create the CS.
Ping us when you start working on the cheat sheet in order that we update the ticket status in the project plan.
Thanks in advance 😃

[2019-04-11 11:04] righettod commented on #68
Hello,
Thanks you very much for your proposal 😃
I think that this one is interesting.
@ThunderSon @mackowski Your opinion?

[2019-04-11 11:05] righettod commented on #9
Ah ok, thanks you very much for the clarification.
So we will act in this way 😃

[2019-04-11 11:12] mackowski commented on #68
It will be useful. You can also review if recommendations/code samples are still valid.

[2019-04-11 11:46] knadt commented on #59
Thank you.

[2019-04-11 12:35] ThunderSon commented on #68
Interesting proposal. I'd say though that removing some secure code is not something I'd like to see. Maybe we could add an extra section for the ones that were in the top 10 2013?

[2019-04-11 12:46] knadt commented on #68
Sure @ThunderSon, I was thinking that I would add a section below OWASP 2017 with the vulnerabilities not in the 2017, such as Unvalidated Redirects and Forwards

[2019-04-11 16:12] ThunderSon commented on #68
@knadt Please go ahead. If you need help let us know. We'll be awaiting your PR 🙂

[2019-04-12 05:06] righettod commented on #68
I have open the issue for taking via the **HELP_WANTED** label 😃

[2019-04-12 05:45] knadt commented on #68
I will do the PR next week Friday (19/04/2019). almost done

[2019-04-12 06:01] righettod commented on #68
Thanks you very much :)

[2019-04-12 07:13] knadt commented on #68
@righettod can you remove the `HELP_WANTED` label?

[2019-04-12 10:03] righettod commented on #68
Thanks @mackowski 😃

[2019-04-13 00:57] danehrlich1 commented on #5
I have got this started: https://github.com/danehrlich1/very-secure-apache/blob/master/apache2.conf
That is pretty much every option you can set at the Apache level. Need to cleanup + add more stuff + get in format for this repo.

Things included:
- all 8 HTTP Security Headers you can possibly set
- etags, tokens, signatures, and traces all disabled
- http 1.1+ required
- TLS 1.2+ required
- Stron

[2019-04-13 06:16] righettod commented on #5
Hi,
OK thanks for the feedback.
I affect the issue to you and it add to the *Pending* area.

[2019-04-15 05:11] ThunderSon commented on #67
Hello @garethventon :) This issue has been flagged with Help Wanted. If you feel like doing it, kindly let us know in order to remove the label.

[2019-04-15 05:20] ThunderSon opened #71 "Cheat sheet update/refactor proposal: Content Security Policy Cheat Sheet"
Provide common pitfalls and the addition of `strict-dynamic`, as well as a general update to the whole CS based on reviews from the first version release.
This should be done in the coming weekend/next week.

This issue is mainly based on the insight of the following tweet: https://twitter.com/LewisArdern/status/1112926476498698240

[2019-04-15 07:45] garethventon commented on #67
Happy to contribute and share some insights I'll likely need some assistance though.

[2019-04-15 09:31] 0xb4lint opened #72 "Cheat sheet update/refactor proposal: TLS Cipher String Cheat Sheet - Cipher suites priority"
As mentioned in https://github.com/OWASP/CheatSheetSeries/pull/70#discussion_r275207663, the SSL cipher suites priority should be updated to be in sync with [Mozilla SSL cipher suites priority](https://wiki.mozilla.org/Security/Server_Side_TLS#Cipher_names_correspondence_table).

[2019-04-15 09:34] ThunderSon commented on #67
We'd be more than happy to assist, or even contact people that can give better assistance. I'll assign it to you. You can hit us up on Slack as you already know us :)

[2019-04-15 18:42] wadepickett commented on #59
Resulting PR: https://github.com/OWASP/CheatSheetSeries/pull/73
Thanks!

[2019-04-16 07:39] knadt commented on #68
https://github.com/OWASP/CheatSheetSeries/pull/74
Thank everyone!
Let me know your thoughts

[2019-04-16 09:15] mackowski commented on #68
Thanks! I will try to review it tomorrow.

[2019-04-16 10:24] 69slimm opened #76 "HMAC based token pattern scheme"
Excusme, I wanna ask you about this :

i want to implement this but i still got no idea about the flow work HMAC based token, pointly on verify the token using HMAC. can you explain more detail sir ? Any help from you will be useful for me in the future. Thank you

[2019-04-16 13:46] mackowski commented on #65
I just started working on this on my local fork

[2019-04-16 14:06] righettod commented on #76
Hi,
We will try to come back to you ASAP in order to help you.

[2019-04-16 14:26] 69slimm commented on #76
thanks for the responds, i will waiting.

[2019-04-16 18:20] manideepkonakandla commented on #76
Hey @69slimm

I wrote that HMAC based token method few months back but on re-reading it now, I can see why my explanation was not clear. I will make the explanation more clear on the cheat sheet by end of this week (Basically your token will be a combination of HMAC and couple of other identifiers). I am also going to make it more simplified by removing the operation/data/payload field as well.

T

[2019-04-17 04:07] righettod commented on #76
@manideepkonakandla Can I assign this action to you in order that you help @69slimm on this topic ? We can assist you in case of need.
Thanks you very much in advance.

[2019-04-17 04:11] righettod commented on #59
PR #73 merged by @ThunderSon

[2019-04-17 04:11] #59 closed

[2019-04-17 04:12] righettod commented on #59
Thanks to you @wadepickett for your contribution 😃

[2019-04-17 04:25] 69slimm commented on #76
@manideepkonakandla ok sir. im gonna waiting. Just text me again here sir.

[2019-04-17 04:35] righettod commented on #40
Hi @AlexB1986,
All is OK on your side, do you need help or something else from us ?
Thanks you very much in advance for your feedback 😃

[2019-04-17 06:59] AlexB1986 commented on #40
Hi! Thanks, I am OK. I assume, I will upload initial version for review until May, 1.

[2019-04-17 07:04] righettod commented on #40
Hi, thanks you very much for your feedback. Take all the time you need,
there no urgency at all.

[2019-04-17 07:53] manideepkonakandla commented on #76
@righettod  Yes sure, you can assign it to me.

[2019-04-17 08:59] righettod commented on #76
GitHub do not let me assign it to @manideepkonakandla because i cannot find him in the assignee list, it's strange, anyone have already meet this case ?
@ThunderSon @mackowski @jmanico

[2019-04-17 09:14] jmanico commented on #76
https://github.com/manideepkonakandla looks real to me...

--
Jim Manico
@Manicode
Secure Coding Education
+1 (808) 652-3805

[2019-04-17 13:37] righettod commented on #76
Do not work unfortunately...

![NotFound](https://user-images.githubusercontent.com/1573775/56292035-ac5df100-6126-11e9-9df5-758b33a93267.png)

[2019-04-17 18:04] manideepkonakandla commented on #76
Not sure why. If you were not able to figure it out, dont worry! I have it on my task list and will complete it over the weekend.

[2019-04-18 04:35] righettod commented on #76
Thanks you, we will investigate in parallel to fix the issue...

[2019-04-21 06:25] righettod commented on #20
PR #64 merged.

[2019-04-21 06:25] #20 closed

[2019-04-21 07:47] 69slimm commented on #76
@manideepkonakandla @righettod
hey guys what about this scenario :
1. i will generate the key of HMAC randomly and random string  then put them as session values
2. And then generate token for hidden field using HMAC algorithm with that key and that random string put it too as session value
And What's next ? How to validate that in web server ?
this is what i think : if the key and random string e

[2019-04-22 03:37] manideepkonakandla commented on #76
@69slimm You are missing few things like timestamp which helps you in preventing from replay based attacks. I am sorry for the delay. I just made a PR making the changes. After the review, it will be merged. Once merged, you can clearly see the step-by-step instructions in it (You can see them for now in the commits tab of PR)

https://github.com/OWASP/CheatSheetSeries/pull/78

[2019-04-22 03:47] manideepkonakandla commented on #71
I have done extensive research on CSP and its drawbacks in the past. Will be glad to help if any help is needed here.

[2019-04-22 03:50] 69slimm commented on #76
Tell me about that "replay based attacks" scenario and how timestamp can protect that ? I am still confusing sir..

[2019-04-22 03:52] manideepkonakandla commented on #76
Can you try reading below wiki once? If a token is stolen, it helps in preventing the token usage by the attacker forever (/till the sessionID is changed).

https://en.wikipedia.org/wiki/Replay_attack

[2019-04-22 04:07] 69slimm commented on #76
you mean "it" is timestamp ?

[2019-04-22 06:11] righettod commented on #25
Continuous release and deployment of the generated site on GH pages has been done via [CircleCI](https://github.com/OWASP/CheatSheetSeries/blob/master/.circleci/config.yml).

 :triangular_flag_on_post: The core team is currently working on it and it's currently in **alpha state**.

https://owasp.github.io/CheatSheetSeries/

[2019-04-22 06:15] manideepkonakandla commented on #76
yes

[2019-04-22 06:31] 69slimm commented on #76
thanks for your respond sir. You help me a lot. Maybe in the futur Can i ask you again about all cheat sheet in this github ?

[2019-04-22 06:33] manideepkonakandla commented on #76
You can open new issue and one of us will definitely help you :)

On Sun, Apr 21, 2019, 11:32 PM 69slimm <notifications@github.com> wrote:

[2019-04-22 07:05] 69slimm commented on #76
Ok sir thanks Once again

[2019-04-22 08:19] righettod commented on #76
Generally for the technical help, we prefer to use the project's Slack channel (see below) or the project's [Google Group](https://groups.google.com/a/owasp.org/forum/#!forum/cheat-sheets-project) but, as @manideepkonakandla said, if you open an issue on the project, we will help you for sure 😃

Slack channel info:
* Server `owasp.slack.com`
* Channel `cheatsheets`

[2019-04-22 11:29] ThunderSon commented on #71
That's great to hear. Once I work on this, I'll let you know.

[2019-04-23 18:33] augustd opened #80 "Cheat sheet update/refactor proposal: REST Security Cheat Sheet"
There is a broken link in https://github.com/OWASP/CheatSheetSeries/blob/master/cheatsheets/REST_Security_Cheat_Sheet.md

[Bypassing Web Authentication and Authorization with HTTP Verb Tampering](http://www.aspectsecurity.com/research-presentations/bypassing-vbaac-with-http-verb-tampering) leads to a generic page on ey.com.

@nahsra is there a valid link to the original presentation?

[2019-04-24 05:45] righettod commented on #80
Hi, thanks you very much for the notification, in order to prevent a
further link change we will embed the presentation as pdf into the repo
once we have find it. Thanks again.

[2019-04-25 08:42] righettod commented on #80
The expected presentation pointed by the broken link is this PDF file ?

[Bypassing_VBAAC_with_HTTP_Verb_Tampering.pdf](https://github.com/OWASP/CheatSheetSeries/files/3115982/Bypassing_VBAAC_with_HTTP_Verb_Tampering.pdf)

I found it on [Google by searching](https://www.google.com/search?client=firefox-b-d&q=Bypassing+Web+Authentication+and+Authorization+with+HTTP+Verb+Tampering) the name of the p

[2019-04-26 18:14] RobertDeniszczyc opened #84 "Cheat sheet update/refactor proposal: Cross-Site Request Forgery Prevention Cheat Sheet"
Fix typo in: Cross-Site_Request_Forgery_Prevention_Cheat_Sheet.md in line:

"and no enterprise would want to loose even this minor % of traffic"

should be:

"and no enterprise would want to lose even this minor % of traffic"

[2019-04-26 18:23] RobertDeniszczyc commented on #84
PR raised here: https://github.com/OWASP/CheatSheetSeries/pull/85

[2019-04-27 09:11] righettod commented on #84
Thanks you very much for the proposal and the PR 😃

[2019-04-28 07:49] righettod commented on #80
@augustd Any news ?

[2019-04-28 08:23] righettod commented on #84
PR #85 merged by @ThunderSon

[2019-04-28 08:23] #84 closed

[2019-04-28 10:21] ThunderSon opened #86 "CS update proposal: Content Security Policy"
Missing SOP websockets section/notes as they are a special case.

[2019-04-29 07:09] mackowski commented on #68
hi @knadt
I requested a couple of changes in your PR are these clear, do you need help or something else from us??

[2019-04-29 08:37] mackowski opened #88 "Server-side Request Forgery (SSRF) Prevention CS"
There is no Server-side request forgery prevention CS.
Aim is to provide short description about SSRF, where we can find this vuln and methods how to prevent/defend against SSRF.

[2019-04-29 08:38] mackowski commented on #88
I can take it after I finish 'Credential Stuffing Prevention Cheat Sheet' but if someone can do this sooner that great!

[2019-04-29 09:06] ThunderSon commented on #88
Let's handle it together. We can see how the testing guide touches at it, and how ASVS and similar projects protect against it.

[2019-04-29 09:12] righettod commented on #88
For sure. It's a very interesting and hard topic. I will be honored to do it with you guy 😃

A collegue of mine have send me this presentation about SSRF some weeks ago:

[us-17-Tsai-A-New-Era-Of-SSRF-Exploiting-URL-Parser-In-Trending-Programming-Languages.pdf](https://github.com/OWASP/CheatSheetSeries/files/3126664/us-17-Tsai-A-New-Era-Of-SSRF-Exploiting-URL-Parser-In-Trending-Programming-Languag

[2019-04-29 09:20] ThunderSon commented on #88
I guess the team is coming around for one big fight 😋
Let's start by gathering the references and setting up the skeleton throughout this week.
@mackowski if you need help in your credential stuffing CS, let me know.

[2019-04-29 18:44] mackowski commented on #88
Cool, lets do this together!
btw. presentation from Orange Tsai about SSRF is really awesome.

[2019-04-29 23:32] augustd commented on #80
I think we have a winner! Sent pull request #89

[2019-04-30 16:22] righettod commented on #65
Linked to PR #90

[2019-05-01 07:34] righettod opened #91 "Remove the "Authors and Primary Editors" section"
In order to only use the GH feature for contributors, the section **Authors and Primary Editors** of all CS will be removed.

The information will be transfered in a file named **CONTRIBUTOR-V1.md** in which there will be the list of contributors (of the project V1 in fact)  and the associated CSs.

[2019-05-01 19:20] righettod commented on #25
The OWASP foundation is working on a task related to this topic so we put this task on standby.
From now we wait feedback from @hblankenship .

[2019-05-01 19:26] righettod commented on #71
Linked to PR #92

[2019-05-01 20:22] #80 closed

[2019-05-01 20:28] righettod commented on #80
PR #89 merged.

[2019-05-03 09:10] ThunderSon opened #93 "CSP CS Avoid section update"
Following PR  #92, `Avoid CSP` section should be re-worded and changed to highlight how CSP can act as a firm second layer to protect against XSS attacks.

[2019-05-03 17:05] righettod commented on #91
We will perform this task near the end of this year in order to let the commit history grow.

[2019-05-03 17:26] righettod commented on #93
I propose a text, feel free to pick elements that go in your way:

*CSP can act as a second layer of defence in a way that a policy can result in a non-exploitability of an XSS vulnerability.  Indeed, depending on the policy defined, it can prevent an attacker to execute injected client-side code or send/receive data to/from another domain than the one on which the application is loaded.*

*Due to

[2019-05-04 06:16] 69slimm commented on #76
Sir Do you know how to do CSRF attack and brute force attack ? My teacher told me to do those action to proof and make comparison table before i do prevention and after prevention ?

[2019-05-04 06:34] #71 closed

[2019-05-04 08:32] righettod opened #95 "Cheat sheet update/refactor proposal: CSP CS Add Trusted Types"
**What update/refactoring do you want to perform?**

Add a section explaining how to apply a CSP policy that leverage the *Trusted Types* new feature.

According to this [post](https://developers.google.com/web/updates/2019/02/trusted-types#get-started), currently (may 2019) this feature is not ready for production usage:

*We are working on providing more code examples, guides and documentation o

[2019-05-04 09:41] righettod commented on #88
Work initiated [here](https://github.com/OWASP/CheatSheetSeries/blob/CSS-88/cheatsheets/Server_Side_Request_Forgery_Prevention_Cheat_Sheet.md) in branch **CSS-88**.

[2019-05-04 18:38] mackowski opened #96 "Multi-Factor Authentication CS"
List of common factors (SMS, e-mail, application, hardware tokens etc) that can be used for Multi-Factor Authentication with comparison.
Example implementation of Multi-Factor Authentication.

[2019-05-06 03:05] manideepkonakandla commented on #76
@69slimm I think you should reach out to folks on http://stackoverflow.com for help. We help people if there are any identified issues in the cheat sheets.

[2019-05-06 03:06] manideepkonakandla commented on #76
@righettod I think this issue is resolved,  If you feel so as well, can you resolve it ?I dont have the option to do so.

[2019-05-06 05:31] ThunderSon opened #99 "CS Credential Stuffing Grammar Update"
- What update/refactoring do you want to perform?

Grammar update

[2019-05-06 05:32] ThunderSon commented on #76
It'll be closed once the PR is merged since it references it.

[2019-05-06 05:51] ThunderSon commented on #93
If you feel like opening a PR, go ahead! If not, I'll update this and inject it into the CS tonight.

[2019-05-06 06:06] righettod commented on #93
I let's you inject the content in order to let you decide which part and where if fit the most 😃

[2019-05-06 06:08] righettod commented on #76
Linked to PR #78

[2019-05-06 08:34] knadt commented on #68
Hey, I am on it now, Sorry has been a bit sick.

[2019-05-06 08:42] mackowski commented on #68
No worries :) thanks for reply and your contribution.

[2019-05-06 08:56] knadt commented on #68
Quick question, Do I submit a new PR? how do I make the changes you requested? Please advise. Thanks

[2019-05-06 08:59] righettod commented on #68
Hi, just commit into your fork and changes will appear in the current  PR.

[2019-05-07 01:33] #76 closed

[2019-05-07 01:34] 69slimm commented on #76
thanks guys.

[2019-05-07 08:54] #65 closed

[2019-05-08 17:40] fabienleite opened #100 "Cheat sheet update/refactor proposal: Password_Storage_Cheat_Sheet"
Please provides the following information about your proposal:

- What update do you want to perform?

**Correct typo or number formatting on line 65.**

The problem is that the way it is now is confusing (at least to me), we don't know if the number meant is "one billion" or "a hundred thousand" :

```In the example above, as PBKDF2 [...]  at least 1 second (like 1000.000 for example).```

Should

[2019-05-08 21:40] rdela opened #101 "CS XSS Prevention update rule 6 JS/Node lib(s)"
- What update/refactoring do you want to perform?

Update JS/Node lib(s) on [Cross Site Scripting Prevention rule 6](https://github.com/OWASP/CheatSheetSeries/blob/113183c9d162a28ba41ad776b280806ec269bc95/cheatsheets/Cross_Site_Scripting_Prevention_Cheat_Sheet.md#rule-6---sanitize-html-markup-with-a-library-designed-for-the-job).

Cross Site Scripting Prevention rule 6 links to [ecto/bleach](https

[2019-05-08 22:41] jmanico commented on #101
👍🏼👍🏼 Excellent find here. Thank you!

--
Jim Manico
@Manicode
Secure Coding Education
+1 (808) 652-3805

[2019-05-09 07:05] righettod commented on #100
Thank you very much for your issue.

**PBKDF2** is not time constant, it depend on the target execution machine.

For example, this code:

[code]

Give the following execution times on my PC:

![Capture](https://user-images.githubusercontent.com/1573775/57433538-0854fa80-7239-11e9-952c-ca69d375ca27.PNG)

[code]

So, if the server is like my PC, a number of iterations of `500.000` rounds will fit t

[2019-05-09 07:07] righettod commented on #101
Thank you very much for your proposal that is totally right. Please, go ahead with your PR and ping us if you need help 😃

[2019-05-09 08:58] fabienleite commented on #100
Hello,
Thank you for the discussion.
Of course, it depends heavily on target CPU / GPU and on optimizations.

Actually my computer is pretty fast to compute PBKDF2 too, and 500.000 wouldn't be enough on mine:
[code]

I don't really know how my Macbook Pro 2017 compares to a typical server machine, with server-specific processors and on Linux. I guess my computer is faster.

I probably will suggest

[2019-05-09 22:58] rdela commented on #101
Linked to PR #103 XSS CS Update

[2019-05-10 04:30] righettod commented on #100
Linked to PR #102

[2019-05-10 14:56] righettod commented on #100
PR merged.

[2019-05-10 14:56] #100 closed

[2019-05-14 13:06] mackowski opened #105 "Fix building in Travis CI"
It look that PR build are not isolated and some very simple PR like #104 are failing due to error on other, not modified CSs: https://travis-ci.com/OWASP/CheatSheetSeries/builds/111723804

[2019-05-14 13:16] righettod commented on #105
I will fix it ASAP.

[2019-05-14 17:44] fabienleite opened #106 "Cheat sheet update/refactor proposal: Cross Site Scripting Prevention Cheat Sheet"
Please provides the following information about your proposal:

- What update/refactoring do you want to perform?

In bonus rule 5 (`Properly use modern JS frameworks like Angular (2+) or ReactJS`), React and Agular are mentioned.
React currently has a particular recommandation :

[This type of "tool" also exists in Angular](https://angular.io/guide/security#bypass-security-apis) via `bypassSecuri

[2019-05-15 06:34] mackowski commented on #106
Thank you very much for this proposal. Is totally right. I would like also to add links to documentation because this features are well documented and explained there. Please, go ahead with your PR and ping us if you need help 😃

[2019-05-15 06:47] righettod commented on #106
Thank you very much for the PR, I share the opinion of Jakub, please go ahead 😃

[2019-05-15 06:49] mackowski opened #107 "Cheat sheet update/refactor proposal: Authentication_Cheat_Sheet"
Update [Password Complexity](https://github.com/OWASP/CheatSheetSeries/blob/master/cheatsheets/Authentication_Cheat_Sheet.md#password-complexity) section.
I want to include some tips from [this Troy's Hunt article](https://www.troyhunt.com/passwords-evolved-authentication-guidance-for-the-modern-era/). In particulate I think that we should eliminate complex characters rules in exchange for for lon

[2019-05-15 06:50] righettod commented on #107
Good idea 😃

[2019-05-15 13:17] righettod commented on #105
In fact new audit rules has been added to the [markdownlint](https://github.com/DavidAnson/markdownlint/blob/master/doc/Rules.md) plugin, precisely **MD0046** and **MD0047**.

As I take the latest version of the plugin during the CI job then these new rules are enabled by default and have caused rejection on existing CS.

I have updated the policy and tested it against the master branch and it's O

[2019-05-15 14:33] Compufreak345 opened #108 "Cheat sheet update/refactor proposal: DotNet Security Cheat Sheet"
I propose changing the section:

Regarding to the [ASP.NET Core docs](https://github.com/aspnet/AspNetCore.Docs/blob/master/aspnetcore/security/anti-request-forgery.md#aspnet-core-antiforgery-configuration) this is not necessary if tag helpers are used, so you just need to check if this line is in your currently active _ViewImports.cshtml :

E.g. the Web Project Templates that come with Visual Stu

[2019-05-15 18:12] fabienleite commented on #107
Hello, I think a good idea would be to link or paraphrase the [OWASP ASVS section for password security requirements](https://github.com/OWASP/ASVS/blob/master/4.0/en/0x11-V2-Authentication.md#v21-password-security-requirements).
These checks tells the whole story about password complexity.

[2019-05-16 07:44] righettod commented on #105
Fixed.

[2019-05-16 07:44] #105 closed

[2019-05-16 07:44] mackowski commented on #101
One more time thank you for your contribution 👍

[2019-05-16 07:44] #101 closed

[2019-05-16 07:58] mackowski commented on #108
Thanks for this proposal! We should add it. I suggest to wait with this until we merge #75

[2019-05-16 09:05] knadt commented on #108
@mackowski I agree, I have included tag helpers for .net core.

[2019-05-16 09:38] mackowski commented on #39
@knadt, @Compufreak345 - do you want to work on this? :)

[2019-05-16 10:25] knadt commented on #39
Sure... there is a way in which the errors you talk about can be handled. .net Core handles it quite well.

[2019-05-17 12:35] Timo69 opened #109 "Cheat sheet update/refactor proposal: Abuse Case Cheat Sheet"
- What update/refactoring do you want to perform?

Fixing small [typo](https://github.com/OWASP/CheatSheetSeries/blob/master/cheatsheets/Abuse_Case_Cheat_Sheet.md#step-4-during-implementation---abuse-cases-handling-tracking) : replace

by

[2019-05-17 13:06] righettod commented on #109
Thank you to have spotted the typo 👍
Go ahead for the PR 😃

[2019-05-18 19:12] mackowski opened #110 "New cheat sheet proposal: Security Unit Testing Cheat Sheet"
Introduce the topic of security unit testing.
Explain why to create such tests, what are the benefits and challenges.
Compare it with other tools/techniques.
Include examples of such tests.

Inspired by:
 - https://www.youtube.com/watch?v=Wx7dsbEReiE
 - https://www.blackhat.com/docs/asia-17/materials/asia-17-Law-Domo-Arigato-Mr-Roboto-Security-Robots-A-La-Unit-Testing-wp.pdf

[2019-05-18 19:14] mackowski commented on #110
I will work on it with @sethlaw and @ejohn20

[2019-05-18 19:17] mackowski commented on #107
Great idea about ASVS @fabienleite do you want to help with it?

[2019-05-20 13:57] ejohn20 commented on #110
@mackowski Thanks for setting this up. Do you prefer to add us as a contributor and create a feature branch? Or fork and submit PRs?

[2019-05-20 16:42] fabienleite commented on #107
Hey,

Yes, I'm always ready to help if that's not urgent.

Just two questions before I start working on this:

- Do you prefer a link or paraphrase ? (I think a link would be better since CS are supposed to be as short as possible)
- There is sections about giving user tips about the current complexity of his password while he is choosing it **and** checking common passwords. There is a great lib

[2019-05-20 17:11] fabienleite commented on #106
Linked to #112

[2019-05-21 07:04] mackowski commented on #110
We prefer to fork and submit PRs.
I think that I can create a new branch, where we will be able to push changes, before it will be ready to go to master.

[2019-05-21 07:23] mackowski commented on #107
Link with summarise (1-2 sentences) will be better IMO.
I am not sure about this library...
@righettod what is your opinion?

[2019-05-21 14:06] ejohn20 commented on #110
Just forked a new repo in my account and added you both as a contributor. We can collaborate in that repo until we're ready to PR back to the master branch in this repo.

[2019-05-22 03:00] aussieklutz opened #114 "Cheat sheet update/refactor proposal: Session Management Cheat Sheet"
Thanks you for proposing a update/refactor of a cheat sheet.

Please provides the following information about your proposal:

- What update/refactoring do you want to perform?

Web apps are starting to use the HTML5 Web Storage API's, in particular the window.sessionStorage api for session identifier storage. This provides protection from cross protocol (http -> https), cross-window, and retention

[2019-05-22 08:52] mackowski commented on #114
Thanks for this proposal. Looks fine for me!
@righettod what is your view on that?

[2019-05-23 09:39] righettod commented on #106
PR #112 merged

[2019-05-23 09:39] #106 closed

[2019-05-23 09:49] righettod commented on #114
This topic can effectively be interesting to deep dive to provide useful technical hints.

@aussieklutz Do you want to work on it?

[2019-05-23 13:49] aussieklutz commented on #114
Happy to draft a first pass at it...

[2019-05-23 16:09] Malvoz commented on #5
I'd like to help with this.

H5BP have for a long time been providing developers with a terrific boilerplate of apache security configs, and I feel obligated mentioning them: https://github.com/h5bp/server-configs-apache

If there's anything to take away from this comment I would like to highlight one thing when it comes to HTTP (security) headers:

We need a consensus of which  headers applies to

[2019-05-24 02:10] aussieklutz commented on #114
Just made a pull request.

[2019-05-24 02:22] aussieklutz commented on #107
This suggestion, to remove complexity, and suggest length also aligns better with the latest NIST memorized secrets recommendations.

[2019-05-24 02:23] aussieklutz commented on #93
May be worth adding some recommendations about how to implement, as per Troy Hunt/ReportURI, to get notified of issues and build out rule sets.

[2019-05-24 06:07] righettod commented on #5
Thank you very much for your proposal, feel free to submit a PR 😃

[2019-05-24 14:04] righettod commented on #114
Thank you very much, i have affected the issue to you 😃

[2019-05-27 15:38] righettod commented on #93
We will add the proposed content and we will add later element from Troy Hunt via a dedicated ticket.

@ThunderSon You can inject the proposed content into the CSP CS ? Thank you very much in advance 😃

[2019-05-27 15:41] righettod commented on #5
@danehrlich1 Any news about the PR for this issue ? Thank you very much in advance for your feedback 😃

[2019-05-27 15:43] righettod commented on #109
@Timo69 Any news about the PR for this issue ? Thank you very much in advance for the feedback 😃

[2019-05-27 15:45] righettod commented on #108
@knadt Does it will be included into your PR #75 ?

[2019-05-27 16:13] Timo69 commented on #109
@righettod Done :)

[2019-05-27 16:26] Malvoz commented on #5
This is not a small task. If you are referring to my proposal of mapping out which headers applies to which `Content-Type`.

I [briefly reviewed and commited to](https://github.com/danehrlich1/very-secure-apache/pull/2/files#diff-df2dda81b3dd9d5c7523bb1dec20c6fb) @danehrlich1's PR. There are some very debatable defaults in there, quick example:
[code]
This implies all subdomains are HTTPS, and alt

[2019-05-27 16:29] jmanico commented on #5
HSTS preload is easily reversible.

htstspreload.org/removal/

--
Jim Manico
@Manicode
Secure Coding Education
+1 (808) 652-3805

[2019-05-27 16:35] Malvoz commented on #5
@jmanico

https://hstspreload.org/#removal

Yes it's not the end of the world, but there should be detailed information to the configurations.

[2019-05-27 16:38] jmanico commented on #5
Luckily inclusion in HSTS preload list has significant requirements as
you can see from https://hstspreload.org
<https://hstspreload.org/#removal>. It's rare when site owners add
themselves to preload lists  "on accident".

But you are right, if you are preloaded and depend on HTTP resources,
you are stuck until the next browser update cycle at best. Site owners
usually have better luck upgrading

[2019-05-27 16:42] Malvoz commented on #5
Also, the example CSP is rather weak in terms of strictness. I'd like to refer you to https://github.com/h5bp/server-configs-apache/blob/master/src/security/content-security-policy.conf for a strict (https://csp.withgoogle.com/docs/strict-csp.html) example base policy. But which also should, IMO, include `object-src 'none'`. See details for the motivation in my proposal for H5BP here: https://gith

[2019-05-27 16:47] jmanico commented on #5
I do not agree with the cited documents at all, I state with respect.

All CSP policies should start with default-src 'none' and build from
that, ideally. That way object-src 'none' is implicit and is not needed.

Principle of last privileged. no unsafe-inline or unsafe-eval is also
key if you want to avoid XSS.

Aloha, Jim

On 5/27/19 9:42 AM, Robert Linder wrote:

--
Jim Manico
Manicode Security

[2019-05-27 16:50] ThunderSon commented on #5
About the preload, I'd suggest removing it from the default configuration and adding it as a note for web masters that are managing the domain. A lot folks will be using subdomains and will inject preload, which doesn't hurt by default, but doesn't provide anything extra if they don't know what it is.

About CSP, I'd prefer having a not so strict CSP, and a reference to the CSP CS with some Apache

[2019-05-27 16:52] ThunderSon commented on #93
Of course. This is in no way definitive. I am a currently a bit busy, which is why no additions have been made on this CS. Once I am available, a good chunk of updates will be coming its way. If you feel like you can improve the CS in any way, please open an issue with its corresponding PR 😄

[2019-05-27 17:17] jmanico commented on #5
I do agree drop preload from the default policy. It requires careful planning.

--
Jim Manico

[2019-05-27 17:56] Malvoz commented on #5
@jmanico

that, ideally.

`default-src` only affect [fetch directives](https://www.w3.org/TR/CSP/#directives-fetch), leaving [document-](https://www.w3.org/TR/CSP/#directives-document) and [navigation directives](https://www.w3.org/TR/CSP/#directives-navigation) to their defaults. This is less strict than e.g. setting `frame-ancestors` to `'self'` or `'none'` (following the same strictness as the

[2019-05-27 19:21] righettod commented on #109
PR #116 merged
Thank you very much for your help 👍

[2019-05-27 19:21] #109 closed

[2019-05-27 19:43] righettod commented on #5
@Malvoz Take the time you need, it was just to "_keep the ball rolling_" and make a tour on the different issues in **pending** state at project level.
It's part of my role as PL 😃
Take all the time you need, no pressure, no delay 😃

[2019-05-28 06:55] ThunderSon commented on #5
@Malvoz We're more than happy to have discussions. We need to give you some feedback as well on how to proceed with the issue/PR. CSP is a hot topic recently and it is worth the investment.
CSP is better planned than forced, yet having a good and secure policy is more than welcome to be mentioned, but not set by default. I recommend checking the talks mentioned in the references of the CSP CS.

[2019-05-29 23:12] danehrlich1 commented on #5
@Malvoz I 100% agree with you. Preload should be taken out. I am shocked I put that in there. That only works if you properly follow the preload requirements, doesn’t work for self-signing in testing, blah blah.

[2019-05-29 23:15] danehrlich1 commented on #5
@righettod I can work on this more. The only thing though is...you’re never 100% sure with Apache. I’ve literally had different devs on the mailing list for httpd, and these guys are absolutely brilliant, tell me to do different things. The source code is so old...no one is totally sure. A good example of this is that recently, no one knew all the directives you could put in .htaccess, whose sourc

[2019-05-29 23:16] danehrlich1 commented on #5
@Malvoz I would love to work with you. I’ve already learned a ton from your comments here.

[2019-05-29 23:34] jmanico commented on #5
But preload is still important. Can you add a second header with comments and caveats that includes the preloading?

--
Jim Manico

[2019-05-30 07:24] danehrlich1 commented on #5
1. @jmanico Agree and that can be done as a good compromise.

2. I'd also like to note...if you are installing Apache from `apt` or `yum` or `dnf` you have a very old version in many cases. It's been patched for security stuff, but other than that like the default Debian one is 18+ months old.

3. I've been playing around with HTTPD's official docker image which has the latest, 2.4.39. Interesting

[2019-05-30 07:59] mackowski commented on #107
With @ThunderSon we agreed that we should mention the library, and put a note of the non-maintainability of the library.

@fabienleite Can I assign this issue to you?

[2019-05-30 08:17] ThunderSon commented on #5
I really like how indulged you are in the Apache configuration versions and how complicated it can get.
The mentioned points, such as `preload` and `CSP`, I'd recommend having them in comments and have some notes with them for users to apply.
The notes that you want to mention are okay as well.

[2019-05-30 12:29] fabienleite commented on #107
Yes, please go on. I will work on it as soon as I can.

[2019-05-30 13:39] mackowski commented on #107
Sure, there is no rush at all. Thank you for your engagement!

[2019-05-31 18:24] peter279k opened #118 "Cheat sheet update/refactor proposal: Password Storage Cheat Sheet"
- What update/refactoring do you want to perform?

According to [this cheat sheet](https://github.com/OWASP/CheatSheetSeries/blob/master/cheatsheets/Password_Storage_Cheat_Sheet.md#argon2-usage-proposal-in-php), the Argon2 will be supported since `php-7.2`.

However, the `PASSWORD_ARGON2ID` will be supported since `php-7.3`.

I think this related algorithm should be mentioned in the `PHP password

[2019-06-02 11:49] righettod commented on #114
PR #115 merged, thanks again for your contribution 👍

[2019-06-02 11:49] #114 closed

[2019-06-03 03:07] righettod commented on #118
Hi, according to this
https://wiki.php.net/rfc/argon2_password_hash_enhancements I think that we
can move directly to PASSWORD_ARGON2ID for the proposal and update the
existing samples because the call syntax seems to be identical (perhaps
conf value should be adapted). In all case, thank you for your proposal.

[2019-06-03 07:17] mackowski opened #119 "Microservices: New CS"
The goal for this CS is to answer and provide example solutions for the security challenges in microservices architecture. Especially describe approaches and example implementation for authorization and authentication in microservices architecture.

It should also include content of [Microservices-based Security Architecture Documentation](cheatsheets/Microservices_based_Security_Arch_Doc_Cheat_Sh

[2019-06-05 07:53] #40 closed

[2019-06-07 09:22] dominikdesmit opened #124 "New cheat sheet proposal: Secrets Management"
Hi guys,

At the Open Security Summit 2019 we started working on a cheat sheet for Secrets Management: https://open-security-summit.org/tracks/devsecops/working-sessions/secrets-management/. The results are captured here: https://github.com/dominikdesmit/owasp-secrets-management. I think this would be very relevant also for this project and in terms of visibility.

There is a big need for more gui

[2019-06-07 09:39] mackowski commented on #124
Yes, Yes, Yes :)
I wanted to add secrets management to our roadmap so I am very supportive for this one 👍
After we create it I can link to this CS from other CSs where it will be relevant.

[2019-06-07 09:40] mackowski commented on #124
Here is also very good resource about tools: https://gist.github.com/maxvt/bb49a6c7243163b8120625fc8ae3f3cd

[2019-06-07 09:44] dominikdesmit commented on #124
@mackowski awesome, yes you can!

[2019-06-07 19:10] righettod commented on #124
All your defensive cheat sheet belong to us :) :) :) . We will be more than
happy to include and maintain it into the cheat sheet series house.

[2019-06-10 13:34] LoicPoullain opened #125 "Cheat sheet update/refactor proposal: Add common session absolute timeouts"
First, thanks for maintaining such a complete and deep documentation! It's a pleasure to be able to read it.

The [session management cheat sheet](https://github.com/OWASP/CheatSheetSeries/blob/master/cheatsheets/Session_Management_Cheat_Sheet.md) gives an example on common idle timeouts but not on absolute ones.

Would it be also possible to have an order of size of absolute expiration timeouts u

[2019-06-10 13:53] ThunderSon commented on #125
Hello @LoicPoullain! Thank you for your proposal. Can you try and be more specific on what you need? Are there any examples on how the CS can be modified for it to be improved?

[2019-06-11 15:20] cthulhu opened #126 "New cheat sheet proposal: Serverless cheatsheet"
Introduce the topic of security of serverless technology.

Proposed cheatsheet can be based on https://www.owasp.org/index.php/OWASP_Serverless_Top_10_Project and https://www.owasp.org/index.php/OWASP_Serverless_Goat projects.

_What is the objective of the cheat sheet?_

To provide a short and complete description of the most offensive security threats for serverless applications development.

Th

[2019-06-11 15:28] commjoen commented on #126
Don't forget https://github.com/benno001 :D

[2019-06-11 15:47] cthulhu commented on #126
He is in the "Possible contributors list". The first one :P.

[2019-06-11 15:55] ThunderSon commented on #126
Hello and thank you for your proposal! It sure sounds awesome. As there is already a project as you mentioned, making an offensive cheat sheet doesn't fit this is as this is more oriented towards protecting the applications. Would it be possible, instead of talking about the offensive mainly, to handle the defensive aspect of it and mention use cases for the defenses?

[2019-06-11 15:56] jmanico commented on #126
Great idea!

--
Jim Manico
@Manicode

[2019-06-11 15:57] righettod commented on #126
Indeed, the CSS project is intended for defender so we only gather
defensive CS.

[2019-06-11 16:01] righettod commented on #126
Another point: Instead of providing checklist, we work to provide code
snippet or algorithm in order to provide direct usable content to dev
teams. CS must be the most actionable possible.

[2019-06-11 16:13] righettod commented on #126
Regarding the checklists: I think that the points that are part of these
checklists can be proposed to be added in the ASVS project in order to add
serverless application topology to it.

[2019-06-11 16:50] commjoen commented on #126
Maybe we can start then with a defensive cheatsheet: AKA: which controls should be implemented at least when you work serverless? Or a cheatsheet based on various items: e.g.: explain for each (secrets, authentication, storage, etc.) what is the best practice in a separate part of the cheatsheet?

[2019-06-11 16:58] righettod commented on #126
I like the idea of the CS with the controls/key points to implements/take
in account when a dev team start a new serverless app and technically how
to do them in order to provide direct usable content to dev teams either
via code or algorithm.

[2019-06-12 08:31] LoicPoullain commented on #125
Yes, sure.

When using sessions (for example to keep users authenticated across several requests), the cheat sheet recommends to delete the session after a certain period of inactivity (for example the user does not make any request during that time). The paper gives an example of *reasonable* expiration timeouts to be used in that case: 2-5 minutes for high-value applications and 15-30 minutes fo

[2019-06-12 09:37] ThunderSon commented on #125
This is a valid issue. Thank you for raising it!
Do you feel like you could do a small research on what exists (and thus assign it to you), or would you like that someone else handles it? Is there something as well that you need right now that we can help you with till the readiness of the proposed changes?

[2019-06-13 00:29] malikashish8 opened #131 "update CSRF CS - Login CSRF"
Thanks you for proposing a update/refactor of a cheat sheet.

Please provides the following information about your proposal:

- What update/refactoring do you want to perform?
Under header **Login CSRF** it says -

The above just talks about one attack use case from the referred pdf whitepaper. This should provide more generic information regarding the risk -

[2019-06-13 04:59] ThunderSon commented on #131
Alright, I see your point. Looping in @manideepkonakandla to take their opinion as well.

[2019-06-13 12:54] LoicPoullain commented on #125
Thank you for your reply @ThunderSon. I think I won't have much time to do some research in the next weeks so if someone else feels like to handle it, it would be great 👍

Nope. Thanks for asking, it is really nice!

[2019-06-13 14:52] koto commented on #95
Production-readiness should happen when we move out of Origin Trials into main Chrome (planned for Q4 this year).

I fixed the demo (Edge does not support iframe.srcdoc, hence the breakage). I'll look into IE11 support in the polyfill, but I don't have high hopes, that browser is just too far behind. We do have full support in the polyfill for FF, Chrome, Edge and Safari though.

[2019-06-13 17:04] ThunderSon commented on #95
@koto Thank you for the update! Do you think that a CS could be prepared prior to the release of the technology to the main release of Chrome which could be added to the list of CSs at release time?

[2019-06-13 21:06] koto commented on #95
Sure thing. It all depends on how detailed you want the cs to be, as the
API will for sure change a little bit still. But we'll definitely know the
final shape in chrome at least a few weeks before that chrome reaches
stable channel. We're also working on some other TT projects that might be
useful to add to the cs. All announcements will be at
https://groups.google.com/forum/#!forum/trusted-types

[2019-06-13 22:43] jmanico commented on #95
Thank you very much for this effort!

--
Jim Manico
@Manicode

[2019-06-14 07:51] cthulhu commented on #126
Totally agree, changing the text from offensive to the defensive.

[2019-06-16 08:19] righettod commented on #125
OK we add the **HELP_WANTED** label to open it for contribution by the community.

[2019-06-16 08:23] righettod commented on #126
OK, so, we start on this approach based on all our exchanges:
* Defensive oriented CS.
* Provides the controls/key points to implements/take in account when a dev team start a new serverless app and technically.
* Provides technical hints (code, algo, flow...) on how implements each mentioned controls.

I flag it **HELP_WANTED** in order to open it for contribution by the community unless someone

[2019-06-16 08:25] righettod commented on #131
As mentioned by @ThunderSon , we wait the feedback from @manideepkonakandla because he is the main maintener of this CS.

[2019-06-17 06:06] ThunderSon opened #132 "New User Management CS"
Please provide the following information about your proposal:

1. Which security issues are commonly encountered when using the technology or technique described in the cheat sheet?

- System configurations
- Bad practices
- No proper implementation for user management

2. What is the objective of the cheat sheet?

To help the reader understand the concepts behind user management.

3. What will th

[2019-06-17 16:21] jmanico commented on #76
Train your Developers on Secure Coding

View this email in your browser (https://mailchi.mp/875ff264e773/manicode-security-june-2019?e=1b1f1bde99)

** Manicode Security
------------------------------------------------------------

** Secure Coding Education
June 2019 Update
------------------------------------------------------------
Secure Coding Classes
Thank you for being a customer, partner or

[2019-06-17 16:21] jmanico commented on #5
Train your Developers on Secure Coding

View this email in your browser (https://mailchi.mp/875ff264e773/manicode-security-june-2019?e=3050ffb84f)

** Manicode Security
------------------------------------------------------------

** Secure Coding Education
June 2019 Update
------------------------------------------------------------
Secure Coding Classes
Thank you for being a customer, partner or

[2019-06-17 16:21] jmanico commented on #5
Train your Developers on Secure Coding

View this email in your browser (https://mailchi.mp/875ff264e773/manicode-security-june-2019?e=6cf0db43ab)

** Manicode Security
------------------------------------------------------------

** Secure Coding Education
June 2019 Update
------------------------------------------------------------
Secure Coding Classes
Thank you for being a customer, partner or

[2019-06-17 16:21] jmanico commented on #5
Train your Developers on Secure Coding

View this email in your browser (https://mailchi.mp/875ff264e773/manicode-security-june-2019?e=2db028a84f)

** Manicode Security
------------------------------------------------------------

** Secure Coding Education
June 2019 Update
------------------------------------------------------------
Secure Coding Classes
Thank you for being a customer, partner or

[2019-06-17 16:21] jmanico commented on #126
Train your Developers on Secure Coding

View this email in your browser (https://mailchi.mp/875ff264e773/manicode-security-june-2019?e=2b4dcf8028)

** Manicode Security
------------------------------------------------------------

** Secure Coding Education
June 2019 Update
------------------------------------------------------------
Secure Coding Classes
Thank you for being a customer, partner or

[2019-06-17 16:21] jmanico commented on #5
Train your Developers on Secure Coding

View this email in your browser (https://mailchi.mp/875ff264e773/manicode-security-june-2019?e=47b50a168a)

** Manicode Security
------------------------------------------------------------

** Secure Coding Education
June 2019 Update
------------------------------------------------------------
Secure Coding Classes
Thank you for being a customer, partner or

[2019-06-17 16:21] jmanico commented on #5
Train your Developers on Secure Coding

View this email in your browser (https://mailchi.mp/875ff264e773/manicode-security-june-2019?e=4273b4e5a2)

** Manicode Security
------------------------------------------------------------

** Secure Coding Education
June 2019 Update
------------------------------------------------------------
Secure Coding Classes
Thank you for being a customer, partner or

[2019-06-17 16:21] jmanico commented on #101
Train your Developers on Secure Coding

View this email in your browser (https://mailchi.mp/875ff264e773/manicode-security-june-2019?e=7d9c298ae5)

** Manicode Security
------------------------------------------------------------

** Secure Coding Education
June 2019 Update
------------------------------------------------------------
Secure Coding Classes
Thank you for being a customer, partner or

[2019-06-17 16:22] jmanico commented on #95
Train your Developers on Secure Coding

View this email in your browser (https://mailchi.mp/875ff264e773/manicode-security-june-2019?e=b01eb889b3)

** Manicode Security
------------------------------------------------------------

** Secure Coding Education
June 2019 Update
------------------------------------------------------------
Secure Coding Classes
Thank you for being a customer, partner or

[2019-06-18 08:01] zer0uno opened #133 "XSS CS - Rule 2: confusion about name attribute"
The docs says:

but after it says:

So what about name attribute? Is it a safe attribute or not? Does the Rule 2 apply to it?

[2019-06-18 08:19] righettod commented on #133
Hello,
Thank you for your question.
Which cheat sheet you are refering to?
Thank in advance.

[2019-06-18 08:20] zer0uno commented on #133
This one: https://github.com/OWASP/CheatSheetSeries/blob/master/cheatsheets/Cross_Site_Scripting_Prevention_Cheat_Sheet.md

[2019-06-18 08:32] righettod commented on #133
OK, I have spot the point. Thank you 😃

This [section](https://github.com/OWASP/CheatSheetSeries/blob/master/cheatsheets/Cross_Site_Scripting_Prevention_Cheat_Sheet.md#xss-prevention-rules-summary) do not mention the attribute `name` as safe for untrusted HTML inclusion.

It's strange because the first sentence mention the attribute `width` but it is included into the safe list.

It's also strange

[2019-06-19 05:03] ThunderSon commented on #133
I believe that `name` isn't an issue as a XSS attack, unless one can escape from it and inject other attributes. There totally is an issue with the CS, it was even asked on [StackOverflow](https://stackoverflow.com/questions/31526679/html-attributes-escaping)
I'll try and see if I can squeeze in a fix on this one.

Thank you for pointing the issue out 😄

[2019-06-19 05:05] ThunderSon commented on #131
As this has taken a little bit of time, I'll wait till Monday to either instruct you to open a new PR (if you are willing), or to amend it internally.
Thank you @malikashish8 for waiting 😄

[2019-06-19 05:32] righettod commented on #133
OK so it's the same thing for the attribute `value`.

[2019-06-19 05:33] righettod commented on #131
OK let's do it in this way.
deadline fixed to monday, after, we take action to handle this issue.

[2019-06-20 07:41] righettod opened #138 "Add integration with Slack via the GitHub bot"
Add the [Git bot for Slack](https://slack.github.com/) and see which useful integration we can achieve.

[2019-06-20 08:55] #138 closed

[2019-06-21 11:19] patric-eberle opened #141 "DOM Based XSS CS - Rule 6: Confusion on "only right side operations""
The description for Guideline 6 on DOM_based_XSS_Prevention_Cheat_Sheet.md seems confusing. The Guideline talks about "only right side operations" but only examples about object attributes are given.

In an older version of the Cheat Sheet from April 2015 there was also an example for the use of right side operations:

[code]

Also I think that the current code examples, on how to work with Object

[2019-06-22 13:35] righettod commented on #141
Thank you very much to have raised the issue, we will try to resolve the point ASAP.
Do you want to help on this issue?

[2019-06-24 06:48] righettod commented on #141
@jmanico Can you help us on this issue?
Thanks in advance 😃

[2019-06-24 07:06] mackowski commented on #133
@ThunderSon can we assign this issue to you? :)

[2019-06-24 07:11] mackowski commented on #131
Since we did not received feedback from @manideepkonakandla I think that we should open PR for this issue.
@malikashish8 do you want to create PR?

[2019-06-24 07:27] righettod commented on #133
So if I resume, the attributes `name` and `value` and `width` seems to be safe for untrusted HTML inclusion.

I have made a test to check:

[code]

Execution result on Chrome (last version) using different content:

**Test with HTML with JS event**

![01](https://user-images.githubusercontent.com/1573775/59999311-f6e97580-9661-11e9-85fc-183d3feeedc7.png)

![02](https://user-images.githubuserconten

[2019-06-24 08:03] ThunderSon commented on #133
I'd love to see if the reporter would love to handle it.
@zer0uno Would you like to handle this issue? 😄

[2019-06-24 08:06] ThunderSon commented on #5
@danehrlich1 @Malvoz Hello! Any status on the issue?

[2019-06-24 08:12] patric-eberle commented on #141
I couldn't think of a meaningful alternative use for left side operations besides object attributes. Unfortunately this is quite close to Guideline 8 but I think it makes still sense to keep those separate.

I would recommend something like:

**Guideline 6**

---
Not only is it good design to limit the usage of untrusted data to right side operations, but also be aware of data which may be passed

[2019-06-24 08:56] righettod commented on #19
After a discussion with @ThunderSon it will be great to work on it together 😃

[2019-06-24 09:17] zer0uno commented on #133
@ThunderSon Yeah, I'd love it! If you could give me some tips on what to next after what @righettod did I would appreciate it very much.

[2019-06-24 09:37] righettod commented on #133
We can either do more tests and update the CS based on current test results...
@ThunderSon @mackowski What do you think?

[2019-06-24 11:46] ThunderSon commented on #133
@zer0uno you'd mainly need to validate your points. What fields are actually safe? Which are not? Follow on dom's steps. Once that done, send a PR, we'll review and validate if there is anything missing. Just go forward with it. If you need anything while working on your tests, you can email us, or use this issue 😄

[2019-06-25 05:00] ThunderSon opened #143 "Auto-Assign Milestones and Projects"
**Purpose of the issue:**
Auto-assign the milestone and the project to the issues and PRs on creation.

The following article has some details for crafting custom URLs:
https://help.github.com/en/articles/about-automation-for-issues-and-pull-requests-with-query-parameters

https://help.github.com/en/articles/manually-creating-a-single-issue-template-for-your-repository

[2019-06-25 06:51] righettod commented on #143
I have tried but **milestone** and **projects** cannot be added as properties of the template of issue/pr, you can only use them as query parameter.

The issue is that i do not control the url used when user click on the menu to select the kind of issue based on the issue template created:

![Capture](https://user-images.githubusercontent.com/1573775/60075436-97ed3480-9725-11e9-8d76-d2339f6429c1.p

[2019-06-25 13:28] Malvoz commented on #5
Due to the fact that not all apache directives are accessible in the [context of `.htaccess`](https://httpd.apache.org/docs/2.4/howto/htaccess.html) files, for a large percentage of developers that do not have access to the main server configuration file (which is almost always the case of shared hosting), half of @danehrlich1's [configurations](https://github.com/danehrlich1/very-secure-apache/bl

[2019-06-25 13:42] mackowski commented on #5
Personally I think that the best way to address issues is to create a PR with proposal. That way we will be able to add comment to specific line and try to resolve it and avoid statements like 'large percentage'.
I can also suggest that even is something is not available from .htaccess but can increase security we should recommend it but also mention that it is not accessible in the context of .ht

[2019-06-28 15:31] righettod commented on #88
PR #88 merged so we close the issue.

[2019-06-28 15:31] #88 closed

[2019-07-01 09:25] aussieklutz opened #144 "Cheat sheet update/refactor proposal: REST Security Cheat Sheet"
Thank you for proposing to update/refactor one of our cheat sheets.

Please provide the following information about your proposal:

1. What is missing or needs to be updated in the current iteration of the cheat sheet?

JWT section does not cover the need to allow explicit revocation, for example: on logout of the application.

2. How do you intend to resolve this with an update/refactoring?
Sugge

[2019-07-01 09:43] tghosth opened #145 "Shortlinks for easier references to cheatsheet documents"
hi folks,

If I want to put a reference to an OWASP cheatsheet in a document, the new GitHub links are a little long. Would it be worth creating shortlinks for them?

OWASP actually has this functionality through GSuite at http://sl.owasp.org. You can see more info from there. It looks like anyone with an OWASP account can create a shortlink there. It currently uses HTTP rather than HTTPS but for

[2019-07-01 09:44] mackowski commented on #144
Good idea 😃 @aussieklutz do you want to create PR for it?

[2019-07-01 09:48] mackowski commented on #145
I like it!
@tghosth Do you want to create it for existing cheatsheets?
It will be also good to update README to explain how to do this for new CSs, the problem is a lot of contributors does not have OWASP account but in that case someone from core team can do it.

[2019-07-01 09:48] mackowski commented on #145
@righettod @ThunderSon what do you think about it?

[2019-07-01 11:09] tghosth commented on #145
Let's wait and check that the others approve and also see if we can get the links shortlinks transitioned to HTTPS

[2019-07-01 11:11] righettod commented on #145
Good point indeed, we have the issue #25 pending (we are waiting a decision from the foundation before to officially release it but we are ready since more than 2 months) to publish a web site with the shortest and stable link to every CS as well as indexes (better UI and navigation and dynamically generated from MD files).

I'm not against short links at all but there are 2 points that I want to

[2019-07-02 07:32] ThunderSon commented on #145
I'd debate the need for the shortened links. @righettod Why is it that almost all the major projects have their own website/extension, and this project has been set on the back burner? I doubt the rest took any response or whatever, or simply ignored it. Let's push one last time with the board before using the website. It's been more than a month since that has been discussed.

[2019-07-02 07:40] righettod commented on #145
When I have asked to the foundation (Matt Tesauro precisely) where I can store the web site generated, He answer to me to use the GH pages feature of the repo, so, I have followed the foundation response.

[2019-07-02 07:43] righettod commented on #25
@hblankenship : Any update on this topic?
Thanks in advance 😃

[2019-07-02 10:43] mackowski opened #147 "Update Samesite Cookie Attribute section in Cross-Site Request Forgery Prevention Cheatsheet"
[Samesite Cookie Attribute section](https://github.com/OWASP/CheatSheetSeries/blob/master/cheatsheets/Cross-Site_Request_Forgery_Prevention_Cheat_Sheet.md#samesite-cookie-attribute) should be updated.

First issue is outdated number of browsers that support SameSite. In CS there are numbers from August 2018 and back then it was only used in by 68.92% of Internet users. Currently [numbers are much

[2019-07-02 10:45] mackowski commented on #147
@manideepkonakandla I remember that you started working on that and you send an email to Mike West in order to understand some details about samesite cookies protection bypasses.
What is your opinion on that?

[2019-07-02 10:53] righettod commented on #147
We can reference directly [this link](https://caniuse.com/#feat=same-site-cookie-attribute) in order to have always up-to-date stats about supports, no?

[2019-07-02 10:57] mackowski commented on #147
Yes we can and we should. The problem here is that this is not only problem with the numbers but in this section there are conclusions, based on out-of-date numbers, that are no longer entirely true.

[2019-07-02 14:46] ThunderSon commented on #147
I feel like this is a topic I can handle. I'll either assign it to myself tomorrow and do it, or leave it for help.

[2019-07-02 18:29] manideepkonakandla commented on #147
@mackowski Yeah I picked it up and planned to update it after I hear back from Mike West (which I did not till date even after couple of reminders). I'm on vacation back home now till end of July. I can take it up and update it after I return back if @Thunderson did not get time to do it meanwhile (Feel free to assign it to me in later case)

[2019-07-02 18:43] manideepkonakandla commented on #131
Sorry. Got busy with work because of vacation ahead. Replied on PR.

[2019-07-02 19:30] minanagehsalalma opened #148 "how i can manually login to HG router using curl?"
the ﻿problem that i tried the curl command from chrome network tab and it didn't work ! so i looked in the page html and found that it does this

1- Encrypt the password to sha256

2- then base64 encode the sha256 hash

3- then add the hash to the challange ( that it gets from another page )

4- then sha 256 the outputthese code lines

[code]
﻿ i tried to that step by step and it still doesn't wor

[2019-07-02 19:39] righettod commented on #148
Hello,
Use our slack channel or StackOverFlow for this kind of question.

[2019-07-02 19:39] #148 closed

[2019-07-02 20:21] minanagehsalalma commented on #148
@righettod  where can i find it !!
and i have already asked in there stack sites (StackOverFlow - superuser - networkengineering )
!!

[2019-07-02 21:35] minanagehsalalma commented on #148
@righettod  can i get an invitation pls ?

[2019-07-03 03:23] minanagehsalalma commented on #148
@minanagehsalalma
the SessionID_R3 isn't necessary to login but necessary to view auth required pages and it gives you a new one when you successful login

the working command

curl "http://192.168.1.1/index/login.cgi" -H "Cookie: Language=en" --data "Username=user&Password=16e1c03a0075fa68ddca3398b5cd6342692cb9868b68a4c9c0a92b89311667a8&challange=KCoMUJ4u3SEf7bfDJ3o9"
i would have removed the coo

[2019-07-03 06:26] righettod commented on #147
For me, *SameSite* must be used in addition of CSRF prevention measures implemented on server side in order to apply the defense in depth principle.

[2019-07-03 06:29] righettod commented on #145
In addition, I have added information/question on the `owasp-ux` slack channel regarding a pending solution to tackle the issue on domain used (github instead of owasp) because it's mainly this point that seems to cause drama regarding SEO....

[2019-07-03 07:58] minanagehsalalma opened #149 "is there any way around HttpOnly cookies ?"
curl﻿﻿
![image](https://user-images.githubusercontent.com/20546638/60574022-08750080-9d79-11e9-846c-6b294f981223.png)

the headers from network tab
![image](https://user-images.githubusercontent.com/20546638/60574030-0b6ff100-9d79-11e9-94ac-5e35bad781c2.png)

The response cookies from network tab
![image](https://user-images.githubusercontent.com/20546638/60574036-0f037800-9d79-11e9-85a8-05bbe67de

[2019-07-03 08:26] ThunderSon commented on #149
@minanagehsalalma Kindly direct your request to the community (Twitter, Discord, Slack, etc.) as this repository doesn't discuss offensive measures nor how to debug issues.

[2019-07-03 08:26] #149 closed

[2019-07-03 08:38] mackowski commented on #147
I agree that SameSite should be used as addition and should not be a primary defense.

But I do not agree that "it is still in early stages" because ALL supported browsers implemented it. We also wait for Mike to answer our questions but from my current understanding all bypasses in this [draft](https://tools.ietf.org/html/draft-ietf-httpbis-rfc6265bis-02#section-5.3.7) ale possible when you have

[2019-07-03 16:13] manideepkonakandla commented on #147
yeah I'm okay removing the early stages thing.

[2019-07-04 05:43] tghosth commented on #25
So to me this seems like a one-off effort per cheatsheet rather than something that will need to be constantly updated as right now, the cheatsheets have their own static long links, right?

I think there is a difference between an owasp.org short link which is attributable to an owner and only creatable by owasp.org account holders and a random tinyurl gibberish link. Of course, anyone who doesnt

[2019-07-04 06:35] righettod commented on #25
In reference to #145:

Right but I still want that the process be automated in order to prevent to rename a CS file and then break the associated shortlink (automation is a pillar of the project). However, the current issue is mainly to know where the link must point to, for me, it should the to the HTML generated site...MD files are working sources.

+1 for the HTTPS

One of the issue with creati

[2019-07-04 06:55] mackowski commented on #25
If we will have website (and I think that we should have one) I think that we should pause for creating shortlinks now because at the end the aim will be to link to the website. IMO website is the best solution.

[2019-07-08 15:43] tghosth commented on #25
Sorry that was my bad. 🤦‍♂

I accept what you say above and will close #145 for now as it seems like a real website will render this less relevant.

[2019-07-08 15:43] tghosth commented on #145
Closed for now as per https://github.com/OWASP/CheatSheetSeries/issues/25#issuecomment-509279481

[2019-07-08 15:43] #145 closed

[2019-07-09 08:43] mackowski opened #151 "Update Cross-Site Request Forgery Prevention Cheat Sheet"
This CS is very big. It is a good resource about CSRF but it is not a cheat sheet per say.

I propose to delete or strongly refactor sections:
 - What's new?
 - Not So Popular CSRF Mitigations
 - CSRF Mitigation Myths
 - Personal Safety CSRF Tips for Users

Refactor (to make it shorter) all Defense In Depth Techniques descriptions

[2019-07-09 20:06] bschach opened #153 "Cheat sheet update/refactor proposal: SAML Security Cheat Sheet"
1. First Mile/Last Mile Considerations:
To be honest, as non-native speaker, I did not immediately connect this to IdP/SP side. Rather had a connection to First Mile = easy things/Last Mile = enhanced checks. Doesn't really make sense, but I'd suggest to simply formulate this more clearly for everyone:

- First and Last Mile Considerations > Identity Provider and Service Provider Considerations
-

[2019-07-10 14:42] righettod commented on #153
Hello,
Thanks for your issue.
I do not understand the goal of your issue, do you want to update the content of the CS or do you have question about the usage of it's content?

[2019-07-10 14:45] righettod commented on #144
Linked to PR #152

[2019-07-10 14:56] righettod commented on #147
PR #150 merged.

[2019-07-10 14:56] #147 closed

[2019-07-11 06:05] #144 closed

[2019-07-11 19:03] bschach commented on #153
Hi, actually both. Sorry, if that was confusing.
With 1. and 2. I wanted to suggest changes.
And the additional comment was a question, but also a suggestion to provide clearer recommendations on what to sign (and validate) into the cheatsheet.

[2019-07-11 23:09] gkwang commented on #153
@bschach There is an errata published for your particular concern:
https://docs.oasis-open.org/security/saml/v2.0/sstc-saml-errata-2.0-cd-04.pdf#L746
It addresses the spirit of what it means to have the Assertion signed.

In short, when using a POST binding, both signing the Response as a whole or at each Assertion fulfills the requirement of ensuring the integrity of the Assertions.  However, sho

[2019-07-13 07:57] righettod commented on #153
Hello,
Thanks @bschach for the clarification, do you want to submit a PR for the change that you want to apply?
Thanks @gkwang for the technical answer 👍

[2019-07-13 16:54] jdvalentini opened #154 "Cheat sheet update/refactor proposal: Deserialization_Cheat_Sheet"
All,

I am pretty sure there is a typo in the Java White Box Review section of the deserialization cheatsheet.

Item 3 of the list says `ObjectInputSteam` where `ObjectInputStream` should be the pattern to look for.

Thanks in advance

[2019-07-13 18:03] #154 closed

[2019-07-13 18:05] righettod commented on #154
Thanks for the issue, I have fixed it 👍

[2019-07-14 07:16] righettod commented on #25
We did it: https://cheatsheetseries.owasp.org
Many thanks to the core team and to @hblankenship 👍
README has been updated regarding the links to a the CS.

[2019-07-14 07:16] #25 closed

[2019-07-14 16:57] jdvalentini commented on #154
Thank you sir!

[2019-07-14 18:49] righettod commented on #154
Thanks to you to have spotted the issue 😃

[2019-07-15 13:38] righettod commented on #9
Now we must track reference to the MD files and update them to point to the site: https://cheatsheetseries.owasp.org/

[2019-07-15 14:57] javixeneize opened #155 "cheatsheets in json format"
Hi

Is there any version of the cheatsheets in a json format please? If not, i believe it would be a good addition in order to retrieve the relevant cheatsheets for the desired technology

[2019-07-15 15:02] righettod commented on #155
Hello,

No, there an index referencing the technology used for the samples.

A cheat sheet is expected to be portable in a way that it describe a security issue and how to address it by providing a concrete algorithm/process/approach with a sample of implementation in a technology (depend on the author preference) but allowing the dev team to derivate it for his context.

[2019-07-15 15:24] righettod commented on #155
You can use the [index](https://github.com/OWASP/CheatSheetSeries/blob/master/Index.md) in this way (little scripting i understand):
[code]

[2019-07-15 15:27] javixeneize commented on #155
it might help. What im trying to do is write an app that, based on the technology used, returns the relevant recommendations, asvs, cheatsheets etc, so having a json with all cheatsheets would be fantastic. I will try with that approach :)

If this is no longer relevant, feel free to close the issue

Thanks!

[2019-07-15 15:32] righettod commented on #155
OK, we will provide a script to get the CS based on the sample provided like described.

[2019-07-16 06:28] mackowski commented on #151
I want to create PR this week.
Do you have any other suggestions what should be changed in this CS?

[2019-07-16 16:25] righettod commented on #151
I'm in sync with the update that you want to perform and your objective 😃

[2019-07-16 16:27] righettod commented on #131
@ThunderSon @mackowski Where we are on this? it can handled with the #151 ?

[2019-07-16 17:15] righettod commented on #155
I have added this [script](https://github.com/OWASP/CheatSheetSeries/blob/master/scripts/Generate_Technologies_JSON.py).

[code]

[code]

Hoping it will help you 😃

[2019-07-16 17:57] mackowski commented on #131
We are waiting for update on this PR #146

[2019-07-16 19:09] righettod commented on #131
Ok thank you very much for the feedback 👍

[2019-07-17 12:42] buztheflash opened #158 "TLS CS update proposal: Rule - Do Not Use Wildcard Certificates"
Hello,

Thank you very much for this cheat cheet.
I would like to propose to update the "Rule - Do Not Use Wildcard Certificates" detailling this part: "obtaining access to the private key is left as an exercise for the attacker, but its made much easier when stored on the file system unprotected".
1) Why is this private key retrieval easier specifically for wildcard certificates? And provide more

[2019-07-17 20:45] bschach commented on #153
@righettod yes, I'll submit the PR
@gkwang Thanks a lot for the information! I didn't know that document, but that's very clear! Still wondering though, if it's considered best practice to always sign the whole response.
Would you be interested in also taking a look at the SAML cheatsheet and provide some feedback, if you think things could be improved?

[2019-07-17 22:39] javixeneize commented on #155
Looks useful. I will look into extracting content from each of the
cheatsheets as well

Thanks!

El El mar, 16 jul 2019 a las 18:15, Dominique RIGHETTO <
notifications@github.com> escribió:

[2019-07-18 06:15] mackowski commented on #158
Hey, this can be a good addition to this CS. What do you think @ThunderSon and @righettod.

[2019-07-18 07:11] ThunderSon commented on #158
Let this issue handle a refactoring of that whole section. Especially the point about EVs as it is bad and obsolete. @buztheflash Are you able to create a PR for this issue?
Pretty sure there are use cases for the wildcard certificates, pros and cons. The section above it will need a couple of amendments as well as they tackle the same topic.

[2019-07-18 10:25] pawneeranger opened #159 "Cheat sheet update/refactor proposal: Forgot Password Cheat Sheet"
### 1. What is missing or needs to be updated in the current iteration of the cheat sheet?

On step 2, the first paragraph preconize a solution which is vulnerable to user enumeration and thus unfortunately not secured:

"After the form on Step 1 is submitted, the application verifies that each piece of data is correct for the given username. If anything is incorrect, or **if the username is not r

[2019-07-18 10:34] mackowski commented on #159
My understanding is that you have a form where is field for username and security questions, than you verify if all answers are correct for given username => I do not see here user enumeration vulnerability because in order to check if that username is registered in application you have to also know answers for security questions.

[2019-07-18 10:56] pawneeranger commented on #159
Maybe my understanding is wrong then.

The way I understand it if you follow step by step :
1st step : fill a form with hard data (which could be just an email address)
2nd step : then verify those informations and display if there is an error

Sorry for the inconvenience if it is just my personnal understanding :sweat_smile:

[2019-07-18 11:22] buztheflash commented on #158
I will create a PR for this request. Thank you!

[2019-07-18 11:23] mackowski commented on #158
Awesome! Thank you @buztheflash

[2019-07-18 12:02] ThunderSon commented on #159
The issue you are describing is valid. Do you have a proposal to fix the current implementation?

[2019-07-18 12:13] righettod commented on #155
You are welcome 😃

[2019-07-18 12:14] righettod commented on #153
OK, I will affect you the issue, thank you very much for your help 👍
Do not hesitate to ping us in case of need 😃

[2019-07-18 12:22] pawneeranger commented on #159
I do not see an easy fix as the following step preconized is to ask the user's security questions. A workaround would be to ask random questions if the user does not exist but that would be a nightmare in terms of usability... (if user miswrite his hard data he would not be able to figure it out)

[2019-07-18 16:47] righettod commented on #159
The issue is valid for me too.

As discussed with @ThunderSon and @mackowski :

_First, the application should return the same response message (code + size) either the user exists or not._

_Second, the application must take care to not have a response time in the 2 cases that will create a discrepancy factor allowing the user enumeration._

Regarding the security question: It can be leveraged as

[2019-07-22 22:26] gkwang commented on #153
@bschach yes. Signing the Response as a whole (in lieu of signing the assertion) generally improves performance because the signature only has to be validated once for all Assertions within the Response. It also means the attribute along with the Response is untamperable. As for whether or not signing both Response and Assertions is the best practice, I personally think it's overkill. However, It

[2019-07-23 11:20] cgimenes opened #163 "Translations"
Are you planning to translate this project to others languages soon?
I think the community would be glad to have this kind of content in their native language.
If yes, I could help you translate to brazilian portuguese.

[2019-07-23 11:38] righettod commented on #163
Hello,

It not plan to translate the project in other languages.

The reasons are the following:
- The content of the project is technical and moves often, so, we do not have the resources to track and maintain the expected quality level of several versions of a cheat sheet (we have 63 cheat sheets for the moments and this number will grow in coming months).
- In respect regarding the diversity of

[2019-07-23 11:54] #163 closed

[2019-07-25 02:17] mak1yama opened #164 "Cheat sheet update/refactor proposal: Authentication Cheat Sheet (Authentication and Error Messages)"
I discussed error messages during the login process in https://github.com/OWASP/ASVS/issues/659. After that, ASVS added the reference of [Authentication Cheat Sheet (Authentication and Error Messages)](https://github.com/OWASP/CheatSheetSeries/blob/master/cheatsheets/Authentication_Cheat_Sheet.md#authentication-and-error-messages) in V7 (see https://github.com/OWASP/ASVS/pull/661).

I think [Authe

[2019-07-25 03:50] ThunderSon commented on #164
Hello @mak1yama ! Thank you for spotting this. I see this as a valid point, and I mainly want to see the examples included. Would you like to handle this issue?

[2019-07-25 03:56] righettod commented on #164
We can also add a reference to the error handling cheat sheet to mention
the importance of handle error. Another hint to add will be about the time
discrepancy in the processing time of the request, we should indicate that
it must consistent across all the situation.

[2019-07-25 04:07] righettod commented on #164
Regarding the time discrepancy, we should indicate to not use **quick exit** in implementation like for example:

[code]

But use the approach:

[code]

It allow the processing time delay between different cases (valid and not valid) to be not really reliable (some milliseconds instead of seconds) to mount a time based attack...

[2019-07-25 04:09] righettod commented on #153
OK keep us posted when your PR will be ready or if you need something 😃

[2019-07-25 20:21] mak1yama commented on #164
Thanks @ThunderSon ! I'm glad you understood that.

I would be grateful if you could handle this issue for the authentication cheat sheet.

Hi @righettod

This is very interesting suggestion for the error handling cheat sheet. I recognize that time-based attack is really feasible, and your approach looks good. However, I'm not sure how feasible your approach is. If an attacker send many requests a

[2019-07-26 04:19] ThunderSon commented on #164
1. Those serve different threat cases. Setting the rate limiting helps with 2 scenarios:
  - Brute-force mitigation
  - User enumeration over a short duration (over long duration, it needs heavy refinement to cover for long duration attacks.
2. Time similarity in response time covers the below scenario:
  - User enumeration - Time based attacks.

They both work together to help fix user enumeratio

[2019-07-26 07:01] mackowski commented on #107
I will take it since this is open for a long time now.

[2019-07-26 14:43] fabienleite commented on #107
I'm **so sorry**. I'll try to do this this weekend, if I don't give you feedback before Monday, please do it.

I didn't have much time as I was busy with a lot of things recently but I begin to have a little bit more time to think about it.

[2019-07-27 07:34] righettod commented on #164
I take it

[2019-07-27 08:50] righettod commented on #164
Linked to PR #166

[2019-07-29 20:29] bschach commented on #153
Sorry for the late reply. I was travelling, but will make the PR for the suggested changes in the next days. Will take a closer look at the rest of the cheatsheet afterwards.
@gkwang great to hear! If you have any input, let's also discuss it here or in the OWASP Slack workspace (owasp.slack.com) - or just suggest a PR :-)

[2019-07-31 06:51] mackowski commented on #133
@zer0uno do you need any help from us?

[2019-07-31 06:52] mackowski commented on #124
Hey @dominikdesmit are you still working on this? Do you need any help from us?

[2019-07-31 06:55] mackowski commented on #67
Hey @garethventon what is the status on the issue? Do you need any help from us?

[2019-07-31 07:10] mackowski commented on #158
@buztheflash I see that you done it but you did not created PR to this project. Do you need any help?

[2019-07-31 08:42] garethventon commented on #67
Afternoon,

The quick answer is yes, we've a few tested patterns for OAuth
implementations recently but the objective of turning this into a cheat
sheet has lost some of it's momentum unfortunately.

On Wed, 31 Jul 2019 at 07:55, mackowski <notifications@github.com> wrote:

--
Gareth Venton
ISBP Information Security Business Partner / Security Consultant (Digital)

*Information Security*

*Working

[2019-07-31 09:58] ThunderSon commented on #67
@garethventon Can you share with me the findings? You can find me on Slack 😄

[2019-08-01 12:44] buztheflash commented on #158
Hi @mackowski,
Oops! I would appreciate some support about how to implement the process! As you know this is my first collaboration! Thank you in advance

[2019-08-01 16:09] #164 closed

[2019-08-01 16:09] righettod commented on #164
Pr #166 merged

[2019-08-04 08:35] righettod commented on #91
I start actively working on it.

[2019-08-04 10:03] righettod commented on #91
Linked to PR #169

[2019-08-05 04:12] righettod commented on #91
PR merged.

[2019-08-05 04:12] #91 closed

[2019-08-05 07:49] righettod commented on #107
PR #167 merged.

[2019-08-05 07:49] #107 closed

[2019-08-07 21:52] bschach commented on #158
Sorry to jump in here, but I recently looked for a good overview of the wildcard certificate topic and came across a good article by Sean Wright (https://blog.sean-wright.com/wildcard-certs-not-quite-the-star/)

Also, in case this helps, here's some of my conclusions regarding the topic:

Pros:
- often considered cheaper and easier to manage than specific certificates (unless compared to Let's Enc

[2019-08-08 04:42] ThunderSon commented on #158
@buztheflash Hi! What exactly do you need as assistance? Your comment totally slipped under the radar 😄
@bschach What you wrote is amazing. Not everything is part of this issue, but is something to be considered for the CS.
An interesting read as well was this [gist](https://gist.github.com/joepie91/7e5cad8c0726fd6a5e90360a754fc568)

[2019-08-09 13:59] #153 closed

[2019-08-14 08:43] zer0uno commented on #133
@mackowski Sorry for the delay, it was a tough period. I expect to process the issue by the end of August.

[2019-08-14 09:32] mackowski commented on #133
No worries! Thanks for the update and let us know if you will need anything from us :-)

[2019-08-17 09:27] righettod commented on #68
Pr #75 merged

[2019-08-17 09:27] #68 closed

[2019-08-19 06:21] mackowski commented on #5
@danehrlich1 hey, what is the status of this issue? Do you need any help from us?

[2019-08-20 14:28] danehrlich1 commented on #5
Let me just get it in and over with. Then we can edit it there still but at least we've heaved it over the finish line. 72 hours.

[2019-08-21 20:16] guerilla7 opened #181 "CS Update: Cryptographic Storage"
Greetings Most Awesome OWASP Cheetsheet Team!

I would like to update the Cryptographic Storage Cheat Sheet section by adding more details on what Pseudo Random Number Generator to use (PRNG) and its fundamental difference with a Cryptographically Secure Pseudo Random Number Generator (CSPRNG) and why it should be used in the context of secure programming.

It will be very pragmatic so novice soft

[2019-08-22 05:11] ThunderSon commented on #181
Greetings!
I would love to see what you have to improve that cheat sheet!
For the code, I'd prefer if it is added in the end of the cheatsheet, and not in between the sections in order to not make it bulky for the reader.
If you need anything along the way, let us know, or hit us up on the Slack channel 😄

[2019-08-22 05:17] righettod commented on #181
Totally agree 👍

[2019-08-22 06:42] guerilla7 commented on #181
Great!  Will read the contribution guide and submit the appropriate pull requests tomorrow.  Thank you.

[2019-08-23 07:07] guerilla7 commented on #181
Hi guys, sorry for the n00b issue, but I am ready to push my updates to the section but getting this, am I doing something wrong?

![Screenshot from 2019-08-23 00-06-10](https://user-images.githubusercontent.com/2307524/63573390-0d189280-c53a-11e9-8fa8-0b7286022e51.png)

[2019-08-23 08:01] ThunderSon commented on #181
Haha it's alright. I believe we must update the guide to tell contributors how to fork and push their commits.
As a starter, make sure you don't lose your files! Don't dismiss your changes in any way!
Go the project's page, create a fork (Top right of the project's main page).
Next follow the below commands (it is necessary to have a fork!):
[code]
Then go to your newly created fork, and you'll ha

[2019-08-23 08:04] righettod commented on #181
Indeed, we (I mainly) assume that a contributor know how to use GIT and GITHUB PR, but it's really good documented on GitHub: https://help.github.com/en/articles/creating-a-pull-request

[2019-08-23 17:00] righettod commented on #181
Linked to PR #182

[2019-08-23 17:10] righettod commented on #67
Hello,

As the issue is assigned since many time and we do not have received any PR for this then we send it back to the backlog and we set it as **HELP_WANTED**.

Thank you very much in advance for your understanding 😃

[2019-08-23 17:11] righettod commented on #86
Hello,

As the issue is assigned since many time and we do not have received any PR for this then we send it back to the backlog and we set it as **HELP_WANTED**.

Thank you very much in advance for your understanding 😃

[2019-08-23 17:11] righettod commented on #93
Hello,

As the issue is assigned since many time and we do not have received any PR for this then we send it back to the backlog and we set it as **HELP_WANTED**.

Thank you very much in advance for your understanding 😃

[2019-08-23 17:12] righettod commented on #95
Hello,

As the issue is assigned since many time and we do not have received any PR for this then we send it back to the backlog and we set it as **HELP_WANTED**.

Thank you very much in advance for your understanding 😃

[2019-08-23 17:12] righettod commented on #96
Hello,

As the issue is assigned since many time and we do not have received any PR for this then we send it back to the backlog and we set it as **HELP_WANTED**.

Thank you very much in advance for your understanding 😃

[2019-08-23 17:12] righettod commented on #99
Hello,

As the issue is assigned since many time and we do not have received any PR for this then we send it back to the backlog and we set it as **HELP_WANTED**.

Thank you very much in advance for your understanding 😃

[2019-08-23 17:13] righettod commented on #108
Hello,

As the issue is assigned since many time and we do not have received any PR for this then we send it back to the backlog and we set it as **HELP_WANTED**.

Thank you very much in advance for your understanding 😃

[2019-08-23 17:13] righettod commented on #110
Hello,

As the issue is assigned since many time and we do not have received any PR for this then we send it back to the backlog and we set it as **HELP_WANTED**.

Thank you very much in advance for your understanding 😃

[2019-08-23 17:14] righettod commented on #124
Hello,

As the issue is assigned since many time and we do not have received any PR for this then we send it back to the backlog and we set it as **HELP_WANTED**.

Thank you very much in advance for your understanding 😃

[2019-08-23 17:14] righettod commented on #132
Hello,

As the issue is assigned since many time and we do not have received any PR for this then we send it back to the backlog and we set it as **HELP_WANTED**.

Thank you very much in advance for your understanding 😃

[2019-08-23 17:15] righettod commented on #133
Hello,

As the issue is assigned since many time and we do not have received any PR for this then we send it back to the backlog and we set it as **HELP_WANTED**.

Thank you very much in advance for your understanding 😃

[2019-08-23 17:16] righettod commented on #5
Hello,

As the issue is assigned since many time and we do not have received any PR for this then we send it back to the backlog and we set it as **HELP_WANTED**.

Thank you very much in advance for your understanding 😃

[2019-08-23 17:19] righettod commented on #158
Hello,

As the issue is assigned since many time and we do not have received any PR for this then we send it back to the backlog and we set it as **HELP_WANTED**.

Thank you very much in advance for your understanding 😃

[2019-08-24 08:35] ThunderSon commented on #108
@Compufreak345 Can you validate if your concerns from this issue have been resolved in the latest update for [DotNet CS](https://github.com/OWASP/CheatSheetSeries/blob/master/cheatsheets/DotNet_Security_Cheat_Sheet.md)?

[2019-08-25 17:35] righettod opened #186 "RSS feed based on PR merged"
# Objective

Create a python script to generate a RSS feed file based on PR merged in order to allow consumers of the website to be notified when the website is updated (when a PR is merged or when a commit is done on the master branch but as PR system is also used by the core committers so it is OK to use PR as source of data).

This [script](https://github.com/OWASP/CheatSheetSeries/blob/master/

[2019-08-26 06:04] mackowski commented on #186
Looks good to me :)

[2019-08-27 16:07] #181 closed

[2019-08-27 16:33] righettod commented on #131
No feedback from the author from more than 1 month.

[2019-08-27 16:33] #131 closed

[2019-08-27 16:40] righettod commented on #9
Migration is now totally finished and residual files on the WIKI has been updated.

[2019-08-27 16:40] #9 closed

[2019-08-27 16:59] righettod commented on #186
@ThunderSon will improve the script and, once finished, I will integrate it into the CD pipeline.

[2019-08-28 04:32] righettod opened #192 "Prevent usage of Fancy quotes in CS MD files"
Find a way via the linter to prevent the usage of **fancy quotes**: Cf #189

[2019-08-28 15:32] pikeje opened #193 "Cheat sheet update/refactor proposal: Threat Modeling CS refactoring"
Thank you for proposing to update/refactor one of our cheat sheets.

Please provide the following information about your proposal:

1. What is missing or needs to be updated in the current iteration of the cheat sheet?
There's a need for more consistent formatting and grammar. I'd also like to better define the roles and responsibilities for participants of a threat modeling exercise.
2. How do yo

[2019-08-29 04:07] righettod commented on #99
Handling by @rbsec pending.

[2019-08-29 06:47] mackowski commented on #193
Awesome. Threat modeling CS needs refactoring IMO and we talked about it for some time. Please go ahead with your PR.
If you will need any help from us let us know :)

[2019-08-29 08:47] elarlang opened #195 "Cheat sheet update/refactor proposal: CSRF update regarding Double Cookie submit"
https://github.com/OWASP/CheatSheetSeries/blob/master/cheatsheets/Cross-Site_Request_Forgery_Prevention_Cheat_Sheet.md#double-submit-cookie

In Cross-Site_Request_Forgery_Prevention_Cheat_Sheet "Double Cookie submit" section there are problems/two attack vectors descibed (a and b). Both could not be valid, if CSRF token cookie could use `__Host-` prefix. Then:
* it's not possible to (over)write th

[2019-08-29 09:15] mackowski commented on #195
Interesting, I did not know about cookies prefixes. Looks good for me.
Do you know which browsers support it? IMO this information is crucial :)

[2019-08-29 09:15] mackowski commented on #195
Some references about this feature

 - https://tools.ietf.org/html/draft-west-cookie-prefixes-05
 - https://googlechrome.github.io/samples/cookie-prefixes/
 - https://scotthelme.co.uk/tough-cookies/
 - https://www.sjoerdlangkemper.nl/2017/02/09/cookie-prefixes/

[2019-08-29 09:18] mackowski commented on #195
@elarlang there is PR #160 you should wait with this PR after that one will be merged (should be relatively soon)

[2019-08-29 09:45] elarlang commented on #195
Found this overview:
https://developer.mozilla.org/en-US/docs/Web/HTTP/Headers/Set-Cookie#Browser_compatibility

[2019-08-29 10:09] mackowski commented on #195
Ok so IMO after #160 will be merged you can start working on this.

[2019-08-29 12:29] ThunderSon commented on #193
The threat modeling CS is not outdated and need a complete refactor. Try not to put too much time on the grammar fixes where content might change 😄

[2019-08-29 18:49] pikeje commented on #195
PR has been opened for this change. https://github.com/OWASP/CheatSheetSeries/pull/196

[2019-08-29 18:50] pikeje commented on #193
PR https://github.com/OWASP/CheatSheetSeries/pull/196 has been opened for this update.

[2019-08-31 16:34] rbsec opened #198 "Cheat sheet update/refactor proposal: Transport Layer Protection"
The Transport Layer Security cheatsheet has a few issues:

* It's very long, with some information that's not really relevant or useful to most people
* It overlaps with the TLS cipher string cheatsheet
* It has some outdated sections
* The structure is a bit messy

Main changes I'm proposing to make:

* Cut down a lot of the introduction/architectural decisions/benefits/SSL vs TLS sections
* Remo

[2019-08-31 17:07] righettod commented on #198
There is not Transport Layer Security CD but there is a Transport Layer Protection CS 😄

[2019-08-31 17:11] righettod commented on #198
Thanks for the issue, indeed, it's a"legacy" CS and need a big refactoring...Totally agree with the content proposed.
For the testing, it is the role of the OWASP Testing Guide to handle that part but you can mention in reference some tools that can help to verify the confguration from a defender point of view.

[2019-08-31 22:06] rbsec commented on #198
@righettod I've made a start on an update, so feel free assign this issue over to me if you want.

I'll cut down the tools/references and point to that testing guide.

It's going to be quite a big PR, so I'm sure it'll go through a few rounds of review and feedback.

[2019-09-01 06:01] #99 closed

[2019-09-01 06:05] righettod commented on #198
@rbsec I have assigned it to you, feel free to ping us if you need something...

[2019-09-01 07:35] righettod commented on #186
Juste a note:

I have removed (unfortunately) the usage of the *f-strings* because the CI/CD infrastructure is using Python 3.5 and *f-strings* require Python 3.6.

But I think a migration to use Python 3.6 can be planned as well as a review of all the Python scripts because I have wrote them during the setup of the project and it can be interesting that the core team take an external look at them

[2019-09-01 07:39] righettod opened #200 "Migration of the CI/CD infrastructure to Python > 3.5"
* Migrate all the CI/CD pipeline descriptors in order to use a latest version of python (use a common version to TravisCI and CircleCI).
* Review all the Python scripts used to manage the project (folder **scripts**) in order to use the lastest feature of python and enhance them.
* Find an alternative to GitBook V1 system to generate the website because [V2 do not propose toolchain anymore](https:

[2019-09-01 08:03] righettod commented on #186
PR #199 merged.
Generation added to the both pipelines

[2019-09-01 08:40] rbsec opened #201 "Add link to GitHub on cheatsheets to encourage contribution"
When you're viewing a cheatsheet on the https://cheatsheetseries.owasp.org website it isn't immediately obvious that the content is pulled from GitHub, or how you could contribute to the project on the cheatsheets themselves (although there is a note at the bottom of the homepage).

Making this more obvious in the sheets themselves will encourage people to contribute (or at least raise issues). Fo

[2019-09-01 09:06] rbsec commented on #158
Hi,

As part of a rewrite of the Transport Layer Protection CS (#202) I've updated the wildcard certificate guidance based on the discussion here and elsewhere.

Any feedback you have on the proposed new content is welcome:

https://github.com/rbsec/CheatSheetSeries/blob/tls/cheatsheets/Transport_Layer_Protection_Cheat_Sheet.md#carefully-consider-the-use-of-wildcard-certificates

Thanks

[2019-09-01 09:38] righettod commented on #201
Thanks for the remark.

Indeed, I didn't found how to add a common header or footer to the generated site with GitBook.
One possible way will be to update all the HTML files post-generation but I prefer to avoid this kind of dirty action.

After to be fully honnest, we have many suggestion (issues) opened every month but not soo many people to handle them and I want to avoid to have a project with

[2019-09-01 09:42] righettod commented on #158
Perhaps we can say that this issue is handled in #202  ?

[2019-09-01 10:33] rbsec commented on #158
It should be resolved when #202 is merged, I was mostly commenting here to get some feedback from the earlier discussion.

[2019-09-01 10:37] rbsec commented on #201
It looks like you should be able to add [custom links to the header](https://docs.gitbook.com/content-editing/customization#add-header-links), although some of that functionality seems to be limited to specific plans.

Fully agree that you don't want a huge influx of low quality issues or suggestions. I would expect that a link along the lines of "Contribute on GitHub" would have quality results t

[2019-09-01 12:24] righettod commented on #201
I use the [Gitbook V1](https://docs.gitbook.com/v2-changes/important-differences#cli-toolchain) for the generation of the site. Unfortunately V2 do not propose generation toolchain anymore...

I will use the #200 to investigate another generation system. Since december 2018, the main focus has been made to have a first full version of the project and the site on GitHub as well as the associated pr

[2019-09-02 06:18] mackowski commented on #201
I like this idea. I think that it is worth investigation how we can do this.

[2019-09-03 09:59] Compufreak345 commented on #108
@ThunderSon I checked and I can't find any mention of this attribute not being necessary with TagHelpers. So this is not resolved as far as I can see.

[2019-09-03 10:17] knadt commented on #108
Hi @Compufreak345  please check [here](https://github.com/OWASP/CheatSheetSeries/blob/master/cheatsheets/DotNet_Security_Cheat_Sheet.md#cross-site-request-forgery) Cross-site request forgery

[2019-09-03 10:45] Compufreak345 commented on #108
Hi @knadt,

I did check this section and it does not contain the changes described in this issue.

It still says that additional code is needed in every form and controller/PageModel to support the AntiForgery-Token. This is not the case if you use TagHelpers which are used in the default web templates for ASP.NET Core. This means you would need to actively remove code to disable this feature, not

[2019-09-03 11:13] ThunderSon commented on #108
I understood your point. The example provided by @knadt follows the documentation following the tag helper. If the `action` attribute is set to any value other than an empty string, then tag helper won't step in, and explicit declaration of of the antiforgery token needs to be done. Is that what you are looking at, @Compufreak345 ?

[2019-09-03 11:44] Compufreak345 commented on #108
@ThunderSon Yes, you are correct, that is what I am looking at.

The current example describes the case of a form with an explicit `action`-Attribute given - AFAIK this is an edge-case as you usually would either use `asp-action` or just don't specify any action as the form will automatically determine the action it is aimed at (usually something like "OnPost" or "OnPostAsync").

Thus I suggest to

[2019-09-03 11:57] ThunderSon commented on #108
Might you be able to create a recommendation on the guide using a PR? 😄

[2019-09-03 12:01] Compufreak345 commented on #108
Yes, I'll try to find some time to do so during the next 2 weeks.

[2019-09-06 02:36] manideepkonakandla commented on #195
Hey @elarlang , I was planning to look into this topic when I got to know from a friend that this cookie prefix is used at one popular storage company (but I never got time to look into it. Thanks for getting this out)!!

I tested this out now and it seemed to be working fine on my firefox and chrome browsers but the same wiki you pointed out earlier says that this API is still not standardized [1

[2019-09-07 16:50] elarlang commented on #195
Hi, @manideepkonakandla. Yes, it's not in standard. The fact that cookie prefixes does not belong to standards need to be mentioned.

In practice I can not see problem here. If browsers for most of the audience (chrome, firefox, ...) are supporting this technology, it already makes sense to use it.

SameSite attribute has the same state - it belongs to same proposal, it's not in standard.

From hi

[2019-09-09 21:22] manideepkonakandla commented on #195
Agreed, Samesite is also added as defense in depth measure in the cheat sheet for the same reasons.

Feel free to do the changes as discussed. Its good to have these cookie prefixes mentioned in the cheat sheet.

[2019-09-13 13:12] Jurrie opened #207 "Cheat sheet update/refactor proposal: XML External Entity (XXE) Prevention Cheat Sheet"
###  What is missing or needs to be updated in the current iteration of the cheat sheet?

Section Java -> JAXB Unmarshaller needs to be updated. It basically says that default Unmarshaller instances are unsafe for XXE injection. I believe that, since [JDK-8010393](https://bugs.java.com/bugdatabase/view_bug.do?bug_id=8010393) (which is in Java 8 beta 86), this is no longer true. I base this on [thi

[2019-09-14 06:26] #198 closed

[2019-09-14 06:28] righettod commented on #158
PR #202 merge and it has handled this point.

[2019-09-14 06:28] #158 closed

[2019-09-14 06:42] righettod commented on #151
PR #160 merged

[2019-09-14 06:42] #151 closed

[2019-09-14 06:46] righettod commented on #207
Thanks for your proposal, it is very interesting.
Do you want to work on it?

[2019-09-14 07:06] #186 closed

[2019-09-16 18:05] Jurrie commented on #207
Sure :) I have made a pull request here: https://github.com/OWASP/CheatSheetSeries/pull/211

[2019-09-17 13:14] Compufreak345 commented on #108
I added PR #212 with my attempt to add some detail about the differences between .NET Core and full .NET framework. I tried some restructuring to keep it neat but I am not sure if I succeeded. Waiting for feedback ;)

[2019-09-17 17:52] mleblebici opened #213 "New cheat sheet proposal : Node.js Security Cheat Sheet"
1. Which security issues are commonly encountered when using the technology or technique described in the cheat sheet?
Node.js is gaining popularity rapidly as a back end language. Like any other programming language or framework, it may be susceptible to various web application vulnerabilities.

2. What is the objective of the cheat sheet?
CS aims to help Node.js developers in developing secure N

[2019-09-20 14:28] pimp-cell opened #215 "New cheat sheet proposal"
Thank you for proposing a new cheat sheet.

Please provide the following information about your proposal:

1. Which security issues are commonly encountered when using the technology or technique described in the cheat sheet?
2. What is the objective of the cheat sheet?
3. What will the cheat sheet bring to the reader?

Thank you again for your contribution :smiley:

[2019-09-20 14:50] ThunderSon commented on #215
If there is a new CS proposal that you didn't properly set, kindly open up a new issue with the proper details.

[2019-09-20 14:50] #215 closed

[2019-09-21 08:03] ThunderSon commented on #195
@elarlang Hello Elar! Could you possibly create a PR for this issue and tackle it? And do you think that the __Secure prefix might have any meaning/addition to the CS?

[2019-09-22 20:13] elarlang commented on #195
Sorry for delay. With opening issue I didn't take in account that there is expected PR to solve it myself.

Now, when I try to do it - may it be that I don't have enough privileges to do git push origin CSS-195?
File with modifications (and changed extension to .txt) is attached. My text needs corrections to proper English anyway.
[Cross-Site_Request_Forgery_Prevention_Cheat_Sheet.md.txt](https://

[2019-09-22 20:15] elarlang commented on #195
@ThunderSon `__Secure-` prefix is useful when you need to use `Domain` attribute or `Path` with value different than `/`.

[2019-09-23 03:22] ThunderSon commented on #195
Don't worry about it! Kindly follow the [contributing guide](https://github.com/OWASP/CheatSheetSeries/blob/master/CONTRIBUTING.md#how-to-contribute). Let me know if there anything I can help you with.
And thank you for your reply on the Secure prefix.
Once a PR is opened I'll review it and amend any issues in it 😄

[2019-09-23 06:22] mackowski commented on #213
looks fine for me :)
@mleblebici  Do you want to create this Cheat Sheet?

[2019-09-23 06:28] #193 closed

[2019-09-23 06:49] ThunderSon commented on #159
@pawneeranger Hello! Would you like to handle the following issue? 😊

[2019-09-23 17:01] rbsec commented on #96
I've made a start on a skeleton for this here:

https://github.com/rbsec/CheatSheetSeries/blob/mfa/cheatsheets/Multifactor_Authentication_Cheat_Sheet.md

Any comments or feedback are welcome.

[2019-09-23 19:03] mleblebici commented on #213
@mackowski I have created a new PR #219 for adding the cheat sheet.

[2019-09-25 07:22] rbsec opened #222 "Review and update new CS template"
The current [pull request template](https://github.com/OWASP/CheatSheetSeries/blob/master/.github/pull_request_template.md) requires that you use the [new cheat sheet template](https://github.com/OWASP/CheatSheetSeries/blob/master/templates/New_CheatSheet.md) as one of the checks.

This template is quite old, isn't really used by any of the cheat sheets, and doesn't really fit in a many cases. It

[2019-09-25 15:44] erichgoldman opened #224 "Cheat sheet update/refactor proposal: Input_Validation_Cheat_Sheet.md"
1. What is missing or needs to be updated in the current iteration of the cheat sheet?

In the _Implementing input validation_ section, the links for [Apache Commons](https://github.com/OWASP/CheatSheetSeries/blob/master/cheatsheets/Input_Validation_Cheat_Sheet.md#implementing-input-validation) point to deprecated functions.

2. How do you intend to resolve this with an update/refactoring?

It loo

[2019-09-26 07:34] mackowski commented on #224
Validator package is not deprecated.

You should still use classes like Validator, ValidatorAction, ValidatorResult etc. to create a validator and use it as input validation in your app and this CS is about that.

Deprecated are only concrete validators like CreditCardValidator because indeed concrete implementations of common data types are implemented in routines package.

What we can add here i

[2019-09-26 07:36] mackowski commented on #222
I agree that we should change that.
I like the option of creating a minimal template (one that you suggested looks fine).

[2019-09-27 08:52] mackowski commented on #224
@erichgoldman do you agree with my comments? Do you want to create PR to make it more clear.

[2019-09-27 17:19] rbsec opened #225 "Review C-based toolchain hardening CS"
There are currently two cheatsheets about hardening the C compiler and toolchain - a longer (10+ page) one and a shorter "cheat sheet"

https://cheatsheetseries.owasp.org/cheatsheets/C-Based_Toolchain_Hardening.html
https://cheatsheetseries.owasp.org/cheatsheets/C-Based_Toolchain_Hardening_Cheat_Sheet.html

AFAIK this is the only place where we have a long and shorter version of the same content.

[2019-09-28 15:39] rbsec commented on #96
Draft CS submitted for review.

[2019-09-28 20:51] rbsec commented on #159
To me the best fix would be:

* User enters their email address for recovery (should have a CAPTCHA as well).
* They get a message saying "A recovery email has been sent to your email address" (regardless of whether it's valid).
* The email contains a randomly generated single use-time limited link (as usual).
* When the user clicks the link, they are required to answer security questions.
* If th

[2019-09-29 08:13] pawneeranger commented on #159
I agree with @rbsec

[2019-09-29 08:46] rbsec commented on #159
Thinking about it, one problem with this approach is what to do if the user fails to answer the questions. At that point, we have one of two situations, neither of which are great:

* The legitimate user has forgotten their security answers (or maybe made them up in the first place), and is now permanently locked out of their account.
* The user's email has been compromised.

I'm not entirely sure

[2019-09-29 10:40] rbsec commented on #6
I'm a little unsure about the scope of something like this - obviously there's quite a bit of hardening/security in DNS, but I'm not sure how much of it should be part of the OWASP guides. Stuff like bind hardening seems a bit out of scope.

Initial thoughts would be to cover the following area:

* Choosing a decent/secure registrar
* Securing your registrar account (strong passwords, MFA, etc)
*

[2019-09-29 10:46] rbsec commented on #44
NCSC's [Secure Developer Guidelines](https://www.ncsc.gov.uk/collection/developers-collection/principles/protect-your-code-repository) could be a basis for this.

Some key areas:

* Choosing a repository for code (public vs private cloud vs internally hosted)
* Access control
  * Access to repo
  * Push rights to key branches
* Backups
* Avoiding sensitive data in repo
  * Secrets management (#124

[2019-09-29 13:36] rbsec commented on #72
If we're aligning this CS to the three levels recommended by Mozilla (rather than the four that currently exist), is there much value in keeping it as a CS? If it's just going to mirror Mozilla then is it worth just scrapping it and pointing to the Mozilla guidance instead?

[2019-09-29 15:03] ThunderSon commented on #159
There is somewhat an implementation of what is being discussed in the [Authentication CS](https://github.com/OWASP/CheatSheetSeries/blob/master/cheatsheets/Authentication_Cheat_Sheet.md#authentication-responses), check it out.
The implementation at point 4, where a user has to answer security questions, shouldn't be required for non critical applications. Using secure questions is somewhat of a se

[2019-09-30 02:33] georgegoh opened #229 "Cheat sheet update/refactor proposal: TLS_Cipher_String_Cheat_Sheet.md"
Thank you for proposing to update/refactor one of our cheat sheets.

Please provide the following information about your proposal:

1. What is missing or needs to be updated in the current iteration of the cheat sheet?

When trying to resolve the table of ciphers[1] to the Mozilla cipher names correspondence table, I see the following ciphers listed in Mozilla's Intermediate cipher list but they a

[2019-09-30 04:21] ThunderSon commented on #229
That correspondence table provided by Mozilla is actually referenced in the CS in multiple places. They are all good to use IMO. The ciphers you mentioned are all robust.
Do you think that the CS should be improved and that it is lacking, that the link to the Mozilla wiki is not enough maybe? Let me know what you think.

[2019-09-30 04:31] ThunderSon commented on #72
The CS is the combination of multiple TLS references, and I believe proper investigation should be conducted before reaching such a conclusion. Let's look at the validity of this by checking out IANA, OpenSSL, and Mozilla.
The main point from this issue was to update the tables to actually contain the newer protocols and have them ordered by priorities, as they need an update.

[2019-09-30 04:39] ThunderSon commented on #6
It truly sounds more to do with IT than it does with AppSec. @jmanico care to chime in and give your input? I am totally okay with creating such a CS, we just need to be sure that it should be part of the project.

[2019-09-30 07:47] rbsec commented on #72
I'm not sure if IANA actually has guidance (they certainly define the ciphers, but I didn't see an obvious recommendation from a quick google). The main bits of guidance I've found with actual details are:

* Qualys SSL Labs - https://github.com/ssllabs/research/wiki/SSL-and-TLS-Deployment-Best-Practices (2017)
* NCSC - https://www.ncsc.gov.uk/guidance/tls-external-facing-services
* NIST - https:/

[2019-09-30 10:40] mackowski commented on #225
Having two of them is unnecessary. I think that we should remove both or merge them. @ThunderSon what is your opinion?

[2019-09-30 10:46] ThunderSon commented on #225
For the larger one to be there, I am pretty sure that it was missing in the larger community.
Let's see how we can maybe merge them, as the big one contains more points than the CS, despite the lengthy file. I believe the CS can be maybe improved, unless some points are out of scope, as @rbsec mentioned.

[2019-09-30 11:02] mackowski commented on #44
It looks like a good start but I am not sure if this is in scope of this project?

[2019-09-30 19:17] rbsec commented on #229
Possibly related to #72

[2019-09-30 20:39] sj66phone commented on #200
#201 Add link to GitHub on cheatsheets to encourage contribution

[2019-09-30 20:44] sj66phone commented on #19
Migrate all the CI/CD pipeline descriptors in order to use a latest version of python (use a common version to TravisCI and CircleCI). Review all …

[2019-10-01 00:28] georgegoh commented on #229
@ThunderSon as @rbsec pointed out, #72 does in fact describe what is asking for.

I will close this as a duplicate.

[2019-10-01 00:28] #229 closed

[2019-10-01 17:04] rbsec opened #232 "Cheat sheet update/refactor proposal: PHP Configuration"
There are a number of issues with this CS:

* Links to a guide on secure PHP development, which isn't really about configuration
* Links to a barely-used GitHub repo, which only has links to various other guides/pages
* Recommends Suhosin, which AFAIK doesn't work with PHP 7 and isn't really supported
* No real explanation of what the recommended settings do, or why to use them
* Are the recommend

[2019-10-01 17:13] rbsec commented on #207
#211 has been merged, so closing this down. Thanks for the PR.

[2019-10-01 17:13] #207 closed

[2019-10-02 04:09] #222 closed

[2019-10-02 10:22] #93 closed

[2019-10-02 18:30] rbsec opened #236 "Cheat sheet update/refactor proposal: Security Questions"
Current cheat sheet is quite verbose without actually giving too much concrete advice in some areas. Main suggestions would be:

* Cut down a lot of the chatty and overly verbose parts to make it more concise and professional.
* Give some examples of good and bad security questions.
* Remove links to the "good security questions" website, which wants you to pay for a list of questions.
* Cut down

[2019-10-02 18:53] rbsec opened #237 "Update: Review password storage CS"
The current password storage CS is quite long, and has quite a lot of content of questionable usefulness and relevant to a CS. Main proposed change are:

* Update guidance on salts (you shouldn't be generating these yourself, any proper password hashing function handles this for you).
* Remove section on keyed functions/HMAC (is there any reason why you'd use this over a decent hashing function? S

[2019-10-03 04:23] ThunderSon opened #238 "Migrate to the New OWASP website"
As a new website is being set up to replace the old media wiki OWASP website, a migration must be done in order to have the CheatSheet Series on that the new platform.
Awaiting @hblankenship to get back to us in order to start the migration.

[2019-10-03 08:24] mackowski commented on #236
There are 2 types of security questions (I do not know how to name them maybe explicit and implicit).
One is that application simply lets user to answer security questions, but there are also applications where user never provided answer to security questions and the system still can ask questions (for example about activity of the user, in banking it can be how many bank accounts you have in our

[2019-10-03 08:32] mackowski commented on #237
Good points!
I think that we should rethink how we want to include example code in CS. Storing it separately in some directory and linking to it seems for me to be a good choice.
We can also add some tips how to migrate/update hashing algorithm in a working application.

[2019-10-03 14:31] anantshri commented on #232
ah didn't saw this earlier i have just submitted a pull request to update suhosin and add another option.
https://github.com/OWASP/CheatSheetSeries/pull/239

I am in for suggestions on how to move forward.

I would propose
1. We add details to what each of the option does
2. We remove non-needed link.

I would also propose spliting cheatsheet project in subsections BUILDERS and BREAKERS. this way

[2019-10-03 19:31] rbsec commented on #236
Certainly a good thing to add - I'm not sure about the terminology for it though. Implicit/explicit doesn't sound quite right, but I'm not sure if I have any better ideas.

One to think about..

[2019-10-04 05:55] ThunderSon commented on #232
The CS project is purely for builders. For breakers, the [testing guide](https://github.com/OWASP/OWASP-Testing-Guide-v5) is there to help them. Our main focus is developers trying to secure their systems and don't have enough time to learn about a given topic. 😄

[2019-10-04 07:59] ThunderSon commented on #236
User set questions vs system set questions. We can have them as 2 separate sections.
I agree that this CS totally requires a revamp! It's huge to what it should be!

[2019-10-04 08:02] ThunderSon commented on #237
Sounds good to me.
About argon2, its usage should be straight forward.
@righettod What do you think about the code directory in order to make CSs nicer to read? 😄

[2019-10-04 08:30] righettod commented on #237
I have created it, at this period, to give actionable code to user but indeed it made the CS long and less easy to read so extracting the code part to a sample directory with a link is a very good idea.

My idea was, at the origin, to achieve that a CS be directly usable by a dev team so sample code or algorithm or approach was important in a CS even if including directly them was the not the bett

[2019-10-04 17:21] rbsec commented on #236
I like `user set` vs `system set`.

[2019-10-04 17:31] rbsec commented on #237
The code sample issue is certainly an interesting one - I quite the idea of storing them in a separate folder, but there's also other options like having language specific cheat sheets that include all the relevant samples for that language. There might also be other OWASP projects that replace the need for samples (for example, if there's an OWASP CSRF protection library in Java, do we really nee

[2019-10-10 16:41] righettod commented on #237
One of the biggest challenge for this orientation for the CS project is to keep the samples up to date with the evolution of the target language/technology.

The intial idea of the CS was to explains a security issue, why it is important to prevent it?, how to address it from a technology agnostic point of view (ex: algorithm or schema or approach)? and provide (when applicable) an example in a te

[2019-10-11 06:03] fhauser84 opened #255 "Cheat sheet update/refactor proposal: XML eXternal Entity injection (XXE)"
Hi guys,

first of all, thanks for this awesome cheat cheat series!

At the XML eXternal Entity injection (XXE) section I read the .NET part and got confused a little bit when it comes to "by default" XML parsers. Since we found a XXE issue in a product using a quite recent version of .NET using the XmlTextReader parser, there has to be a misunderstanding. Maybe I just read your article wrong. :-)

[2019-10-11 07:08] mackowski commented on #255
Hey, ale you sure about this? I am not .NET developer but the link to documentation that you included here seems to be for version 4.8 not 4.5.2.
I also found other places where they tell that from 4.5.2 it is safe by default. For example this popular SAST tool:  https://security-code-scan.github.io/#SCS0007.

It is also possible that it was not safe by default, later it was safe and now it is aga

[2019-10-11 07:55] SPoint42 opened #257 "Cheat sheet update proposal: [Mass_Assignment_Cheat_Sheet]"
If we use Spring MVC there is also something we can add in the model if we use Spring WebFlow. According to [Spring Documentation](https://docs.spring.io/spring-webflow/docs/2.5.0.RELEASE/reference/html/views.html#view-binder) and this [SO](https://stackoverflow.com/questions/15031049/using-the-setallowedfields-method-in-spring) article this is possible to specific bind the model.

I think this co

[2019-10-11 07:56] fhauser84 commented on #255
Hi there,
yes it is 4.8 but that includes 4.5.2+ as stated in your sheet...
If I find some time the next days, I will test it with a local project. I just read 4.5.2+ means every .NET framework >= 4.5.2 and e.g. 4.8 states "not safe by default".
We definitely should double check this. Otherwise, the suggestion of the cheat sheet would imply something wrong.

[2019-10-11 08:43] fhauser84 commented on #255
Alright, the Microsoft article simply seems to be wrong...
I checked it quickly and XXE is only possible if e.g.:

`XmlReaderSettings settings = new XmlReaderSettings();
settings.DtdProcessing = DtdProcessing.Parse;`

So this does seem to be a problem in several software projects since this setting is "needed" but your cheat sheet correctly states it's bad.

Note: read OWASP cheat sheets and not M

[2019-10-11 10:53] #255 closed

[2019-10-11 22:27] rbsec commented on #237
I've made an initial draft PR #258. At the moment is basically the proposed headings with some of the old content kept when relevant.

Is there anything major that's missing?

I'm in two minds about the the section on storing encrypted passwords, but there are some times when you do need to be able to obtain the clear text passwords (or do things like check individual characters), so I'd be really

[2019-10-14 10:42] mackowski commented on #257
@SPoint42 Hey, thanks for this. Do you want to create the update?

[2019-10-15 05:14] jadsalhani opened #262 "CheatSheet structure proposal: Organize Cheat Sheet examples into per language/framework folders"
Security CheatSheets tend to grow very long ( >= 180 Lines), which is much larger than a developer is used to reading on his screen (assuming he uses his linting tools properly 😄)

I suggest the CheatSheets be organized in a "folder-by-feature" kind of manner; this will allow contributors to group examples and references into subfolders and split the Cheat Sheet content into multiple `md` files in

[2019-10-15 06:06] mackowski commented on #262
Interesting idea. I agree that it is better to have smaller CS.
@rbsec @ThunderSon maybe we should talk about this on our call?

[2019-10-15 18:11] rbsec commented on #262
I certainly agree that there are some over-long cheat sheets, but I'm not sure about the approach of splitting them up like this. If you pull out every H2 from the DotNet CS (for example), you're going to end up with about 20 sheets, which sounds like real pain for anyone to actually use.

There needs to be a reasonable balance for the length, I'd say that we should aim for something like 10 pages

[2019-10-15 21:26] rbsec opened #265 "Review the Vulnerability Disclosure CS"
This CS is old and has rather questionable value. It's a slightly confused mix of different things:

* Some tips on findings security contacts (not really relevant for defenders, although advice on publishing them would be)
* Lots of links to very old advice or projects
* Outdated links
* Points to some laws that may or may not be correct or up to date
* Links to tabloid articles from The Register

[2019-10-15 22:25] ankitsaxena21 opened #266 "Cheat sheet update/refactor proposal: [Bad indentation and style guide used in python scripts]"
The python files inside the scripts folder are not properly indented. They do not follow the official style guide. [Official Python Style Guide](https://www.python.org/dev/peps/pep-0008/)
Many lines in the code contains extra white spaces.
It should be written using proper style guide. It will enforce the same standards for all the developers.

[2019-10-16 05:07] ThunderSon commented on #265
Just to clear some points, then the rest can be discussed:
- The project should handle it, as it pertains to application security.
- I feel like it could discuss reporting and receiving vulnerability disclosure. Open for discussion though.
- The CS should be a guide for anyone that needs to do vulnerability disclosure, or handle one. It can be a generic process that helps anyone do it, and not onl

[2019-10-17 06:51] mackowski commented on #224
Ok since I did not get any response in 20 days I will close the issue for now. Feel free to re-open it if you will have any second thoughts or ideas.

[2019-10-17 06:51] #224 closed

[2019-10-17 06:53] mackowski commented on #257
@SPoint42 do you want to create an update or provide any PoC for this?

[2019-10-17 06:58] mackowski commented on #266
@rbsec @ThunderSon do we want to follow Official Python Style Guide? From what I see we mainly have a longer lines than is recommenced there.
If yes I suggest to add something like git hook in order to force this formatting on each commit.

[2019-10-17 09:51] SPoint42 commented on #257
@mackowski : I can take it and give you some of pull for this

[2019-10-17 10:42] mackowski commented on #257
Awesome! Thanks!

[2019-10-17 19:16] rbsec commented on #266
I certainly think any example Python code we give should be following PEP8, so we're demonstrating best practices there.

For internal build scripts, I don't think it's a huge deal either way. TBH, I'm not really that sold on the 80 character limit (it made sense years ago, but on modern 2k+ screens it's just unnecessary). But that's a different argument.

If someone PRs it and we're happy the cha

[2019-10-17 19:32] rbsec commented on #265
Some thoughts about content:

**Reporting**
* Bug Bounties
  * Findings
  * Testing
  * Reporting
  * Payment (potential tax liability - check your jurisdiction)
* Obtaining contact details
  * Contact page, security.txt, PGP, etc
* Initial contact with company
  * Get proper security contact, PGP key, etc
* Documentation
  * What kind of evidence to provide
  * Recommend remediation if known
* Ti

[2019-10-18 08:43] SPoint42 opened #271 "Cheat sheet update proposal: Deserialization_Cheat_Sheet"
There is a capability in apache.commons.io at least on v2.5 to validation of the deserialization of the inputStream.

See https://commons.apache.org/proper/commons-io/javadocs/api-2.5/org/apache/commons/io/serialization/ValidatingObjectInputStream.html

I think it could be interessting to add it to the cheat sheet

[2019-10-18 13:29] kingthorin commented on #265
Maybe suggest [security.txt](https://securitytxt.org/), and mention [OpenBugBounty](https://www.openbugbounty.org/)

Why does it have to be one or the other? There's nothing wrong with a CS that's good for both Red Team and Blue Team (Purple Team), or Builders, Breakers, and Defenders.

[2019-10-18 13:47] ThunderSon commented on #265
It will be for both! Those are the proposals for both sides of the coin.

[2019-10-23 06:57] mackowski commented on #266
@ThunderSon what is your opinion?

[2019-10-24 11:10] mackowski commented on #271
Hey thanks for showing it to us. Did you test it? Do you want to create a PR to Deserialization Cheat Sheet?

[2019-10-24 11:53] mackowski commented on #262
@jadsalhani our team decided that we will try to remove fluff and unnecessary content/wording and to shorten code examples. We will also try to remove duplicate content across CS.
For some CS we will consider to break it to smaller units but it will not be a rule.
In order to make navigation in large CS easier we will add table of contents at the beginning of the CSs.

[2019-10-24 11:53] #262 closed

[2019-10-24 15:47] rustcohlnikov opened #273 "New cheat sheet proposal: frontend security for developers"
Hello!
I am in the process of compiling a community curated list for frontend developers with tools, recipes and tips for writing secure frontend code and keeping it secure along the way. I was thinking about sharing those best practices with frontend community in a clear and friendliest way possible to raise awareness about client security issues and the simple ways they can be prevented by devel

[2019-10-25 07:11] SPoint42 commented on #271
I apply on some project and this this to work. I will propose a diff PR ASAP

[2019-10-25 18:14] mackowski commented on #271
Awesome! Thank you!

[2019-10-25 18:43] mackowski commented on #273
Hey @rustcohlnikov thanks for sharing this.
We have cheat sheets that talk about front-end security (e.g. https://github.com/OWASP/CheatSheetSeries/blob/master/cheatsheets/Cross_Site_Scripting_Prevention_Cheat_Sheet.md, https://github.com/OWASP/CheatSheetSeries/blob/master/cheatsheets/Content_Security_Policy_Cheat_Sheet.md) and we reference here and there most of the tools you have in your awesome

[2019-10-25 19:15] oxdef commented on #273
@mackowski the idea was to have some kind of meta cheat sheet that covers front-end security. It can combine (e.g. includes) existing ones into single topic + add corresponding extra staff . Such approach may be useful. What do you think about it?

[2019-10-25 19:44] mackowski commented on #273
I am not against that but frankly I also do not see much benefit. If it will not duplicate content but only link to existing cheatsheets and add some useful stuff I am ok with it.
What I can propose is please create a draft PR for that, do not spend too much time on it and we will review it.
For now this awesome-list should be refactored for example:
 - Links from `Linters` can be added to XSS or

[2019-10-25 19:44] mackowski commented on #273
What do you think @rbsec, @ThunderSon ?

[2019-10-26 18:25] rbsec commented on #273
I feel like trying to include everything a frontend developer would need to know into one CS would either turn into a giant mess, or would just be a load of links to other CS - which doesn't really seem that useful. We'd probably also run into a lot of grey areas about whether or not stuff should be in there - as there often isn't a very clear split between frontend and backend nowadays.

If there

[2019-10-27 22:04] MyIsaak opened #275 "Cheat sheet update/refactor proposal: Error Handling"
Thank you for proposing to update/refactor one of our cheat sheets.

Please provide the following information about your proposal:

1. What is missing or needs to be updated in the current iteration of the cheat sheet?
Fix a broke link at https://github.com/OWASP/CheatSheetSeries/blob/master/cheatsheets/Error_Handling_Cheat_Sheet.md#context
2. How do you intend to resolve this with an update/refac

[2019-10-27 22:35] rbsec commented on #275
Thanks for this issue - I presume you're referring to the fact this points to v4 of the testing guide, rather than the new v5 on GitHub?

@ThunderSon do you want direct links to the GitHub for the testing guide, or should they go to a nicely rendered site instead?

[2019-10-27 22:48] rbsec opened #279 "Update: Authentication CS password comparison guidance"
Add a section to the authentication CS about securely comparing provided passwords to password hashes. Key points:

* Use a function that protects against timing attacks
* Protect against type confusion (like magic hashes in PHP)

[2019-10-28 17:25] rustcohlnikov commented on #273
I agree with your concerns about usefulness and duplication.

Yes, @rbsec determined the main problem I was trying to solve. For instance, I probably missed the Content Security Policy CS on my very first visit here, because at that point I’ve never heard anything about it before and I didn’t know it was important for me as a frontend developer. I feel like developer should have some sort of an en

[2019-10-29 07:17] mackowski commented on #273
I also like the idea of tagging.
We can also create something like https://github.com/OWASP/CheatSheetSeries/blob/master/IndexASVS.md or https://github.com/OWASP/CheatSheetSeries/blob/master/IndexProactiveControls.md but I think that tags are more flexible and easier to maintain.

[2019-10-29 08:25] rbsec commented on #279
Implemented in #280.

[2019-10-29 08:25] #279 closed

[2019-10-30 05:45] commjoen opened #282 "CS update proposal: Pinning"
The current pinning cheatsheet links to advertising hpkp (e.g. the verbose article) . Maybe a little bit more context needs to be provided and this article needs to be removed as it is outdated?
Basically pinning should best be explained:

- mobile app? use pinning if you can manage the key material correctly.
- browser? do not pin via hpkp, instead only try expect-ct if the browser supports it an

[2019-10-30 17:38] ThunderSon commented on #282
Definitely. Thank you for bringing this up

[2019-10-31 06:57] abid28june opened #284 "Add DB Links to DB Security CS"
Thank you for proposing a new cheat sheet.

Please provide the following information about your proposal:

1. Which security issues are commonly encountered when using the technology or technique described in the cheat sheet?
usually the following are main security threats when using DB links for the connectivity.

If the originating database is insecure and compromised, the database link could be

[2019-10-31 07:01] mackowski commented on #282
@commjoen Do you want to create PR for this issue?

[2019-10-31 07:09] commjoen commented on #282
I would love to, but will not have the time at the moment due to family circumstances and stuff going on for the OWASP MSTG

[2019-10-31 07:10] mackowski commented on #282
Ok, no problem :-) Thanks!

[2019-10-31 08:46] oxdef commented on #273
Tags/Categories is nice idea! Unfortunately it's looks like GitBook doesn't support it https://docs.gitbook.com/content-editing/pages-structure :(

[2019-11-03 12:08] GrosQuildu opened #285 "Cheat sheet update/refactor proposal: [Insecure_Direct_Object_Reference_Prevention_Cheat_Sheet]"
1. What is missing or needs to be updated in the current iteration of the cheat sheet?
Two things in the proposed IDOR prevention code seems to be worth :
- `sha1(salt+message)` is vulnerable to length extension. Hardly exploitable, but why give bad patterns in security-minded code?
-  Computing hash for every `movie` object in every request is, hm.. unefficient?

2. How do you intend to resolve t

[2019-11-05 07:03] mackowski commented on #266
@ThunderSon ping :)

[2019-11-05 07:05] mackowski commented on #284
Hey @abid28june what defences do you propose in that case? Do you want to create this CS?

[2019-11-05 07:11] mackowski commented on #285
Hey @GrosQuildu thank you for this issue.
@righettod I believe that you are the author :-) What is your opinion?

[2019-11-05 07:28] righettod commented on #285
Hello

The goal is just to prevent the disclosure of the real identifier (prevention of a pattern in the ID and via the SALT you cannot reproduce a ID if you do not know the SALT), it's very important to ensure that the ACL on the resource are well implemented, IDOR is often a booster to spot ACL issue. As mentioned in the code, if your system support >= SHA256 so feel free to use it. It's also tr

[2019-11-05 07:55] mackowski commented on #285
Thanks Dom! I agree.
@GrosQuildu do you want to prepare PR where you add more detailed description and other ways how to implement it? You can also add some pros and cons of different solutions.

[2019-11-05 14:53] mackowski opened #287 "clarify "Double Submit Cookie" section in CSRF CS"
Based on discussion under closed PR #270

"Double Submit Cookie" needs to be clarified and grouped. So far, we have unencrypted, encrypted, and now hashing approaches listed without what might be considered clear separation of each.

For example, with encrypted or hashed cookie values there is a conflict with the advice given in a prior paragraph:

This is not true unless they also have access to

[2019-11-08 16:34] ThunderSon commented on #266
Haha apologies. It slipped me.
They can be fixed easily. @ankitsaxena21 Would you like to handle it, or should I take care of it in the coming week?

[2019-11-08 18:32] ankitsaxena21 commented on #266
@ThunderSon I'll love to handle it.

[2019-11-08 18:41] mackowski commented on #266
PR is already there #267

[2019-11-08 18:44] ankitsaxena21 commented on #266
@mackowski yes, if there are some changes needed to be made, kindly inform

[2019-11-12 17:18] #96 closed

[2019-11-14 12:33] SPoint42 commented on #271
See [PR #291](https://github.com/OWASP/CheatSheetSeries/pull/291)

[2019-11-16 15:36] ThunderSon commented on #213
Closed in #219

[2019-11-16 15:36] #213 closed

[2019-11-16 15:38] ThunderSon commented on #238
Available in this [repo](https://github.com/OWASP/www-project-cheat-sheets)

[2019-11-16 15:38] #238 closed

[2019-11-16 15:42] ThunderSon commented on #273
Coincidentally, we are working on a bigger plan. A way to link and make the SDLC a more secure place, by creating some way of link between sheets, test guides, tools, etc. This will be tackled and covered in that plan 😄 I will close this issue for now

[2019-11-16 15:42] #273 closed

[2019-11-16 15:49] rbsec commented on #284
This seems like quite a niche topic - most people aren't using this functionality at all, and we don't really have anything DB related in the CS project.

I could perhaps see scope for a database security CS (obviously can't cover everything, but the basics that developers should be aware of) with this as a point in it, but I'm not sure it can fill a whole CS on its own.

[2019-11-16 17:40] righettod commented on #19
Hi,

I have made this [one](https://docs.google.com/presentation/d/1Qiq03QGHivSfIDV4Ip7e84jSjpJFPxl3u9Qbt174hjg/edit?usp=sharing) for the recent presentation about **"The OWASP foundation and the Cheat Sheet Series project"**.

I hope this can help you.

[2019-11-16 17:44] rbsec opened #293 "New CS Proposal: Database Security"
Key points about security SQL databases for developers. This won't be a full hardening guide (as that would be far too big), but trying to cover the key things that devs or people maintaining databases should know.

A (non-exhaustive) list of points to cover would be:

- Connecting to the DB securely
  - Use TLS
  - Don't expose DB to internet
  - Don't connect to the DB from a thick client applic

[2019-11-17 08:51] ThunderSon commented on #293
No need to talk about monitoring. It means nothing if they don't have an internal team that takes care of them. What you wrote is specifically what the dev can work on to deliver a secure DB.

[2019-11-19 14:26] salecharohit opened #297 "New Cheat Sheet Proposal : Pre-Commit Hooks"
## What is the proposed Cheat Sheet about?

Developers inadvertently leak sensitive information like authentication tokens,AWS keys,SSH Keys etc into public source code repositories.
This cheatsheet aims at discussing how this can be avoided by simply employing pre-commit/pre-push hooks in their GIT repos. I shall start with a tool called Talisman and how it can be used to prevent these kinds of e

[2019-11-19 17:50] rbsec commented on #297
Thanks for the suggestion. I think is is a useful area to cover, but I'm not sure that it would really fill a whole cheat sheet.

Perhaps this should be part of something like "secure development" or "source code management" or something?

[2019-11-19 23:28] aiacobelli2 opened #298 "Update: Input Validation CS - email subaddressing"
## Input_Validation_Cheat_Sheet.md Update
I propose to add to the Email Address Validation section the "careful with mail widlcard section"

## How should this be resolved?
Add section: Careful With Wildcards

Popular mail services like Gmail offer wildcard modifiers in order to help users to organize inbox and filters.

1) Append a plus ("+") sign and any combination of words or numbers after you

[2019-11-19 23:54] aiacobelli2 opened #299 "Update: Threat_Modeling_Cheat_Sheet.md"
## What is missing or needs to be updated?

## How should this be resolved?

[2019-11-19 23:54] #299 closed

[2019-11-19 23:57] aiacobelli2 opened #300 "Update: Threat_Modeling_Cheat_Sheet.md"
## What is missing or needs to be updated?
It would be nice to add the 4 basic questions to the  "Define Objectives" section

## How should this be resolved?
Add the 4 basic questions:

What does the system do?
Why are we building this?
What needs to go right to get that value?
How do we ensure that those conditions happens?

[2019-11-20 06:07] salecharohit commented on #297
Agree. I guess Secure Source Code Management would encompass everything. Will also try to add some more stuff into it.

[2019-11-20 06:07] #297 closed

[2019-11-20 06:38] ThunderSon commented on #298
Thank you for discussing this with us!
What you're saying could impose issues on other mail providers to make them follow the same convention. If let's say mail provider X doesn't follow that convention, and actually does that separation, you'd be doing denying access for a legitimate user, `legitimate.user@service.com`, because another user `legitimateuser@service.com` exists.

[2019-11-20 08:56] rbsec commented on #298
Subaddressing (the use of a `+` sign) is a legitimate feature of email addresses (albeit one that is only used by a small number of more technical users). In what circumstances would you want to block it?

Ignoring periods is a mostly a Gmail thing (most mailservers, such as Exchange, do not do this). If you were going to block this, you would have to have specific rules for gmail addresses (any m

[2019-11-20 09:50] ThunderSon commented on #275
Sorry for the late reply. This was being discussed internally. Let's link now to the GitHub repository.
@rbsec thank you for tackling it directly.
A plan has been set to move forward with releases for the WSTG as a PDF, and we're looking to publish to a website. Once the PDF generation is occurring in a smooth manner, the website will be tackled.

[2019-11-20 09:50] #275 closed

[2019-11-20 11:23] mackowski commented on #297
You can also at least mention other solutions for finding secrets in git like: https://github.com/zricethezav/gitleaks, https://github.com/dxa4481/truffleHog, https://github.com/eth0izzle/shhgit etc.

[2019-11-20 11:27] #266 closed

[2019-11-20 11:28] mackowski commented on #108
This issue were addressed in #212

[2019-11-20 11:28] #108 closed

[2019-11-20 12:16] aiacobelli2 commented on #298
Hi rbsec! Thanks for the answer!

I do agree that this is a Gmail thing but companies like outlook have this capability too and more to come. I've been using this lack of validation on bug bounties for a long time, and almost every company has this issue and after my report has been fixed.

As a product owner, when you register new users, you want to have a relation 1 email to 1 user, this is why

[2019-11-20 12:17] aiacobelli2 commented on #298
ThunderSon, Sorry I forgot to answer to you :D

This is an ONLY Gmail check, if (mailDomain = Gmail.com) { apply check } else {do not apply}

[2019-11-20 12:44] aiacobelli2 opened #301 "Update: Input Validation CS - Regex Best Practices"
## What is missing or needs to be updated?
In the "Regular expressions" section, It would be nice to add in some part 2 concepts:

1- Regular expressions are slow and on the overall strategy must be used **after** all the others checks.
2- When you are building regex to validate syntactics, be very careful with denial of service caused by backtracking. Check if your language is using NFA or DFA an

[2019-11-20 12:58] ThunderSon commented on #298
The case you're describing is definitely legitimate. No questioning about it.
It is something to be considered, yet my thoughts are that it will grow tremendously for every service provider. Should we work on a study to understand and analyze how every platform behave maybe?

[2019-11-20 13:05] ThunderSon commented on #301
Doesn't sound bad at all. I am with giving a warning for users to note that regex shouldn't be the first thing to run to, and the risks it brings with it (reDoS). I doubt we should bring up much about NFA vs DFA in a CS. We can instead warn the regex creator on how to avoid ReDoS as it will be a better regular expression overall.

[2019-11-20 13:22] ThunderSon commented on #300
This is definitely something to be done. The Threat Modeling CS needs updating, and some threat modelers will be tweaking it. Would you like to join us on Slack? 😄

[2019-11-20 17:44] aiacobelli2 commented on #298
I've made a research for my students but I've came to the conclusion that there are tons of popular mail services and research and keep updated all of them is a heavy job!

What do you think about adding a generic recommendation like: "Careful with mail providers custom features", then the Gmail example and as a conclusion: Depend on your business logic and specific threat model, consider thinking

[2019-11-20 17:49] aiacobelli2 commented on #300
Glad to :D! Are you talking about the owasp slack , threat model channel?

[2019-11-20 17:55] aiacobelli2 commented on #301
Agree about NFA vs DFA, but I can not think a way of teach how to check or avoid a potential ReDoS without mentioning Asiri Rathnayake1 and Hayo Thieleck research.

There is a new implementation in node that is based on their work that check if a regex is dangerous or not by applying their concept: https://www.npmjs.com/package/safe-regex

[2019-11-20 17:57] rbsec commented on #298
I can understand the desire to prevent users from registering multiple times, but I don't think that blocking subaddressing is the solution that that. Sure, you could add these (Gmail specific) rules, but then I can just:

* Use one of the many disposable email providers.
* Use my own domain (which has a wildcard address)
* Register new Gmail accounts (you can easily bypass the mobile requirement

[2019-11-20 18:05] rbsec commented on #301
Agree with @ThunderSon that NFA/DFA (and that whitepaper) are too complicated for a cheat sheet -  it's hard enough to get people to read a few bullet points of best practices, let alone  40 page academic paper containing a lot of maths.

However we might be able to give some advice on common signs of bad regex (based on the [owasp](https://www.owasp.org/index.php/Regular_expression_Denial_of_Serv

[2019-11-20 19:55] aiacobelli2 commented on #298
Good discussion @rbsec , thanks :D.

Maby you are looking for a generic scenario, while Im trying to see different contexts where this could apply.

For example: I´ve worked for one company that, because of their product threat modeling, only allow Gmail, Outlook and Yahoo mails to register to their platform, so no other self hosted mail services where allowed.

On this context, for a developer to

[2019-11-20 22:52] rbsec commented on #298
To be completely honest, I still don't really see much benefit to blocking subaddressing when you can just register as many Gmail accounts as you want with minimal effort. I guess it would stop someone automatically registering thousands of accounts (or at least make it harder) - but you should be using CAPTCHA or something for that.

However it's a good point that a lot of people aren't aware of

[2019-11-20 23:31] aiacobelli2 commented on #301
Yep! Agree on the part of thinking tips to create a safe regex including checking with a library or service.

[2019-11-21 00:09] aiacobelli2 opened #302 "Update: Input Validation CS - simple steps for developers"
## What is missing or needs to be updated?
I was reading the "Implementing input validation" section on this CS and I was wondering if was not better to add a step by step validation so a developer can read a implement an algorithm directly from our recomendation, for example related to simple inputs (not schemas or files):

1- Define your applications encoding (utf-8, Ascii,etc ) and validate all

[2019-11-21 08:47] rbsec commented on #302
I like the idea of giving some simple steps for developers - as long as we can find a set that are (almost) universally appropriate.

I think the main thing I'd disagree with in the steps you've suggested would be truncating user input - this falls under the category of trying to fix input which is usually a bad idea. If you truncate overlong input, then either:

* The input was legitimate, and yo

[2019-11-21 13:29] aiacobelli2 commented on #302
Yep! I mention truncate as an example, I did not research the algorithm complexity of the length() or size() functions directly applied to a massive array of chars vs the complexity of first truncate and then check the length.

I´ll be making a benchmark for 2 or 3 stacks to check if the performance is better on one scenario vs the other!

[2019-11-21 19:32] nightwatchcyber opened #303 "Rewrite: Protect FileUpload Against Malicious File"
## What is missing or needs to be updated?
Concern with examples using Aspose libraries which are commercial. Developers using the cheatsheet may not realize these libraries are not free. This also seems to be against the OWASP spirit of vendor independence.

## How should this be resolved?
Either indicate clearly that the example is using non-free libraries, or add examples that use OSS / free li

[2019-11-21 20:12] rbsec commented on #303
Certainly agree that we should be recommending FOSS solutions wherever possible, and warning about commercial recommendations where we make them.

This CS is quite old and a bit of a mess - probably a good candidate for a rewrite.

[2019-11-22 08:42] ThunderSon commented on #284
@rbsec should we close this for #293 ?

[2019-11-22 08:59] rbsec commented on #284
If we think it's common enough to be included, it should be in #293. Personally I'm not sure I've ever actually seen this in a production DB - is this something that other people have come across more?

[2019-11-22 09:04] rbsec opened #304 "Review File Upload CS"
The [file upload](https://github.com/OWASP/CheatSheetSeries/blob/master/cheatsheets/Protect_FileUpload_Against_Malicious_File.md) CS has a few issues:

- Hasn't been updated for a while
- Doesn't really have very much useful information
- 90% of the CS is just Java code samples (are these still valid/working/correct?)
- Some of the samples are using a commercial library (#303)

The whole CS should

[2019-11-22 09:27] ThunderSon commented on #284
This is not a big section, thus can be added inside the CS we're looking for. It's barely a couple of lines.

[2019-11-22 09:47] ThunderSon commented on #298
I understand the threat you're describing.
I see it as the following. If a web application is public and it contains self registration, it's going to be flooded with duplicate users no matter what. Amazon had that at some point. I can see this fixing one case. I don't mind seeing it happen. Shouldn't be a lot of focus in the email section, just an awareness point, despite the RFC being permissive

[2019-11-22 20:32] r03ky commented on #284
below is the top 6 technical control to be suggested.

Technical Controls

    Use Private Database links, instead of Public links. This restricts access to the DBLink to the owner of the DBLink.
   1)  Use accounts with minimal privileges to access the database link.
   2)  If the DBLink requires read access to some tables, and update access to some other tables, split this into two DBLinks with

[2019-11-22 20:34] r03ky commented on #284
i have seen in a lot of organizations still use it as alternative of API,

[2019-11-23 09:07] swierckx commented on #300
The 'official' questions should be mentioned:

- what are we building?
- what can go wrong?
- what are we going to do about it?
- did we do a good enough job?

Please note there is a cheat for every one of the four questions in the making ...

[2019-11-23 09:48] ThunderSon commented on #284
@r03ky Hi! Thank you for providing us with this information. Might you have any references or articles discussing the controls and attacks relating to them?

[2019-11-23 10:30] ThunderSon commented on #303
@nightwatchcyber Thank you for bringing this to us 😄 This issue will be closed and replaced by #304 as it focuses more on the issues and what should be done. If you'd like to contribute, let us know in #304 and let's this through 😊

[2019-11-23 10:30] #303 closed

[2019-11-23 14:00] r03ky commented on #284
Here u go.

https://stackoverflow.com/questions/39840514/why-are-database-links-bad-for-security

[2019-11-24 10:13] abid28june commented on #284
A couple of line is missed in Owasp api security standard which I believe should b highly considered, these lines might be more valuable for someone or might not be, anyways it’s up to the cheatsheet owner whether to keep this thread live or not.

Rgds
ABID

Sent from my iPhone

[2019-11-24 15:15] aiacobelli2 opened #307 "Update: Authentication_Cheat_Sheet"
## What is missing or needs to be updated?
It would be grate to make a section about risk based authentication. In my experience is an excellent approach to combine authentication factors based on external patterns like browser fingerprint, IP, GeoLocation, among others. Here is an example of what I would add

# Risk Based Authentication

Risk-based authentication is a **non-static** authenticatio

[2019-11-24 15:24] rbsec commented on #307
This is somewhat covered in the [when to require MFA](https://github.com/OWASP/CheatSheetSeries/blob/master/cheatsheets/Multifactor_Authentication_Cheat_Sheet.md#when-to-require-mfa) section of the MFA cheat sheet - is this the kind of thing you were thinking?

It might makes sense to pull that into Authentication (or at least reference it fro there).

[2019-11-24 19:20] ThunderSon commented on #284
API Security Project is not a standard. It's mainly a Top 10 security risks, like the OWASP Top 10 project.
The issue opened in this thread will be integrated in another Cheat Sheet (CS), Databases Security CS, which is in Draft right now. Thank you for informing us about this risk 😄

[2019-11-24 19:34] ThunderSon commented on #307
It's more in the [improving usability](https://github.com/OWASP/CheatSheetSeries/blob/master/cheatsheets/Multifactor_Authentication_Cheat_Sheet.md#improving-usability) section of the MFA.
As this relates to MFA, I'd recommend for it to be linked to the MFA CS.

[2019-11-25 12:48] aiacobelli2 commented on #307
Yep, agree, makes sense!

I was thinking... for "risk based authN" to be included in this CS, It would be nice to speak briefly about the difference between identification and authentication per se (both important parts on authentication).

What do you think?

[2019-11-25 22:39] rbsec commented on #307
Are there any situations where you'd have risk based authentication and wouldn't use some form of MFA? If not, I think then we should have a fairly small section about risk-based authentication in the authentication CS that basically just points to the relevant sections in the MFA one?

[2019-11-30 00:32] aiacobelli2 commented on #307
Are there any situations where you'd have risk based authentication and wouldn't use some form of MFA? --> Depends on the companies threat model , I do not recommend it.

The main topic I would recommend to add about risk-based-authN is that you need to make life harder for a user to authenticate based on riskier scenarios. The hardness is related  to the quantity of the factores required (Somethi

[2019-11-30 11:12] ThunderSon commented on #303
@nightwatchcyber Hi! A PR was opened to take care of this issue and issue #304 in PR #310 . Please feel free to review and comment on it 😄

[2019-11-30 21:46] rbsec commented on #307
CAPTCHA is a good shout as a non-MFA way to make authentication harder - I'd forgotten about that. I'll throw together a PR at some point - I'm generally keen for there not to be too much duplication between the various cheat sheets, but I think we can certainly take some bits from the MFA one for this.

I'll @ mention you in the PR to get some feedback from you about the proposed changes.

Thanks

[2019-12-02 08:44] #298 closed

[2019-12-02 17:04] aiacobelli2 commented on #285
Hi to all, just a comment here.

I agree that the best way to "resolve" the direct identifier is to use an inline transformation that creates a public ("RANDOM") value **but** I do not know if hash is the best approach, I would recommend any CRPRNG based construction like UUIDV4.
**Why?**
Using a hash approach (h(value+salt)), you need to generate a random SALT and store it somewhere, so you need

[2019-12-06 11:18] rbsec opened #312 "Update: Fix JWT grammar"
There's a some rather bad grammar and wording in the "Token weak secret" section of the JWT cheat sheet that could do with a review. Some examples:

Worth checking the rest of the CS as well.

[2019-12-06 13:22] ThunderSon opened #314 "Unity SSDLC to be Studied for The CSs"
Check out the [Unity SSDLC](https://github.com/UnityTech/unity-ssdlc) and consider which best practices can be added to our CSs and which need to be added as new CSs.

[2019-12-06 14:20] ThunderSon commented on #312
Focusing on the OAuth CS would be more valuable than this. I will look at it and see maybe how to improve the upcoming CS. If you have any comments or things you want to see tackled, you can throw them into the #221 or further down the line when we are dissecting the subject more.

[2019-12-07 00:11] ThunderSon commented on #312
Fixed in #313

[2019-12-07 00:11] #312 closed

[2019-12-13 10:28] LoicPoullain opened #317 "Update: Cross-Site_Request_Forgery_Prevention_Cheat_Sheet"
## What is missing or needs to be updated?

There is additional information on the `SameSite` cookie attribute that might be added to the cheat sheet. Feel free to tell me if you think this is relevant or not.

- According to this [page](https://www.chromestatus.com/feature/5088147346030592), Chrome 80 (and next versions) will treat cookies as `SameSite=Lax` by default if no `SameSite` attribute i

[2019-12-13 21:26] rbsec commented on #317
Hi @LoicPoullain

Thanks for making this suggestion - I've created a PR with the update (#318). The dates seem a bit fuzzy for Firefox (it was meant to be in version 69 which was a few months back), so we'll keep an eye on this and update once this has been implemented.

[2019-12-16 12:41] mikkorantalainen opened #319 "DOM based XSS prevention has incorrect recommendation?"
https://github.com/OWASP/CheatSheetSeries/blob/master/cheatsheets/DOM_based_XSS_Prevention_Cheat_Sheet.md#rule-1---html-escape-then-javascript-escape-before-inserting-untrusted-data-into-html-subcontext-within-the-execution-context

The currently recommended way is to "HTML Escape then JavaScript Escape Before Inserting Untrusted Data into HTML Subcontext within the Execution Context".

However, t

[2019-12-16 22:58] davewichers opened #320 "Update: XML_External_Entity_Prevention_Cheat_Sheet with info on Castor XML Library"
I received this input from Pete Saunders back on Apr 12, 2019 and lost track of it. Can you make his suggested updates to the XXE Prevention Cheat Sheet:

"I note that you have no section on castor in this page :

https://github.com/OWASP/CheatSheetSeries/blob/master/cheatsheets/XML_External_Entity_Prevention_Cheat_Sheet.md

May I suggest you add this :

Comma separated list of SAX 2 features that

[2019-12-17 13:15] mackowski commented on #320
thanks for bringing this up - @jmanico already resolved it in 485b691 and 53e8995.

[2019-12-17 13:25] mackowski commented on #319
Hey, this recommendation "HTML Escape then JavaScript Escape Before Inserting Untrusted Data into HTML Subcontext within the Execution Context" is only about **Inserting Untrusted Data into HTML Subcontext**. If you try to insert user input in other context like **HTML Attribute Subcontext**, **CSS Attribute Subcontext** or **URL Attribute Subcontext** etc  there are other points about it - theref

[2019-12-18 09:59] amelie-renard-sonarsource opened #321 "Update: XML_External_Entity_Prevention_Cheat_Sheet.md"
Hello,
I'm working at Sonarsource and we try to improve our products by raising awareness for developers when they are using libraries in such a way that could make their code vulnerable.

## What is missing or needs to be updated?
In the section C/C++, subsection concerning libxerces-c, about the use of `XercesDOMParser`, it is written that in order to prevent XXE, `setCreateEntityReferenceNodes`

[2019-12-18 11:33] #317 closed

[2019-12-18 11:57] ThunderSon commented on #321
Hi Amelie!
So based on the function, we are either telling the parser to create references, or not. If you don't allow it to create entity references, then you won't have external entities injected into the parser, thus, denying the attack from happening.
Looking at the code [docs](https://xerces.apache.org/xerces-c/apiDocs-3/classAbstractDOMParser.html#a04560502577ac83060a2c9c495f8f85d), the pars